[2017-12-15 01:43] joshi1983 commented on #451
I'll close as Prince says it is working.

[2017-12-15 01:43] #451 closed

[2017-12-15 11:18] joshi1983 commented on #369
I unassigned myself to let other developers know that this is available for them to work on.

[2017-12-15 11:21] joshi1983 commented on #381
The tool to merge location data into app.accesslocator.com data has been created as part of work on #404.  Since this is an import tool, it isn't directly testable on app.accesslocator.com.  Some of the imported locations may have duplicates but this can be tested and troubleshooted with work on #404.   Since I consider this complete and there's no way to test this through the app.accesslocator.co

[2017-12-15 11:21] #381 closed

[2017-12-15 11:26] joshi1983 commented on #404
I plan to finish a duplicate finder feature for internal users and use it to look for duplicated locations that may have been introduced lately by the Google Places data import and the uwindsor campus map data import.

[2017-12-16 01:58] joshi1983 opened #453 "Turn criteria into the form of questions"
The criteria is written as statements for now.  These need to be reworded in the form of questions.

This shouldn't change the meaning of the features.  This would just make the "Yes" "No" answers more intuitive.

Attaching a Word or PDF document with the reworded questions would be a good way to hand this work to a developer who can copy it into the project's files for deployment to app.accessloc

[2017-12-16 12:06] joshi1983 commented on #394
How's the importer or the effort to get a big dump of data from McDonalds going, Terence?

[2017-12-16 12:26] joshi1983 commented on #386
Here is a checklist of work that I see needed for this.  Some work may be broken into separate issues:
- [ ] API for creating new location: A method for creating a new location needs to be added and routed to from routes/web.php
- [ ] API for guessing which location tags/categories apply for a location's name.  This would be useful for defaulting them for the end user.  A lot of data on this is in

[2017-12-16 12:52] joshi1983 opened #454 "Profile: Clean up misleadingly non-functional Rewards"
The profile page has some references to a Rewards Program and some trophy icons.  These did nothing since they were added in 2016 and will continue to not work for the foreseeable future.  They were originally added to show that we eventually wanted to make them represent rewards for rating locations or similarly beneficial tasks for AccessLocator but this won't happen for at least another 6 month

[2017-12-16 12:58] joshi1983 commented on #453
Blandine said she'll work on this so it is assigned to her.

[2017-12-21 22:15] joshi1983 commented on #386
I'm doing checklist items from the above checklist.

For the location add feature, I'll create the page initially based on the following notes:

The following information will be collected on the location add page:
- name
- address
- phone number
- longitude latitude selection (map)... repopulated as address changes or as user clicks on map
- location tag selection.. repopulated as location name c

[2017-12-22 23:32] joshi1983 commented on #269
Mi Sook's fixes were merged but they focus on the non-bootstrap-related validation problems.  There are still some problems caused by including Bootstrap from app.scss.

[2017-12-23 01:15] joshi1983 commented on #454
Mi Sook's changes are merged.  This is ready to be tested.

[2017-12-23 13:15] joshi1983 commented on #373
I added this to milestone demo 0.0.5 because I think Mi Sook may complete this before our demo 0.0.5 release.  If demo 0.0.5 can be released before this issue is complete, I'll shift this to demo 0.0.6 like Blandine did.

[2017-12-23 13:26] joshi1983 commented on #25
Since the use of OpenStreetMap as a data source was covered by #201, the scope of this issue should be reduced to a client-side mapping alternative to Google Maps.  Similar to Google Maps JavaScript API, there should be an OpenStreetMap equivalent.

Since we've already invested plenty effort into Google Maps on the home page, location search page, this issue should be very low priority.  The main

[2017-12-23 16:00] joshi1983 commented on #430
Yashankit tested again and it looks fine.  Here's a screenshot from him:
![image](https://user-images.githubusercontent.com/11838191/34320858-749476fc-e7d0-11e7-9f27-3f9603ccf1a6.png)

I'm closing this because all issues brought up while testing have been resolved.

[2017-12-23 16:00] #430 closed

[2017-12-23 16:29] joshi1983 commented on #404
I removed the Working on it label because I'm not very active on this issue right now.  I have a duplicate finder branch that isn't merged and I have more work to do before it is ready.  I switched to working on the add location feature for now since it seemed more important to the demo 0.0.5 release and plan to finish that before returning to this and finishing the duplicate finder feature.

[2017-12-30 01:11] remnantmisook commented on #454
![fix454_screen](https://user-images.githubusercontent.com/34175103/34450330-3f9c4f66-ecbb-11e7-9511-58ab243dc032.PNG)
It should look like this.

[2017-12-30 20:04] joshi1983 commented on #386
This can be tested by:
1. Sign in at http://app.accesslocator.com.
1. Scroll to "My Reviews" and click "Locations".
1. Click the "+" in the upper-right corner of the locations list page.
1. Fill out information for a new location and created it.

[2017-12-30 20:09] joshi1983 opened #460 "Location: create a feature for updating existing locations created by the current user"
Add a feature for modifying existing locations created by the current user.  This may eventually apply to all locations but we can start it restricted to locations added by the current user.

This new feature should be similar to the location add feature from #386 but not allow the user to move the marker on the map.

Since this feature would work even after ratings are given by other users, we do

[2017-12-30 21:28] joshi1983 commented on #379
Those colours would be changed in a lot of places to be consistent.

Here's a mockup of a colour that I think could work.  It is matching the background colour of the rating buttons but keeping the white text colour of the Universal / Personal and Table / Map buttons.  What do you think of it?  It isn't grey enough to be confused with a disabled button here:
![image](https://user-images.githubuser

[2017-12-30 21:44] joshi1983 opened #461 "Location: suggested edits"
We want a feature that lets users suggest updates to phone numbers, misspelled location names, addresses and external_web_url's that also manages the risk of someone maliciously changing everything for some sort of April Fool's Day prank.

How to prevent a prankster from doing permanent damage is an open for some discussion.

[2017-12-31 16:25] joshi1983 commented on #384
I know what this is probably caused by.  The CSRF token usually expires after 2 hours so sitting on a form that long before submitting it can lead to that kind of error.

This link is related:
https://laracasts.com/discuss/channels/general-discussion/session-lifetime-timeout-and-csrf-token-mismatch

Here are a few things we can do to tackle this:
- Refresh the page using JavaScript every hour or s

[2018-01-01 17:49] joshi1983 commented on #384
I pushed up a branch that experiments with extending the session's life while a form is open by posting to the server.  The experiment showed that the idea didn't work because the CSRF still expired even with the repeated post requests.  I didn't find a reason for the CSRF still expiring.

[2018-01-01 18:34] joshi1983 commented on #383
I removed the Remember Me checkbox for now.  This should reduce confusion for testers and make it so there's less to explain about it not working.  The checkbox can be added back in when this issue gets completed.

The sign in form now looks like this:
![image](https://user-images.githubusercontent.com/11838191/34470097-58f3cda6-eef8-11e7-84e6-0878dd1246b3.png)

[2018-01-02 02:18] joshi1983 opened #463 "Location Rating: mobile version of question categories menu needs to keep Rate and View clickable"
This issue is asking for some polish on recent changes implemented for #410 and #409.

When the viewport is narrower than 600 pixels wide, a collapsible version of the question category and submit menu is used.

The following screenshot shows the menu with a red line around the Rate and View buttons that can't be clicked while the menu is open:
![image](https://user-images.githubusercontent.com/11

[2018-01-04 03:33] joshi1983 commented on #195
We should increase priority on this because mapzen will be unavailable after February 1, 2018.

[2018-01-04 03:55] joshi1983 commented on #195
From a 20 minute look, it seems like mapzen may not do much more than we already do with our OpenStreetMap importer.  MapZen appears to be a website, some API's, and documentation to more easily access mapping information that comes from OpenStreetMap.  MapZen doesn't appear to have a big database of its own.  It just relays information that we could get from OpenStreetMap directly.

[2018-01-08 01:52] joshi1983 commented on #463
This is ready for testing.  I tried it with an Android phone and laptop.

This could be tested by:
1. Sign in on http://app.accesslocator.com either on a mobile phone or in a web browser narrow enough to show the menu icon.
1. Open a location and go to a specific question category.
1. Click on the menu.

[2018-01-11 02:54] gillbalraj commented on #397
@joshi1983 @Blandine-AA  I tested various locations across Canada and States, its working as expected.

[2018-01-11 03:02] joshi1983 commented on #397
Thanks @gillbalraj.  I'll close the issue since it looks like this issue and every problem found from testing has been resolved.

[2018-01-11 03:02] #397 closed

[2018-01-13 00:40] joshi1983 commented on #373
Thanks, @remnantmisook .  Well done.

Here is a screenshot of the new UI she added to adjust the location search radius:
![image](https://user-images.githubusercontent.com/11838191/34900592-363ab9de-f7cf-11e7-812c-01191aff93b3.png)

The testing I did involved resizing using both the mouse and a touch screen on my laptop.  The changes were to both the Table and Map forms of the location search so i

[2018-01-13 15:13] joshi1983 commented on #244
@Blandine-AA mentioned that this needs to be done before next demo.accesslocator.com release so this is very important.  I'll review the discussion and remaining work needed for this fairly soon.

[2018-01-13 15:24] joshi1983 commented on #410
@Blandine-AA can you specify what is remaining on this?  You mentioned this needs to be completed before a demo release.  Some changes were made to make the rating feature look ok on mobile devices.

[2018-01-13 15:32] joshi1983 commented on #325
Some work closely related to this issue have been implemented so this issue may need a scope adjustment.  Here are the closely related changes:
- #430 helped this by replacing category text with icons for narrow viewports(usually mobile devices).
- the questions have been stacked above the map for very narrow viewports(usually mobile devices).

Now the mobile layout looks like this:
![image](https

[2018-01-13 16:05] joshi1983 commented on #463
@Blandine-AA can you test this?  Also, try to decide if #410 is done.

[2018-01-13 16:10] joshi1983 commented on #244
This should be limited to the non-mobile layout.  When the question categories are stacked, this toggle feature shouldn't exist.

[2018-01-13 16:57] joshi1983 commented on #275
The required portion of this for milestone 0.0.5 is:
- verify that the user knows to check spam feature when sending any signup email
- If the user isn't clearly told to check SPAM in email, change things to clearly pass along the message.

The problem of some email getting in SPAM will be very difficult to solve and won't be necessary as part of 0.0.5.  It is likely impossible to guarantee that a

[2018-01-13 16:57] Blandine-AA opened #472 "Captcha not accessible friendly"
When clicking on the captcha checkbox, the user often gets a second step to identify images. This is not accessible friendly and should be removed in all captcha we have in the app.

User should only click on the checkbox. not other action should be required

[2018-01-13 17:43] joshi1983 commented on #472
This article on accessibility of the checkbox feature(reCAPTCHA or no-captcha) may help with this issue:
http://simplyaccessible.com/article/googles-no-captcha/

Are you seeing the image select challenge repeatedly and unable to pass the challenges?  Are you experiencing this image select challenge more frequently on a mobile device?

Unfortunately, we can't turn off the potential image selection

[2018-01-13 18:09] joshi1983 commented on #460
I stopped working on this because Blandine clarified that there's more important work in the Demo Release version 0.0.5 milestone instead.   I don't have any unmerged changes on this.

[2018-01-14 00:20] gillbalraj commented on #373
I tested this on my laptop and smart phone.
I observed 2 things:
1) On **smart phone** you don't get an option to drag unless you click  on the circle itself.
2) This one might sounds funny but, after increasing the search radius to a certain limit, I got stuck
![image](https://user-images.githubusercontent.com/26493273/34911338-b23c0f16-f896-11e7-8cb5-9dc4cf879934.png)

this is how it looks like.

[2018-01-15 00:57] gillbalraj commented on #373
Point 1: Of course, the display looks clean. But, it is also possible that a users won`t use it just because they can`t see it. What about keeping it as-it-is with a pop up message stating(Click here to drag!!.. etc.).
Point 2: That's why I said its funny. If someone ever get into this (as shown in screenshot) situation, they have to click the back button with no other choice. It doesn't minimize

[2018-01-15 02:29] joshi1983 commented on #373
I merged some changes to limit the search radius to a 500km maximum and make the drag of the circle's centre.  I noticed it didn't work while trying to reproduce the several thousand km radius problem.

@remnantmisook do you have thoughts on how to make it clear that the edit functionality exists in the location search map feature you worked on?  "Click to edit" would work but I wonder if there is

[2018-01-15 20:02] Blandine-AA commented on #472
It doesn't matter whether you pass or not the challenge. We shouldn't have it as it is an extra challenge NOT needed for a person with a disability.

This was working before without the image challenge. What happened?
I've seen apps that have the Captcha working without the extra challenge.

[2018-01-15 20:07] joshi1983 commented on #472
I've attached a video of it working without the image select step in case
you think it is always happening.  It is designed to go to that challenge
only in a rare case when the checkbox didn't convince the AI you were human.

On Mon, Jan 15, 2018 at 3:02 PM, Blandine-AA <notifications@github.com>
wrote:

--
Josh Greig

[2018-01-15 20:09] joshi1983 commented on #472
I tried to attach a video but it didn't get into the github comment so I emailed it instead.

It is designed to go to that challenge only in a rare case when the checkbox didn't convince the AI you were human.

[2018-01-15 23:54] Blandine-AA commented on #410
Some issues with small screen size layout that were discussed but that seem to be missing in the existing issues.
- [ ] create an info menu or button to hide the address,  url and other informations that are currently fully displayed on small screens:
![image](https://user-images.githubusercontent.com/20052162/34965823-1bc4240c-fa25-11e7-8c5b-af546e0e9485.png)
- [ ] On screen capture above, locati

[2018-01-16 00:05] Blandine-AA commented on #454
Looks nice...
- [ ] Change "Locations Added By Me" to "Added Locations"

[2018-01-16 00:20] Blandine-AA opened #476 "Rating feature: submit button functionality questionned"
At the December meeting with JMCC, the  Submit button functionality was questioned. We need to clarify how it should work and the impact on our Accessibility % calculation.

[2018-01-16 00:29] Blandine-AA commented on #463
@joshi1983 This functionality looks nice on small screen and even on my new old Android phone :). The only problem I have is the submit button position with the categories. But this can be discussed with #476.
PASS

[2018-01-16 00:29] #463 closed

[2018-01-16 00:35] Blandine-AA commented on #409
Tested this as part of #463 and it is working well.
The issue with the submit button will be discussed with #476.
PASS

[2018-01-16 00:35] #409 closed

[2018-01-16 02:36] joshi1983 commented on #476
The rating and submission feature matches what was discussed in a December 2016 meeting with Areeba but I missed the specific criticisms JMCC brought up in the December 2017 meeting.

There isn't much information here on the critically important change and its benefits.  Did JMCC give more specific feedback?
- Did JMCC give any specific criticisms of how it works?
- Did they anticipate any specifi

[2018-01-16 02:52] joshi1983 commented on #454
I merged a rewording of the title for the "My Added Locations" page so it looks like this now:
![image](https://user-images.githubusercontent.com/11838191/34969757-5ee3141e-fa3e-11e7-8d5e-bfb9db71dfb5.png)

[2018-01-16 18:41] remnantmisook commented on #373
I am not sure, but maybe put text like "Please click the circle to edit" under Location Search Results for Accommodation sentence with different font color ?

[2018-01-16 19:03] stephanosm commented on #373
When I tried this it was very intuitive how to resize the circle once I moved my mouse on top of the circle because I saw the white circle spots. One way to further improve this is to show these points when you load the map without the need to hover.
Overall, this functionality is great!

[2018-01-16 19:06] joshi1983 commented on #373
I think it would be cleaner to just always have the circle editable than
add text to explain that.

@remnantmisook, do you want to get latest and make it so the circle is
always editable?

On Tue, Jan 16, 2018 at 1:41 PM, remnantmisook <notifications@github.com>
wrote:

--
Josh Greig

[2018-01-16 19:09] remnantmisook commented on #373
Sure!

[2018-01-17 11:28] joshi1983 commented on #453
@Blandine-AA was this planned to be complete for Monday, January 15?  Is anything blocking you?

Just a reminder that you can modify the original criteria list and send me the new version with the question text.  That'll be enough for me to make the next steps to get those questions on app.accesslocator.com and ready to deploy to demo when the time comes.

[2018-01-18 23:51] joshi1983 commented on #372
From testing a bit, it looks like different software can show the same image in different orientations.  Some images are listed here: https://github.com/recurser/exif-orientation-examples which show this.

I suggest a new feature that lets the user rotate the image in 90 degree increments in a clock-wise direction.

The resulting UI could look like this:
![image](https://user-images.githubusercont

[2018-01-19 00:13] joshi1983 commented on #373
I merged Mi Sook's changes so the edit features are always visible.

Does it look good now, @balraj18 or @stephanosm ?

[2018-01-24 02:47] joshi1983 commented on #315
I mentioned to @Manasab7 that we probably want CSS to control how the arrows look.  This might fight with how various browsers make them look by default.  In the end, the best solution will be tested and look consistent in multiple browsers.  They might look different in each browser but most important would be to make the arrow look the same in Province and country.

[2018-01-27 20:51] gillbalraj commented on #461
Thanks @joshi1983
 I made 3 suggestions today and received and email from google maps. Stating changes will be made within 48 hours. I'll provide the updates soon.

[2018-01-29 21:53] Blandine-AA commented on #453
[Accessibility Criteria Questions_FINAL-updated-29Jan2018.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1675390/Accessibility.Criteria.Questions_FINAL-updated-29Jan2018.pdf)

[2018-01-29 21:53] stephanosm opened #486 "Not Rated Yet: to avoid 0% Accessible message"
Currently, if a place is not rated it is shown as not accessible (see below). We need a button/image that says: Not Rated Yet! Be the first to rate this

![image](https://user-images.githubusercontent.com/22602396/35536357-9eb65a48-0514-11e8-8dc4-de7cf81f8045.png)

[2018-01-30 05:23] joshi1983 commented on #372
@remnantmisook you worked on this mostly but I added some minor changes.  Can you test the feature on app.accesslocator.com to see what I did?

[2018-01-30 17:59] Blandine-AA commented on #486
@joshi1983 , since we are updating this info block for 0.0.5, I suggest to make this change as well, that adds the "Not Rated Yet! Be the first to rate this location!" button across the box. Maybe we even disable the criteria categories buttons.
When the "Not Rated..." button/tag is clicked by a signed user, the rating window should open and the "Not Rated...." button/tag will not show anymore.

[2018-01-30 20:56] remnantmisook commented on #372
@joshi1983 yes I can see what you added, and they look good. Yes, currently rotate icon does not show when you navigate the profile, shows when you upload new profile, and the icon disappears after 20 secs. One thing I want to ask is then if I refresh the page, the rotate icon re-appears. Is it okay(bearable) ?

[2018-01-31 00:44] joshi1983 commented on #486
If just 1 question is answered by one user, should the location be excluded from this case?

[2018-01-31 01:05] joshi1983 commented on #372
@remnantmisook nice catch.  Yeah, that's not ideal.  It isn't a really big problem but it would be nice to avoid having the refresh show the rotate feature again.  Ideally, it shows only after an upload or a rotate event.  Can you look into making an improvement for that?

Here are some thoughts to get you started on an improvement:
- Replacing the ? with # might make it easier because # marks the

[2018-01-31 19:11] joshi1983 opened #489 "Move updated questions data into the application"
In #453, Blandine adjusted some of the questions.  Added a few new ones, and reworded some existing ones.

This issue will make that new data available in AccessLocator's seed data and update scripts such as importers/utils/json_to_db.py to bring the updates to app.accesslocator.com and eventually to demo.accesslocator.com.  Migrating existing data such as answers is optional.

[2018-02-01 17:09] joshi1983 commented on #404
@skwaitko can you send me a spreadsheet with missing addresses, phone numbers, website URL's for locations in the Windsor area?

Also, a separate listing of locations that you suspect are duplicated would help.  These would be locations with similar names that are very close to each other.

These things can't be fixed by you directly because there is no feature in the site to let you add the infor

[2018-02-03 12:13] joshi1983 commented on #486
How does this mockup look to you?

![image](https://user-images.githubusercontent.com/11838191/35767017-a733fa7c-08b1-11e8-8d48-9dc06e374599.png)

Would that be better than what we already have or do you have ideas for something better that covers this requirement?

[2018-02-04 16:38] joshi1983 commented on #489
This is ready for testing.

For testing, I suggest visiting both the profile and rating features on http://app.accesslocator.com and comparing the questions with the ones in https://github.com/hhaccessibility/hhaccessibility.github.io/files/1675390/Accessibility.Criteria.Questions_FINAL-updated-29Jan2018.pdf.

[2018-02-04 17:14] joshi1983 commented on #453
@Blandine-AA was this cleared up?  Was that question answered for the person who got confused by it?

![image](https://user-images.githubusercontent.com/11838191/35780108-de13547c-09a4-11e8-91c7-e914de74405e.png)

[2018-02-05 01:41] joshi1983 commented on #453
@Blandine-AA is "Is there a ramped or ground level access at main entrance?" from the Entrance question category a duplicate of "Are the curb cuts/ramps even with the paved surface/road?" in Parking?

[2018-02-05 18:08] stephanosm commented on #486
If we need to have something there urgently so as to avoid the issue of not rated locations, anything will do. However, this is very important issue since we want to attract users to rate locations. In terms of design this should be more fancy e.g. orange color with blue button, maybe? better design? I am not a designer myself but we need someone who has good design skills to come up with some sug

[2018-02-06 16:29] Blandine-AA commented on #453
@joshi1983 it is not the same question

[2018-02-06 16:41] Blandine-AA commented on #489
- [] Remove bold
![image](https://user-images.githubusercontent.com/20052162/35871165-888ae2de-0b31-11e8-8a47-be648f739fe3.png)
- [ ] Add space between "access" and '(' in 3rd question
- [ ] Make the contents in brakets bold to be consistent with the Entrance category
![image](https://user-images.githubusercontent.com/20052162/35871514-756384e4-0b32-11e8-9902-b91be28d0116.png)

[2018-02-06 16:55] Blandine-AA commented on #244
Toggle doen't work properly on desktop.
Clicking on the pin should open AND close the info box. The current implementation only allows to open the info box. You have to close using the close button.

[2018-02-06 17:07] Blandine-AA commented on #325
@joshi1983 while testing on my phone, I noticed that the info box is briefly displayed and autmatically replaced by the Rating/View screen.

The user needs to have access to the info box (the new one) with all high level accessibility information including the rating and comments info.

[2018-02-07 22:43] joshi1983 opened #498 "Write survey questions and outcomes for focus group testing sessions"
Make proposal for survey.  This will need to be complete by the end of March.

This has been moved to be done for focus group starting with release 0.0.5

[2018-02-08 04:23] joshi1983 commented on #498
A couple questions I'd suggest are:
- What change to AccessLocator would convince you to share it with your friends?
- If you were planning a trip to a new city or new restaurant, would you use AccessLocator?  Why or why not?

[2018-02-10 14:57] joshi1983 commented on #486
I brightened up the colours based on some discussion with Blandine but also added this for the case when 0 answers were submitted for the location.

This is how it looks on app.accesslocator.com:
![image](https://user-images.githubusercontent.com/11838191/36063277-b00f1db0-0e48-11e8-8b0a-0c845f800f1d.png)

[2018-02-10 15:01] joshi1983 commented on #476
Discussion on this looks dead.  I asked for more detail almost a month ago and none was given.  If we're committed to having some action done on this for the demo 0.0.5 release and there's a date with that release, you need to give better information.

If you can't give detail that can be acted upon, I suggest we move this to demo 0.0.6 or close it as Won't Fix.

[2018-02-10 15:40] Blandine-AA commented on #486
@joshi1983 , it looks much better, and the toggle works perfectly 👍

I think we should add a link to "Be the first to rate this location", that goes to the Rating page.

[2018-02-10 15:51] joshi1983 commented on #486
Yeah, "Be the first to rate this location" is a link to the rating page for the Amenities category.

[2018-02-10 16:59] stephanosm commented on #486
@joshi1983  is there any bug with the new Not Rated Yet label? I checked some already rated sites (see below) and they still have the same label.

![image](https://user-images.githubusercontent.com/22602396/36064505-d302aa38-0e59-11e8-9233-d9a83833bf92.png)

![image](https://user-images.githubusercontent.com/22602396/36064508-e1c9097c-0e59-11e8-8f61-cec9049c7165.png)

[2018-02-10 17:04] stephanosm commented on #476
If I remember well, Ann or Dana mentioned that there is some confusion with the Submit and Next button. Maybe the flow is not clear. But it has never been appropriately tested. I think this task needs to be moved for the next release and keep it in mind for testing after the 0.0.5 release.

[2018-02-10 17:10] joshi1983 commented on #486
@stephanosm yeah that's a bug.  I'll look into it and fix it.

[2018-02-11 21:20] Blandine-AA opened #502 "Mapping of location category with accessibility criteria"
- [ ] map the following criteria with locations categories based on if they are required or not. (Blandine)

1. Amenities: not required for park : Are there picture-based symbols for information and signage?
2. Bathrooms: not required for restaurants, ...
- Is there a large weight capacity change table in a private   area?
- Is a ceiling track lift available?
- Does it have a roll-in   shower (whe

[2018-02-11 22:04] Blandine-AA opened #503 "Need examples and detail explanation for criteria questions"
- [x] Ask JMCC to provide examples and more explanation to criteria questions. (Blandine)

Implementation (Josh)
- Amenities
- [x] Are assisted listening devices available?
Examples of assistive listening devices are: amplified telephones which have volume control for both the ringer and the handset,  and wireless headsets which allow for individual sound amplification in theatres, auditoriums or

[2018-02-11 22:32] Blandine-AA opened #504 "review accessibility criteria doc for screen reader compatibility"
Example: replace '/' with "or"

[2018-02-12 02:26] joshi1983 commented on #486
I added underlining under the link based on today's meeting with Blandine.  We wanted to make the link more easy to recognize as a link.

I cleared the universal_rating cache which went stale somehow.  That fixed the problem for Basil Court and likely other locations temporarily.  I'm still in the process of adding tests to investigate how the cache got stale without clearing itself, though.

[2018-02-12 22:31] joshi1983 commented on #367
To this effort, I suggest the following tasks be completed:
- [ ] Make the signin page show a message defined in the URL.  The message may be passed like "/signin?msg=You+need+to+sign+in+to+rate"
- Make the sign in redirect to a specified URL upon success.  THE redirect URL could be defined like "/signin?msg=You+need+to+sign+in+to+rate&redirect=/location-rating/00000000-0000-0000-0000-000000000434

[2018-02-13 01:58] Blandine-AA commented on #486
@joshi1983 , for consistecy, if we use the same color/background you have here for the Not Rated Yet info window, for the accessibilityinfo window, I think it will blend better on the map, instead of having the big blue "block". The buttons will have to really look like buttons instead of just table cells as it is currently. What do you think?

[2018-02-14 18:14] Blandine-AA commented on #502
@joshi1983 , @stephanosm , attached is the Excel first draft of the document. You can make suggestions/comment on it and I will update the file.
[Accessibility Criteria to Location Category Mapping](https://drive.google.com/open?id=13lojvylbR2OH9W9F65IAsWBDck-GVXHm)

[2018-02-14 19:10] Blandine-AA opened #506 "Framework to provide information and/or example for accessibility criteria"
To help the user understand the questions, we need to provide some details and examples if possible. JMCC would like this to appear as “eye” icons that provide more information when clicked on.
the other design option is to just make the question a link to a popup window that provide more option.

The question is which one, eye or link, is screen reader friendly?

Implement the framework and add d

[2018-02-14 22:43] joshi1983 commented on #404
@skwaitko how are things going?  I haven't heard from you in a couple weeks.  Let me know if you're getting busy with other things.  Everyone's availability has its ups and downs and it looked like you really poured yourself into AccessLocator for a week or so.

[2018-02-15 00:11] brucelau-github commented on #275
This problem could be solved but using third party email SMTP service. Their IP address and CA trust relationship has been broadcasted across the internet so emails sent over their smtp servers would not be treated as SPAM.

[2018-02-15 01:17] joshi1983 commented on #275
@brucelau-github do you recommend any specific third party email SMTP service?  Are there any free ones we can use?  Would it be possible to use our accesslocator@gmail.com account somehow to send email for free or would we need to pay for the service?

The HTTPS SSL certificate involved with #77 could use some of your help verifying the most cost-effective solution.

[2018-02-15 01:28] joshi1983 commented on #372
This is ready for testing again.  @remnantmisook's work was merged and deployed to app.accesslocator.com.

[2018-02-15 01:43] brucelau-github commented on #275
There are some options we could choose.  I think mailgun is a good choice to us. It is popular and "free".

Laravel provides a clean, simple API over the popular SwiftMailer library. Laravel provides drivers for SMTP, Mailgun, Mandrill, SparkPost, Amazon SES, PHP's mail function, and sendmail, allowing you to quickly get started sending mail through a local or cloud based service of your choice.
D

[2018-02-15 01:46] brucelau-github commented on #275
I think we dont have too much traffic at all.

https://www.mailgun.com/pricing

[2018-02-15 02:32] joshi1983 commented on #506
If you want little links to more detail, here are a few that follow your idea of eyeball-like icons.

![image](https://user-images.githubusercontent.com/11838191/36238009-afb2c028-11cd-11e8-9e84-75d1de24339f.png)

The links before the question text:
![image](https://user-images.githubusercontent.com/11838191/36238042-e4a5bb5a-11cd-11e8-899b-fb25494b0988.png)

120% the above size:
![image](https://

[2018-02-16 02:07] joshi1983 commented on #315
I merged Mana's changes with some tweaks.

In Chrome with my laptop the arrows look like this now:
![image](https://user-images.githubusercontent.com/11838191/36290539-c7413c1c-1293-11e8-94f6-f0c8702b97cd.png)

@Manasab7 can you test with your browser and phone too?  The changes were deployed to app.accesslocator.com.

@Manasab7 if you're curious about the specific tweaks I made, they're all in th

[2018-02-16 15:50] gillbalraj commented on #373
It looks great to me now.!
The points on the searching radius are accomplishing their task well. Moreover the search radius of 500km will restrict the website to go in an awkward state.

[2018-02-17 14:05] Manasab7 commented on #315
Verified the changes in Safari (v11.2.5) on iPhone, Mozilla Firefox (v58.0.1)  and noticed that State/Province field dropdown arrow is not visible. However, Country field dropdown looks fine in all browsers(mobile browsers as well). Font size is the same for all field names.

[2018-02-17 21:14] joshi1983 commented on #486
@Blandine-AA the colours are pretty similar between the "Not Rated Yet" state and rated.  Both have a nearly white background an nearly black text.

Here's a rated popup:
![image](https://user-images.githubusercontent.com/11838191/36345675-868cc0ea-13fd-11e8-9951-f7939c820ca5.png)

[2018-02-17 23:55] joshi1983 commented on #486
I could find the erroneous universal rating value that @stephanosm discovered in a January 31 backup.  I think the problem came from when I deployed some changes to app.accesslocator.com by manually updating an SQL dump.  I'm not absolutely sure but couldn't find any other cause after a thorough search.

[2018-02-18 17:12] joshi1983 commented on #373
Thanks, @gillbalraj.  I'm closing because all the issues found while testing have been resolved.

[2018-02-18 17:12] #373 closed

[2018-02-19 15:05] Blandine-AA commented on #503
@joshi1983 , I got the answers for the 2 questions we had identified and updated the issue description.

[2018-02-20 21:34] Blandine-AA commented on #244
@joshi1983, this is the issue that covers the changes required in the accessibility info box. You event commented on this and summarized the work to be done. Attached is the initial document I created. It has not been updated with the feedback from the discussions in this thread, but the mockup for the accessibility categories buttons and the overall accessibility section remain.
[Location report

[2018-02-21 12:19] joshi1983 commented on #109
I made it so the overall rating calculation of a location in personalized mode is the average rating for the accessibility criteria that the user picks.  If the user hasn't picked any criteria, it is still the same as universal.

I defaulted the mode to 'Personal' on a location report when the user is signed in.
The location ratings in location search are also 'personal' whenever the users are sig

[2018-02-22 01:05] joshi1983 commented on #506
@Blandine-AA what do you think of the above screenshots?

[2018-02-22 12:13] joshi1983 commented on #367
@remnantmisook can you test this?

[2018-02-22 12:22] joshi1983 commented on #108
There isn't much action I can take on this.  I can comment on how the calculations currently work which is the best way I can think of them working.  I just can't think of a better way which seems to be what this issue asks for.

Personal ratings:
- Applicable only for the overall rating of a location
- personal rating for a location = average rating for all criteria selected in the user's profile

[2018-02-22 12:34] joshi1983 opened #515 "Location Comments"
For now, the location report has a way to view comments but it is suitable for less than 10 or so comments and it is specific to a question category like "Amenities" or "Elevator".

Here is a comment shown in the feature we currently support:
![image](https://user-images.githubusercontent.com/11838191/36538527-db78a0fe-17a1-11e8-8d98-83da098ccadd.png)

Also, the commenting feature we have is speci

[2018-02-22 13:38] stephanosm commented on #108
@joshi1983 I think the general idea is this, however to make it more accurate we need to consider the time and sequence  a rate has been given. For example, 10 users indicated that there is NO ramp and the 11th and 12th user  said  there is a ramp. Most likely there was some action/improvement and a ramp was built. OR the example could be the opposite. To solve this problem we can use a sliding wi

[2018-02-22 15:52] joshi1983 commented on #108
How big would the window be and how should the confidence be distributed?

Let's assuming that the average change to the average accessibility feature.
We could weight the last rating from each user by (5 years + rating age) / (5 years) so 100% weight is given to the ratings that were just submitted while 50% would be given to the 5 year old ratings, 33% to the 10 year old ratings...

[2018-02-22 21:34] Blandine-AA commented on #108
@joshi1983, @stephanosm , can we focus on the the 0.0.5 release content? For now there is still a lot of work and testing to complete for 0.0.5. The rating calculation is 0.0.6 content!

[2018-02-22 21:35] Blandine-AA commented on #515
Moving this 0.0.6 for now, until we make more progress on 0.0.5

[2018-02-22 21:49] Blandine-AA commented on #506
@joshi1983, I like the eyeball icons in front of the questions as they look like bullet points. But for now, since we don't have all the details, I am not sure if it is best to use them on all the questions by default.
The most logical from a UX perspective is to have the eyeball after the question.
In any case,  it should only be used for the questions that we have extra info on.

**So, for now i

[2018-02-22 22:45] joshi1983 commented on #515
@Blandine-AA is the "All Comments" link from #244 which is part of demo 0.0.5 milestone being chopped from the #244's scope or should that issue be moved to milestone 0.0.6 too?  This issue is part of implementing your mock ups in https://github.com/hhaccessibility/hhaccessibility.github.io/files/1741955/Location.report.web.page.changes.pdf.

[2018-02-22 23:53] joshi1983 commented on #503
There is another question "Is a ceiling track lift available?".  Should that be explained too, @Blandine-AA?

[2018-02-23 01:50] Blandine-AA commented on #503
@joshi1983, Not for now.

[2018-02-23 01:53] Blandine-AA commented on #244
@joshi1983, the All Comment link in the overall section needs to be implemented in 0.0.5 as part of that feature if it is not too complicated for the time we have.
A user may just be interested in the comments provided for that specific location.  You want to show them in a separate popup window.

[2018-02-23 02:11] joshi1983 commented on #503
I made a rough version of this available for now.

It doesn't look great but it should be screen-reader-friendly and provides the examples.
![image](https://user-images.githubusercontent.com/11838191/36574544-34e06970-1814-11e8-8269-66df67c1659b.png)

I wanted to give some bread crumbs for navigating back to the location rating feature but didn't quickly see a way to keep it looking really good.

[2018-02-23 02:19] joshi1983 commented on #453
The questions were copied but there is some sophisticated relationships between questions being applicable, location categories, and answers to other questions that Blandine asked for and I'm still implementing.

[2018-02-23 11:17] joshi1983 commented on #244
I thought so too.  I made a new issue(#515) so @remnantmisook could implement the commenting feature while I'd just do the part of adding the link to the popup when she's done.

[2018-02-23 14:39] Blandine-AA commented on #453
@joshi1983, the relation ships were not a priority for 0.0.5 as the document is not validated yet. I had sent them for review to both you and @stephanosm, and haven't heard any feedback yet.

[2018-02-23 14:50] Blandine-AA commented on #503
@joshi1983 Can this just show as a popup info window when you click on the eyeball, with and [x] to close?
I don't want us to spent a lot of time on this for now.

[2018-02-23 15:09] joshi1983 commented on #503
Yeah but the popup may not be detected by screen readers.  I'll add a popup like you suggest for the majority of users that haven't indicated that they're using screen readers.

The separate page would be available when the user checked "use screen reader" in the user profile so we still help their experience.

[2018-02-23 17:42] stephanosm commented on #108
@joshi1983 the personalized results (registered user) have a bug, I believe. For example, as unregistered user I went to Food Basics and got 19% accessibility. Then I signed up pointed out that Parking is not relevant to me. I was expecting the results to show higher accessibility but in fact there were lower.

PUBLIC
![image](https://user-images.githubusercontent.com/22602396/36608092-c2bdad66-18

[2018-02-23 23:31] Blandine-AA commented on #472
Note to Blandine - document this as a wiki before closing

[2018-02-24 00:01] Blandine-AA commented on #325
Can't reproduce anymore.

[2018-02-24 01:11] joshi1983 commented on #515
I discussed this in person with Blandine and we decided to keep it in our current milestone but reduce scope of the issue to just showing all comments without any paging.  I updated the issue description, subtasks, and the mockup accordingly.

Also, @remnantmisook do you think a week is enough time for you to complete this?  I will be too busy with other things from the 0.0.5 milestone to come bac

[2018-02-24 20:15] remnantmisook commented on #367
I tested on my desktop and iphone, and it looks good.

[2018-03-01 17:37] Blandine-AA commented on #504
Version mise à jour:
[Accessibility Criteria Questions_FINAL-updated-01March2018.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1772172/Accessibility.Criteria.Questions_FINAL-updated-01March2018.pdf)

[2018-03-01 17:37] #504 closed

[2018-03-01 17:39] Blandine-AA commented on #453
See latest update in #504

[2018-03-01 17:40] Blandine-AA commented on #489
See latest updated file in #504

[2018-03-01 17:41] #453 closed

[2018-03-01 17:45] Blandine-AA commented on #489
PASS

[2018-03-01 17:45] #489 closed

[2018-03-01 17:47] Blandine-AA commented on #367
PASS

[2018-03-01 17:47] #367 closed

[2018-03-01 17:58] Blandine-AA commented on #486
Testing: PASS

[2018-03-01 17:58] #486 closed

[2018-03-01 18:02] Blandine-AA commented on #372
Testing: PASS

[2018-03-01 18:02] #372 closed

[2018-03-01 18:18] Blandine-AA commented on #315
I this in this case the same type of dropdown box should be used for Country as well as for Province/State. The behavior is still not intuitive... But good enough!

I will set this as a P4 for now and we will review it toward the end of the release if we have time to fix in 0.0.5.  Otherwise I will move it to 0.0.6.

[2018-03-01 18:24] Blandine-AA opened #519 "Profile: Country and State/Province selection not working properly"
The Province/state dropdown box
1. is not loaded properly when switching country selections.
1. doesn't provide proper province/state choices to change to after a first selection
See attached recording
[Recording of Profile country-province update issues.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1772321/Recording.of.Profile.country-province.update.issues.zip)

[2018-03-01 18:24] Blandine-AA commented on #519
@joshi1983, assigning this to you to review and estimate the effort.

[2018-03-01 18:26] Blandine-AA commented on #454
Testing: PASS

[2018-03-01 18:26] #454 closed

[2018-03-01 18:35] Blandine-AA commented on #109
@stephanosm, would you mind testing this. I'd like to have you input on the behavior. Thanks!

[2018-03-01 18:46] Blandine-AA commented on #503
We need to review ![ this design](https://user-images.githubusercontent.com/20052162/36863090-b9ef16ec-1d56-11e8-9985-63384f77d090.png)

Also the display is the same whether I select screen Reader in my profile or not

[2018-03-01 20:17] Blandine-AA commented on #244
@joshi1983, added P1 label for this to be fixed within the next week.

[2018-03-01 20:19] Blandine-AA commented on #515
@joshi1983, @remnantmisook, added P1 label for this to be fixed within the next week.

[2018-03-01 20:20] #472 closed

[2018-03-01 20:28] Blandine-AA opened #520 "Sign Up: prevent confirmation email to end up in Trash or Spam folders"
When signing up by filling in first name, last name, a password... an email is sent to the specified email address which contains a link which must be clicked before the new account can be used. The email is getting filtered as SPAM or Trash in gmail and hotmail.

Due to time constraint, a workaround has been implemented in 0.0.5 as part of  #275, that also explains the proper solution.

Implement

[2018-03-01 20:29] Blandine-AA commented on #325
Testing: PASS

[2018-03-01 20:29] #325 closed

[2018-03-02 03:10] joshi1983 commented on #515
This was merged and deployed to app.accesslocator.com.  Thanks @remnantmisook.

It looks good to me but this won't be easy for other people to test until it gets integrated with navigation from another issue.  I'll update the popup to include the "All Comments" link.

[2018-03-02 03:13] #515 closed

[2018-03-02 23:25] joshi1983 opened #521 "Make location add feature easier to find"
In the added locations list, make it more obvious how to add a new location.

A few things to do include are:
- [x] comment on the location add feature when there are no locations in the list
- [x] center the + when there are locations in the list

[2018-03-02 23:35] joshi1983 opened #522 "Home: add button on home page's address input that resets to current location"
This would reset using a guess of the browser's location.

If on desktop and more than 20km from Windsor, reset to city hall.

[2018-03-03 00:37] joshi1983 opened #523 "Profile: change State/Province to a select"
For now, the state/province selection is an input element linked to a datalist.  The datalist represents the matching states and provinces for the current country(US or Canada).  Blandine found the current behaviour of the datalist confusing which probably means the people we intend AccessLocator for will also find it confusing.

This will involve modifying:
- JavaScript in app/public/js/profile.j

[2018-03-03 20:47] joshi1983 commented on #521
Here is a screenshot of how it looks after the change:
![image](https://user-images.githubusercontent.com/11838191/36939135-1453d222-1efa-11e8-8629-f67ad7140255.png)

[2018-03-04 04:42] Blandine-AA commented on #521
@joshi1983, the design of the '+' to add a new location is not what we discussed. We could leave it there for now if the functionality works as expected, but we will need to create another issue to redesign this page in 0.0.6 and have a proper icon to add locations.

[2018-03-04 13:44] joshi1983 commented on #386
Here are a few improvements mentioned from a Friday meeting with Blandine:
- [x] rename "Create New Location" to "Add New Location".
- [ ] rename "Create" to "Add" in the button
- [ ] add "None" option to the location groups/franchises.
- [ ] default to "None" when initially loading the screen or when a name is typed that doesn't match an existing location group.
- [ ] add "I don't know" to the lo

[2018-03-04 13:55] joshi1983 commented on #521
If you can mock up the design, that would help match what you want.  I don't remember us talking in great detail beyond "make it clearer for the user to find it".  If there's some specific differences between what we discussed and what I did, I can implement those quickly enough.  Saying there's differences but not saying what they are doesn't push the work forward very well because I implemented

[2018-03-04 20:44] joshi1983 commented on #522
I added the button but it won't work without https in most modern versions of web browsers so I have yet to add a redirect to https and communicate the process to the end user well while doing that.

[2018-03-05 19:22] Blandine-AA opened #526 "AL News: update web page with link to The MediaPlex article"
Here is the link: http://themediaplex.com/new-windsor-app-is-like-tripadvisor-for-people-with-disabilities/

[2018-03-06 22:04] Blandine-AA opened #527 "Mobile device: clicks responsiveness for location's category"
This problem happens on mobile devices only and was found by @yashankit17 during testing on iPhone. I see the same problem testing on my Android phone.

When you click any category on the home page, you will see its description in the footer for the first click
and then on the second click you will be redirected to new page showing results of those category. The problem is that category descriptio

[2018-03-06 22:17] Blandine-AA commented on #108
Questions for 0.0.6 release...
Can we calculate the overall rating of a location as the means of the accessibilities categories rating?
If an accessibility category hasn't been rated, do we ignore that in the overall rating calculation?

[2018-03-06 22:26] Blandine-AA commented on #399
Created #527 to track the click responsivness for locations' categories.
All the other issues are fixed. PASS

[2018-03-06 22:26] #399 closed

[2018-03-06 22:32] Blandine-AA commented on #521
@joshi1983 , the design we discussed was to have the '+' sign in a blue circle. Similar to what you see in other apps!

[2018-03-06 22:42] Blandine-AA commented on #522
@joshi1983 , should we postpone this to a later release then? I'd like to see #244 completed this week instead.

[2018-03-06 22:44] Blandine-AA commented on #519
Moving to a later release for further investigation. Workaround implemented in #523.

[2018-03-06 22:44] #519 closed

[2018-03-06 22:49] Blandine-AA commented on #315
Moving this to 0.0.7 as a workaround is implement in #523

[2018-03-09 12:06] joshi1983 commented on #526
@Blandine-AA Where should that link be added on the page?

Does it belong in "History"?  How did you want the reference to the article worded?
![image](https://user-images.githubusercontent.com/11838191/37206840-4396efd4-2368-11e8-91f8-192b3840d261.png)

[2018-03-09 12:28] joshi1983 commented on #521
@Blandine-AA I switched to the blue circle just now so it looks like this:
![image](https://user-images.githubusercontent.com/11838191/37207504-5a655bc6-236b-11e8-894e-a7182f34246a.png)

I know it wasn't as high priority as other things but it was really quick to make the change.

[2018-03-09 14:27] Blandine-AA commented on #526
@joshi1983, how about adding a new tab called "News", where we put all the articles ever released on AL. the most recent one being at the top.
The first section of the article should be visible and then "Read more..." to open the article out of AL.

What do you think? Is this complicated to implement?

[2018-03-10 01:00] James-N-M commented on #523
Claiming this , @joshi1983 Can you provide more detail please if possible and maybe some code links please  🌈

[2018-03-10 21:11] James-N-M commented on #523
@joshi1983 Allow me to edit the description so I checkout the check boxes as I go next time

[2018-03-10 21:39] joshi1983 commented on #523
I'll check them off after the work is merged and deployed.  I want the
checkbox state to correspond with what is complete and available at
http://app.accesslocator.com instead of what you have locally on your
laptop.

On Sat, Mar 10, 2018 at 4:11 PM, James Moore <notifications@github.com>
wrote:

--
Josh Greig

[2018-03-11 22:37] Blandine-AA opened #532 "Investigate the Multilanguage support from Google"
I saw this on the Windsor Essex Immigration website
![image](https://user-images.githubusercontent.com/20052162/37259224-f71f1a20-2559-11e8-9cd6-dc6fc107f3e8.png)

Click on the arrow here: https://www.welcometowindsoressex.ca

[2018-03-12 02:48] joshi1983 commented on #503
I made it so the separate page shows for users who indicated that they use screen readers.

A dialog now shows for every other user.

This is ready for testing.  To test, I suggest seeing all the changes by going through:
- User profile
- Location rating(Rate) on a specific question category
- Location report(View) on a specific question category

and view those with "Use screen reader" saved as c

[2018-03-12 10:58] joshi1983 commented on #526
It should take an hour at most to do.  I guess we'd also want to mention the original Hacking Health event, the event in Toronto, and the Mini Maker Faire.  We can check if the problem we pitched from the January 2017 hackathon got publicized anywhere.

Giving links wouldn't be enough to fill a page with content and look good.  We'd probably want screenshots of the articles and a paragraph explain

[2018-03-14 03:42] joshi1983 commented on #526
I added this article, the Digifest 2017, and 2016 Hackathon.  All of them have images and I tested with narrower viewports to simulate what a mobile phone should see.  I made each link look similar to the boxes in release notes so there'd be more consistency.

The top of the page looks like this:
![image](https://user-images.githubusercontent.com/11838191/37382218-eeba92d2-2717-11e8-9fd6-203e530d9

[2018-03-14 14:44] stephanosm commented on #526
@joshi1983 it looks great.
One suggestion is to replace the link and blurb about Feng. The reason is that it links to her Linkedin profile and it is empty (no connections). Perhaps add some blurb linking either to: http://themediaplex.com/new-windsor-app-is-like-tripadvisor-for-people-with-disabilities/
 or/and to the actual video that shows you talk about AL.

[2018-03-16 23:00] Blandine-AA commented on #522
If device has no GPS, then https is required for Google to find the current position. In order to do that, we need to subscribe to SSL service. Without any funding now, the workaround is to reset to Windsor City Hall.

[2018-03-17 20:14] joshi1983 commented on #526
I emailed Feng asking if she can add more detail to her linkedin profile.  If she doesn't add sufficient detail in a couple weeks, I'll unlink her profile.

Yeah, I could also mention you(@stephanosm) joined and a few others we met there.  I introduced Abdulrahman Alrifai to the project who had some ideas on how to get funding.

[2018-03-22 10:59] joshi1983 commented on #244
This:
![image](https://user-images.githubusercontent.com/11838191/37766817-72f8e88c-2d9e-11e8-9806-786887732822.png)

was converted to this:
![image](https://user-images.githubusercontent.com/11838191/37766832-8481b6ce-2d9e-11e8-8efe-cd61402df18e.png)

In the latest pull request.

[2018-03-22 15:06] Blandine-AA commented on #526
@joshi1983, this is a news section. Just to show the articles. Please just leave it as is. No other links to be added except for the article one.

[2018-03-22 15:09] Blandine-AA commented on #526
Pass - This page will be reviewed later anyway!

[2018-03-22 15:09] #526 closed

[2018-03-22 15:26] Blandine-AA commented on #502
Moving this to release 0.0.6

[2018-03-22 15:31] Blandine-AA opened #537 "Sign in with Facebook is broken"
![image](https://user-images.githubusercontent.com/20052162/37780101-66a4ee2a-2dc4-11e8-83eb-e7da3c051b0a.png)

[2018-03-22 15:37] Blandine-AA commented on #521
PASS

[2018-03-22 15:38] #521 closed

[2018-03-22 15:49] Blandine-AA opened #538 "Few bugs with the profile"
When starting as a new user, I found the following issues:

Distance default value is set to 0, but minimal allowed value is 0,01. This should be the default value
- [ ] Set Distance default to 0.01 in the Profile

If clicking on Select All to chose the criteria, without having clicked on any checkbox, the save button stays disabled.
- [x] Activate the save button when changes are made, regardless

[2018-03-22 15:53] Blandine-AA commented on #506
Need to redesign how the information is displayed/presented to the user. Moving this to 0.0.7 for now

[2018-03-22 15:54] Blandine-AA commented on #503
PASS

[2018-03-22 15:54] #503 closed

[2018-03-22 15:57] Blandine-AA commented on #275
PASS

[2018-03-22 15:57] #275 closed

[2018-03-22 15:59] Blandine-AA commented on #410
PASS

[2018-03-22 15:59] #410 closed

[2018-03-22 16:17] Blandine-AA commented on #244
@joshi1983, it looks much better. Some feedback:

- [ ] Change "Comments" to "See All Comments"
- [ ] Remove brackets around the # of ratings for all the sections
- [ ] Remove brackets around 's' for ratings
- [ ] # of comments missing for the categories buttons. do not use brackets and comments to be plural.

Question: What happens if the location name is very long? Will the window size adjust ac

[2018-03-22 23:53] joshi1983 commented on #244
If the location name is longer than 30 characters, the text shrinks.  It doesn't make the popup larger because a larger popup would look more inconsistent than just smaller text.

The best way you can see the dynamics of it is by finding some long named locations and looking at them on app.accesslocator.com.

[2018-03-31 15:24] Blandine-AA commented on #109
@stephanosm tested this and commented in #108 .

There is a problem here with the accessibility categories personal rating. The personal rating per categories is the same as the universal rating and it shouldn't. The overall rating for both personal and universal rating can be as simple as the average of the categories rating.
If a user is not interested in a category, then that category should no

[2018-05-01 22:56] joshi1983 commented on #537
@brucelau-github were you looking at this a month or 2 back?

[2018-05-01 23:08] joshi1983 commented on #522
Set location to Windsor, City Hall whenever the GPS isn't found.  Don't use Google Maps to guess location.

[2018-05-01 23:28] joshi1983 commented on #109
Disable the personal view for now.

[2018-05-02 00:08] joshi1983 commented on #386
@Rubynguyen2910 see if you can do the last subtask item from a previous comment.

To be clear it is:
"When a point is clicked on the map, auto-populate the "Address" with the location's address. This is the same behavior as on the "Home" page."

[2018-05-04 22:40] Blandine-AA commented on #377
**Features list (Latest version: [0.0.5](url). Released May 20, 2018)**
•	Improved layout to be mobile friendly
•	Rating feature improved – Layout and content. User can see the number of comments and ratings.
•	User can add a new location (NEW)
•	User can see locations that are not yet rated (NEW)
•	Reviewed accessibility criteria questions for screen readers compatibility
•	Accessibility criteria

[2018-05-09 00:53] Blandine-AA opened #542 "Sign-up or sign-in is broken?"
It looks like sign-up or sign-in is broken.
I was doing a demo today and the user could sign-in after she created he account and validated her email. I didn't have time to test it my self. I was wondering if Ruby can test this and document the steps and what she observes?

[2018-05-09 01:05] Blandine-AA commented on #542
@joshi1983 tested the Sign-in with an existing account and it works. I guess it is the Sign-up that seems to have a problem.

[2018-05-09 02:17] Rubynguyen2910 commented on #386
This is ready for testing.  The address should be filled in automatically when clicking on the Add Location map.

[2018-05-13 19:43] brucelau-github commented on #537
related to issue #542

[2018-05-13 19:44] brucelau-github commented on #537
I have fixed them. The dependency hybridauth is broken.

[2018-05-15 21:41] #386 closed

[2018-05-15 23:13] joshi1983 commented on #498
@stephanosm from the meeting, you said you wanted to come up with these questions.

You also mentioned wanting to give some goals.

[2018-05-19 01:52] Blandine-AA commented on #537
PASS

[2018-05-19 01:52] #537 closed

[2018-05-19 01:55] Blandine-AA commented on #522
Currently, reset goes back to 62 Park St E, Windsor, ON N9A 3A7, Canada, instead of Windsor City Hall at 400 City Hall Square East

[2018-05-19 02:09] Blandine-AA commented on #109
@joshi1983, is this done?

[2018-05-19 02:12] Blandine-AA commented on #498
We would need to have these for June 1rst. See 30/60/90 days plan for some cues

[2018-05-19 02:19] Blandine-AA commented on #244
Moving this to 0.0.6 as there is still some work to do on it

[2018-05-20 02:07] Blandine-AA opened #545 ""Rate this app" feature"
For people to easily evaluate the app and provide specific feed, During the May 15 status meeting, it was suggested to have a feature that would allow the user to rate the app. This feature would be a very simple survey, 5 questions at the most, that the user can complete in 1 minute or less.

Example of questions:

1. Do you use AL? Y/N
1. If you use AL, how often? ... provide a choice of answers

[2018-05-20 10:33] joshi1983 commented on #545
Maybe you can make a survey in [Survey Monkey](https://www.surveymonkey.com) and I can link to that.

[2018-05-20 11:51] joshi1983 commented on #542
@Blandine-AA I fixed something and think this is working on app.accesslocator.com now.  It looked like the email verification step was broken.

[2018-05-20 11:52] joshi1983 commented on #523
@James-N-M are you held up by anything here?  The task list checkboxes are sufficient detail on this, right?

[2018-05-20 17:13] joshi1983 commented on #542
I'm closing because Blandine said this was working.

[2018-05-20 17:13] #542 closed

[2018-05-22 15:40] stephanosm commented on #545
Isn't this what I am supposed to do?
Also, I suggest the first 2 questions to be slightly different because of the expected number of focus users. Perhaps:
1. Have you ever used the AL app before?   Y/N
2. If you have, how many times (approximately)  - provide some groups.

[2018-05-24 03:37] Blandine-AA commented on #545
@stephanosm, this is not the Focus Design work as discussed at the May 15th meeting. Look at the one assigned to you :)

[2018-05-24 03:38] stephanosm commented on #545
ok, thanks for clarifying!

[2018-05-24 03:39] Blandine-AA commented on #498
@stephanosm, this is the one you are supposed to work on :)

[2018-05-26 17:10] joshi1983 commented on #382
This should be fixed so I'm marking this ready for testing.

[2018-05-26 19:48] passionInfinite commented on #369
@joshi1983 Assigned this issue to me!

[2018-05-26 21:02] joshi1983 commented on #523
James hasn't indicated he's been working on this for a few months and @passionInfinite has been working through a few issues quickly so I reassigned this to him.

[2018-05-26 21:09] passionInfinite commented on #369
#549 Resolved this issue.

[2018-05-29 01:37] joshi1983 commented on #523
The solution to this may also solve #375.

[2018-05-29 01:50] joshi1983 commented on #58
There is a lingering problem where emails go to SPAM sometimes but that's covered by #520 covers it.  I'm closing this because it is complete.

[2018-05-29 01:50] #58 closed

[2018-05-29 16:51] passionInfinite commented on #538
@joshi1983  is this issue fixed? If yes close it.

[2018-05-30 00:50] joshi1983 commented on #377
The release notes are now updated at: http://accesslocator.com

![image](https://user-images.githubusercontent.com/11838191/40692815-e2832a50-6381-11e8-9dc5-fc816d4dbc4b.png)

[2018-05-30 14:29] #401 closed

[2018-05-31 16:46] joshi1983 commented on #461
@balraj18 did you see any updates?

[2018-05-31 16:57] joshi1983 commented on #498
June 1 is tomorrow.  Will this be ready?

[2018-05-31 17:35] balraj18 commented on #461
Well, I haven't checked it so far. I'll update you shortly.

On Thu, May 31, 2018 at 12:46 PM, Josh Greig <notifications@github.com>
wrote:

[2018-06-01 23:23] joshi1983 commented on #204
If we let the user know the email doesn't exist, that can be exploited by hackers to learn which email addresses to target with password guesses.  I found an article which recommends emailing the instructions regardless of whether the email address is matched.  To protect people from spam and protect our email sending functionality from getting blacklisted, I'd also suggest adding a reCAPTCHA so o

[2018-06-02 01:44] stephanosm commented on #498
The survey is sent by email to all participants

[2018-06-03 16:08] joshi1983 commented on #315
@passionInfinite 's work to replace with a select in #523 was deployed which looks like it should fix this issue too.  I'm marking this ready for testing so Blandine can review and potentially close.

[2018-06-03 16:17] joshi1983 commented on #523
I merged a pull request from @passionInfinite since it improves things and takes a big step toward completing this issue but there is still some lingering work on this issue.

The only work remaining is:
"Test that when changing US to Canada or vice versa, an empty option is selected for State/Province."
That doesn't work.  An empty option needs to be added to the select and it must be selected by

[2018-06-03 22:46] joshi1983 commented on #375
Since @passionInfinite had some changes merged that replaced an input with select for representing the province, this issue should be tested to see if it is still a problem.

[2018-06-04 01:34] joshi1983 commented on #520
@stephanosm is having a bigger problem where he doesn't receive the emails at all in his gmail and uwindsor accounts.

[2018-06-04 01:36] joshi1983 opened #555 "Location search error message on demo"
@stephanosm ran into a bug.  I quoted what Stephanos shared with me.

"I rated Starbucks and then I went to Home to find Starbucks again to see what is total Accessibility but got an error msg."

![image](https://user-images.githubusercontent.com/11838191/40893770-3f066f00-6772-11e8-9f9b-727693abd8ca.png)
"That happened when I clicked the Restaurant button"

[2018-06-04 01:42] passionInfinite commented on #555
@joshi1983 assign this to me. I will resolve.

[2018-06-04 01:51] joshi1983 commented on #555
@passionInfinite there's 2 issues assigned to you but not yet fully ready for testing, though.  There's a pull request with feedback waiting for your attention and a couple lingering steps to #523.  I'll assign this when you have less on your plate.

[2018-06-04 23:57] joshi1983 opened #558 "Create import tool for buildings on voiceofsap.org"
This doesn't have a lot of buildings and most of them are in India but it has a single accessibility rating for each building which could be useful for AccessLocator.

Voice of Special Abled People(SAP) rates buildings for accessibility in an effort to promote improvements to accessibility and visibility of people with special needs.

https://www.voiceofsap.org/buildings/

[2018-06-05 10:52] joshi1983 commented on #244
We want the phone number on these reports, right?  Roughly 80% of locations have phone numbers.  We also collect phone numbers in the Create New Location form.

I think the phone number would fit best in the red marked area here:
![image](https://user-images.githubusercontent.com/11838191/40971895-0569896e-688d-11e8-8eab-cb0986abc5ba.png)

[2018-06-05 17:09] gillbalraj commented on #461
I made two changes on residential buildings. These changes are reflecting as expected.

- No verification was required.

- I received an email yesterday for submitting the details and time it needs to upgrade the changes.

- However, it took a little time to see the changes made on Windsor then on Toronto's building.

![image](https://user-images.githubusercontent.com/26493273/40991022-82e3769c-68

[2018-06-06 22:13] Blandine-AA commented on #555
I had a focus group this afternoon at ALSO and few uses got this error while trying to find Tim Horton as specified on the survey. It was bad :( !

[2018-06-07 11:07] joshi1983 commented on #555
Correct me if I'm wrong but you had at least one accessibility criteria selected and were signed in when this bug happened, right?

[2018-06-07 14:58] stephanosm commented on #555
So @Blandine-AA  what happened after that? Were users being able to rate something else? Did they finally complete the survey? Please share the details.

[2018-06-10 01:50] joshi1983 commented on #545
Who will write this survey now?  Should it be @stephanosm?

Also, like I suggested 21 days ago, Survey Monkey should be good for this.  You can sign up for an account at no charge and collect results from there.  https://www.surveymonkey.com/user/sign-up/

[2018-06-10 02:06] joshi1983 commented on #527
@Henry-Hao I assigned this to you as per our gmail chat conversation.  Good luck.

[2018-06-10 03:01] joshi1983 commented on #523
The following message is probably related to changes made to the region selector too:
![image](https://user-images.githubusercontent.com/11838191/41197868-caaca5d6-6c38-11e8-909b-37e801b9beb9.png)

That message should appear when navigating away from changes made by the user.  Now, that message appears every time you navigate away even if you didn't change anything.

[2018-06-11 23:52] Blandine-AA opened #564 "Google API Keys unrestricted to be restricted"
There are unrestricted keys, created Nov 29 2017, on the project. Google asks to secure them.... know that I have MY credit card information in there. We don't want some people to use the key and ME being billed for it!
![image](https://user-images.githubusercontent.com/20052162/41262746-af8003ec-6db0-11e8-80a3-dc123d40695c.png)

[2018-06-12 19:22] Blandine-AA opened #567 "June focus group testing: sign-up word not visible and creates confusion"
During the focus groups, many users didn't see the Sign-up link and went straight to sign-in and they tried to sign in with their email and email password.
The fact that the Sign-in characters are bigger than the Sign-up one creates confusion. Both should be of equal size.
This was tested on an iPhone.

[2018-06-12 19:28] Blandine-AA opened #568 "June focus group testing: Location field updated with geo-coordinates when doing Search by keyword"
The user is complaining that:

This was tested on an iPhone.

[2018-06-12 19:33] Blandine-AA commented on #555
Most users were able to complete the survey. But others just gave up as they struggled with either the sign-up or the exception that they kept getting. Not all users had the exception.

[2018-06-12 19:38] Blandine-AA opened #569 "June focus group testing: Data analysis meeting"
@stephanosm , @joshi1983 ,

Can we meet sometimes this week to go through the survey answers?
I have early morning or lunch time for Wednesday June 13th and Thursday June 14th. I can also do Thursday June 14th around 5 pm

Location : Either at JMCC or at the Tim Hortons on University.

[2018-06-12 20:14] joshi1983 commented on #567
That's in reference to the home page, right?
![image](https://user-images.githubusercontent.com/11838191/41314750-a265e89c-6e5b-11e8-8b4c-8bc95551f856.png)

I don't know if there's some kind of optical illusion going on but those are exactly the same size.

[2018-06-12 21:17] stephanosm commented on #569
Too short of a notice for Tomorrow or Thursday. Tomorrow I am available only any time between 4:30-7:00pm, but not Thursday. Friday I have time between 11:30-12:30. Else we can meet next week which I have more availability.

[2018-06-12 21:20] stephanosm commented on #567
I think she refers to this one:

![image](https://user-images.githubusercontent.com/22602396/41317984-d230d902-6e64-11e8-99ca-6aff9456e862.png)

[2018-06-12 21:28] joshi1983 commented on #567
The page is focused on signing in, though, so equal sized text would be more confusing.   There's a separate page for Sign Up.

I'm leaning toward replacing the home page's single button labelled "Sign in / Sign Up" with 2 links or 2 buttons.  This would be less work and less content to fit on a screen than if we merge the Sign In and Sign Up into a single layout.

[2018-06-13 02:27] Blandine-AA commented on #567
Having 2 separate buttons straight from the home page will be less confusing.

In general, users seemed to be looking for less click to get to the information, and very simple and simplified interface and steps. Something to keep in mind!

[2018-06-13 11:05] joshi1983 commented on #567
Here is a mockup of what we could go with.
![image](https://user-images.githubusercontent.com/11838191/41347552-0019ef8e-6ed8-11e8-9eea-a8ee14256a02.png)

I think even on the narrowest mobile phone layout, we could still stick with 1 row.

[2018-06-13 12:27] Blandine-AA opened #570 "June focus group testing: Read out loud feature (screen-reader)"
As a user with reading problems, I would like the AccessLocator app to read out loud.
I mentioned to the above user that the app was screen-reader compatible.
- [ ] See if we should have an info box popping up on the home  page saying that the app is compatible with screen readers and the user can set that option in the profile. This leads to my next question
- [ ] Do we need the screen reader set

[2018-06-13 12:34] Blandine-AA opened #571 "June focus group testing: Big characters feature"
As a user with reading problems, I would like to make the characters bigger.
I mentioned to the above user that all cell phone know have accessibility settings to allow to make the characters bigger. This is part of setting up their phone or table for their usage. Nevertheless, for people using it on their computer/laptop, this feature might be needed.
- [ ] Have an AA button?
![aa](https://user-i

[2018-06-13 13:35] stephanosm commented on #567
Looks good but perhaps some more spacing between the 2 buttons. Also, I recommend to "explain" the difference between the 2 having the Sign Up button with something like this  (Warning I am not a Designer  :-)

<img width="284" alt="signup" src="https://user-images.githubusercontent.com/22602396/41354504-26e3017c-6eed-11e8-9fe4-15c64ac6823e.PNG">

[2018-06-13 17:18] joshi1983 commented on #555
This should be fixed on both app.accesslocator.com and demo.accesslocator.com.

I added several more automated tests in case they help similar problems from coming up again and to help other volunteer developers test their changes.

This problem was related to a stale cache for location ratings. When new questions were added in the latest deployment of demo.accesslocator.com, I forgot to clear the

[2018-06-13 22:08] joshi1983 commented on #571
Did that user really have reading problems or was the user just imagining how other people with reading problems might use the website?

In addition to the accessibility settings built into most phones, there are some useful features in web browsers.  On a touch screen like most mobile phones, you can use 2 fingers to zoom in and out.

On a desktop, you can change the zoom level to be as big as yo

[2018-06-13 22:53] Blandine-AA commented on #571
User has reading problems and she wears glasses to read. She needs big characters, and that's HER feedback on the app testing.

She also has physical problems and cannot use her fingers as easily as you may think and suggest. Just clicking on a button might be useful. That's also HER feedback on the testing.

Something to think about !

[2018-06-13 23:32] joshi1983 commented on #570
It looks like the underlying problem here is confusion over the "uses screen reader" checkbox.

The screen reader checkbox state is used to determine whether the question explanation feature is to pop up or navigate to another page.  Navigating to another page is easier for screen readers to work with.

Is this feedback coming from people who actually use screen readers?  Screen readers can be hea

[2018-06-15 08:38] joshi1983 commented on #564
On June 12 evening, all API keys were quite urgently restricted to minimize risk of exceeding any quota that could affect the account and production sites.  This included not including our development environments in places that can use the quota since localhost seemed like it could be too easily overused considering someone could be billed if the usage exceeds the quota or it could take down one

[2018-06-15 09:03] joshi1983 commented on #568
Having a screenshot would have helped with this.

I suspect the user unknowingly and accidentally clicked the home page's map which changed location.

The location he or she clicked happened to also be 0.5km or more away from the nearest street addressable location so it used longitude and latitude as defined by requirements for #397.

Here's a screenshot of how my suspition could have looked on h

[2018-06-15 09:56] joshi1983 commented on #571
If we add such a button and support this special big text mode, we won't be able to maintain it and test it to the same level as the regular mode because most users will be using the browser's zoom feature when needed.  We can make something that is really basic and looks ugly but makes the text big like she's requesting, though.

If we add such a button, users who know how to use the browser's zo

[2018-06-15 17:09] joshi1983 commented on #569
Monday, June 18 at 5:00pm at Tim Hortons near Bruce and University Ave is good to me.

That would be the usual meeting place:
http://demo.accesslocator.com/location-report/00000000-0000-0000-0000-000000000001

[2018-06-15 21:00] Henry-Hao commented on #527
I think I may have solved this problem.
Add a variable ***previous_touched_target*** to store the previous clicked label.
For the mobiles, if the users click the label for the first time or click a label which is not the same as he clicked previously. The ***previous_touched_target*** will be updated. Then i use the function ***e.preventDefault()*** to prevent the default action of ***touchend***

[2018-06-15 21:51] joshi1983 commented on #527
I think the exception part of the issue description was handled in #555.  It looks like the same kind of problem.

[2018-06-15 22:10] joshi1983 commented on #527
I'm struggling to reproduce the problem or maybe just understand it.  I tested on an Android tablet and Android phone and got the same results on both.

My experience is this:
1. Click any category.
1. Wait up to 5 seconds.
1. Watch the results for that category show.

I wonder if you're seeing a delay and confusing that with the incorrect results of a different category.  Here's a sequence to ill

[2018-06-15 22:57] joshi1983 commented on #77
@passionInfinite got this to work without the warning message.  Thanks, Hardik.

[2018-06-16 16:02] passionInfinite commented on #77
@joshi1983  Thanks @joshi1983. Add this to label ready to test as this is for app.accesslocator.com
For demo.accesslocator.com we need to wait for sometimes as we have issued many certs. I will add SSL to demo.accesslocator.com as it will become available.

[2018-06-16 16:23] joshi1983 opened #576 "Add HTTPS support for demo.accesslocator.com"
There is some HTTPS support at https://demo.accesslocator.com but it still shows cautionary messages and users have to click "Proceed to ... (not recommended)" to get through it.

Get the SSL certificate working for demo.accesslocator.com.

[2018-06-16 16:28] joshi1983 commented on #25
#564 is related to some changes by Google Maps that make this a little more useful but this should still be pretty low priority.  Google Maps demands a billing account be associated with the Google Maps API keys.  This isn't ideal but Google Maps still looks like the best option we have for client-side mapping.

[2018-06-16 16:59] joshi1983 commented on #538
@Rubynguyen2910 how are you doing with this?  You've been quiet for a while.

[2018-06-19 17:01] passionInfinite commented on #77
@Blandine-AA Following are some steps to perform testing:

1) Open particular link (app.accesslocator.com)
2) Click on Secure (It should be green)
3) Click on Valid under the certificate.
4) It will open certificate viewer.
5) Check the Common Name in Issued To, it should be same as the domain URL you are visiting. (app.accesslocator.com).
6) Check the Common Name in Issued From, it should be Let'

[2018-06-19 21:46] passionInfinite commented on #261
@joshi1983 @Blandine-AA  5MB is fine and I have made checking of the file size and file type before sending it to the server. PR number #579  should fix this issue and it is ready for testing.

[2018-06-20 10:39] joshi1983 commented on #476
This still seems like one of the last priorities for any developers looking for work because there isn't any specific action that can be taken.  Anyone can add a comment to add to this discussion but there's no reason for me to assign this to one of the other volunteers until there's more specific detail.  I'm glad we're not jumping to a change for the sake of a change, though.

[2018-06-20 10:45] joshi1983 commented on #261
I merged and deployed Hardik's work to app.accesslocator.com.  It is probably best to hold of testing of this until #523 is totally complete, though.  Laveen is fixing a popup that appears when navigating away from the profile or uploading an image.

[2018-06-20 10:48] joshi1983 commented on #269
@passionInfinite do you want to tackle this?

[2018-06-20 10:52] joshi1983 commented on #404
I unassigned @skwaitko because we didn't hear from him in a few months.

[2018-06-20 19:48] passionInfinite commented on #269
@joshi1983  This is already resolved you just have to update your node-sass dependency and it will work. Check it out on your local machine and update me if it doesn't work. I will show you some way to do it.

[2018-06-20 20:01] passionInfinite commented on #269
Check PR #580

[2018-06-20 20:02] passionInfinite commented on #520
@joshi1983 Assign this to me. I will sort it out

[2018-06-20 22:13] joshi1983 commented on #269
Yes, you're right about it nearly being resolved.  Your pull request fixes the last little problem.

[2018-06-20 22:20] joshi1983 commented on #520
Sure.  You're assigned.

I'll make a pull request so you see what I've done so far with it.  I have a change that switches to relying on gmail for sending email.  It works quite well but with some minor weaknesses that would ideally be avoided:
- It exposes a gmail account password in plain text in the .env file.  The file would be accessible only to trusted people, anyway, but it would be nicer t

[2018-06-21 02:56] joshi1983 commented on #411
If you get latest and recreate your database using "php artisan migrate"  and "php artisan db:seed", you'll now have about 15 images seeded into the new image table.

[2018-06-21 03:32] joshi1983 commented on #269
Since this issue can only be tested by using special tools and an awareness of CSS but our testing is usually done by less technical people, I'm going to skip asking for someone else to test this and just close this.

The validation can be run on app.accesslocator.com from: https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fapp.accesslocator.com%2Fcss%2Fapp.css&profile=css3svg&usermed

[2018-06-21 03:32] #269 closed

[2018-06-21 23:41] stephanosm commented on #569
Since Blandine missed the June 18th meeting we are rescheduling it. My and @joshi1983 's availability is:
Next Monday and Thursday at 5:00-6:30pm
Also, on Wednesday at 6:30-7:30pm
@Blandine-AA what's your availability?

[2018-06-22 01:13] Blandine-AA commented on #569
I didn't miss any meeting since there was none scheduled on June 18th, only a proposal!
I am available Monday June 25th, from 5 pm to 6 pm. I am ok with the Tim Hortons!

[2018-06-22 01:32] joshi1983 commented on #569
Monday, June 25, 2018 at 5:00pm at Tim Hortons(http://demo.accesslocator.com/location-report/1) it is then.

[2018-06-22 16:06] passionInfinite opened #588 "Regarding Coding Style Checking"
I would like to include the Coding Style Checking with certain rules. As many people are working and we might have problems related to coding style as everyone might be using different editors so the settings might be different.  So I would like to add `PSR-2` styling rules so that everyone can have uniform standards. I won't take much time to include this and it will be beneficial to resolve our

[2018-06-23 11:02] joshi1983 commented on #588
PSR-2 looks like a popular standard but how would it be automatically enforced?  Can it be checked with a PHPUnit test?  Are there extra dependencies to install to automatically test compliance with it?

Also, how would we switch our code base to that standard without impeding people who are in different stages of work on their coding issues?  Can we filter out specific files they're working on un

[2018-06-23 15:11] joshi1983 commented on #567
@Yuanzjls this would involve modifying a couple files:
- resources/views/pages/home.blade.php
- resources/assets/sass/_home.scss

[2018-06-25 03:39] passionInfinite commented on #576
@joshi1983 @Blandine-AA This issue is resolved.

[2018-06-25 03:43] passionInfinite commented on #588
@joshi1983  We can easily switch to this standard by two commands 1) for checking coding style 2) for fixing the coding style. The second command will automatically fix all the coding style errors of our project. There will be no need to do rebase for volunteers. We just need to merge our work to master and tell them to pull master and merge master into their working branch.

[2018-06-25 10:41] joshi1983 commented on #588
@passionInfinite what are the commands you speak of?  Are you talking about php-cs-fixer?

[2018-06-25 14:54] passionInfinite commented on #588
Yea. We can include that. :)

[2018-06-25 17:37] joshi1983 commented on #567
![image](https://user-images.githubusercontent.com/11838191/41865973-c422ecc0-787c-11e8-86d6-95060ee83008.png)

![image](https://user-images.githubusercontent.com/11838191/41865998-d73eaeac-787c-11e8-9f6c-c1596351c127.png)

[2018-06-26 15:47] joshi1983 commented on #569
Since this happened and there's nothing to test about it, I'm closing the issue.

[2018-06-26 15:47] #569 closed

[2018-06-26 15:56] joshi1983 commented on #383
As I see it, the scope of work for this issue should include:
[ ]- Add the checkbox back in.  This could be a revert of the pull request at: https://github.com/hhaccessibility/hhaccessibility.github.io/pull/462/files
[ ]- Make the checkbox keep the user signed in with either a very extended period like over 1 week or never expire.

[2018-06-26 16:00] joshi1983 commented on #355
I unassigned Kim because she hasn't been involved with AccessLocator in roughly a year.

[2018-06-26 17:06] joshi1983 commented on #394
I unassigned Terence because he hasn't been active with AccessLocator for a few months and I want to make this issue more available to new volunteers.  Terence talked of possibly contacting people from McDonalds to get the information without scraping the website but I didn't hear anymore about it.

[2018-06-27 15:52] Blandine-AA opened #593 "AL development environment not accessible anymore"
When I type app.accesslocator.com I get to accesslocator.com website. Any idea what happened?
@joshi1983 Please assign someone to investigate.

[2018-06-27 16:24] Blandine-AA commented on #593
This is related to #576 . I talked to @passionInfinite and tested it. It is working now.

[2018-06-27 16:25] #576 closed, assigned to Blandine-AA

[2018-06-27 16:30] joshi1983 commented on #593
I'm still experiencing this problem:
![image](https://user-images.githubusercontent.com/11838191/41986912-a3a58ee6-7a05-11e8-9724-5aceb07b2e95.png)

I tried with an Incognito Chrome browser and still experienced the problem just now.

Was the vhosts file updated as part of the HTTPS issue recently, @passionInfinite ?

I'm reopening just because I still see the issue after the issue was closed.

[2018-06-27 17:10] passionInfinite commented on #593
@joshi1983 Lets discuss this on Hangouts.

[2018-06-28 18:41] passionInfinite commented on #593
@joshi1983 fixed.

[2018-06-29 10:37] joshi1983 commented on #593
As of now, all 3 of our most important sites look as they should:
- demo.accesslocator.com
- app.accesslocator.com
- accesslocator.com

There's another issue where app.accesslocator.com doesn't have working third party authentication in both gmail and facebook but that's another issue @passionInfinite is working on.  Regarding that other issue, third party authentication still works for demo.acces

[2018-06-30 00:10] joshi1983 commented on #411
A couple people are assigned to this but doing different subtasks.

@Yuanzjls will be adding some functionality to the yelp importer to download image files from yelp.ca.  This will be a step toward prepopulating our database with images from various locations.

@VNBharadwaja will focus on the user interface changes more when he gets a chance.

[2018-06-30 18:05] passionInfinite opened #599 "Regarding Build System."
@Blandine-AA @joshi1983 We have the coding style and test cases checking automatically. So lets quickly set up a free build system. It will automatically check the Code for styling errors as well as the test cases. For that, I need GitHub credentials. @Blandine-AA I would request you to send me the credentials in personnel.

[2018-07-01 21:41] Henry-Hao commented on #461
I added a new "Update Information" button next to the "Accommodation" button which will generate a modal frame asking input from users.
![image1](https://user-images.githubusercontent.com/15081847/42138944-a06e81be-7d53-11e8-8c80-9dd57072ba97.jpg)

![image2](https://user-images.githubusercontent.com/15081847/42138948-add9ce58-7d53-11e8-84a7-2a229610b87c.jpg)

Initially, the input fields will be fi

[2018-07-01 22:56] joshi1983 commented on #461
I like those suggestions, @Henry-Hao.

Can you start by adding the new suggestion table?  To do so, you'll have to add a new migration script file to database/migrations directory and test it using commands like "php artisan migrate:rollback" and "php artisan migrate".

Also, use "id" instead of "suggestion_id" to follow the naming conventions better for the primary key.

[2018-07-02 01:52] Henry-Hao commented on #461
@joshi1983
Sure, i will work on it.
Thank you!

[2018-07-03 15:28] singlaneha2205 commented on #520
I tried to sign up for the application but I have not received any email with the confirmation code at all not even in the spam  folder.

Thanks and Regards,
Neha Singla

[2018-07-03 15:30] passionInfinite commented on #520
I just checked in and I got the email. I checked it twice. Are you sure you
entered the right email?

On Tue, Jul 3, 2018, 11:29 AM singlaneha2205, <notifications@github.com>
wrote:

[2018-07-03 15:41] singlaneha2205 commented on #520
Yes, I checked it again with two different mail ids and did not receive the
mail on any of them.

On Tue, Jul 3, 2018 at 11:30 AM, Hardik Patel <notifications@github.com>
wrote:

[2018-07-03 15:53] passionInfinite commented on #520
Can you send me the domain(url) on which you are signing up.

On Tue, Jul 3, 2018, 11:41 AM singlaneha2205, <notifications@github.com>
wrote:

[2018-07-03 16:08] singlaneha2205 commented on #520
I tried signing up on these two URLs.

http://demo.accesslocator.com/signup
https://app.accesslocator.com/signup

On Tue, Jul 3, 2018 at 11:53 AM, Hardik Patel <notifications@github.com>
wrote:

[2018-07-03 17:38] passionInfinite commented on #520
Okay! So @joshi1983 It means our code is not deployed on the server. I will update the servers.

[2018-07-04 10:45] joshi1983 commented on #520
I'm commenting on @passionInfinite 's behalf.  He told me that app.accesslocator.com is ready for you to try again, @singlaneha2205 .

[2018-07-04 17:53] M4ttoF commented on #382
Confirmed that this worked, can change label

[2018-07-04 17:57] passionInfinite commented on #520
@singlaneha2205 you will have the option of resend verification mail again soon!

[2018-07-04 18:10] M4ttoF commented on #437
I'll start researching it

[2018-07-04 19:18] M4ttoF commented on #545
I created a sample survey using surveymonkey
https://www.surveymonkey.com/r/2SZ98H7
Let me know if you would like anything changed

[2018-07-04 20:28] singlaneha2205 opened #607 "The Save Profile button remains disabled when try to update the accessibility requirements."
The save profile button remains disabled when we try to update only the accessibility requirements. But if we update ant other fields along with the accessibility requirements the button is enabled. right now we are not able to update the accessibility requirements solely.
[Save Profile Issue.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/2164264/Save.Profile.Issue.docx)

[2018-07-04 23:44] joshi1983 commented on #607
@singlaneha2205 can you also reproduce that on https://app.accesslocator.com ?  I see the "Save Profile" button enabled when I do it.

For now, Hardik is working on a problem where demo.accesslocator.com is identical to app.accesslocator.com but you might have tested when demo.accesslocator.com represented a May 20 version.

[2018-07-05 01:32] Blandine-AA commented on #545
@joshi1983, no objections.

[2018-07-05 01:35] Blandine-AA commented on #545
Great work @M4ttoF ! Survey questions are ok.

[2018-07-05 01:54] joshi1983 commented on #599
I emailed Amrit from Hacking Health 2016 about this and he replied: "You don't need my credentials, anyone with read and write access to the repository can do that. And I checked that you have both and are also the administrator of the repository. "

You are an administrator like me, Hardik.  Do you have documentation saying you need to be the user who created the project?

[2018-07-05 06:54] passionInfinite commented on #599
@joshi1983  Visit this https://travis-ci.org/ you will have to log in with GitHub credentials.

[2018-07-05 06:56] passionInfinite commented on #520
@joshi1983 This should not be marked as failed testing. As our code is right.

[2018-07-05 06:58] passionInfinite commented on #77
@joshi1983 No updates on this! Close this as it is already tested.

[2018-07-05 07:00] passionInfinite commented on #261
@joshi1983 I guess this should be close now. We already have that popup issue let it be open and close this issue.

[2018-07-05 07:03] passionInfinite commented on #382
@joshi1983  Close this if it works!

[2018-07-05 11:00] joshi1983 commented on #599
We aren't the creators of the hhaccessibility github organization but we have github credentials for our own accounts which are administrators of that organization.  Our administrator accounts have authorization to add and remove web hooks.

I wonder if you can integrate the main repository with Travis using web hooks.  Here is the web hooks section:
![image](https://user-images.githubusercontent.

[2018-07-05 11:05] joshi1983 commented on #520
@passionInfinite I just didn't see @singlaneha2205's comment until now.  Thanks for pointing that out and I removed the label.

@singlaneha2205 do you see a gears icon next to labels like this?
![image](https://user-images.githubusercontent.com/11838191/42319952-9c4ed2a2-8021-11e8-88cf-7be30cf61b8f.png)

It would be nice if @singlaneha2205 can add The Failing Testing label when she finds an issue

[2018-07-05 11:08] joshi1983 commented on #520
I'm closing the issue as it has been tested by someone who reproduced the original problem.  It is fixed in app.accesslocator.com but not in demo.accesslocator.com until next release.

[2018-07-05 11:08] #520 closed

[2018-07-05 11:12] joshi1983 commented on #545
@PravinaBhatt can you add a link to Matthew's survey ( https://www.surveymonkey.com/r/2SZ98H7 ) from the contact page?

[2018-07-05 12:15] joshi1983 commented on #593
I reopened because http://demo.accesslocator.com is showing the same content as app.accesslocator.com now so part of this problem returned.

![image](https://user-images.githubusercontent.com/11838191/42322738-868c3f90-802b-11e8-9266-c9a13d69cead.png)

[2018-07-05 15:43] singlaneha2205 commented on #607
@joshi1983 I checked the issue on https://app.accesslocator.com. The Save Profile button gets enabled when we select or deselect the checkboxes. The actual issue is with the Select All button present in each accessibility requirements. If the user updates the accessibility requirements using Select All or Unselect All button the Save Profile button remains disabled.

[2018-07-05 16:12] singlaneha2205 commented on #520
@joshi1983 I checked I do not see any gears sign next to labels. Is this
due to access rights?

On Thu, Jul 5, 2018 at 7:08 AM, Josh Greig <notifications@github.com> wrote:

[2018-07-05 16:33] joshi1983 commented on #382
I'm closing as someone not involved with implementing the fix or reviewing it tested and found that it works.

[2018-07-05 16:33] #382 closed

[2018-07-05 16:44] joshi1983 commented on #261
@passionInfinite the popup bug mentioned in #523 will slightly interfere with testing for this but it will be easier to test this as a single change.

This can be closed when someone other than you(Hardik) and I test it.  @M4ttoF or @singlaneha2205 do you want to test?

The procedure I suggest for testing would be:
1. Sign in.
1. Upload a file larger than 5MB in file size(not 5 mega pixels).
1. Ch

[2018-07-05 16:51] joshi1983 commented on #607
@singlaneha2205 thanks.  I was able to reproduce the problem with that.

Here is a screenshot showing the 2 buttons related to this bug in case it helps anyone else trying to reproduce the problem.
![image](https://user-images.githubusercontent.com/11838191/42336543-018ea130-8052-11e8-974f-82e66a0fffce.png)

[2018-07-05 16:56] joshi1983 commented on #520
@singlaneha2205 yes it was related to access rights.  I increased your permissions so you should be able to edit an issue's labels now.  Let me know if I'm wrong.

[2018-07-05 19:44] M4ttoF commented on #567
Issue has been tested and merged, can be closed

[2018-07-05 19:55] M4ttoF commented on #555
Tested and Passed

[2018-07-05 21:05] joshi1983 commented on #567
I'm closing because Matthew tested this and says it is good in his opinion.  Stephanos suggested a "New User" icon but that can be done in another issue if these changes aren't clear enough.

[2018-07-05 21:05] #567 closed

[2018-07-05 21:07] joshi1983 commented on #555
I'm closing since this was tested by Matthew after I fixed and tested it a few weeks ago.

[2018-07-05 21:07] #555 closed

[2018-07-05 21:07] passionInfinite commented on #593
@joshi I would suggest you to figure this out. Because it is now pointing to demo directory.

[2018-07-05 21:21] joshi1983 commented on #593
ok.  I'll figure out why this isn't showing the correct content.

[2018-07-05 21:23] singlaneha2205 commented on #261
@joshi1983 I tested the above scenario and was able to get successful error message conveying "Photo should be smaller than 5MB" when I was trying to upload a photo of 5MB and then was able to successfully upload the photo less than 5MB size. Can refer to screenshot attached for your reference.
[Photo Upload.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/2168254/Photo.Upl

[2018-07-05 21:41] joshi1983 commented on #593
It is fixed now and I retested the 3 main subdomains again:
- demo.accesslocator.com
- app.accesslocator.com
- accesslocator.com

It was fixed by adjusting one line in sites-available/laravel.conf.  There was a virtual host configured at the bottom of the file like:
[code]
I just changed the top line to: ```<VirtualHost demo.accesslocator.com:80>```

The problem was specific to http.  https://demo

[2018-07-05 21:41] #593 closed

[2018-07-05 21:45] joshi1983 commented on #261
Thanks for testing it, @singlaneha2205 and updating the labels.  You can paste images in the comment section too.  That might be easier than making a separate docx file and attaching that.

I'm closing this issue since it successfully completed testing.

[2018-07-05 21:45] #261 closed

[2018-07-06 12:21] Blandine-AA opened #609 "June focus group testing: Improve captcha display"
Users are complaining that when getting the captcha images on their mobile phone screen, the images are too small.

How do improve the layout to make the images bigger or make the captcha not giving the images options.  The user to only gets the checkbox.

[2018-07-06 12:25] Blandine-AA opened #610 "June focus group testing: Improve the list of accessibility criteria on the user Profile"
Users are complaining that the list of accessibility  criteria is too long. There are 58 questions. How do we make it more user friendly?

[2018-07-06 12:30] Blandine-AA opened #611 "June focus group testing: Add location feature difficult to find"
User wanted to add anew location, but we couldn't find the add location feature. We have to make it more visible an easy to find.

[2018-07-06 12:40] Blandine-AA opened #612 "June focus group testing : Go back home after saving Profile"
As a user, after saving my profile, I want to go back to the home page.

Currently the Profile page remains and the user has to click on the home tab.

[2018-07-06 13:43] M4ttoF commented on #612
I'll work on that

[2018-07-06 15:01] M4ttoF commented on #612
I am unable to log in on my localhost to test a possible fix, and I get an error when trying to sign up. So I can't test it at all
![image](https://user-images.githubusercontent.com/19508538/42385807-d45bad1a-810b-11e8-81c7-02b726a4d2b7.png)
this is the sign up error I get

[2018-07-06 15:07] M4ttoF commented on #611
We could try adding it to the header?
I could work on that if thats a position you are okay with

[2018-07-06 15:10] M4ttoF commented on #610
We could try sorting based on type of disability. That way can easily find what pertains to them

[2018-07-06 16:02] joshi1983 commented on #461
Henry's database structure changes with the new suggestion table are merged and deployed.

He's working on the user interface now.

[2018-07-06 16:08] joshi1983 commented on #568
Matthew's changes to make the click on the map more obvious have been merged and deployed at https://app.accesslocator.com/.

Testing should be very simple.
1. Go to the home page.
1. Click or touch the map and you should see it blink.

[2018-07-06 16:15] joshi1983 commented on #611
What was the user doing and what page were they on when they discovered that they wanted to add a location?  Did they search for the location and not find it?  Maybe it should be visible in the location search results pages for map and table views.

A new location shouldn't be added if it already exists.  It would be nice to make the link more visible when they discover that their new location doe

[2018-07-06 16:18] joshi1983 commented on #498
Can this issue be closed?  @stephanosm emailed everyone the survey questions over a month ago.  Is there any work remaining on this?

[2018-07-06 16:37] joshi1983 commented on #612
@M4ttoF I emailed some credentials to sign in locally.

If you tried to sign up locally, it tries to send an email.  Email is set up for https://app.accesslocator.com and https://demo.accesslocator.com but it can be tricky to set up and generally not needed.

[2018-07-06 16:41] joshi1983 commented on #476
I unassigned myself because there's nothing I can do with this issue.  There's nothing clear to work on.

[2018-07-06 16:46] singlaneha2205 commented on #564
@Blandine-AA Please, provide the instructions for testing it. As I am not able to access the domain.

[2018-07-06 16:51] joshi1983 commented on #610
There is a feature mentioned in #502 that could be useful for this.  It involves conditionally showing/hiding questions if related questions are answered a certain way.

[2018-07-06 17:42] M4ttoF commented on #612
I did not get your email for the credentials, could you try sending it again or over hangouts?

[2018-07-06 19:14] passionInfinite commented on #599
Yea, I guess it does not need now! @joshi1983. Thank you for pointing this out.

[2018-07-06 19:16] passionInfinite commented on #588
@joshi1983 We are clear with the code styling, right? so we can close this?

[2018-07-06 20:43] joshi1983 commented on #588
Yup, I'll close it.  This isn't something people can test by using the application.

[2018-07-06 20:43] #588 closed

[2018-07-06 23:45] singlaneha2205 commented on #77
@joshi1983 and @Blandine-AA  I tested this issue and was able to test it successfully for IE, Chrome, and Firefox. We can go ahead and close the issue.
![image](https://user-images.githubusercontent.com/40703592/42404156-e9dc01aa-8154-11e8-8276-34514172d3ee.png)
![image](https://user-images.githubusercontent.com/40703592/42404166-fbea5c84-8154-11e8-9d07-c6d094650d25.png)
![image](https://user-imag

[2018-07-06 23:48] joshi1983 commented on #77
Thanks.

[2018-07-06 23:48] #77 closed

[2018-07-07 00:01] singlaneha2205 commented on #375
@joshi1983 and @Blandine-AA I tested this issue and is working successfully for Chrome, Firefox. But I noticed an issue with the edge browser. The Country drop-down box is very much bigger in size. The countries displayed are only Canada and the United States but the size of the box is very big which can be interpreted as an empty list by the user. Refer to the screenshot below. But the size is fi

[2018-07-07 00:12] singlaneha2205 commented on #315
@joshi1983 and @Blandine-AA I tested the issue the arrows issue. It is working as expected on IE, Edge, Chrome, Firefox. Refer to the screenshots below.
Edge:
![image](https://user-images.githubusercontent.com/40703592/42404598-9f4b11a4-8158-11e8-9023-2d89e3d2fd64.png)
Firefox:
![image](https://user-images.githubusercontent.com/40703592/42404606-b9affc8a-8158-11e8-8b78-f0910457c1cb.png)
Chrome:
![

[2018-07-07 00:30] joshi1983 commented on #315
I agree that every arrow looks very consistent in your screenshot so I'm closing.

[2018-07-07 00:30] #315 closed

[2018-07-07 01:17] singlaneha2205 opened #613 "Issue with the arrow signs on distance field under Search Location section"
During testing, I noticed that on Chrome and Firefox in the distance field under Search Location we can see arrows at the end of the field to increase and decrease the value of the distance field. Refer to the screenshot below.
![untitled](https://user-images.githubusercontent.com/40703592/42405271-12bc951a-8161-11e8-8160-eed357c21903.png)

But in IE and Edge, these arrows are not displayed. The u

[2018-07-08 03:45] PravinaBhatt commented on #545
Yes, I can do it.

[2018-07-08 18:46] passionInfinite opened #615 "Refactoring the project to clear bugs"
I would like to do a refactoring of the whole project within 5 days and after 5 days we can have our bugs fixed. I am listing the things that I will be doing.

- [x] New Authentication System.

- **CRITICAL:**  will clear the global $user shared everywhere into the system.
- **CRITICAL:**  Also, remove the tightly coupled BaseUser class with some good helpers that can be reuse.

- [x] Profile Modu

[2018-07-08 19:57] Blandine-AA commented on #615
Thanks @Hardik!
Well detailed description of the worrk to be done. I don't see any issue with this. Especially that many people are working on the project almost full time. If this makes future work more efficient, then You can go ahead. Please make sure you check with @joshi1983  to clarifiy or understand initial design intends.

[2018-07-09 15:58] M4ttoF commented on #607
Fixed with #617
Needs Testing

[2018-07-09 22:15] joshi1983 commented on #108
Hardik talked today about these ratings calculations.  Do you think we can change the personal view popup on the location report to show the profile questions?  Part of the confusion around the personal rating calculation on that report is seeing location group percentages that have nothing to do with the person's profile.

[2018-07-10 02:04] skwaitko commented on #394
Okay, will give it a go.

[2018-07-10 02:12] singlaneha2205 commented on #607
I tested the issue. Seems like Issue is not resolved yet. As when i Try to edit the fields using Select All and Unselect All button the Save profile button remains disabled

[2018-07-10 10:49] joshi1983 commented on #312
@singlaneha2205 this looks like a testing issue to verify if there's a bug using the profile photo upload feature in Safari.  Can you try to reproduce?  I'm not sure if this was tested in an iphone or Mac.

[2018-07-10 11:07] joshi1983 commented on #607
This was mislabeled as ready yesterday as there was some confusion around the testing process but that should be resolved now.

It can be tested on https://app.accesslocator.com now.  The suggested minimum steps for testing are:
1. Sign in to the profile.
1. Click "Select all"
1. Verify that the Save Profile button is enabled.
1. Click "Unselect all"
1. Verify that the Save Profile button is disab

[2018-07-10 16:40] joshi1983 commented on #538
One of the subtasks from this is covered by #607.  That includes the following text from this issue:

[code]

[2018-07-10 16:48] joshi1983 commented on #538
The best change I can see for "Profile values such as Distance and Location Search should not be automatically updated when user changes it on the other pages (Home, Location search...)" is to remove those from the profile.  The reason is that those features are useless if they're not updated by the location search and home pages.  The home and location search is where the best user interface is f

[2018-07-10 17:58] M4ttoF commented on #612
put in merge request #620

[2018-07-10 22:01] M4ttoF opened #621 "Indicate Caps Lock is on when typing password"
Users should be given a warning that caps lock is on when typing their password to avoid frustration.

[2018-07-10 22:08] passionInfinite commented on #621
@M4ttoF Nice one but wait for the #615 to get complete Thank you.

[2018-07-11 01:48] Blandine-AA commented on #615
@joshi1983 regarding

These should be assigned to @singlaneha2205 .

[2018-07-11 01:51] Blandine-AA commented on #522
@joshi1983 , could you please assign this to a student who needs work? Thanks!

[2018-07-11 13:44] M4ttoF commented on #611
Can be tested by searching up a keyword that has no search results signed in, and not signed in

[2018-07-11 15:37] singlaneha2205 commented on #607
@joshi1983 I tried the above steps on  https://app.accesslocator.com but the behavior is not as expected. The Save Profile button is not enabled when we use select All or increase the location search radius.
So I am marking it as Failed Testing.

[2018-07-11 15:51] singlaneha2205 commented on #312
@joshi1983 I tested this on Safari on iPhone and was able to upload the photo successfully and also if I try to upload a photo of size greater than 5 MB I get the appropriate error.

There is a just a query I want to clear out here, Is the photo upload or remove photo linked to Save profile button? I mean when the user changes or uploads the photo should the Save profile button gets enabled?

[2018-07-11 15:52] singlaneha2205 commented on #564
@Blandine-AA Please, provide an update on the same.

[2018-07-11 16:31] M4ttoF commented on #607
@singlaneha2205 did you refresh your cache first with Ctrl+Shift+R?
I just tested both and they work fine for me

[2018-07-11 16:46] joshi1983 commented on #312
No, uploading a photo saves immediately so uploading a photo should not enable the "Save Profile" button.

In fact, if you change things on the profile and upload a photo, you should actually see a dialog prompting you to save before navigating to another page.

[2018-07-11 16:54] singlaneha2205 commented on #607
@M4ttoF Thank you. I tested it after clearing the cache and it worked as expected. @joshi1983 we can go ahead and close this issue.

[2018-07-11 16:56] singlaneha2205 commented on #568
@joshi1983 and @Blandine-AA I tested the above issue and it worked as expected. We can go ahead and close the issue.

[2018-07-11 16:59] joshi1983 opened #622 "Add PHPUnit test simulating a profile image upload"
After a user signs in, he can upload a profile photo by clicking on the profile image in the profile.  This functionality works by uploading an image file to the server.

We want an automated test to simulate the following with API calls:
1. Delete the image if there is one.
1. Upload an image
1. Test that an image exists.
1. Rotate the image
1. Delete the image
1. Test that no image exists.

This

[2018-07-11 17:13] joshi1983 opened #623 "Add PHPUnit test for location rating, commenting, and submission"
This test would simulate:
1. Sign in
1. Save an answer at least one question on a specific location.
1. Submit the answer(s).

Not in scope of this but something we could do after writing a test like this is to also make a new location so the ratings are applied to an unrated location and we can retrieve the rating calculations to verify that they match the newly saved answers.

[2018-07-11 17:18] joshi1983 opened #624 "Add PHPUnit test to simulate adding a new location"
Simulate the following:
1. Sign in
1. Hit the location add API with some invalid data and check that the response contains a validation message.
1. Hit the location add API with valid data.
1. Check that a location with the valid data was added.

[2018-07-11 22:04] joshi1983 commented on #607
I'm closing as @singlaneha2205 tested it too.

[2018-07-11 22:04] #607 closed

[2018-07-11 22:13] joshi1983 commented on #621
@M4ttoF how do you think it should look?  We use font awesome and Bootstrap has some icons.  Would any of those icon libraries work for indicating Caplock?

[2018-07-11 22:15] joshi1983 commented on #613
@codemaster94sb do you feel up to doing this?

[2018-07-11 22:16] joshi1983 commented on #568
I'm closing this as it was successfully tested.

[2018-07-11 22:16] #568 closed

[2018-07-11 22:39] joshi1983 commented on #615
@Blandine-AA sure.  I added issues #622, #623, #624 to track that work and assigned them to @singlaneha2205.  I also emailed the environment setup instructions to her so she can test her tests.  She mentioned that she wrote automated tests in other languages so she probably just needs a little guidance to write the tests.

[2018-07-11 22:46] codemaster94sb commented on #613
Yes i will do it.

Sent from my iPhone

On Jul 11, 2018, at 6:15 PM, Josh Greig <notifications@github.com<mailto:notifications@github.com>> wrote:

@codemaster94sb<https://github.com/codemaster94sb> do you feel up to doing this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/hhaccessibility/hhaccessibility.github.io/issues/6

[2018-07-11 22:54] joshi1983 commented on #613
@codemaster94sb did you find the invitation email?  Please accept so I can indicate that this issue is assigned to you.

[2018-07-11 23:03] joshi1983 opened #625 "Add phone number to location report"
We have the phone numbers for about 70% of locations and want to add that to the location report.

The red-circled area would be a great place to show it.
![image](https://user-images.githubusercontent.com/11838191/42603591-722868a6-853c-11e8-9efe-c63050e2eb30.png)

This task would involve modifying resources/views/pages/location_report/collapsed.blade.php.
If any CSS changes are needed, they can

[2018-07-12 16:08] M4ttoF commented on #621
@passionInfinite Have you pushed the branch you were talking to me on the phone about so I can start working on this?

@joshi1983 We could use this icon with some text next to it to warn the user. Its "exclamation-circle" from font awesome
![image](https://user-images.githubusercontent.com/19508538/42645495-2e3aaee8-85cc-11e8-90e9-166d959922cb.png)

[2018-07-12 16:10] joshi1983 commented on #545
@PravinaBhatt thanks.  It looks good to me.  @singlaneha2205 what do you think?

To test, I suggest these steps:
1. Go to https://app.accesslocator.com/contact
1. See that the link looks good and understandable.
1. Click the link and see that the link navigates to Survey Monkey.

[2018-07-12 16:17] joshi1983 commented on #612
@M4ttoF's changes were merged.  I also updated the automated tests to pass with Matthew's changes.

For testing instructions, I suggest:
1. Sign in and change something on the profile.
1. Click "Save Profile".
1. Verify that it navigates back to the home page.

[2018-07-12 16:22] M4ttoF commented on #564
@singlaneha2205
```Even though this isn't a functionality issue that can be tested, I'm relabeling "Ready for testing" in case you want to review, Blandine.```

There isnt anything to test, so I think you were wrongly assigned to it

[2018-07-12 16:32] singlaneha2205 commented on #312
@joshi1983 as suggested by you above. I changed the profile information and then tried to upload the photo without saving the changes. PFB the screenshot. Is the message displayed the expected one?
![untitled](https://user-images.githubusercontent.com/40703592/42646682-9aa84376-85cf-11e8-98b6-04e4126db33e.png)

[2018-07-12 16:38] singlaneha2205 commented on #545
@joshi1983 I tested the above and is working as expected. I was able to navigate to the survey and was able to complete the survey. I think we can go ahead and close the issue.

[2018-07-12 16:41] joshi1983 commented on #545
@M4ttoF did you receive our survey answers on Survey Monkey?

[2018-07-12 16:47] joshi1983 commented on #312
@singlaneha2205 yes that's the expected message.  That is expected based on how it technically works.

Do you think there's a better way to handle that?

[2018-07-12 17:03] singlaneha2205 commented on #312
@joshi1983 According to my view, I think it would be more appropriate to display an error message conveying user to save profile changes first, so that user can first save the changes and then upload the image. As per now if the user selects the popup displayed the changes made by him are lost. It is my suggestion the rest can be discussed among the team to see if this is best suitable for the app

[2018-07-12 17:06] joshi1983 commented on #522
@PravinaBhatt this will involve adjusting some JavaScript in public/js/utils.js and public/js/home.js.

There is some functionality to use the GPS coordinates when they're available.  Failing that, it uses Google Maps API to guess location of the user.  Failing that, it uses the coordinates of Windsor, City Hall.

Set location to the longitude and latitude of Windsor, City Hall whenever the GPS is

[2018-07-12 17:15] joshi1983 commented on #545
Matthew shared some information on how to access the survey data by email.  I'll close this issue as it has been tested by @singlaneha2205 and passed.

[2018-07-12 17:15] #545 closed

[2018-07-12 17:16] passionInfinite commented on #621
Yes it is named as new-version but wait for my go buddy :)

[2018-07-12 18:55] M4ttoF commented on #312
@singlaneha2205 I think the way it is right now is best. The current popup gives the user a choice to go back and save changes or lose the changes. If the user was messing around with settings or just didnt want to save the changes, they have the option to go back to a state they were previously comfortable with. We shouldnt be forcing them to save changes if they dont want to

[2018-07-13 19:33] parth7676 commented on #625
<img width="612" alt="changes" src="https://user-images.githubusercontent.com/14904762/42710145-d5b9996a-86b0-11e8-9580-cdcb24ee7bf4.PNG">

@joshi1983  Added phone number and minor css changes. Pull [#627](https://github.com/hhaccessibility/hhaccessibility.github.io/pull/627)

[2018-07-13 21:15] joshi1983 commented on #625
That looks great, @parth7676 .  I added some comments to the pull request to address some small technical details but it looks great in your screenshot.

[2018-07-14 20:49] passionInfinite commented on #615
@joshi1983 @Blandine-AA For now the internal feature is remaining which will be resolved soon. I would like to have @singlaneha2205 to test this manually first then she can start writing unit tests.

[2018-07-15 12:46] Blandine-AA opened #631 "June focus group testing : accessibility percentage display not useful"
We need to rethink how we present the accessibility information to the user.
During the focus group testings, the user found showing accessibility percentages confusing than useful. They wondered what was accessible  event if it showed  a high accessibility percentage, instead of the accessibility  information.

User suggested to only show 100% or 0% accessibility, or not use percentages at all. J

[2018-07-15 21:11] singlaneha2205 commented on #612
@M4ttoF and @Blandine-AA  I tested the above issue and it is working as expected. The user is navigated to the home page when changes to profile are saved.  I think we can go ahead and close the issue.

[2018-07-15 23:52] joshi1983 commented on #461
@Henry-Hao's suggestion feature was merged so suggestions can be submitted and saved.  Some work is remaining to let users review suggestions they submitted and let users with authority to implement the suggestions to review other people's suggestions and potentially implement the changes.

I think for suggestions submitted by the current user or that can be processed by the current user, a link s

[2018-07-16 00:07] Henry-Hao commented on #461
Thank you, Josh.

Since the other two tabs 'My Reviews' and 'My Locations' are designed to open a new page i would suggest  apply the same strategy to Suggestions.

For all of the three tabs, maybe the example below would gives a better choice.
<https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_tabs_dynamic&stacked=h>

[2018-07-16 01:02] Henry-Hao commented on #461
For the part of 'Suggestions of My Locations' I think we can simply put a link to a column in the My Locations list which would redirect the page to all the suggestions related to this specific location add by the current user. And for the 'My Suggestions' we can list them the same way as 'My Locations' does.

Also I totally agree with you about storing the information between the suggestions and

[2018-07-16 10:40] joshi1983 commented on #461
A separate page for reviewing a specific suggestion would be better for screen readers and should keep the features separated better.  The modal is good for most users but using a modal requires us to eventually make a full page alternative anyway for people using screen readers.

[2018-07-16 15:01] M4ttoF commented on #558
After looking at this site for a bit it seems like it would be troublesome to use for information. On pages with accessibility information it will only say which services ARENT available. So you'll just be able to know where you cant go rather than where you can go. For the places that are high rated it just says "Perfect" but I'm not sure what all that implies.

[2018-07-16 15:03] M4ttoF commented on #631
We could keep the percentage for users without accounts and change it for users who do. We could just use a Checkmark or X to indicate whether or not the place provides the services they've indicated that they require

[2018-07-16 18:26] singlaneha2205 commented on #611
@M4ttoF, @joshi1983 and @Blandine-AA I tested the above scenario. When I am signed in it is working as expected. If the location related to my keyword doesn't exist I am displayed with the button of Add new location and I was able to add a dummy location successfully.
But when the user is not signed in, the user is displayed with two options: To add location either sign in or sign up. When the use

[2018-07-16 19:12] singlaneha2205 commented on #312
@M4ttoF and @joshi1983 I have tested the issue on Safari browser on iPhone7 and it is working fine. But I don't have a resource to check this on MAC. If the testing on iPhone browser seems enough then we can go ahead and close the issue.

[2018-07-17 03:03] joshi1983 commented on #611
@singlaneha2205 nice suggestion.

@M4ttoF can you make a new pull request that just updates your links to /signin to be to /signin?after_signin_redirect=/add-location.

The signup form doesn't have support for after_signin_redirect yet so you will have to add that support to the controller.

[2018-07-17 18:20] M4ttoF commented on #609
Based off of the discussion was is not concluded that we should just leave the captcha as it is? It's currently the best option available to keep us safe from bots.

Does the user have the option to zoom in on their mobile phone to better see the pictures?

It was already stated that there is nothing we can do from our end to ensure the user only gets checkbox so the images will have to stay so lo

[2018-07-18 14:34] M4ttoF commented on #611
Changes have been merged so I am going to reassign @singlaneha2205 and change tag

[2018-07-18 16:31] joshi1983 opened #634 "Navigate user to add location feature after signing up from a link on location search"
When users are not signed in and they search for a location but can't find any, a link to sign in and sign up is shown like this screenshot:
![image](https://user-images.githubusercontent.com/11838191/42894916-3306b8b8-8a86-11e8-8e0d-f65235b16487.png)

We want both the Sign In and Sign Up to navigate back to the add-location feature upon completing the sign in or sign up.  This was completed for S

[2018-07-18 16:34] joshi1983 commented on #611
The changes were deployed to https://app.accesslocator.com for testing but the "Sign Up" button was not affected.

Another issue #634 was created to document the remaining work that @singlaneha2205 wanted for the Sign Up workflow to navigate back to the add location feature eventually.

[2018-07-19 14:22] singlaneha2205 commented on #611
@joshi1983 @M4ttoF and @Blandine-AA I have tested the flow and it is working as expected. When the user is not signed in and search for a location using keyword and then select the sign in option to add the location which was not found. He was navigated to add location page and after that was able to add the dummy location successfully.

Since we have another issue #634  opened for signup flow reg

[2018-07-19 14:34] M4ttoF commented on #611
Closing as issue was tested successfully

[2018-07-19 14:34] #611 closed

[2018-07-19 15:04] M4ttoF commented on #634
I could start working on this.

@passionInfinite should I wait for you to finish #615 or am I good to go?

[2018-07-19 15:18] passionInfinite commented on #634
@m4ttoF I have already completed #615 just waiting for PR to be merged!

[2018-07-19 17:22] M4ttoF opened #636 "Mac's is incorrectly categorized as an association in database"
Mac's is currently labelled as an "Association & Organization" even though we want to save that for non-profit companies.

[2018-07-19 19:21] M4ttoF opened #638 "Getting more user ratings"
After talking with Blandine we were talking about a potential of asking users for reviews when we detect their current location is at a spot with no review.

I know that google is only able to do it because they have a phone app which is constantly able to see the user's current location, but maybe we can figure out a way to do something similar?

[2018-07-19 22:55] joshi1983 commented on #636
Those changes were merged and deployed to https://app.accesslocator.com.

[2018-07-19 22:57] joshi1983 commented on #636
I'll close this immediately because this is just a simple data change and there isn't much to test about it.

[2018-07-19 22:57] #636 closed

[2018-07-20 17:02] joshi1983 commented on #168
I reopened this because it may help with #638.

[2018-07-20 18:46] Henry-Hao commented on #461
@joshi1983
I created a mock up image for the suggestion review.
Could you please give me some advice, thank you?
![ac](https://user-images.githubusercontent.com/15081847/43019606-8f368392-8c2b-11e8-874b-3be19b6ad5a6.jpg)

[2018-07-20 18:56] singlaneha2205 opened #643 "Issue with the change password."
When I tried to change the password for my Profile. I found that the flow is accepting my same password as the new password. According to my view, if the user enters the same password as the new password, the user should be given an error message saying the new password can't be the same as the current password. But right now the application is accepting my current password as the new password.

[2018-07-20 19:07] M4ttoF commented on #638
After reading more into Progressive Web Applications, I have found that is it possible to send push notifications to the user, EVEN if the app is not currently open for them, be it desktop or mobile.

We can discuss the possibility of transitioning to a PWA at the meeting tomorrow and if we do, this is a possibility.

[2018-07-20 21:12] joshi1983 commented on #643
I think any developer looking for work can do this.   It'll require some PHP changes in the server.

I'm trying to get more of Hardik's pull request for #615 which appears to touch similar code but it seems best to just handle any rebasing issues as we go rather than block someone from working on this.

[2018-07-21 00:20] Henry-Hao commented on #461
@joshi1983
I'm sorry but actually I didn't get it. Please correct me if I'm wrong.
There are two pages for different functionalities, one for the user to review all the suggestions binded to the locations which are added by the current user, which means the creator (the current user) has the authority to accept or drop all these suggestions related to this location. In this case, the user can acce

[2018-07-21 00:46] joshi1983 commented on #461
Does this clarify how it would work?  We could have a call about it.

My Locations: would have a column saying how many suggestions are pending for each location.  The number of suggestions can link to "List Page".  The link would specify the location id so the other page can list suggestions specifically for 1 location.

List Page: lists all suggestions for a single location.  Each row links to S

[2018-07-21 00:50] Henry-Hao commented on #461
Yes, I got it. So basiclly I don't need to list the detailed information for each suggestion in the List Page. Instead, a link of the item on List Page will redirect to a page which shows it.
Thank you, this helps a lot.

[2018-07-21 14:57] M4ttoF opened #647 "Voice Integration with Siri"
Brought up in the meeting on July 21th 2018.
This would be useful for user who are unable to control their device with their hand properly.

[2018-07-21 15:07] M4ttoF opened #648 "Resend Verification Email Button"
If user did not receive the email the first time they tried to reset their password, we should give them an option to resend the email

Here is a mockup from Hardik:
![image](https://user-images.githubusercontent.com/19508538/43095323-778673a6-8e83-11e8-989f-9e2cea3abdfb.png)

[2018-07-21 16:43] M4ttoF commented on #538
After discussing this in the meeting, we should change default value to 15km rather than 0.01km

[2018-07-21 19:00] stephanosm commented on #538
Also the increment to be 1Km not 0.01Km

[2018-07-22 12:23] joshi1983 commented on #647
The work for this isn't very specific but we essentially just want to research how to make the site work better with users who rely heavily on products like Siri, Google Now, and Cortana.

Here are some questions to give this research some more specific goals.

This issue could involve testing the application on an iphone with Siri, Android devices with Google Now, Google Assistant, or Cortana.  D

[2018-07-23 12:46] M4ttoF opened #650 "Make users stay logged in for 24 hours"
To make things easier for the users, we discussed that it would be best to enable them to stay logged in for a longer amount of time

[2018-07-23 12:48] M4ttoF opened #651 "Make search results start with a map"
It would be best for users if they could first view the map, and then opt to switch to the table view as the map is more visually friendly

[2018-07-23 12:59] M4ttoF opened #652 "Changing layout of place description"
In #631 we discussed that the percentages were not being useful for the users and then decided it would be better to change the way we display the accessibility information.

![image](https://user-images.githubusercontent.com/19508538/43077656-179ee752-8e56-11e8-8b95-7b3ad37bdb49.png)

this is a sketch of what we were talking about in the meeting. The X's will be used for all ratings  <50% and the

[2018-07-23 14:17] M4ttoF commented on #634
After looking further into this issue, we would have to change the way we send out emails for this to happen. Users must confirm their email before they log in, so we would have to include the redirect in the verification email we send out to them

[2018-07-23 15:44] joshi1983 commented on #650
I think this would involve updating lifetime in app/config/session.php:

``    'lifetime' => 120,```

I think the 120 is the number of minutes that the session should last.

[2018-07-23 15:47] joshi1983 commented on #651
If signed in and the associated account indicates that a screen reader is used, it would still be good to redirect to the table by default.

[2018-07-23 15:54] joshi1983 opened #656 "Create spreadsheet of all short versions of the questions"
Create a spreadsheet listing all the short descriptions or names associated with our 58 questions.

This will block work on #652.

[2018-07-23 15:58] joshi1983 commented on #652
It seems best not to work on this until the shortened question data is ready.  If a developer guesses at some question list data, it won't be mergible or deployable because the question data needs to convey the correct meaning.

[2018-07-23 16:25] joshi1983 opened #657 "Location Search Map suggestions from Stephanos"
Stephanos suggested in Saturday, July 21's meeting that we make the following changes to the location search map feature.

- [x] Let double-left click trigger a zoom in similar to how it does on the regular Google Maps service.  For example: https://www.google.ca/maps/place/Windsor,+ON/@42.3048191,-83.0337892,13z/data=!4m5!3m4!1s0x883b2ac1b54f886b:0xb66cd49527fcdc51!8m2!3d42.3149367!4d-83.0363633

[2018-07-23 16:34] joshi1983 commented on #634
Yes, the emailed link would probably need to change when a redirect parameter is passed to the signup feature.

There was talk of making a password confirmation resend link feature.  It is probably taking things too far to worry about redirecting to the add location feature after the initial sign up email doesn't get through.

[2018-07-23 16:40] M4ttoF commented on #651
@joshi1983
Made a new commit and that's now covered in #653

[2018-07-23 17:10] joshi1983 commented on #648
During the meeting, I wasn't sure why we'd have 2 features for this.  @passionInfinite suggested having a separate Email recovery from password recovery feature.  I understand that there are 2 cases that we as developers need to manage:
1. User hasn't verified their email account yet.
2. User has verified their email account but forgot their password.

I still don't understand why we'd have two fe

[2018-07-23 18:21] M4ttoF commented on #648
instead of making 2 features that do the same thing, I instead made it an option for the user to be able to resend the verification after they already complete the forgotten password page.

[2018-07-23 19:48] M4ttoF commented on #651
PR has been merged so I'm going to close this issue

[2018-07-23 19:48] #651 closed

[2018-07-23 21:11] stephanosm commented on #652
I like the new design for DOS   :-)

[2018-07-23 23:52] joshi1983 commented on #650
This is ready for testing on https://app.accesslocator.com.

The testing method I suggest is pretty different.  I didn't actually test this so it'll be important to do this.
1. Sign into https://app.accesslocator.com/signin
1. Keep your browser tab open for 2 and a half hours.  The old life span was 2 hours and the extra half hour would be a generous buffer.  If your internet cuts out, that should

[2018-07-24 01:49] joshi1983 commented on #613
I think the best way to handle this would be to remove the Search Location fields completely.  Those fields are confusing and virtually useless on the profile and they add to the clutter of the profile.  We have people complaining about too many questions to answer on the profile and removing those 2 should save it.

[2018-07-24 01:52] joshi1983 commented on #643
Issue #648 is related and @M4ttoF is taking that on so I'm assigning him to this.

[2018-07-24 02:10] joshi1983 commented on #651
I agree this was good to close.  Usually we get someone like @singlaneha2205 to test before closing but this issue looked very simple.

[2018-07-25 10:43] joshi1983 commented on #461
The new location edit feature was merged with pull request #661.  Get latest with your work since it could conflict with your changes.

When a user is looking at a location he created, the "Suggest Updates" button becomes "Update" and links to the new location edit feature instead of the suggestion dialog.  Other than that, a few routes changed in location.php which might affect how you wrote some

[2018-07-25 10:54] joshi1983 commented on #460
This is ready for testing.

The new feature can be viewed by:
1. Sign in at https://app.accesslocator.com.
1. CTRL+SHIFT+R to refresh cache and completely load any JavaScript changes.
1. Click "My Locations"
1. Click "+" to add a new location.
1. Fill out the information on a new location.  Play with the various requirements from #386.  Clicking on the map to move the location and update the addre

[2018-07-25 11:00] joshi1983 commented on #571
In the meeting, it came up that the person asking for this feature didn't use her phone to access Android apps or websites.  She only used it for phone calls which is why she wasn't aware of more conventional ways to increase the size of text on her device.

This feature would be quite costly to maintain because text could wrap and look bad all over the place and every feature would be tested with

[2018-07-25 11:06] joshi1983 commented on #634
This will be tricky to test locally due to email not being set up.  Other than getting email set up locally or temporarily commenting out code used to send email, I don't have many suggestions around that.

Essentially breaks down to:
1. Include the redirect parameter in the URL sent to the email link.  Something like: /signup?redirect=/location-add
1. Adjust the signup to redirect to the specifie

[2018-07-25 23:00] joshi1983 commented on #643
This issue is concerned with Password Change, right?

![image](https://user-images.githubusercontent.com/11838191/43232020-e0b44794-903c-11e8-85e8-695285a83436.png)

[2018-07-26 02:08] joshi1983 commented on #610
#656 might help with this.  The shorter wording should make the list look smaller.

[2018-07-26 11:43] joshi1983 commented on #648
I merged Matthew's latest changes for this issue and deployed them on https://app.accesslocator.com.  That seemed like a good improvement but there's a final part that would help this issue some more.

It would be nice to also send the email verification link instead of the password reset link when the email hasn't been verified for the specified email address.  @M4ttoF can you make a new pull req

[2018-07-27 02:56] joshi1983 commented on #168
I deployed the manifest.json file change to https://app.accesslocator.com so anyone can add AccessLocator to their home screen on their phone.

@M4ttoF what would the next step be for implementing those push notifications regarding #638?

[2018-07-27 10:52] joshi1983 commented on #625
This is ready for testing.

The suggested testing steps are to follow these steps on both desktop and a mobile device:
1. Search for a location that has a phone number on https://app.accesslocator.com
1. View the report for that location and see if the phone number looks good(nice size and layout).
1. Search for a location that has no phone number.
1. View the report and see if the phone number an

[2018-07-27 21:41] singlaneha2205 commented on #650
@joshi1983 I tested the above issue and user remains logged in after 2.5 hours on inactivity. I think its working fine. We can go ahead and close the issue.

[2018-07-27 22:41] joshi1983 commented on #650
Great.  Thanks for patiently waiting for it.

I'll close now.

[2018-07-27 22:41] #650 closed

[2018-07-28 13:32] joshi1983 commented on #652
I assigned @Blandine-AA not so she can work on this but so it is clear that this issue isn't available for any development until #656 is complete and we have the shortened question content that will replace our current user interfaces on profile and the location report.

[2018-07-28 13:53] joshi1983 opened #669 "Location suggestion dialog improvements"
@Henry-Hao has been implementing lots of suggested edit changes for #461 including the suggestion edit feature we have merged in master and deployed on https://app.accesslocator.com.

To see the new location suggestion feature:
1. Sign in.
1. Find a location and view its location report.
1. Click either the "Update Suggestions" button or the bug icon near the upper-right.

While Henry is finishing

[2018-07-28 13:56] joshi1983 commented on #669
@parth7676 do you want to work on this?

[2018-07-28 17:52] singlaneha2205 commented on #625
@joshi1983 I tested the above scenario and it is working as expected. You can see the screenshot for reference as below. I think we can go ahead and close the issue.
![image](https://user-images.githubusercontent.com/40703592/43359253-5baae2d2-926d-11e8-9b45-25aa1331cc9a.png)
Without Phone number
![image](https://user-images.githubusercontent.com/40703592/43359257-65f92c3a-926d-11e8-9e2f-6c61c6c63

[2018-07-28 17:59] joshi1983 commented on #625
Thanks for giving it a go, @singlaneha2205.  I'll close now since it was tested by Neha, myself, and Parth.

[2018-07-28 17:59] #625 closed

[2018-07-28 18:07] singlaneha2205 opened #670 "Inconsistency on location report page!"
While going through different locations  I noticed that we have inconsistency on location page. For some locations we have buttons displayed as Suggest Updates, Accommodation and so on, while for others we have icons for the same features. I think it should be uniform across the application. Please refer to below screenshots for further reference.
Buttons with names:
![untitled](https://user-image

[2018-07-28 18:10] singlaneha2205 opened #671 "Location name overlapping with Universal and Personal button."
While going through different location. When I navigated to location "University of Windsor Conference and accommodation center"  I noticed that the name of the location overlap with the Universal and Personal buttons. Please refer to below screenshot.
![untitled](https://user-images.githubusercontent.com/40703592/43359437-7625f91e-9270-11e8-85b3-17a6c1945ffa.png)

[2018-07-28 18:35] joshi1983 commented on #670
Those buttons can use some improvements but the decision between icons and words is intended to be based on a mixture of available space and the number of buttons.  In those screenshots, there are more buttons in the case that uses icons.

[2018-07-30 00:36] joshi1983 commented on #623
Part of the tests for this was added in LocationRatingTest.php but it save a rating answer and doesn't submit.

[2018-07-30 01:21] joshi1983 commented on #671
http://michikono.github.io/boxfit/ may be useful for shrinking the text when it gets too long for the available space.

[2018-08-01 10:42] joshi1983 commented on #643
@singlaneha2205 you wrote the issue so basically test that it behaves the way you want.

It is deployed on https://app.accesslocator.com so test there.

[2018-08-01 16:02] singlaneha2205 commented on #643
@joshi1983 I tested he above issue it is working as expected now. The application is not accepting the same old password as the new password. We can g ahead and close the issue

[2018-08-01 16:27] joshi1983 commented on #643
Thanks for testing, Neha.  I'll close.

[2018-08-01 16:27] #643 closed

[2018-08-01 16:38] singlaneha2205 commented on #460
@joshi1983 I tried testing the issue. But I could not locate the update button on the edit location page. Please find below the screenshot of the edit location screen.
![untitled](https://user-images.githubusercontent.com/40703592/43535324-a4d6f35c-9587-11e8-8e04-b971e2615aa7.png)

[2018-08-01 17:10] joshi1983 commented on #460
@singlaneha2205 that is the edit feature I was suggesting to find.

I was just describing how to get there.  On the location report, there is an "Update" button available for any locations you created.  If space is limited or there are plenty of buttons in the upper right area, a bug icon will show instead of the word "Update" as shown in this screenshot:
![image](https://user-images.githubusercon

[2018-08-01 18:51] singlaneha2205 commented on #460
Yes I will do the testing ahead!!!!

[2018-08-02 10:55] joshi1983 commented on #460
@stephanosm I think the icon for a button that updates information was picked because if the information is wrong or incomplete, it is like a bug.  @Henry-Hao is that why you picked the bug icon for suggesting updates?

@stephanosm do you have another icon in mind?

[2018-08-02 10:59] joshi1983 commented on #109
#652 is replacing the work from this issue with a different overhaul of the user interface.  It would be a waste to continue work on these older requirements when they'll be replaced soon.

For these reasons, I'm closing the issue.

[2018-08-02 10:59] #109 closed

[2018-08-02 14:42] stephanosm commented on #460
I wonder though if users understand this. Bug is typically a term used by developers. We will have to test it

[2018-08-02 15:13] stephanosm commented on #460
I am not sure, really. We can keep it as it is for now and in a future focus group we need to ask users about this.

[2018-08-02 15:50] joshi1983 commented on #669
I passed these improvement ideas by Henry and he agreed with them.

[2018-08-02 15:54] joshi1983 commented on #460
Ok, we'll keep the icon as is for now.

[2018-08-02 15:55] joshi1983 commented on #460
I replaced the Failed Testing label with Ready for testing because @singlaneha2205 said that things are clear enough for her to retest it.

[2018-08-03 12:57] M4ttoF commented on #648
changes were merged so I'm closing this issue

[2018-08-03 16:09] singlaneha2205 commented on #460
@joshi1983 I tested the issue with above instruction and they are working as expected. We can go ahead and close the issue

[2018-08-03 16:11] joshi1983 commented on #460
ok, I'll close this because it has been tested.

[2018-08-03 16:11] #460 closed

[2018-08-03 16:20] joshi1983 commented on #437
Matthew's work was merged.  I'm closing this without any third party testing from someone like Neha because there is nothing she can test for it.  The tool isn't available on https://app.accesslocator.com and none of the data from the tool was included there.

[2018-08-03 16:20] #437 closed

[2018-08-04 13:00] joshi1983 opened #676 "Create a tool to collect Google Accessibility information"
We want a few Python scripts to help us gather accessibility information from Google. Google has some https://www.google.com/accessibility/blog/post/building-maps-everyone.html

Here are a few specific requirements:
- Written in Python(latest version preferred)
- All the new scripts should be stored in importers/google_places or importers/google_accessibility.  If it can be integrated with the exi

[2018-08-04 17:02] joshi1983 commented on #648
I'm reopening to give @singlaneha2205 the opportunity to test this.  I encouraged the password recovery and email verification to be handled by the same link and form.  Neha, do you like the result?  It is on https://app.accesslocator.com?

[2018-08-05 16:00] joshi1983 commented on #634
@jagrutipatel199320 will be unavailable to work on this for a month and has no changes implemented yet so another person can take this on.

[2018-08-06 02:02] singlaneha2205 commented on #648
@joshi1983 I tested the above issue and was able to receive the mail to reset the password. The only issue is with the content of the mail received. The email address that I used was not confirmed earlier but the mail received was regarding the password reset which could be quite confusing. According to my view we should have a check here before sending out the mail. If the user account id is veri

[2018-08-06 17:52] joshi1983 commented on #648
I forgot to deploy Matthew's latest change for this.  @singlaneha2205 will it help if I delete some of your user accounts?  Are you creating new email accounts to test this?

[2018-08-06 20:58] singlaneha2205 commented on #648
You can go ahead and delete the accounts but please do tell me what all are deleted.

[2018-08-07 16:33] M4ttoF commented on #634
forgot to assign myself while I was working on it, but I made a PR on it

[2018-08-07 16:39] joshi1983 commented on #461
The latest changes from Henry have been merged and deployed to https://app.accesslocator.com.

There are some improvements that #669 is covering.

@singlaneha2205 can you try the new suggestion feature out and see if you can think of improvements beyond what #669 covers?

[2018-08-09 20:28] singlaneha2205 commented on #621
@M4ttoF I tested the issue and is working as expected. The user is given the message indicating the caps is on. We can go ahead and close this issue.

[2018-08-10 16:50] joshi1983 commented on #621
I'm closing this as Neha tested it and found no problems.

[2018-08-10 16:50] #621 closed

[2018-08-12 22:46] joshi1983 commented on #671
The fixes were deployed to https://app.accesslocator.com.

The specific location was mentioned at:
![image](https://user-images.githubusercontent.com/11838191/44007144-754b950e-9e5e-11e8-8470-a50a838caa57.png)

Here's a link if it helps:
https://app.accesslocator.com/location/report/00000000-0000-0000-0000-000000010270

A location with the longest name is at:
https://app.accesslocator.com/location

[2018-08-12 22:54] joshi1983 commented on #648
I deleted the following:
- singlaneha2205@gmail.com
- nsingla009@gmail.com

I noticed another account with your full name but didn't delete because you had answers associated with it.

Can you retest it now?

[2018-08-14 18:42] singlaneha2205 commented on #648
@joshi1983 I tried testing the issue but I think there is problem with the appplication as I am not able to login neither I am able to sign up with the new email id. So for the time being I am marking it as testing failed

[2018-08-14 19:01] M4ttoF commented on #648
@singlaneha2205 currently there is an issue with with the service worker from #680 interacting with the captcha that I didn't see in testing. @joshi1983 can you undo the merge of the service worker as it seems to be interacting oddly with other parts of the app. After that the test can be redone.

[2018-08-15 16:18] joshi1983 commented on #648
@M4ttoF the service worker changes aren't merged.  I temporarily deployed it roughly a week ago, though.

You may need to clear all cache from your browser to eliminate the effects of the service worker.  It looks like service workers stick around even after hitting CTRL+SHIFT+R.

Were you able to get the signup email, Neha?  I tested with a hotmail account just now and the processed ended with me

[2018-08-15 16:27] M4ttoF commented on #648
Not only hard refresh the cache, I also had to do this to get rid of the service worker
![image](https://user-images.githubusercontent.com/19508538/44159776-78599a00-a086-11e8-86b6-a421740e79ed.png)
Also I just tested the registration with a temporary email and I was able to get the sign up message
![image](https://user-images.githubusercontent.com/19508538/44159837-9d4e0d00-a086-11e8-98b1-e002d4d

[2018-08-16 02:25] singlaneha2205 commented on #648
@M4ttoF I tested the above issue and it is working fine. I am able to signup a new email successfully and was able to use the account recovery flow successfully too.

[2018-08-16 10:50] joshi1983 commented on #648
While testing for myself just now that the emails are received, I found a bug when submitting an account recovery form but merged a fix for it and tested that it worked on https://app.accesslocator.com.

I'm closing this issue because Neha and I tested and see no problems with this issue now.

[2018-08-16 10:50] #648 closed

[2018-08-16 16:51] joshi1983 commented on #634
This work has been merged and deployed to https://app.accesslocator.com.

Suggested test steps are to:
1. Be signed out on https://app.accesslocator.com.
1. Try to find a location that doesn't exist.  Narrow your search radius, add keywords until no location matches the search criteria.
1. Go to the "Table" view for location search and see the buttons for "Sign In" and "Sign Up".
1. Click "Sign Up

[2018-08-17 23:11] joshi1983 commented on #394
I'm attaching a couple files that Shawn emailed me.  They're the work that was done toward this import tools so far and ready for someone else to polish them up and make a pull request.
[mcdonalds.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/2298940/mcdonalds.zip)

[2018-08-21 01:54] Blandine-AA commented on #656
@M4ttoF Here is the list of criteria for the Profile page with the mapping to the criteria questions on the rating page.
The layout requirement #652 can still be worked on regardless of this document availability.

[Accessibility Criteria for profile - 20Aug2018.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/2304458/Accessibility.Criteria.for.profile.-.20Aug2018.pdf)

[2018-08-21 01:57] Blandine-AA commented on #652
List of accessibility criteria for Profile page is now available under #656

[2018-08-21 02:10] Blandine-AA commented on #669
Is @Henry-Hao working on this?

[2018-08-21 02:40] joshi1983 commented on #656
![image](https://user-images.githubusercontent.com/11838191/44377235-dabcfb00-a4c9-11e8-997d-eef960d57507.png)

In the blue-circled area, it looks like 2 questions are getting merged under a single name, "bathrooms".

Is it correct that you want multiple questions to be merged with the new feature?

[2018-08-21 02:55] joshi1983 commented on #669
@Henry-Hao do you want to work on it?  I didn't hear from @parth7676 in 3 weeks which is probably his way of say, "No, I'm not interested in working on this.".

[2018-08-21 02:57] Henry-Hao commented on #669
@joshi1983 Ok, I will do it these days.

[2018-08-21 03:03] joshi1983 commented on #669
ok sure.  I assigned you.  Let me know if you run into trouble.

@parth7676 thanks for your help on other issues.  Let me know if or when you want to get more practice from AccessLocator or see some tasks of more interest to you.

[2018-08-21 11:54] joshi1983 commented on #652
I'll get a migration script and some data changes on the question table merged tonight and then this should be ready for someone else to create the migration script and data changes for the question names pending Blandine answers a little question on #656.

[2018-08-21 13:27] M4ttoF commented on #638
@joshi1983 @Blandine-AA
How long should the interval between notifications be?
Also what all should we check before sending it. Does the location have any reviews? Is there a current notification active?
Do we add a feature so the user can disable notifications on their profile?
What conditions should my commit meet before I can merge it? I currently have the notification message and interval setu

[2018-08-21 14:08] M4ttoF commented on #652
Instead of green and red like originally suggested, should we stick to blue and grey like we did for the pie charts? This way our colour scheme would be more consistent.
![image](https://user-images.githubusercontent.com/19508538/44406666-31f2b800-a52a-11e8-9041-01db4e112733.png)

[2018-08-21 17:05] joshi1983 commented on #652
@M4ttoF I think some type of green and red or blue and red can still be good.  In the application, we use a dark red for validation messages.  The green and red are also used outside of the application in traffic lights, stop signs, other road signs to illustrate when things are "good" or "bad" or "good"/"needs attention".

It would be good to use the same red as used for the validation messages t

[2018-08-21 17:42] Henry-Hao commented on #669
@joshi1983 In subtask 2, instead of the message, what about simply disable the submit button when the suggestion is the same as the original since this suggestion is useless?

[2018-08-22 00:56] Blandine-AA commented on #656
The problem we had on the Profile view was the huge number of questions. We want the user to be able to set his profile based on features and not specific questions. If a user is interested to know whether or not there are bathrooms at a specific location, it doesn't matter if they are unisex or not. We will provide the response to both questions, but he only needs to set one parameter.

I have tr

[2018-08-22 12:50] joshi1983 commented on #669
The changes from Henry were merged and deployed to https://app.accesslocator.com.  This is ready for testing.

[2018-08-22 12:57] joshi1983 commented on #656
Do you still want both the unisex and bathrooms questions to show in the location report?

If the unisex question isn't represented anywhere but when rating, I don't see a reason to continue having it.  It would also raise more questions about the rating calculation since, unlike most other questions, the check or lack of a checkmark on it would hold double the weight on the overall percentage com

[2018-08-22 13:51] Blandine-AA commented on #656
Why would it hold double the weight? Normally the question whether there are bathroom or not wasn't to be used in the calculation. It was meant, if I remember well to allow whether to expand to all the other questions or not. Same for the elevator.

The answer to the unisex/family bathroom, implies that there are bathrooms, whether is is unisex/family only, or with regular bathrooms as well.

[2018-08-23 14:54] M4ttoF commented on #656
I have updated my question.json with the pdf @Blandine-AA provided, but in cases such as the washroom which @joshi1983 brought up I am unsure what to do since there is still discussion on the topic. I would like for this to be resolved before I continue to avoid mistakes.
[question.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/2314990/question.zip)

I have included my que

[2018-08-23 16:29] joshi1983 commented on #656
I see you had trouble getting names for the "Curb cuts or ramps" questions too.  Yes, that's not clear from the spreadsheet.  The same challenge with the bathroom questions is in the curb and ramp questions.

[2018-08-24 03:28] Blandine-AA commented on #656
IT would be preferable for the user to only have one check for the bathroom availability feature on the profile and to be able to see the type of bathroom from the report. So, I guess option 2 would meet that requirement.

[2018-10-21 14:12] joshi1983 commented on #435
This is related:
https://www.reuters.com/article/us-airbnb-acquisition/airbnb-acquires-accomable-to-offer-home-rentals-for-disabled-travelers-idUSKBN1DG2H5

https://www.accomable.com redirected to https://www.airbnb.ca/?locale=en and had some DNS lookup issues when I tried hitting it a few more times.  Since AirBnB acquired accomable and the site is not working, I'll close this issue.  This site i

[2018-10-21 14:12] #435 closed

[2018-10-21 14:43] joshi1983 opened #693 "Always populate rating cache for every location"
AccessLocator looks useless to people who have disabilities and want to learn what places will accommodate their needs.  This is because only a few places have ratings in them.

Ideally, every location is rated and up to date but that's not realistic.  The location search feature shows ratings where unanswered or unrated information is essentially treated as "no".  AccessLocator can get smarter th

[2018-10-21 14:44] joshi1983 commented on #669
This hasn't been tested by a third person who wasn't involved with implementation and review but it should be good anyway so I'm closing the issue.

[2018-10-21 14:44] #669 closed

[2018-10-21 14:51] joshi1983 commented on #532
I'm very confident this isn't something we want worked on any time soon.
- We're focused on the Windsor and English-speaking part of North America for now.
- We're focused on disability-related accessibility.  Not language-related accessibility.
- People can use website translators on any website without us adding a feature for it.
- It would be an extra thing for screen readers to read to people

[2018-10-21 14:51] #532 closed

[2018-10-21 14:56] joshi1983 commented on #571
Since this feedback came from someone who doesn't use a smart phone for web browsing or for applications on it, this issue seems low priority.  The user wasn't from our target audience or (s)he'd know how to use the phone's zoom features.  If people actually from our target audience make similar complaints, we can reopen this issue but I doubt that'll happen.

For these reasons, I'm closing this i

[2018-10-21 14:56] #571 closed

[2018-10-21 15:00] stephanosm commented on #693
This is a good assumption and we should do it. This can actually quickly add ratings through out the country and perhaps US.

[2018-10-21 15:07] joshi1983 commented on #634
This works.  It hasn't been tested by someone other than the implementer and myself(reviewer) but it clearly works so I'm closing.

[2018-10-21 15:07] #634 closed

[2018-10-21 15:13] joshi1983 commented on #564
This is complete.  It isn't functionality any other volunteers needed to test.  After my June 15 comment, this became mainly something for Blandine to see for herself if she wanted to.  The information is now linked to my account so I'm closing the issue.

[2018-10-21 15:13] #564 closed

[2018-10-21 15:34] joshi1983 commented on #676
@bhaswanthchava did you end up finding any accessibility information from Google Places even by manually navigating the site?  AccessLocator has a pitch soon and any information you found could help us go to the pitch with a better understanding of our competitors.

[2018-10-21 15:53] joshi1983 opened #694 "Clean up focus group feedback"
This issue won't require any skills other than word processing.

This task is to type the answers that were hand written on paper.  A good deliverable would be a zip file containing a separate rtf file or Word document file for each survey.

**Context:**
Over the summer, a couple focus group meetings were held where Blandine collected survey answers from people who tested the application.  Their f

[2018-10-21 15:57] joshi1983 opened #695 "Remove Search Location and Search Radius from Profile"
The search location and search radius are used in the home and location search features.  There is no good reason to have it in the profile and the profile page is already the most tall and complex layout in AccessLocator.  The extra height lead to focus group testers complaining that they couldn't find the 'Save Profile' button.

![image](https://user-images.githubusercontent.com/11838191/4727664

[2018-10-21 15:59] joshi1983 commented on #538
This will be resolved by #695 which involves completely removing 'Search Location', and this distance from the profile.  For this reason, I'm closing the issue.

[2018-10-21 15:59] #538 closed

[2018-10-21 16:07] joshi1983 commented on #647
I unassigned @codemaster94sb because it has been a few months since this was looked at and didn't hear anything from him.  This issue should be available for anyone else to jump on.

[2018-10-21 16:08] joshi1983 commented on #631
I'm closing this because Matthew made an issue that took over the scope of this issue in #652.

[2018-10-21 16:08] #631 closed

[2018-10-21 16:10] joshi1983 commented on #498
I'm closing this because the focus group meetings happened already so this obviously got completed.

[2018-10-21 16:10] #498 closed

[2018-10-21 16:14] joshi1983 commented on #506
An example and explanation feature is implemented and no clear requirements were given for the redesign of this.  This won't be worked on until more feedback tells us that the example and explanation feature is problematic or there is a specific way it can be improved.

For these reasons, I'm closing the issue.

[2018-10-21 16:14] #506 closed

[2018-10-21 16:15] joshi1983 commented on #613
I'm closing this because another issue will resolve it by removing the Search Location feature from the profile.

[2018-10-21 16:15] #613 closed

[2018-10-21 16:20] joshi1983 commented on #570
I'm closing this for reasons mentioned in my previous comment and because of the months of no further justification to it.

[2018-10-21 16:20] #570 closed

[2018-10-21 16:27] joshi1983 commented on #398
I'm closing because:
- the requested report was made by Yashankit and included with a previous comment
- all reasonable improvements discovered by the testing have been implemented or included in other issues

[2018-10-21 16:27] #398 closed

[2018-10-21 16:36] joshi1983 commented on #461
I unassigned @singlaneha2205 to encourage any volunteers to test this.

[2018-10-21 16:41] joshi1983 commented on #30
I'm closing because this issue doesn't describe work that we want to complete.  Even when it is closed, people can refer back to it, continue to comment...  It will just be clearer to anyone looking for work that this issue is the wrong place to check.

[2018-10-21 16:41] #30 closed

[2018-10-21 18:52] joshi1983 commented on #671
I unassigned @singlaneha2205 so any volunteer can feel free to test this.

[2018-10-21 18:52] joshi1983 commented on #624
I unassigned @singlaneha2205 so any volunteer can feel free to test this.

[2018-10-21 18:52] joshi1983 commented on #623
I unassigned @singlaneha2205 so any volunteer can feel free to test this.

[2018-10-21 18:53] joshi1983 commented on #622
I unassigned @singlaneha2205 so any volunteer can feel free to test this.

[2018-10-22 03:17] joshi1983 commented on #695
This is ready for testing on app.accesslocator.com.

[2018-10-22 04:14] joshi1983 opened #697 "Move edit feature for names, password, and home address to separate page"
Context:
- Some users had trouble finding the 'Save Profile' button on the profile and the profile so tall that it scrolls even when viewed on a desktop in full screen.
- The names of the user, password, are saved before the user signs up and probably don't need to be adjusted frequently.
- The home address is not very important information and rarely updated.  There is a search location used in t

[2018-10-22 04:36] joshi1983 commented on #21
I'm closing this because the issue is for work that was done over a year ago and nothing came of it.

The City of Windsor's open data catalog was made use of even in the 2016 Hacking Health event that initiated AccessLocator and we didn't get any new accessibility information from the City of Windsor since then.

[2018-10-22 04:36] #21 closed

[2018-10-22 04:36] joshi1983 commented on #21
I'm closing this because the issue is for work that was done over a year ago and nothing came of it.

The City of Windsor's open data catalog was made use of even in the 2016 Hacking Health event that initiated AccessLocator and we didn't get any new accessibility information from the City of Windsor since then.

[2018-10-22 04:56] joshi1983 commented on #527
I'm closing because the issue appears to not be an actual bug.  It is more of a user not knowing that a delay was intentional.

[2018-10-22 04:56] #527 closed

[2018-10-22 04:57] joshi1983 commented on #527
I'm closing because the issue appears to not be an actual bug.  It is more of a user not knowing that a delay was intentional.

[2018-10-22 12:57] stephanosm commented on #695
passed!

[2018-10-22 12:57] #695 closed

[2018-10-28 15:37] joshi1983 commented on #697
This issue is ready for testing on https://app.accesslocator.com.

The profile now looks like this:
![image](https://user-images.githubusercontent.com/11838191/47618098-67290280-daa5-11e8-84d3-05b48296528c.png)

If there is no information on the home of the user, this "Indicate home region" link appears.

![image](https://user-images.githubusercontent.com/11838191/47618116-a3f4f980-daa5-11e8-9654-

[2018-11-04 11:34] joshi1983 commented on #615
This is being closed because the changes are too far from a mergeable state to be done in any near future.  Being such an internal concern, this also doesn't warrant the effort necessary to get it in any time soon.  Refactoring and code cleanup will be done in much smaller steps without breaking tests or needing to ask other developers to stop working on their feature and bug fixing changes as we

[2018-11-04 11:34] #615 closed

[2018-11-04 19:59] joshi1983 commented on #523
I'm closing this because there is no state/region selector on the profile anymore so a lot of this discussion doesn't apply anymore.  The search location selector was completely removed and the home region selector was moved to another page as part of #697.

[2018-11-04 19:59] #523 closed

[2018-11-05 11:47] joshi1983 opened #705 "Adjust home page layout to always show all 12 categories on laptops/desktops"
On mobile devices, scrolling is acceptable but there should be enough space to show all 12 buttons on a laptop or desktop.

Here is how the home page typically looks on a laptop:
![image](https://user-images.githubusercontent.com/11838191/47996244-df0ab480-e0c5-11e8-8691-51f203f863b1.png)

This could be accomplished by reducing height of a few things when the viewport is wider than 960 or so pixel

[2018-11-05 11:55] joshi1983 commented on #610
I like Matthew's suggestion with organizing them by disability.

vision, mobility, cognitive, other may be good disability-related labels to start with.

[2018-11-05 12:00] joshi1983 opened #706 "Fix bug on location rating on demo.accesslocator.com"
@stephanosm found something that looks like a bug where the location rating on the location search didn't match a location rating percentage in the location report.  This might already be fixed since a lot was improved since demo.accesslocator.com was last released but it is important to make sure.

@stephanosm can you remember what location that was?  Can you share a screenshot of the location se

[2018-11-05 12:03] joshi1983 commented on #656
The spreadsheet was made.  The information is also included with AccessLocator's seed data.  We're not using it in our user-interface yet but that's covered by other issues such as #652.

For these reasons, I'm closing this issue.

[2018-11-05 12:03] #656 closed

[2018-11-05 14:20] stephanosm commented on #610
I agree. There should be a single question as to where a user "belongs" with pre-checked criteria. Once a user makes his selection then all related criteria appear underneath with a message something like "Please ensure the below criteria apply to you" - showing all criteria. Then next to this message a message something like "Not now". This would be for users who are in a hurry to go through the

[2018-11-05 14:28] stephanosm commented on #705
Correct. I think though we should have this issue as part of the whole User Interface ease-of-use exercise. This way we may consider alternatives (other changes) as well. We need to investigate the flow, from the moment a register (and unregistered) user comes to site. In addition, we need to investigate whether we need all the elements shown on the screen and with the same order, e.g. Sign in/Sig

[2018-11-05 14:40] stephanosm commented on #706
I can't reproduce this. I think you can close this issue and if it exists it will show from the overall testing we need to do.

[2018-11-05 18:09] joshi1983 opened #707 "Create careers section on AccessLocator vanity site"
Some initial postings will include:
- Web Developers – PHP/MySQL, Laravel – Experience preferred
- Data Mining Specialist – Python, REST API experience preferred
- UX/UI Designer
- Tester
- Digital Marketing Expert –SEO, SEM
- Accessibility Rating Specialist
- Business Development Specialist – For coupons and Advertisers
- Video Creator

[2018-11-06 21:40] joshi1983 commented on #705
I shrunk the heights to fit with just 3 columns of location categories for now.  That looks better than it did so it seemed worth doing.  That's on https://app.accesslocator.com/ for you to look at.

Sure, we can widen the location categories area a bit to make room for 4 columns when the site is viewed on high resolution.  Want me to take a stab at that before next meeting?

[2018-11-10 16:12] joshi1983 commented on #707
Stephanos, can you give a quick look at https://accesslocator.com/careers and see if you like the job postings there?

[2018-11-10 16:53] stephanosm commented on #707
looks good. Maybe in the future we can add more info under each title.

On Sat, Nov 10, 2018 at 11:12 AM Josh Greig <notifications@github.com>
wrote:

[2018-11-10 18:43] joshi1983 commented on #707
Sure.  If you want any specific wording changes, we can do that.

I'll make a separate kijiji ad for each job posting.

[2018-11-10 21:03] joshi1983 commented on #707
kijiji has a new limit of only 1 ad per user so I'll find other ways to bring attention to the postings.

[2018-11-10 22:35] stephanosm commented on #707
ok.

I am in Toronto this weekend. Next week I will check on these in more detail.

On Sat, Nov 10, 2018 at 4:03 PM Josh Greig <notifications@github.com> wrote:

[2018-11-11 20:43] joshi1983 commented on #705
I'll close this since the original description of the issue is covered.  We can make a new issue if the 4 columns seems important after our next meeting.

[2018-11-11 20:43] #705 closed

[2018-11-12 11:33] joshi1983 commented on #82
This research has been conducted and we have our answers so I'm closing this issue.  Another issue will be made if and when @accesslocator.com email gets the money and priority required for implementation.

[2018-11-12 11:33] #82 closed

[2018-11-12 11:39] joshi1983 commented on #110
I'm closing since all of this work has been completed a while ago.

A lot of different requirements were discussed here.  Newer issues such as #695 improved on the layout designs in this issue by moving infrequently accessed profile features to other pages.  We'll keep making new issues to cover changes so the issues can be sharper focused and easier to implement.

[2018-11-12 11:39] #110 closed

[2018-11-12 11:41] joshi1983 commented on #112
I'm closing this for the same reason as closing #82.  We know that JMCC isn't willing to give us email accounts from their organization and we don't have money for an email service.  Having @accesslocator.com will look a little more professional but there are too many other things with higher priority to implement this any time soon.

[2018-11-12 11:41] #112 closed

[2018-11-12 11:50] joshi1983 commented on #326
I'm closing this for a few reasons.
- We're not using a data list in the profile anymore.  This was probably for a region input that was moved to another page with work from #695.
- The datalist was also replaced with a select.
- #212 and #254 are related and they're also closed.

[2018-11-12 11:50] #326 closed

[2018-11-12 11:53] joshi1983 commented on #657
A pull request for this was merged but the list of requested items needs to be tested by myself.

[2018-11-12 12:04] joshi1983 opened #710 "Indicate keyword filtering in location search when also filtering by location category"
If keywords like "Tim Hortons" were set and you click the "Accommodation" category, you won't find anything.  It may not be clear why you can't find anything because nothing will clearly show that you're filtering by both keywords and category.

This screenshot highlights the areas of interest for this issue:
![image](https://user-images.githubusercontent.com/11838191/48346364-e93e2d00-e648-11e8-9

[2018-11-14 12:49] joshi1983 commented on #394
I pushed up a branch but it needs more development.  For now, it downloads no data from McDonalds.

[2018-11-16 03:52] joshi1983 commented on #394
I pushed up some more work on the new McDonalds import tool.  It is almost ready for pull request and merge but I have to fix some problems when importing the CSV into our seed data.  There is a lingering Unicode character encoding problem.

[2018-11-17 03:14] joshi1983 commented on #394
The McDonalds import tool was merged along with roughly 100 new McDonalds locations added to our seed data and to app.accesslocator.com's database.  This includes some imported ratings related to WIFI and parking questions that were converted from parking and WIFI information available at mcdonalds.com.

There isn't any functionality to test for this so instead of keeping this open for testing, I'

[2018-11-17 03:14] #394 closed

[2018-11-17 03:38] joshi1983 commented on #404
This issue is as complete as it ever will be so I'm closing.  A lot more address and phone number information was added.  We also have a new suggestion feature which should help us add similar information when it isn't yet there.

[2018-11-17 03:38] #404 closed

[2018-11-17 03:40] joshi1983 commented on #657
I noticed the zoom in and zoom out feature doesn't affect search radius like it should.  This still needs some work.

[2018-11-17 18:08] joshi1983 commented on #392
I merged a new Tim Hortons import tool.  It doesn't include any accessibility information, unfortunately.  Between the time the issue was made and now, the features that once showed if WIFI was supported and indoor seating was removed from timhortons.com and I wasn't able to find the information elsewhere on the site.

I'm closing this issue instead of leaving it open for testing since there is no

[2018-11-17 18:08] #392 closed

[2018-12-10 11:35] joshi1983 opened #721 "Cluster nearby locations on the location search map view"
We ultimately want to show 100's or 1000's of locations on a map in an elegant way.  The current technique has a problem where markers overlap each other.

![image](https://user-images.githubusercontent.com/11838191/49730011-0f092280-fc45-11e8-9fd9-f81ddcbc28e8.png)

Marker clustering solves this overlapping problem in a great way.  Here is a screenshot of how AccessNow.me(http://accessnow.me/map/

[2018-12-18 02:43] stephanosm commented on #721
what do the different colors mean? blue/yellow?

[2018-12-18 11:23] joshi1983 commented on #721
The different colours correspond with different numbers.

blue for less than 10
orange for between 10 and 100
red for 100 or more

Should the clusters be all the same colour regardless of size?  I guess it
could be confused with the average accessibility of the red ones being bad.

It is pretty clear that our individual markers should visualize the
accessibility level.

On Mon, Dec 17, 2018 at 9:4

[2018-12-20 02:15] joshi1983 commented on #721
Is this much better?
![image](https://user-images.githubusercontent.com/11838191/50259688-1235a880-03d3-11e9-8506-bd444355df73.png)

I deployed that change to https://app.accesslocator.com/location/search?location_tag_id=1 in case you want to use it.

[2018-12-20 02:37] stephanosm commented on #721
yeah it is better.

On Wed, Dec 19, 2018 at 9:15 PM Josh Greig <notifications@github.com> wrote:

[2018-12-20 10:30] joshi1983 commented on #721
I'm closing as this seems good enough for now.

[2018-12-20 10:30] #721 closed

[2018-12-21 15:40] joshi1983 opened #730 "Define a Privacy Policy for AccessLocator"
facebook.com authentication strongly cautions users that their personal information isn't secure when signing up.  Getting facebook authentication to trust AccessLocator enough to not warn visitors like we've done something horribly wrong requires us to complete a few things including a privacy policy.

A privacy policy was started at: https://app.accesslocator.com/privacy-policy.
It needs review

[2018-12-21 15:41] joshi1983 commented on #730
@stephanosm can you look over my initial draft of our privacy policy and let me know if you want any improvements?

[2018-12-21 18:31] stephanosm commented on #730
I read it and I believe it is ok.

[2018-12-22 14:45] joshi1983 commented on #730
Great thanks.

[2018-12-22 14:45] #730 closed

[2018-12-22 15:01] joshi1983 commented on #375
This bug is now fixed.

The home country, region, and city was moved to another page in November but that still left a bug in Edge where a lot of blank space showed in the country drop-down.  The empty space in the country dropdown was fixed with the deployment of a fix just now.

[2018-12-22 15:01] #375 closed

[2018-12-22 15:03] joshi1983 commented on #657
The zoom events were handled properly with some recent changes so I'm closing this issue.

[2018-12-22 15:03] #657 closed

[2018-12-22 15:19] joshi1983 commented on #697
I'm confident enough with this to not wait any longer for another person to test.

[2018-12-22 15:19] #697 closed

[2018-12-22 15:20] joshi1983 commented on #671
I'm confident enough with this to not wait any longer for another person to test.

[2018-12-22 15:20] #671 closed

[2018-12-22 15:32] joshi1983 opened #733 "Suggest location category changes"
The suggested edits feature is helpful for suggesting changes to name, phone number, website but we also want to suggest changes to location categories such as Restaurant, Accomodation...

Here is the current suggestion form:
![image](https://user-images.githubusercontent.com/11838191/50375977-1c72c500-05d4-11e9-9fd8-b6749a086801.png)

This change wouldn't be complete without also modifying our su

[2018-12-22 19:56] joshi1983 commented on #204
The work remaining for this issue is:
- [ ] when resetting a password, send 2 different emails based on whether the user is found in the database or not

[2018-12-22 20:28] joshi1983 opened #734 "Load Recovery Reply To Email from .env file"
We don't want anyone's email address tracked in the repository.  We want them maintained in the .env file.

For now, the reply to email address is hard coded in PasswordRecoveryController.php.

[2018-12-27 20:37] joshi1983 commented on #204
This is on https://app.accesslocator.com

[2018-12-27 23:50] joshi1983 commented on #734
@hari2684 did you want to take this on?

[2018-12-28 04:31] hariharan2684 commented on #734
ok

[2018-12-28 17:06] joshi1983 commented on #734
Nice.  Thanks.

Since some changes were merged that affected files you'll update in this issue, it is important to get latest before working on this.

There are instructions on how to get the latest merged changes at:
https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/git-commands

![image](https://user-images.githubusercontent.com/11838191/50522390-d799d300-0a98-11e9-8870-ce3bf2aee

[2018-12-28 23:06] joshi1983 commented on #670
I can't think of a better way to handle these buttons.  The issue was originally made based on a misunderstanding of how the icons and button text are determined rather than it really being a bug.  I think it is working as well as possible.

[2018-12-28 23:06] #670 closed

[2018-12-29 10:30] joshi1983 commented on #204
I removed the Under Development message and deployed that change to https://app.accesslocator.com.

I'm closing this issue as the only testing feedback has been handled and this issue looks resolved.

[2018-12-29 10:30] #204 closed

[2018-12-29 10:41] joshi1983 opened #738 "Location Search: Show accessibility in location search map markers"
One central purpose to AccessLocator is quickly seeing accessibility of locations the user is likely to visit and that is hindered when they need to go to individual location reports to find it.  We want people to see some accessibility information, even just a check or X on the location search map.

For now, all markers look the same regardless of accessibility like this:
![image](https://user-im

[2018-12-29 16:15] stephanosm commented on #738
That is a good idea. I have one concern though as most locations are not rated or not accessible I am worrying we will have not many green ones.
Should we include 2 more options, e.g. one empty with no icon for a not-rated location and one with exclamation or question mark for a partial accessible locations.  Also we need to decide what is partial and what is accessible. I recommend an Accessible

[2018-12-29 16:39] joshi1983 commented on #738
The lack of ratings should be filled in with ratings from similar locations in the next few weeks so I think we should focus on the case where we have at least some guess as to what the accessibility ratings should be.

This might be a good image for the partially accessible locations:
![partial-accessible-marker](https://user-images.githubusercontent.com/11838191/50540352-4856f300-0b5e-11e9-9bd1-

[2018-12-29 20:07] joshi1983 commented on #734
Thanks Hariharan.  It has been merged and deployed.

I'm closing this since I tested the changes and there isn't much reason to wait for a third person to test these changes.

[2018-12-29 20:07] #734 closed

[2018-12-31 12:07] joshi1983 commented on #738
@hariharan2684 here are the rating ranges for each marker image.
- red X - strictly less than 40
- orange - 40-65 inclusive
- checkmark - strictly greater than 65

This work should not affect how the clusters are indicated.

[2018-12-31 12:18] joshi1983 opened #742 "Complete Terms of Use document"
To prepare AccessLocator for promotion, we want to eliminate any remaining "Under Development" messages and make AccessLocator look very complete.

The Terms of Use document looks like this right now:
![image](https://user-images.githubusercontent.com/11838191/50560147-d56b8a80-0ccb-11e9-825f-54b4ba84da0c.png)

It is linked from the Sign Up page: https://app.accesslocator.com/signup.

It may save

[2018-12-31 12:31] joshi1983 opened #743 "Location Search: Add Paging Feature to Table View"
When more than 60 locations match the location search query in the location search's "Table" view, the locations are filtered down to roughly 60 anyway and a message is shown indicating that.

This extra filter is difficult to explain and understand for people.  The intent was to reduce clustering on the Map view and keep the Table view listing the exact same information as the Map.  Since complet

[2018-12-31 12:41] joshi1983 opened #744 "Fix facebook security warning"
When people sign in or sign up using facebook from https://app.accesslocator.com or https://demo.accesslocator.com, they see some warnings like this:
![image](https://user-images.githubusercontent.com/11838191/50560449-e1a51700-0cce-11e9-8887-20294385dd7f.png)

This appears to require some updated settings in our facebook authentication API.  These settings depend on completion of #742 and #731 (a

[2019-01-01 21:01] joshi1983 commented on #742
I merged but didn't deploy the new Terms of Use change.  I'll comment again when it is deployed.

[2019-01-06 21:37] joshi1983 opened #750 "Implement Location Image Upload Feature"
This issue is a large part of completing #411 but a separate issue seemed helpful because this chunk of work is easily described for a new developer on the project.

The work remaining on this issue includes:
- [ ] Add route and controller method to LocationImageController.php for uploading an image
  - [ ] If uploaded image is png, convert to jpg.  Convert any transparency to white if there is an

[2019-01-06 21:40] joshi1983 commented on #411
I created #750 which should cover most of the remaining work for this issue.

Some lingering work after that would be small improvements such as:
- Allow the image upload preview to rotate images in 90 degree intervals if they're uploaded in an undesirable orientation.

[2019-01-07 05:33] joshi1983 commented on #411
I added the image delete feature in case it helps the person who works on the image upload feature.

[2019-01-08 12:35] joshi1983 commented on #693
This still needs some work.  The ratings_cache field is in the location_group table now but I forget how much of it is working.  I think a lingering question was, "when should we recalculate the group's ratings_cache values?".  Maybe it should be done daily using a scheduled cron job.

[2019-01-16 17:09] joshi1983 opened #753 "demo.accesslocator.com and www.accesslocator.com improvements"
This issue is mainly for myself and keeping my work more visible to the team.

For demo.accesslocator.com, we want a partial release of recent changes which include:
- [ ] The terms of use document.  This could help us with #744.
- [ ] A fix to a race condition in location search.  Some script tags were in an order that made it possible for an unlucky visitor to get a JavaScript error when the mar

[2019-01-25 20:22] joshi1983 opened #754 "Include email address in contact email template"
The email address is in the contact form but it doesn't appear in the emails that get produced by submitting it.

![image](https://user-images.githubusercontent.com/11838191/51770775-d61df380-20b4-11e9-93c3-c40dca34f728.png)

[2019-11-16 14:06] joshi1983 commented on #744
I'm going to resolve this by removing both facebook and google buttons.  Both facebook and google require an application process be completed and some manual review.  We want the application maintained without any broken features like this until things are approved.  We'll remove the buttons for now and add them back only after each third party approves us to use them.

[2019-11-16 17:41] joshi1983 commented on #744
I'm also renaming "Account Recovery" to "Forgotten Password" since no accounts will work through google and facebook authentication for now and "Forgotten Password" is more common.

[2019-11-16 20:38] joshi1983 opened #758 "Fix bug when clicking location category in app.accesslocator.com"
![image](https://user-images.githubusercontent.com/11838191/68998895-5c930400-0886-11ea-9bf2-0e6689744b4d.png)

It took long time to load the screen and when it did I got the error. I tried the other categories and it took some time to load the screen too but I didn't get the error. I tried the Restaurant category again and this time worked fine! The problem it might be the time loading the data,

[2019-11-22 14:56] joshi1983 opened #759 "Create importer for essexregionconservation.ca"
There aren't a lot of locations here but there is information on bathrooms and these locations are interesting to anyone planning a trip to unfamiliar places.

This would involve writing an import tool for information from:
https://essexregionconservation.ca/location/