[2016-06-12 13:30] joshi1983 opened #1 "Start a data gathering tool for toiletfinder.com"
Studying some of the available api's and importing strategies will help brainstorm the database schema we plan to use for the accessibility app.  To get started, let's create a prototype for gathering data from toiletfinder.com's database.

[2016-06-12 13:36] joshi1983 commented on #1
I'll work on this issue(toiletfinder.com specifically) for now.  If anyone else wants to look into accessing other databases, go for it.  There are plenty of other databases/api's that could help us.  http://amenimaps.com/api is one that looks great.

[2016-06-12 19:04] joshi1983 commented on #1
Merge

[2016-06-12 19:04] #1 closed

[2016-06-12 19:05] joshi1983 commented on #1
I merged my own pull request for branch 'issue-1'.

[2016-06-12 19:12] joshi1983 opened #3 "Create prototype for interacting with http://amenimaps.com/api"
A prototype has been created for toiletfinder.com which scrapes information off web pages from the site.  Create a small application that can download and process data from http://amenimaps.com/api.  Convert the resulting data into JSON or CSV.

It may be useful to look at importers/toiletfinder.com if you need a model to build off.  Don't use Python if you prefer another language.  We haven't dec

[2016-06-13 15:10] joshi1983 opened #5 "Create prototype for importing data from toiletfinder.org (not toiletfinder.com)"
toiletfinder.org has some accessibility rating information that we may want in our accessibility project.

[2016-06-15 01:08] joshi1983 commented on #5
I merged my own pull request for this.  It includes some Python code to download, process, and create a CSV file from various locations on toiletfinder.org.

[2016-06-15 01:08] #5 closed

[2016-06-15 01:22] joshi1983 opened #7 "Create prototype for interacting with BathroomScout"
BathroomScout advertises to find 1.1 million toilets.  It is easy to find the downloadable Android and IOS applications but where is the app getting its data from?

This project may help:
https://github.com/mobilino/BathroomScout

[2016-06-15 01:24] joshi1983 opened #8 "Create prototype for interacting with https://toiletmap.gov.au"
This may get you started:
https://toiletmap.gov.au/Find

[2016-06-15 02:31] joshi1983 opened #9 "Create prototype for interacting with wheelmate.com"
wheelmate.com appears to use an api.

POST requests are fired to: http://www.wheelmate.com/ws/locations/get/
Using a search query represented by POST data such as:
types[]:toilet
types[]:parking
lat:42.292726405884636
lng:-83.002882
zoom:12

Try to collect lots of data from the site.

[2016-06-15 02:46] joshi1983 opened #10 "Create prototype for interacting with http://accessnow.me/map/"
http://accessnow.me/map/ claims to have information on roughly 10000 "pins".  Try to turn that information into a CSV file and merge the code you use to do that into the importers/accessnow.me folder in the main repo.

[2016-06-16 18:27] joshi1983 commented on #8
I merged work for collecting information from toiletmap.gov.au's api.

[2016-06-16 18:43] joshi1983 commented on #8
I reopened this since there clearly is more information to collect.  For example, https://toiletmap.gov.au/Toilet/8594 wasn't in the generated spreadsheet.  Also, there's information on toilets being for male, female, disabled... that wasn't captured in the generated spreadsheet.

[2016-06-18 20:15] joshi1983 opened #14 "Create prototype for interacting with ableroad.com"
Create a script or scripts to generate a CSV from the data collected from ableroad.com

Any code should probably go in importers/ableroad.com.

[2016-06-19 18:32] joshi1983 commented on #8
I merged some more work which added the extra detail that could be captured.  Over 18000 toilets were recorded in the csv file.

[2016-06-19 18:32] #8 closed

[2016-06-28 00:17] joshi1983 opened #17 "Create prototype for interacting with planat.com"
Create scripts for building a CSV file out of data on buildings/locations downloaded from planat.com.

The programming language is pretty much up to whoever takes this on but a few other import prototypes have been implemented using Python.

Any code should probably go in importers/planat.com.

[2016-06-28 00:20] joshi1983 opened #18 "Create prototype for interacting with wheelmap.org"
Create scripts for building a CSV file out of data on buildings/locations downloaded from wheelmap.org.

The programming language is pretty much up to whoever takes this on but a few other import prototypes have been implemented using Python.

Any code should probably go in importers/wheelmap.org.

[2016-08-13 23:24] joshi1983 opened #19 "Create a preliminary database schema"
Create a mysql script in db/create_tables.sql that creates the database tables without adding any data to them.

[2016-08-15 12:26] joshi1983 commented on #19
A pull request was merged for this to add db/create_tables.sql.

Remaining changes include:
- Add a unique constraint to username field of the user table.  We don't want duplicated usernames.
- The special needs of the user needs to be represented somehow.

[2016-08-16 23:15] joshi1983 opened #21 "Investigate open data in Windsor"
Investigate if there are any existing open data (in Windsor to start) that we could use for our baseline data.

[2016-08-16 23:41] joshi1983 commented on #19
I merged a new pull request to add the unique constraint to the username field of the user table in db/create_tables.sql.

[2016-08-16 23:50] joshi1983 opened #24 "Improve the database design/schema to represent special needs of user"
When a user fills out his profile, he needs to say what kinds of special needs he has.

Some questions we'd want answers to include:
- does he/she need to use a screen reader?
- Does he/she need to use large fonts?
- Does he/she need wheelchair access to bathroom facilities?

Consider how to represent this in the database design.

_How the user's special needs will be used_
- The database schema a

[2016-08-16 23:54] #19 closed

[2016-08-17 00:07] joshi1983 opened #25 "Investigate openstreetmap for potential use with the accessibility application"
Investigate openstreetmap.  This could include using it client-side using JavaScript pluggins or talking with openstreetmap api's to potentially augment our database or access it on demand.

[2016-08-20 16:44] joshi1983 opened #26 "Investigate Jaccede.com"
Jaccede.com is a french app that does something similar to what we want to do. They have Andoid and Ios version as well as the web site. They also now support English.

I would appreciate if you can test it and provide some feedback. The best would be to see around you if you have disabled people to quickly che it out and provide some feedback that would be even greater!

As per the timeline... le

[2016-08-28 13:57] joshi1983 opened #27 "Add detailed information on each toilet/location for the ableroad.com importer"
The ableroad.com importer was started with issue 14 but not completed.  For now, it gathers information off index pages but ignores the great detail offered by detail pages.

[2016-08-28 14:04] joshi1983 commented on #14
A pull request was merged for this but it doesn't include detailed accessibility information on each location.  Importing the detailed accessibility information was broken into a new issue, issue 27.

[2016-08-28 14:04] #14 closed

[2016-08-28 15:06] joshi1983 opened #29 "Get reliable website hosting"
Before much of the website can be constructed, we need a web hosting service to publish the web application.  This could be paid hosting from a company like GoDaddy or hosting from the University of Windsor.

[2016-08-28 15:09] joshi1983 opened #30 "Create a rough UX design sketch"
Blandine and Dr. Stephanos Mavromoustakos will be drawing a rough UX design sketch.

[2016-08-28 15:20] joshi1983 opened #31 "Finalize the accessibility checklist"
Since the Hacking Health event, we've learned more about the information we want to maintain on each building but haven't created a revised list of questions.  Create a revised list of questions that will remain quite solid until November's demo.

This list will be difficult to change after data importers get adjusted to automatically fill them out for locations.

[2016-09-23 22:33] joshi1983 opened #32 "Build a sample data set for http://www.axsmap.com/"

[2016-10-14 20:48] joshi1983 commented on #32
Email me if you have any questions about the data importers I made already.  I'm not sure if Blandine and/or Dr. Stephanos needs runnable code or just some manually created data for this issue.

[2016-10-22 18:04] joshi1983 opened #33 "Create Maps prototype"
Create a small prototype that demonstrates that various points with latitude and longitude can be marked on a mapping service.  It seems like either Google Maps or Openstreetmaps would be best.

[2016-10-23 16:33] joshi1983 opened #34 "Create file structure for Laravel PHP framework"
Get Laravel installed and part of the repository.  We probably also want a quick way to recreate the database and configure it differently for different host machines.

[2016-10-23 16:34] joshi1983 commented on #33
This is planned to be assigned to Bruce after his github account is added to the project.

[2016-10-24 17:17] brucelau-github commented on #33
Okay. Got it.

[2016-10-26 11:35] joshi1983 commented on #34
I'm hoping to get this done by November 5 so the rest of the developers have a place to implement changes instead of making very independent prototypes like Bruce is working on with issue 33.

[2016-10-26 11:57] Blandine-AA commented on #34
Sounds good to me!

[2016-10-26 12:02] Blandine-AA commented on #31
Checklist needs to be refined some more by the JMCC team.  Attached is the current criteria checklist and the profiles.
[combined profile and criteria checklist.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/553170/combined.profile.and.criteria.checklist.pdf)

[2016-10-26 12:36] Blandine-AA commented on #29
Dr Stephanos is looking at which one is the best: University or his personal server. Will keep you posted once decision is made.

[2016-10-26 20:01] brucelau-github commented on #33
http://liu1ee.myweb.cs.uwindsor.ca/hhaccessibility/map.html
I have finish a basic web site with map but I still do not to how to upload them to our github repository

[2016-10-26 21:55] Blandine-AA commented on #21
This is the [City of Windsor, multi-year accessibility plan :](http://www.citywindsor.ca/cityhall/Accessibility/Documents/city-of-windsor-multi-year-accessibility-plan.pdf)

The [City of Windsor open data catalog](http://www.citywindsor.ca/opendata/pages/open-data-catalogue.aspx) does not provide any accessibility information. At least none that is easy to access/retrieve

[2016-10-27 12:04] joshi1983 commented on #33
Good stuff Bruce!

The easiest way to just get those files up is likely to go to https://github.com/hhaccessibility/hhaccessibility.github.io/tree/master/web and click "Upload Files".  Try to add another subdirectory like "maps_demo" or "maps_prototype" and put the files in there.

How familiar are you with git?  These steps are likely more difficult to follow but you'll have to use git soon anywa

[2016-10-27 18:59] joshi1983 commented on #30
Areeba(areebakamal) should probably get assigned to this when she becomes available in the Assignees list.

[2016-10-27 19:11] brucelau-github commented on #33
I could not commit files to our repository. do you have any idea?
Username for 'https://github.com': brucelau.email@gmail.com
Password for 'https://brucelau.email@gmail.com@github.com':
remote: Permission to hhaccessibility/hhaccessibility.github.io.git denied to brucelau-github.
fatal: unable to access 'https://github.com/hhaccessibility/hhaccessibility.github.io.git/': The requested URL returned

[2016-10-27 19:18] brucelau-github commented on #33
you probably add me into the contributors.

[2016-10-27 20:04] joshi1983 commented on #33
You could be right about not being a contributor.  I added you as a contributor recently with write access but not sure if it'll solve your problem.  Can you try pushing again to be sure?

Did you get an invitation to be a contributor?

[2016-10-27 21:09] brucelau-github commented on #33
yeah. I have committed the issue-33 branch. Thank you, Joshi.

[2016-10-27 22:44] joshi1983 commented on #33
Excellent, Bruce.  Thanks.  I merged your pull request so your work is now shown in the intended directory.

The way you put your work on that branch and made a pull request seems great for how we mix the team's work together in future.

[2016-10-28 01:05] #33 closed

[2016-10-28 17:34] areebakamal commented on #30
![wireframeflowoption1](https://cloud.githubusercontent.com/assets/23005093/19815598/a114969a-9d11-11e6-842c-564fa53d82eb.jpg)

[2016-10-28 17:35] areebakamal commented on #30
![option2forrating](https://cloud.githubusercontent.com/assets/23005093/19815960/44a33c20-9d13-11e6-8af5-1324ca3d79ef.jpg)

[2016-10-28 17:46] areebakamal commented on #30
![threeoptionsforrating](https://cloud.githubusercontent.com/assets/23005093/19816029/957fea9e-9d13-11e6-89ea-93181ecd62ea.jpg)

[2016-10-28 17:47] areebakamal commented on #30
![option3ratingsthumbsupthumbsdown](https://cloud.githubusercontent.com/assets/23005093/19816372/fe80f99c-9d14-11e6-9854-37e3d2ebd926.jpg)

[2016-10-30 19:28] joshi1983 commented on #24
Since pull request 36 was merged, the database schema is represented in both app/db/create_tables.sql and a migration script in app/database/migrations/2016_10_30_053317_create_initial_database_schema.php so any updates should be put in both places.

[2016-10-30 19:33] joshi1983 commented on #34
I merged the basic structure with pull request 36.  I'll make some new issues to cover the specific improvements I thought of while working on this to make it easier for other developers.

[2016-10-30 19:33] #34 closed

[2016-10-30 19:36] joshi1983 opened #37 "Create a common layout for defining the menu, header, and footer in one place"
In CodeIgniter, there was a way to use a hook to define a layout that reused content for header and footer.  Do the same with Laravel.

This page looks promising:
https://scotch.io/tutorials/simple-laravel-layouts-using-blade

[2016-11-01 03:22] joshi1983 commented on #37
I ran into some github error messages when trying to make a pull request on branch issue-37 and will try again tomorrow.  The work for the common layout is essentially done.

[2016-11-01 11:49] joshi1983 commented on #37
I really rough version of several pages are up now to help any developers who eventually work on individual UI feature issues.  I had no problem with github this morning so I made a pull request and merged it.

[2016-11-01 11:49] #37 closed

[2016-11-01 11:53] joshi1983 opened #39 "Create a few Eloquent table class definitions and create an automatically testable api using one"
Developers are going to need to use special classes for interacting with the database as they work on new features.  A few working examples of those classes and working examples of automated tests should help them accelerate up to speed.

[2016-11-04 12:05] joshi1983 commented on #33
Hi Bruce,  this is unrelated to the maps prototype but I've been emailing a few times this week and haven't got any replies from you.  Are you getting emails in liu1ee@uwindsor.ca?  If you don't check 	liu1ee@uwindsor.ca frequently, is there another address that you check more often?

[2016-11-04 13:22] brucelau-github commented on #33
sorry about that!
--
Sent from myMail for Android Friday, 04 November 2016, 08:05AM -04:00 from Josh Greig  notifications@github.com :

[2016-11-04 13:26] brucelau-github commented on #33
I got your email.  I am so busy with my homework last few days. Sorry about that.  not clear what I could do.  I have tried to build a developing environment on my machine.
--
Sent from myMail for Android Friday, 04 November 2016, 08:05AM -04:00 from Josh Greig  notifications@github.com :

[2016-11-04 14:27] brucelau-github commented on #39
***@bravo:~/app$ php artisan serve
PHP Warning:  require(/home/***/hhaccessbility/hhaccessibility.github.io/app/bootstrap/../vendor/autoload.php): failed to open stream: No such file or directory in /home/liu1ee/hhaccessbility/hhaccessibility.github.io/app/bootstrap/autoload.php on line 17
PHP Fatal error:  require(): Failed opening required '/home/***/hhaccessbility/hhaccessibility.github.io/app/

[2016-11-04 15:30] joshi1983 commented on #39
I forwarded an email to help you with this problem with the bootstrap
folder error message.

On Fri, Nov 4, 2016 at 10:27 AM, brucelau-github <notifications@github.com>
wrote:

--
Josh Greig

[2016-11-04 15:33] brucelau-github commented on #39
okay

[2016-11-05 10:22] joshi1983 commented on #31
When you use the word "Location", you mean the same as "building", right, Blandine?

[2016-11-05 12:01] joshi1983 commented on #39
The automated tests were added and they all pass.

[2016-11-05 12:01] #39 closed

[2016-11-05 12:22] joshi1983 commented on #31
I asked this in an email but I think the question fits to this issue too.

How should the needs of the user affect the accessibility calculation on buildings?  It seems like if the user didn't require a specific feature like a ramp, it shouldn't hurt the rating of a building as much as a required feature that the building doesn't have.  We could give required features triple weight in the calculat

[2016-11-05 14:24] Blandine-AA commented on #31
Hi Josh,

Great question and we discussed that yesterday and figured that if a criteria is not in the user profile, the values related to that criteria should not be used in the calculation for his specific view. Then, there is no point to give extra weight to some features. That way, things are kept simple.

So, not only the view of the criteria is personalized based on the profile, but also the

[2016-11-05 14:25] Blandine-AA commented on #31
Yes, "Location" in the requirement document means building.

[2016-11-05 20:09] joshi1983 opened #45 "Add new fields to user table, building tags and a new country table"
Add nullable search radius to user table.

Add nullable latitude and longitude to user table.

Add tags to buildings such as "Restaurant", "Mall", "Cafe"

Add free plain text reviews to buildings.

Add country table.

[2016-11-05 22:38] #45 closed

[2016-11-05 22:39] joshi1983 opened #47 "Create apis and api tests for saving review comments and answers"
create an api for saving answers for a specific building and question.

create an api for saving a review comment for a specific building.

These will get used in the UI for reviewing a building but they can be implemented before the UX sketches are finalized.

[2016-11-06 03:11] joshi1983 opened #48 "Seed the user table with a few test users with salted and hashed passwords"

[2016-11-09 01:09] #48 closed

[2016-11-09 01:13] joshi1983 opened #51 "Implement basic username/password authentication relying on database"
Implement authentication/login functionality that relies on usernames and hashed passwords in the database.  This will not include any third party authentication such as facebook, linkedin... and it won't match the look of any UX sketches closely at all.  This is just asking for the backend work to be started for representing users who have been authenticated.

[2016-11-09 23:20] joshi1983 opened #52 "Add description field to building_tag table and seed our tags data"
This issue is in response to an email from Blandine at 11:24am November 9, 2016.

Add a description field to the building_tag table.  This should involve updating the migration script.  Test by running the migrate command and seeing that the table structure is created as you'd expect.

For seeding the data, I'd suggest updating database/seeds/data/building_tag.json.  It would also be nice if you c

[2016-11-10 03:10] joshi1983 commented on #51
I merged a commit that makes MyLoginController work with the user table in the database but I still want to use a session to represent the user who logged in after it succeeds so that we continue having the authenticated state available for the rest of the application.

[2016-11-12 14:33] joshi1983 opened #54 "Investigate importing buildings from insertingstudentdetailsforbuildings.sql"
There is a list of over 300 educational buildings in insertingstudentdetailsforbuildings.sql which all look close to Windsor so it may be a good data source.  Bring those buildings to database/seeds/data/building.json.

#52 is a related issue.

[2016-11-12 15:53] #51 closed

[2016-11-12 17:37] joshi1983 commented on #30
Here are some UX sketches I'm copying on behalf of Rumana.

Rumana wrote: "These are the pages that will appear to the user . The first image has a list of all the areas that he can rate, like parking. Each area has a rate button beside it,. Clicking on that button takes the user to image 2, where he has various factors that he can rate i.e lighting and so on. He has 4 options ( Y-Yes , N-No , NA-

[2016-11-12 18:05] joshi1983 commented on #54
Amrit built that data set from http://www.citywindsor.ca/opendata/Pages/Open-Data-Catalogue.aspx so it is probably best to create an importer for data directly from there.

[2016-11-12 18:45] areebakamal commented on #30
[Attempt1Ratingsss.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/587387/Attempt1Ratingsss.zip)

[2016-11-12 18:46] areebakamal commented on #30
image
image
image
image
image

[2016-11-14 13:01] joshi1983 commented on #47
I'm unassigning myself from this because more complete login and account creation features are higher priority for now.

[2016-11-14 13:03] joshi1983 opened #57 "Make facebook authentication work"
This doesn't require a polished UI.  Keep the UI ugly for the sake of getting this implemented with minimal effort since the UX sketches are incomplete for now.

[2016-11-14 13:12] joshi1983 opened #58 "Sign Up page : Make the signup feature work"
Don't make it pretty since we're still waiting on UX sketches to be finalized but make it work for first name, last name, password...

The emailing step may not work in all hosting environments.

The following is how the login process should work:
1. Fill in form including first name, last name, email address, password, confirmed password and captcha.
1. User clicks "Sign up".
1. If anything is in

[2016-11-15 02:20] joshi1983 commented on #57
https://www.youtube.com/watch?v=tx8XZ_t6SbQ seems useful for this.

[2016-11-17 03:38] #52 closed

[2016-11-17 23:59] joshi1983 commented on #29
Blandine and I are working on this.  We hope to get a host before Monday.

[2016-11-18 02:00] joshi1983 commented on #29
I emailed a recommendation to use Digital Ocean.

[2016-11-18 20:44] Blandine-AA commented on #29
Looks like Monday will be the earliest. Haven't received any answer yet from Dana.

[2016-11-18 21:35] joshi1983 commented on #29
Could you call them Monday afternoon if there's no reply by 12 noon?

[2016-11-21 17:48] joshi1983 commented on #29
Jerome Hachey from JMCC registered accesslocator.com and .accesslocator.org using Godaddy this morning.  I didn't check if any other similar domain names were registered yet.

I'll call Jerome tomorrow to guide through the process of getting hosting service from Digital Ocean.

The domain registration details are shown at:
http://whois.domaintools.com/accesslocator.org
http://whois.domaintools.com

[2016-11-22 13:23] joshi1983 commented on #29
Jerome and I discussed this morning.  I have an account to access the digital ocean account as a "Team" member and access the godaddy account through delegation.  I'll investigate them in more detail over the coming few days with the goal of getting accesslocator.com pointed at our new host so everyone can see something related to us when going to accesslocator.com.

[2016-11-22 22:37] joshi1983 opened #62 "Make Sign in look like UX sketches"
This work is likely to involve:

- adjusting content in hhaccessibility.github.io\app\resources\assets\sass\app.scss
- running gulp to generate the css
- and adjusting mostly HTML content in hhaccessibility.github.io\app\resources\views\pages\login.blade.php

Don't worry if the form works.  Another issue will cover that.

![3 loginpage](https://cloud.githubusercontent.com/assets/11838191/20545000/

[2016-11-22 22:37] joshi1983 opened #63 "Make Sign up look like UX sketches"
This work is likely to involve:

- adjusting content in hhaccessibility.github.io\app\resources\assets\sass\app.scss
- running gulp to generate the css
- and adjusting mostly HTML content in hhaccessibility.github.io\app\resources\views\pages\signup.blade.php

Don't worry if the form works.  Another issue will cover that.

![4 signuppage](https://cloud.githubusercontent.com/assets/11838191/2054502

[2016-11-23 23:13] joshi1983 opened #67 "Presentation web site : Create information site for the AccessLocator project"
Blandine asked to create a website that gives information about AccessLocator.  This site will be very independent from the web application in that no one needs to sign in or save anything.

**Technical details**
The site could be made many ways and could be a few HTML, CSS, and just maybe JavaScript files.  If you develop in Windows, be careful that any referenced files are a case sensitive match

[2016-11-24 02:17] joshi1983 commented on #29
accesslocator.com hosts our web application now.  I'm calling this a success and closing the issue.

[2016-11-24 02:17] #29 closed

[2016-11-24 03:01] stephanosm commented on #67
I am not sure if the hosting comes with a cPanel with pre-installed scripts e.g. WordPress/Drupal, etc. If it does may be we can set up a quick page with that.

[2016-11-24 13:29] joshi1983 commented on #67
Dr. Stephanos, the control panel on Digital Ocean is a little different from what you're probably used to but I could get Drupal or WordPress up if that's what Areeba and Rumana think is best.  Static file sites can look good too if that's their preference.

How they want the information site to work and be maintained is totally up to whatever Areeba and Rumana are familiar with and their personal

[2016-11-25 03:57] joshi1983 commented on #54
The data was included in our seed data so I'm closing this.

[2016-11-25 03:57] #54 closed

[2016-11-25 04:44] stephanosm commented on #67
I will ask them tomorrow morning and see if they know any CMS.
thanks!

[2016-11-26 03:01] joshi1983 commented on #67
Dr. Stephanos requested by email that Drupal be installed for this information site so that's been done.

app.accesslocator.com is the only place to find the main web application that we're making now.  Every other domain name such as accesslocator.com and accesslocator.ca is pointing to a fresh install of Drupal so Dr. Stephanos can manage the content through the credentials that privately emaile

[2016-11-26 03:53] stephanosm commented on #67
Yes, I will work on it.

[2016-11-26 16:48] areebakamal commented on #67
The assignees were actually updated by Josh when he helped with my computer.

[2016-11-26 20:20] joshi1983 opened #72 "Make home page look similar to mockup"
Make the home page look more like the UX sketch from Areeba.

Here is the UX sketch:
![unnamed](https://cloud.githubusercontent.com/assets/11838191/20643020/77b85a2a-b3eb-11e6-9d10-62b4f2d75215.jpg)

Here is the background image used from the sketch:
![accesbilitybackground](https://cloud.githubusercontent.com/assets/11838191/20643084/f1e795d0-b3ec-11e6-9f26-9b65ee8ffd5a.jpg)

[2016-11-26 20:23] joshi1983 commented on #57
I unassigned myself because I might not work on this for a while.  I have a little of it done but everything I did is merged so someone else could continue work on this.

[2016-11-26 20:26] joshi1983 commented on #58
Everything I did on this is merged.  There is a test account people can sign in with.  Some changes should likely be made to switch from a username to an email address.  I'm unassigning myself because I won't be working more on this for a little while.  @areebakamal will be working on #62 so this issue should probably be avoided for a bit to minimize toe stomping from parallel work on the same fil

[2016-11-27 14:49] joshi1983 commented on #31
Blandine, from our last meeting, it seems like "location" is actually a broader term since it includes parks that may have no building in them.  It seems like we should rename "building" to "location" in both UI and internally to prevent confusion.  Does that sound good with you?

[2016-11-27 14:55] stephanosm commented on #31
Josh you are right. Location is the broader term and it should be used instead of building. Location can cover anything, e.g. building, park, event place, etc

[2016-11-27 22:08] joshi1983 commented on #72
I'm closing because the home page looks a lot like the mockup after merging.

[2016-11-27 22:08] #72 closed

[2016-11-27 22:25] joshi1983 commented on #31
I renamed "building" to "location" throughout the database and various source files so it is consistently "location" from now on.

[2016-11-29 04:17] joshi1983 commented on #63
The sign up page looks a lot like the mockup now so closing this issue.

![image](https://cloud.githubusercontent.com/assets/11838191/20696501/bf235d20-b5c0-11e6-8eff-fee90ab2e2cc.png)

[2016-11-29 04:17] #63 closed

[2016-11-29 04:19] joshi1983 commented on #62
You probably should reuse some of the CSS classes and markup used in the sign up page since work on that has been merged.

[http://app.accesslocator.com/signup](http://app.accesslocator.com/signup)

[2016-11-29 04:27] areebakamal commented on #62
Wow, looks good! Will do.

[2016-11-29 04:48] stephanosm commented on #62
looks good indeed. Great job guys!

[2016-11-30 11:17] joshi1983 opened #77 "Add HTTPS support for app.accesslocator.com"
Add HTTPS support because we'll be receiving passwords from the sign in and sign up forms and want those encrypted before they pass through multiple computers on their way to our server.  Letting a user's password be seen by third parties would be irresponsible of us.

The following links may be helpful:
- https://www.digitalocean.com/community/tutorials/how-to-create-a-ssl-certificate-on-apache-f

[2016-12-01 01:59] joshi1983 commented on #77
yay!  https://app.accesslocator.com/ works.

[2016-12-02 13:25] joshi1983 commented on #58
The signup is partly working.
It still needs some things like:
- validation checks for things like the retyped password matching the original password
- validation checks for non-empty first name and last name
- validation checks for email address not being used yet
- validation checks for email containing an @ sign
- more testing since I had trouble logging into newly created accounts on app.acce

[2016-12-02 13:33] joshi1983 commented on #62
@areebakamal sorry this might make things a little more difficult for you but I actually renamed 'username' to 'email' in the login.blade.php last night.  It might make things more difficult because you may have a rebase conflict if you get latest and have changes to that file in your laptop's branch for issue-62.

The changes that I made are listed under login.blade.php at:
https://github.com/hha

[2016-12-02 23:56] joshi1983 opened #82 "Research creating email accounts with an address like info@accesslocator.com"
If it is possible, make one associated with Blandine's gmail account.

[2016-12-03 16:59] stephanosm commented on #67
Josh I need FTP credentials to change the theme

[2016-12-03 19:19] joshi1983 commented on #67
@stephanosm I emailed you some SFTP credentials.  I used SFTP for a little extra security.

[2016-12-03 21:48] joshi1983 commented on #58
The validation checks are working.  I'm able to sign into the account after creating it.

More things to do include:
- show a message when successfully created an account
- email the user to confirm the email address is valid.
- show message to user pushing them to check email if he attempts to log into the new account before the email activation step is completed

[2016-12-03 21:50] joshi1983 commented on #62
The page looks very much like the UX sketch.  It looks pretty good.

![image](https://cloud.githubusercontent.com/assets/11838191/20862441/965d9192-b978-11e6-97a0-0ae2aea5d3c1.png)

[2016-12-03 21:51] #62 closed

[2016-12-04 03:37] stephanosm commented on #62
just for consistency I think it is better to use everywhere the AccessLocator (no space)

[2016-12-04 03:41] stephanosm commented on #67
I uploaded a new template. Now I need to create the content and figure out how this template works  :-)

[2016-12-04 16:37] joshi1983 opened #85 "Remove space in "Access Locator" to consistently use AccessLocator throughout the application"
The files to change are likely all in hhaccessibility.github.io/app/resources/views.

[2016-12-04 16:41] joshi1983 commented on #62
@stephanosm, #85 was created for that.  I'm hoping to get a student working on it.

[2016-12-04 23:19] joshi1983 commented on #82
@Blandine-AA , I came across [some documentation](https://www.digitalocean.com/community/tutorials/how-to-set-up-gmail-with-your-domain-on-digitalocean) on how to link the domain to gmail email services and there is a 30 day trial period.  The trial would be followed by a $5 a month service charge for a Google Apps account.  Do you want to get this through JMCC?

A free alternative would be that I

[2016-12-04 23:48] joshi1983 commented on #67
It looks snazzy so far.

[2016-12-06 12:51] joshi1983 opened #88 "Contact form : allow to send email to intended recipients"
[A contact form](http://app.accesslocator.com/contact) was added to help us gather feedback from people using the application but it doesn't actually work yet.   The server's outgoing emailing functionality needs to be configured.

This may seem related to #82 in that they are both related to transmission of email but the contact form is strictly about sending email and doesn't require any email a

[2016-12-09 02:01] joshi1983 opened #92 "Search: add address edit field to the Home page"
This will include the following subtasks:
- [x] Add an input element to the home page between "Search by Keyword(s)" and "Login / Signup"
- [x] Set placeholder attribute to "Windsor, Ontario, Canada"
- [x] Make it save to the session of a guest user
- [x] Make it save to the user table in the database when a user is signed in

[2016-12-09 02:12] joshi1983 opened #93 "Search: add a dropdown to the address input that shows recently viewed places"

[2016-12-10 14:55] Blandine-AA opened #95 "Contact form : add captcha"
Captcha to be accessible - provide audio option too

[2016-12-10 14:57] Blandine-AA opened #96 "Sign Up page : add captcha"
Captcha to be accessible - provide audio functionality

[2016-12-10 15:00] Blandine-AA commented on #31
Meeting next week Dec 14th, for demo and to discuss the requirements questions in this thread.

[2016-12-10 15:34] Blandine-AA opened #97 "Testing : create a test environment subdomain"
Create a subdomain for testing : test.accesslocator.com

[2016-12-10 15:48] joshi1983 commented on #97
@Blandine-AA , I can do that quickly.  Do you want it to have the current state of the application for now?  I guess it'll be clear when you want it updated.

I'll keep app.accesslocator.com very close to our latest work and test.accesslocator.com will be stable and get out of date as long as you like.

[2016-12-10 15:56] joshi1983 commented on #63
If a user is already signed in, should the signup page look or say anything different?

After signing in, only the profile page looks different from not being signed in.  I wonder if that lack of clarity about whether they're signed in could confuse people into trying to sign up multiple times.

[2016-12-10 15:58] joshi1983 commented on #62
If a user is already signed in, should the log in page look or say anything different? Should it say in strong or bold text, "You already are signed in."?

[2016-12-10 17:39] joshi1983 commented on #72
Should the Login / Sign up button be removed when the user is already signed in?

It just might confuse some users to see options for signing in when they already signed in.

[2016-12-11 00:01] Blandine-AA commented on #72
Normally, after signing in, le login/sign-up button should not be visible anymore.
On the menu bar or somewhere on the top left, we should have a logout /sign out button.

We will need to discuss how we want the menu bar with all those functionalities (access to profile, logout, ...) to look like.

[2016-12-11 00:09] joshi1983 commented on #72
ok.  I'll handle the removal of the Login/Sign up button on the home page pretty soon.  I'll wait for that extra discussion before changing the menu.

Some sites show the person's name on every page but Areeba might have some good ideas regarding how to convey that the user is signed in.

[2016-12-11 04:25] stephanosm commented on #62
yes, or "Welcome firstName!"

[2016-12-11 18:08] joshi1983 commented on #92
All of the subtasks have been completed so I'll close this issue.  The location and location radius still doesn't filter search results, though.

[2016-12-11 18:08] #92 closed

[2016-12-11 18:10] joshi1983 opened #101 "Search: use search point and distance to filter all search results"
#92 added a location selector using free text that saves to the user table.  Corresponding with that is a longitude, latitude, and a search radius that should apply to every search query.  Every result outside the search disk should not be returned.

[2016-12-11 21:09] joshi1983 commented on #85
The space removal work was merged.  There should be no more occurances of "Access Locator" in the application so the issue is being closed.

[2016-12-11 21:09] #85 closed

[2016-12-11 21:32] joshi1983 commented on #67
@stephanosm how's the content coming along?

I wonder if JMCC or Blandine would want to discuss the content or the aesthetics/theme before the Christmas holidays that are fast approaching.

The issue was written with a deadline of January 1 but considering how unavailable most of us will get over Christmas Holidays and that more of the team may want to discuss the site's information, we probably s

[2016-12-13 14:52] stephanosm commented on #67
We will be meeting tomorrow Wednesday at 1:30 in JMCC to discuss this. If you can make it let me know. That would be nice. The content will try to keep it simple and in one page. The idea is to have something to show in case Google visits our site. Yes, we indicate the site name in the proposal and that would be available after Jan 1.

[2016-12-13 15:07] Blandine-AA opened #105 "Demo web site : create framework to demo the prototype"
Josh has made quite a bit of progress on the web app and talking with him, it would be interesting to show a demo of the app on the presentation web page for the January 1rst deadline. I suggest the following:

- [x] Add a Demo button that can launch a controlled version of the app. Add a text like "Click on the Demo button to see our progress".

- [ ] Have a progress update page where we can docu

[2016-12-13 20:22] stephanosm commented on #105
Yes, good idea!

[2016-12-13 23:24] joshi1983 commented on #105
Maybe someone can put together a video to highlight what we want to show out of the current work on the site.  I mean something like https://www.youtube.com/watch?v=cpaqPxNhT_o but for accesslocator.

How does this relate to #97 ?  How frequently would this demo site get improvements compared to the test site?  For the test site, I assume I can delete all data and recreate it when updating but wil

[2016-12-14 02:20] joshi1983 commented on #67
No, I can't go to the meeting but hopefully it goes well.  I look forward to their feedback.  I'll see you and Blandine Friday though since I'll have that time off work.

[2016-12-14 13:00] Blandine-AA opened #107 "Sign Up - Sign In pages : check for consistency"
I looked at both pages and we seem to use both Sign In and Log In. I think we need to use only one term. since we are using **Sign Up to register**, it will be logic to use **Sign In to connect.**

[2016-12-14 13:45] joshi1983 commented on #107
I agree that "Sign In" instead of "Log In" sounds better and more consistent.

By weekend, a developer will be picked for this p1(1 week) issue so that it is done by Dec. 21.

[2016-12-14 23:01] Blandine-AA opened #108 "Rating : calculations"
to be updated

[2016-12-14 23:03] Blandine-AA opened #109 "Personal and Universal views"
This is how this views are supposed to work:

**Universal view**
- for anyone who logs in as a guest or who doesn't have his accessibility needs set in his profile
- Accessibility calculation is done based on ALL criteria

**Personal view**
- For the user who has signed in AND has set his accessibility needs in his profile
- The accessibility calculations are based ONLY on the criteria selected in

[2016-12-14 23:05] Blandine-AA opened #110 "User Profile : Layout and functionality"
![user profile](https://cloud.githubusercontent.com/assets/20052162/21376737/7d5e457a-c705-11e6-9dee-054981c16304.jpg)

[2016-12-14 23:18] Blandine-AA opened #111 "UX NAR : add new section for Not Accessibility Related (NAR) reviews"
This section will contain 2 or 3 questions for the user to provide feedback on his experience for things not related to accessibility.

The questions will change depending on the location's category (out of the 12 we have).
Attached is a quick draft of what it should look like. We just need to define and finalize the question but initially, we can just have place holders for 2 questions.

![user e

[2016-12-15 14:07] Blandine-AA opened #112 "Contact form : Send messages to an accesslocator.com email address"
- [ ] Message to be sent to info@accesslocator.com for now.

- [ ] Josh, please create info@accesslocator.com
I think I will be able to access it with gmail.

[2016-12-15 14:13] Blandine-AA commented on #82
Hi Josh,

no need for a paid service. I think once the info account is created, I will be able to access it from gmail. Otherwise, we will use webmail that comes with the domain name

[2016-12-15 14:17] Blandine-AA commented on #112
Related to issue #88

[2016-12-15 14:37] Blandine-AA opened #113 "Home page : problem with categories layout"
The lines in the categories selection are not visible anymore, and they are now smaller and rectangle.

The lines need to be visible to differentiate the categories! Also the previous size and square shape ere much better.

Probably a bug! Can all that be put back?

The alphabetical order is correct!

[2016-12-15 15:23] Blandine-AA commented on #58
This is the updated Sign Up page
![bfl-4 signuppage](https://cloud.githubusercontent.com/assets/20052162/21229634/47ae06da-c2b0-11e6-8b0b-4dc2631da880.jpg)

I think we should simplify this some more and remove the First name and Last name. the user can fill this when creating his profile. Let's wait and see what feedback we get from the first round of testing.

[2016-12-15 16:32] stephanosm commented on #58
You can't separate them because later in the profile both names will appear either in the First name or Last name field, thus causing more problems.

[2016-12-15 22:57] joshi1983 commented on #113
When do you think these undesirable changes happened?

The Sign in / Sign up button was removedwhen you're signed in December 10.
The "Windsor, Ontario, Canada" input was added December 8.

I'll add the white borders again.

[2016-12-16 01:25] joshi1983 commented on #113
Is this how you want it to look?  I added some borders and increased the font size.
![image](https://cloud.githubusercontent.com/assets/11838191/21248369/917993b6-c304-11e6-90ff-63fe6e9ee1cc.png)

[2016-12-16 20:11] joshi1983 commented on #113
I'll remove the border around the very outer edge as requested at the meeting.

It would be nice to get mockups of the elements that show up when hovering so the text isn't too small and so it looks precisely the way you want.

[2016-12-16 21:23] joshi1983 opened #115 "Presentation web site : Create demo video script"
Create demo video script so Areeba has what she'll need to put a demo video together.

This will involve making a new Google drive document that is shared and edited over the weekend.

This should be done very soon as in Monday or Tuesday so Areeba has as much time as possible to put the actual video together.

- [x] Create Google Drive document and share it with everyone
- [ ] Create list of text

[2016-12-16 21:33] joshi1983 commented on #82
I'll check with GoDaddy's support service to look into this more and confirm if you're right about this being a part of the domain names we purchased from GoDaddy.  If they aren't, the previous comment outlines our main options.

[2016-12-16 21:52] joshi1983 opened #116 "Create a new logo for AccessLocator"
- [x] Create a new logo image
- [x] Upload a high resolution(over 1000 pixel height) raster or SVG version of the image to a comment on this issue
- [x] Scale a version to 16 by 16 pixels to verify that crucial details are still somewhat visible and for use as a favicon in the web application
- [x] Validate with JMCC

Be consistent with the website's colour scheme by using the same blue-green and

[2016-12-16 21:59] joshi1983 opened #117 "Home page : create new background image for home page"
Create a new image for the home page background.

A single photo was mentioned and trying to be consistent with the colours while still looking natural.

A high resolution version would be good such as over 1500 pixels width.

[2016-12-17 16:37] joshi1983 commented on #107
I'm closing this because the wording has been updated to be consistent.  I think that covers the work requested by this issue.

[2016-12-17 16:37] #107 closed

[2016-12-17 16:41] joshi1983 commented on #113
I made the borders sharper:
![image](https://cloud.githubusercontent.com/assets/11838191/21288303/6d9171ae-c44d-11e6-9851-1c0acf29c85c.png)

During our Friday meeting, the idea of making the tiles square was suggested.  I'll experiment with making them closer to square and see if it looks better overall.  It may improve the look of wrapped text.

[2016-12-17 23:16] joshi1983 commented on #113
It looks like this now:
![image](https://cloud.githubusercontent.com/assets/11838191/21290352/c293e088-c484-11e6-9a93-652d4ed4acd6.png)

I think this is pretty close to what you wanted.  The hover text size and appearance can be handled with a different issue.

[2016-12-17 23:16] #113 closed

[2016-12-17 23:19] joshi1983 opened #122 "UX Design for hover/touch text popup"
Blandine mentioned that the text that shows when hovering over the location categories/tags in the grid on the home page looks too small.  It may be too small for people with visual impairment to read and it doesn't scale up at least in Chrome.

Need to redesign the tooltip to be more visible.

- [ ] Create a UX Design/mockup for how this should look
- [ ] Get the mockup approved by Blandine

[2016-12-17 23:21] joshi1983 commented on #122
This may be good for @areebakamal  or @RumanaHakeem except they're already pretty busy with other tasks.

[2016-12-18 02:12] joshi1983 commented on #96
This may help:
https://laravel-news.com/laravel-no-captcha-recaptcha

This article makes Google's "no captcha" or "recaptcha" is one of the most accessible versions of captcha available.  It works with screen readers, people with dyslexia, and poor vision.
http://simplyaccessible.com/article/googles-no-captcha/

[2016-12-18 02:13] joshi1983 commented on #95
Anyone working on this should use the same captcha solution used in #96.

[2016-12-18 17:23] joshi1983 commented on #97
[test.accesslocator.com](http://test.accesslocator.com) is now available.  It is exactly the same as app.accesslocator.com for now.

[2016-12-18 17:23] joshi1983 commented on #97
I'm closing this issue since the issue description merely asks for a working subdomain which is completed.

[2016-12-18 17:23] #97 closed

[2016-12-18 17:26] joshi1983 commented on #105
[demo.accesslocator.com](http://demo.accesslocator.com) is available.  It'll be updated every time app.accesslocator.com is updated for now.  Maybe that'll change after January 1.

[2016-12-18 17:36] joshi1983 commented on #108
I assigned this to Blandine because she needs to finish writing this issue before anyone can work on it.

[2016-12-18 17:36] joshi1983 commented on #109
I assigned this to Blandine because she needs to finish writing this issue before anyone can work on it.

[2016-12-18 17:36] joshi1983 commented on #110
I assigned this to Blandine because she needs to finish writing this issue before anyone can work on it.

[2016-12-18 17:40] areebakamal commented on #116
![logo4](https://cloud.githubusercontent.com/assets/23005093/21295251/10fc100c-c51f-11e6-8c11-7cb387154623.jpg)
![logo](https://cloud.githubusercontent.com/assets/23005093/21295252/10fe419c-c51f-11e6-95c6-9dca4854ad7a.jpg)
![logo2v1](https://cloud.githubusercontent.com/assets/23005093/21295253/11028bbc-c51f-11e6-9c73-f3c4c6fe4498.jpg)
![logo2v2](https://cloud.githubusercontent.com/assets/23005093/

[2016-12-18 17:41] joshi1983 commented on #82
I tried to get help from GoDaddy on Saturday but their chat service was unavailable and I didn't want to call.  I'll try again soon.

[2016-12-18 17:42] areebakamal commented on #116
Once the logo is chosen, I can modify it according to need.

[2016-12-18 18:00] joshi1983 commented on #116
The following looks best to me:
https://cloud.githubusercontent.com/assets/23005093/21295252/10fe419c-c51f-11e6-95c6-9dca4854ad7a.jpg

Mixing the accessible symbol into the logo seems like a pretty good idea but the way those logo images mix with the A and L letters looks like someone in a wheel chair crashed into a fence and can't get out.  Maybe there's a way to make the body of the disabled per

[2016-12-18 18:31] areebakamal commented on #110
![6userprofile5](https://cloud.githubusercontent.com/assets/23005093/21295574/12936530-c526-11e6-83df-84d7252d2b63.jpg)

This will show if the user hasn't rated any buildings yet:
![6userprofilev2 - copy](https://cloud.githubusercontent.com/assets/23005093/21295575/12968724-c526-11e6-9b69-4347dd22725a.jpg)

[2016-12-18 18:53] joshi1983 commented on #110
The "Search Radius" being grouped with the user's home location can cause confusion.  If the search radius is to show on the profile, the search location text should show next to it instead of information about the user's home location.

There is an independent "search location" from where the user permanently lives.  The search location is what will be used in every search and with search radius

[2016-12-18 21:43] areebakamal commented on #116
"looks like someone in a wheel chair crashed into a fence and can't get out." I can see that now! 😆

[2016-12-18 23:43] stephanosm commented on #105
the map doesn't show on the demo

[2016-12-19 00:29] joshi1983 commented on #105
Good find @stephanosm .  I'll fix.

[2016-12-19 01:09] Blandine-AA commented on #116
Hi Areeba,

Great proposals so far... but I agree with Josh's comments. Also, the green color doesn't fit well with our current colors. Blue (blue-green as per Josh), Grey and white

I wouldn't put a specific disability as it will make it predominant and none of the disabilities are more important than the others.

If you could blend the person  with the A and L, it would be great. Also, smoother/

[2016-12-19 01:22] joshi1983 commented on #105
@stephanosm it should work now.  The same problem hit test.accesslocator.com and it was fixed too.

[2016-12-19 23:33] joshi1983 commented on #82
I confirmed with GoDaddy and here is my conversation with GoDaddy's agent, Kirk.  We didn't purchase any emailing service with the domain names.  Like mentioned 2 weeks ago, we could pay for email service from a few sources and that would be the best solution.  We can pay GoDaddy or Google for email service associated with our domain names.  Blandine, you mentioned knowing someone who promptly got

[2016-12-20 14:51] Blandine-AA commented on #115
Google Drive doc created and shared!

[2016-12-20 16:43] Blandine-AA commented on #115
**Appending Rumana question for clarification and my answer below**

2016-12-20 11:11 GMT-05:00 Rumana Hakeem <rumana.hakeem24@gmail.com>:
Hey Blandine, This video is going to be a part of the webpage right? So, in place of demo, we are going to have this video. And the logos of all the 4 that we have below the video (I.e on the webpage) need to be active right? As in, they need to take us to thei

[2016-12-20 17:26] Blandine-AA commented on #82
Hi Josh,
I talked to my friend and the email is created through Bluehost, who is the web hosting company.
So, can you check with Digital Ocean? They should also provide a limited number of email addresses as it seems to be a standard in the industry.
Thanks,

[2016-12-20 17:57] Blandine-AA opened #124 "Home page : Change info text"
Being updated...

Change : "Find locations with accessibility ratings by real users and rate locations yourself!"

to: "Find accessibility informations on locations rated by real users, and make your own ratings!"

[2016-12-20 18:08] Blandine-AA opened #125 "Menu : Update top menu"
Being updated

- [x] The search menu item seems to be redundant with the Home page in the way it "might" works. Need to see if we remove the "Search" menu item or design it specifically for search only. To be different from the Home page
- [x] After user has signed in, add a "Sign out" button on the right of the "Contact" menu item

[2016-12-20 18:37] stephanosm commented on #124
Find accessibility information

[2016-12-20 19:35] joshi1983 commented on #82
What we paid for with GoDaddy was domain names which don't come with email service.  What we paid for with Digital Ocean is a virtual private server which is not email service unless I set up a mail server on it which isn't recommended.  We're talking about $4 or $5 per month for email service or about $50 per year so our time spent discussing and my time spent researching a free alternative doesn

[2016-12-21 01:10] Blandine-AA commented on #116
Here is a proposal I sketched.

Areeba, you can draw it and see what it looks  like with the colors and proper ratio. I don't know what color to use for the head. So, I just put a question mark. Make your color proposals

![logo proposal](https://cloud.githubusercontent.com/assets/20052162/21373883/3af228ec-c6f0-11e6-9e7f-4c150f1a67ef.jpg)

[2016-12-21 01:50] areebakamal commented on #116
Ok I've made something somewhat similar. Was working on making the edges more crisp as I started off on low resolution unknowingly.

[2016-12-21 01:52] areebakamal commented on #116
![latest copy](https://cloud.githubusercontent.com/assets/23005093/21374640/1ad13228-c6f6-11e6-8107-cbaf720d3187.jpg)
![latest copyccc](https://cloud.githubusercontent.com/assets/23005093/21374641/1ad25f40-c6f6-11e6-9a99-6b39c9523317.jpg)
![latest copydfdfd](https://cloud.githubusercontent.com/assets/23005093/21374642/1ad9db26-c6f6-11e6-876e-a7ef1d75d18b.jpg)
![logo2vediteddd](https://cloud.github

[2016-12-21 01:59] Blandine-AA commented on #116
Thanks Areeba, but it is not quite what I drew and the colors are off. The colors have to match the same Blue and Grey we have on the app.

What I drew has a person in the middle and the blue part is the A and the L is the grey part. The branches do not connect but they are close enough. Look at the way the curves work too.

Can you try to reproduce the sketch please?

Thanks

[2016-12-21 02:01] areebakamal commented on #116
The same blue as in the color of the square boxes on the homepage?

[2016-12-21 02:13] areebakamal commented on #116
![design2](https://cloud.githubusercontent.com/assets/23005093/21375080/21569ae0-c6f9-11e6-9fe1-dff9cbb513b9.jpg)

[2016-12-21 02:24] areebakamal commented on #116
![latest copssssssy](https://cloud.githubusercontent.com/assets/23005093/21375318/a71f2268-c6fa-11e6-89fe-e488dc9bf5a8.jpg)

[2016-12-21 03:01] Blandine-AA commented on #116
Thanks Areeba, looks more like it!

Of course the sketch ratios will need to be adjusted as well as the alignment. But this extra work will be done only if we go with this idea.

Is the blue in the square boxes the same blue as in the pie-chart?
What if the A is Grey and the L blue?
What if we have the head colour more like the light blue we have  to show the location path on the home page?

Thank

[2016-12-21 03:40] Blandine-AA commented on #110
- Rename "Search Radius" to "Distance"
- Change password should be a button as you will need to type your password twice for validation.

[2016-12-21 16:31] joshi1983 commented on #125
The Search menu item was removed for now until a sketch is made to show how the search screen should look.  I suggest making a search screen that is full of search-related features.  This would be different from the home page which uses less than half the screen for search.

[2016-12-21 16:36] joshi1983 commented on #125
I'm marking this done because the second task is definitely done and the first one is done if it is just asking for the Search link to be removed.

[2016-12-21 16:37] joshi1983 commented on #124
I'm marking this complete because the rewording is done.  I used @stephanosm 's suggestion and kept the 's' out of 'informations'.  Also, I didn't include the original comma which looked better to me.

[2016-12-21 16:37] #124 closed

[2016-12-21 19:23] brucelau-github commented on #124
I have time to write some code. Joshi, What should I do now? I have made it run on my machine.

[2016-12-21 19:58] joshi1983 opened #127 "Sign Up page : Make Gmail/Google authentication work"
The Sign Up page has a Google link.  Make the link work.

This is similar to #57 except with gmail/Google instead of facebook.

In the end, sign up with Google should involve the following steps:

1. Click Sign Up.  This would open another page from Google to enter credentials.
1. Enter gmail/google account credentials.  Google's authentication service should return account information such as an

[2016-12-21 20:15] joshi1983 commented on #124
Great Bruce.  Since this is unrelated to the issue, I've sent an email to discuss what you can work on there.  Your address is liu1ee@uwindsor.ca , right?

[2016-12-21 20:20] brucelau-github commented on #127
Okay, I will do this first!

[2016-12-21 20:38] joshi1983 commented on #127
Great, Bruce.  I assigned it to go with you wanting to work on it.  I also added some extra detail to the issue description in case it helps your work.

[2016-12-22 15:27] joshi1983 commented on #116
https://cloud.githubusercontent.com/assets/23005093/21375318/a71f2268-c6fa-11e6-89fe-e488dc9bf5a8.jpg looks good to me.  The colours look close enough that the site won't need to be tweaked much for them.

I guess when we make a final decision on a logo, you can smooth everything out.

[2016-12-22 19:15] Blandine-AA opened #130 "Home page : Change Sign in / Sign up font to BOLD"
When used with a tablet, the Sign in / sign up is barely visible. Make the font bold like the categories.

Josh,
Please assign this and make it P1 or Critical for quick resolution

[2016-12-22 19:24] joshi1983 commented on #130
Sure.  I'll update the button on the home page today.

[2016-12-22 19:28] joshi1983 commented on #130
![image](https://cloud.githubusercontent.com/assets/11838191/21437611/d1a0e1c6-c852-11e6-9dc3-9472bb3834fe.png)

[2016-12-22 19:36] joshi1983 commented on #130
The requested text was made bold so I'm closing.

Blandine, what kind of tablet are you using?  iPad?  Android?  What version?

I've been testing with a Samsung Galaxy Tab s3.
https://i.ytimg.com/vi/vjE33E92zPg/hqdefault.jpg

[2016-12-22 19:36] #130 closed

[2016-12-22 20:05] brucelau-github commented on #127
I have figured this module out. It is easy to add more social network module to login

[2016-12-22 20:16] joshi1983 commented on #127
Excellent.

[2016-12-22 21:13] Blandine-AA commented on #108
Assigned back to you Josh. Please review and assign as appropriate.

[2016-12-22 21:32] joshi1983 commented on #108
What I've done so far to represent the information used in the Bus Station accessibility report is use 0 for No, 1 for Yes and 2 for NA.  The specific numbers for each won't really affect calculations or the user's experience, though.

The formula I used for universal ratings can be described by this:
universal accessibility rating for a given question =
average( latest answer for each user where

[2016-12-22 21:50] Blandine-AA commented on #108
@joshi1983 I will answer the Universal and Personal view in #109 issue as for me it is separate from the  value we give to each answer when rating a criteria whether the same user rates it once or 10 times.

I will put checkboxes on this issue to identify what needs to be implemented.

I will also update the wiki with the answers from the meeting with JMCC. I believe I shared those answers with yo

[2016-12-22 22:19] brucelau-github commented on #96
add recaptcha on contact form and signup form
![contact recaptcha](https://cloud.githubusercontent.com/assets/22227484/21442263/ceb84f22-c86a-11e6-95af-6ee300fd15b3.png)
![recaptcha](https://cloud.githubusercontent.com/assets/22227484/21442266/d40f55f6-c86a-11e6-879e-4d1187f1fbb5.png)

[2016-12-22 22:20] brucelau-github commented on #95
merged with issue#96 fixed

[2016-12-22 22:28] brucelau-github commented on #127
I have a question on how should we redirect users url after authentication. should we save user data back into our database or any idea? Currently I just dump all those gathered data on test page.

[2016-12-22 22:30] brucelau-github commented on #127
![facebook login](https://cloud.githubusercontent.com/assets/22227484/21442529/55d8f596-c86c-11e6-83af-c00bb4f47ae5.png)

[2016-12-22 22:30] Blandine-AA commented on #125
The Sign out button should be on the right of the contact menu. It needs to be last!

[2016-12-22 22:31] joshi1983 commented on #96
Great.  I'll review your pull request.  I reopened because it isn't really resolved until it gets merged and I'll have to review the pull request before it gets merged.  I'd also like to deploy it to app.accesslocator.com so Blandine and others can see the work completed too.

[2016-12-22 22:34] Blandine-AA opened #133 "Search page : sketch and functionality"
Sketch the Search page to show how the search screen should look like and work. The suggestion is to make a search screen that is full of search-related features. This would be different from the home page which uses less than half the screen for search.

[2016-12-22 22:44] joshi1983 commented on #95
Bruce, don't merge.  I'll have to revert now.  I wanted to review first and only merge after it was good.  I'm glad you made a pull request but I wanted the opportunity to review.

[2016-12-22 22:51] joshi1983 commented on #95
I reset as if you didn't merge.  Recreate your pull request but don't merge.  There are some changes I want you to make with your work.  They aren't big but I don't want them merged until they're made.   Thanks for the work so far.

[2016-12-22 22:58] Blandine-AA commented on #116
The problem I have with this one is that it is too chubby. I will not resize well if you want to make it small. I think we need something sleek and that can reduce well and not loose its meaning.

If https://cloud.githubusercontent.com/assets/23005093/21375080/21569ae0-c6f9-11e6-9fe1-dff9cbb513b9.jpg is properly resized to the proper ratio and centered I thing it will be good. Any other feedback?

[2016-12-22 23:36] Blandine-AA opened #135 "Search result page : Sketch and functionality"
When searching by categories, a list of locations found  within the specified distance is displayed. Two views are available: Map and Table.
2 tasks in this issue:

- [x] sketch out the page.
- [x] implement the functionality

Below is the hand sketch of what it is expected.
![locations found](https://cloud.githubusercontent.com/assets/20052162/21443744/5bc49ede-c875-11e6-8cf6-6a4adc5b8270.jpg)

[2016-12-22 23:46] stephanosm commented on #116
With positive criticism and a sense of humor I have to say Blandine's idea reminds me a Ninja!  The problem I see here is that the lines are too sharp. Also, the first thing you see, is a big X, and not very artistic. I like more this one as it is more clever, simple and elegant. Having said that, it still needs some work. Perhaps more smooth the edges or something, but it is closer to the one I b

[2016-12-23 00:04] brucelau-github commented on #125
![logoutbotton](https://cloud.githubusercontent.com/assets/22227484/21444236/7b0cabb6-c879-11e6-8313-05211eb430bf.png)

[2016-12-23 00:19] stephanosm commented on #116
how about something like this? For the L use a brush style. You can also make it a bit  look more like an L and a check at the same time. I also recommend more bright colors like this logo which stand out. They don't have to be the exact same colors of the website because blue and green are basic colors. Another idea you can use Red for the dot (head). If you guys like the idea then Areeba can dra

[2016-12-23 01:39] Blandine-AA commented on #116
The problem you have with my proposal is that the rendering doesn't really reflect the concept. As it is not aligned, and some work needs to be done on the shapes and forms. You have to look at the concept and make the shape and ratio work.

[2016-12-23 02:19] brucelau-github commented on #116
In my opinion, the logo design job should belong to the John McGivney Children's Center since this app might represent their organization and their might have their VI or logo or some principle such as colors, font.

[2016-12-23 02:28] brucelau-github commented on #95
Okay, I thought I do not familiar with the pull request function. It said there is no conflict so I click that button. :) Sorry about that. Next time I will just invoke a new pull request.

[2016-12-23 13:18] joshi1983 commented on #125
I reopened because the changes should be available for Blandine to see before closing it.  I won't do this today because it seems like Bruce may make a pull request for it some time soon since he has the change on his computer.  I'll help Bruce with reviewing his pull requests.

[2016-12-23 16:02] joshi1983 commented on #125
I merged the work Bruce did and deployed it to http://app.accesslocator.com so Blandine can see them.  I think this is done now so closing.

[2016-12-23 16:02] #125 closed

[2016-12-23 20:50] joshi1983 commented on #95
This is available at app.accesslocator.com and working well.  Thanks, Bruce.  I'm closing now that Blandine and others can see it working.

[2016-12-23 20:50] #95 closed

[2016-12-23 20:51] joshi1983 commented on #96
This is working at [app.accesslocator.com](http://app.accesslocator.com).  Thanks Bruce

[2016-12-23 20:51] #96 closed

[2016-12-23 21:19] Blandine-AA commented on #116
We are all working on the logo, including JMCC. They are also reviewing this.

The Graphic chart of the application doesn't need to be linked to the JMCC graphic chart, but it is a good point to consider.

[2016-12-23 21:23] stephanosm commented on #116
another thought....we have discussed before not to associate any particular disability on the logo but the generic disability logo(man on a wheelchair) is a symbol used for all sorts of disabilities including old people, so I believe is not bad idea to include it as part of the logo.

[2016-12-24 05:25] RumanaHakeem commented on #67
Hi,
I have done the coding. I can't figure out how to post it here.So I have zipped all the files,screenshots of how the webpage looks and necessary images in this folder and attached it here.This is how the webpage works. The home button on the webpage keeps us on the info page and on clicking on the ContactUs button, the user is taken to a page where he can see the contact info. Clicking on the

[2016-12-24 05:36] RumanaHakeem commented on #115
Hi, I have posted the code as a part of the issue 67.
Thanks.
Rumana.

[2016-12-24 05:39] RumanaHakeem commented on #116
![image](https://cloud.githubusercontent.com/assets/22264264/21465437/59b50724-c99b-11e6-87f2-5efa7d7822e2.png)

[2016-12-24 05:54] Blandine-AA commented on #67
Josh,
Is it possible to have this installed so that we can view the web page? I unziped Rumana's file and it doesn't look right.

Stephanos,
Is it possible to have access to your initial proposal? Just for comparison and be able to review objectively.

[2016-12-24 06:10] Blandine-AA commented on #116
The problem with the wheelchair is that the first impression is that the app is for people in wheelchair or with mobility disabilities. Which is not the case. I think we should get away from the wheelchair, which is most recognized symbol for mobility disabilities, but NOT ALL disabilities

[2016-12-24 13:38] joshi1983 commented on #67
Sure I will replace the Drupal site with Rumana's files.  I'll also pass the same FTP credentials I gave to Stephanos so she can update the files according to the required tweaks.

[2016-12-24 14:05] joshi1983 commented on #67
The FTP credentials have been emailed to Areeba and Rumana.  I used an FTP client and the emailed credentials to upload the files Rumana developed so far.  [http://accesslocator.com/Website.html](http://accesslocator.com/Website.html) is one of them.  Rumana should be able to replace/tweak the files using an FTP client.

Some broken links/image references would be fixed by following some of the no

[2016-12-24 19:07] joshi1983 commented on #127
@brucelau-github there's a bug in http://app.accesslocator.com/signin where clicking the Google link redirects to localhost.  I suspect it might be related to a host name in your google account that I copied from your .env.  I started thinking it was related to the base_url in config/hybridauth.php but hardcoded app.accesslocator.com there and it still went to localhost.

I think you could reprodu

[2016-12-25 01:17] brucelau-github commented on #127
I have tested on my local machine the base_url. It works well. It failed at the first time when I forget to restart the php artisan serve after changing the key value pair APP_URL in .env file. the latest commit will handle the authentication error.

[2016-12-25 01:28] brucelau-github commented on #127
I have changed the default password.

[2016-12-25 01:31] brucelau-github commented on #127
I have add this app.accesslocator.com in the google authorized redirect urls. now it would be work

[2016-12-25 13:57] joshi1983 commented on #127
Can you rebase your issue#127 on latest master?

[2016-12-26 21:26] joshi1983 commented on #67
@RumanaHakeem should I take over where you left off?  I'm just concerned about there only being a few days until the deadline and not hearing anything from you in the last couple days.

[2016-12-26 22:09] brucelau-github commented on #127
rebase and fix up the error handle error. @joshi1983

[2016-12-26 22:20] brucelau-github commented on #127
#8b4a7a5e63adfc322c608be6536d6d7e65ca6a3a

[2016-12-26 22:20] brucelau-github commented on #127
[8b4a7a5e63adfc322c608be6536d6d7e65ca6a3a](url)

[2016-12-26 22:36] RumanaHakeem commented on #67
Hello, I am going to work on it tonight Josh.In case I can't figure out how
exactly that is done, I'll let you know by tomorrow morning then can you
please continue from there?
Thank you.
Rumana.

On 26 Dec 2016 4:27 p.m., "Josh Greig" <notifications@github.com> wrote:

[2016-12-26 22:37] joshi1983 commented on #67
That sounds good, @RumanaHakeem.  Thanks

[2016-12-27 06:09] areebakamal commented on #115
![image](https://cloud.githubusercontent.com/assets/23005093/21492248/f6798008-cbd0-11e6-927c-10b8a52d99b7.png)

Ok can I have all the details for each of the bullets? We will have a voice-over right? So what will the narrator speak?

[2016-12-27 14:00] joshi1983 commented on #67
Thanks @RumanaHakeem , I have uploaded all of Rumana's new files and will implement some of the improvements that come to mind.

[2016-12-27 15:51] RumanaHakeem commented on #67
Thank you Josh. I didn't know the email id for our website contact
information, so it put dots for now, can you please replace it if u know
what the id is?
Thank you.
Rumana.

On 27 Dec 2016 9:00 a.m., "Josh Greig" <notifications@github.com> wrote:

[2016-12-27 15:57] joshi1983 commented on #67
Yes, I'll do that in a little while.  I'll probably list Blandine and my
contact information.

On Tue, Dec 27, 2016 at 10:51 AM, RumanaHakeem <notifications@github.com>
wrote:

--
Josh Greig

[2016-12-27 18:28] brucelau-github commented on #116
![disability_symbols](https://cloud.githubusercontent.com/assets/22227484/21505751/45b36082-cc38-11e6-8f04-711f3583813e.png)
how about those pictures?

[2016-12-27 22:13] joshi1983 commented on #67
I implemented a few improvements on what Rumana started at http://accesslocator.com.  It should look acceptable on a mobile device even though a reviewer will most likely use a desktop.  I added Blandine's email address to the contact page.

[2016-12-28 03:18] Blandine-AA opened #143 "Sign up : text consistency problem"
After signing up, I get a message using "log in" instead of "sign in".

![image](https://cloud.githubusercontent.com/assets/20052162/21513060/0e8641f2-cc82-11e6-8e9f-e8421cd2ee86.png)

Josh,
Please assign as appropriate and set it Critical or P1 as necessary.
Thanks,

[2016-12-28 03:30] Blandine-AA opened #144 "Sign In with Google : autorisations problems"
When signing in with Google I get the following for autorisation, but I don't think that we used all what is listed, therefore we do not need to collect them, thus no autorisation needs to be asked.

For me the **only thing** we need to store are the sign up credentials :
- Last name and first name
- email address
- password

Remember the more things you ask autorisation for the more suspicious pe

[2016-12-28 03:48] Blandine-AA opened #145 "Profile page : need more precision"
We need to provide the user some help on what to enter in the fields.
For example:
- [x] Location should have "Windsor" as help info
- [x] Distance should have the unit beside it: m, km???
- [x] The save button is missing. How do I get out of the profile? It is not obvious if the page autosaves or not, and that you can just jump to the Home page or the Search page. I think the design was defined i

[2016-12-28 12:55] joshi1983 commented on #145
I thought these tasks were being developed as part of #110 and I added some of mocked work to get it just a little closer to the sketches without completing it.  Some other work such as a password change button is needed as part of #110.

Is this critical for January 1?  Over the next few days, @brucelau-github probably is most ready to take this on but he's focused on and getting good momentum on

[2016-12-28 13:08] joshi1983 commented on #144
We'll never copy their third party authentication password.  It seems like we should be copying everything we can but you want to minimize the options from the list that shows up when you click for Google authentication, right?

@brucelau-github is there a way to make that selection automatically for Google authentication?  If not, can some of the items in that list be filtered out?  The screensho

[2016-12-28 13:36] joshi1983 commented on #143
I'll get this change done in about 15 minutes.

[2016-12-28 13:39] joshi1983 commented on #143
This is done and deployed to app.accesslocator.com so I'm closing the issue.

Here's a screenshot:
![image](https://cloud.githubusercontent.com/assets/11838191/21523110/1351d7d0-ccd9-11e6-8959-caaa9a8b5646.png)

[2016-12-28 13:39] #143 closed

[2016-12-28 21:58] areebakamal commented on #111
![7ratebuildingplaceoffering](https://cloud.githubusercontent.com/assets/23005093/21532506/e237f1e8-cd1e-11e6-99c3-7fa7e98fe313.jpg)
![Uploading 7ratebuildingplaceoffering2.jpg…]()

[2016-12-28 22:02] areebakamal commented on #111
![7ratebuildingplaceoffering](https://cloud.githubusercontent.com/assets/23005093/21532521/fd91713a-cd1e-11e6-836d-b0e248af7fac.jpg)
![7ratebuildingplaceoffering2](https://cloud.githubusercontent.com/assets/23005093/21532522/fd948e7e-cd1e-11e6-8b2e-13eee6579250.jpg)

[2016-12-28 22:03] areebakamal commented on #111
It will be 'Rate Location' instead of 'Rate Building'

[2016-12-28 22:36] areebakamal commented on #30
![7ratebuildingdecv3](https://cloud.githubusercontent.com/assets/23005093/21532864/c2852d4e-cd22-11e6-9d97-98b90b465731.jpg)
![7ratebuildingparkingviewww](https://cloud.githubusercontent.com/assets/23005093/21532865/c28a752e-cd22-11e6-95a8-fa92a3999492.jpg)
![7ratebuildingplaceoffering](https://cloud.githubusercontent.com/assets/23005093/21532866/c28d7c88-cd22-11e6-813c-4d434b059e2b.jpg)
![7ratebu

[2016-12-29 10:50] joshi1983 commented on #117
This is the new background image that Areeba sent me.
![accessbility app background copy](https://cloud.githubusercontent.com/assets/11838191/21542265/9f4f47c0-cd8a-11e6-8106-fb3c86e92134.jpg)

[2016-12-29 11:05] joshi1983 commented on #117
I replaced the home page background with the blurrier one provided by Areeba.

[2016-12-29 11:18] joshi1983 commented on #67
I replaced the demo button image with one provided by Areeba.  She and I thought the new image looked better.

![demo](https://cloud.githubusercontent.com/assets/11838191/21542791/8a227f9e-cd8e-11e6-9b40-1b9d13eb8ef4.png)

[2016-12-29 22:31] brucelau-github commented on #144
It depends on our application setting that decides what information we want to have. I do not we can customized the oauth page since that page is from google rather than our building page.
![screenshot from 2016-12-29 17-31-03](https://cloud.githubusercontent.com/assets/22227484/21556202/9aa47904-cdec-11e6-9aff-c0cc30d67d6f.png)

[2016-12-29 22:35] brucelau-github commented on #144
We can set the scope of the profile of google users to a basic profile. I have no idea it will be what we need.

[2016-12-29 22:46] brucelau-github commented on #145
I can fix this problem.

[2016-12-29 22:50] brucelau-github commented on #145
I need more clear definition on the issue.  how could I change them?

[2016-12-30 13:27] Blandine-AA commented on #117
I prefer the original one. this one kind of make me feel dizzy. It feel less clear than the original one.

I think for now we will just go with or the other for the first round of testing and not put more work on it until we get some feedback. We can have both background tested

[2016-12-30 13:32] Blandine-AA commented on #116
Too similar to the [AbleRoad logo](https://ableroad.com/)

[2016-12-30 16:16] areebakamal commented on #82
Meeting:

*Ask JMCC if we can point to their email server for accesslocator.com email accounts such as admin@accesslocator.com.

[2016-12-30 16:36] areebakamal commented on #67
Meeting:

*Under the Team heading on the site, we need to add a bullet with "Agile/ Scrum Practitioners"

[2016-12-30 17:48] areebakamal opened #149 "Slogan"
1.	Access the world your own way
1.	Access the world with your own view
1.	Helping you personalize access to the world.
1.	Accessing the world in a personalized way
1.	An accessible world at your fingertips
1.	Guide me to my location
1.	The accessible world as you want
1.	The accessible world personalized
1.	Guide you to the world
1.	Personally guides you to the world
1.	Your personal guide to the

[2016-12-30 19:45] stephanosm commented on #149
Here are my suggestions:
4. Accessing the world in a personalized way
13. Accessing the world in a friendly and personalized way
5. An accessible world at your fingertips

I recommend inviting Anne and Tracey to provide their suggestions

[2016-12-30 21:55] joshi1983 commented on #116
The logo has been added to both app.accesslocator.com and accesslocator.com

[2016-12-30 22:09] Blandine-AA commented on #67
Following today's meeting, here are the changes required by January 1rst:

- [ ]  Pick a slogan

- [ ] Update the logo with the full version

- [ ] Add new section "History", to be the first one, with the following text:
"This innovative idea of an accessibility application was presented at the Hacking Health Windsor-Detroit 2016 Hackathon by two paediatric clinicians from the John McGivney Childr

[2016-12-30 22:19] Blandine-AA commented on #149
Anne and Tracey invited!

[2016-12-30 22:48] Blandine-AA commented on #67
I unchecked the logo task as the implementation doesn't have the "AccessLocator" name beside it. The slogan can wait, but we need the app name.

[2016-12-30 23:06] Blandine-AA commented on #67
I was looking at the presentation page with the text update and the logo and it occurred to me that we don't need the AccessLocator name and slogan in the middle of the page since we will have it at the top.

Also, there is lots of space below the picture. I suggest to move the " Click to view slideshow" icon there.

Then we can have the 2 pictures where they are. The map one will be larger since

[2016-12-31 01:51] joshi1983 commented on #67
@Blandine-AA can you draw out the layout changes you want?

One of your tasks looks more like general comment than a task.  What are you asking to be done in this?

[2016-12-31 16:32] Blandine-AA commented on #117
At the last meeting, we talked about reversing this to the original background. Can this be updated in the next couple of days?

[2016-12-31 16:57] joshi1983 commented on #67
The following changes were implemented based on feedback from Blandine:
- increased margin a bit
- moved AccessLocator and slogan from middle of page to top of page
- made the Home and Contact menu move to a new row when using very narrow width browser or a mobile phone

[2016-12-31 17:00] joshi1983 commented on #117
I thought the conclusion we came to was that it wasn't very important for the next few days and we could wait until uncopyrighten source images are taken.  We talked about how the clearer version used previously can get distracting to vision impaired users who have trouble reading the location tags/categories so there are weaknesses to both the old and new home page.

[2016-12-31 21:53] stephanosm opened #153 "PPT Presentation about AccessLocator"
The first draft presentation. It includes animations. Any feedback or changes?

[AccessLocator.pptx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/679853/AccessLocator.pptx)

[2016-12-31 23:24] Blandine-AA commented on #149
My picks, with minor modifications:
4. Access the world in a personalized way
5. The accessible world at your fingertips
1. Access the world your way

[2017-01-01 03:01] joshi1983 commented on #149
My picks from most preferred first are:
Access the world your own way
Your personalized access to the world
Your personal guide to the world

[2017-01-01 17:05] joshi1983 commented on #67
Instead of putting the demo/prototype images under the team photo, how about moving "Future Plans under the team photo?

If the demo/presentation link button was moved under the team photo, I'm not sure how the map and prototype images should be positioned to look good.

[2017-01-01 17:19] joshi1983 commented on #153
This is a clearer version of the image you captured of the logo with project name:

![image](https://cloud.githubusercontent.com/assets/11838191/21582214/8157c87a-d01c-11e6-8180-8b931d57d562.png)

I suggest replacing with that.

[2017-01-01 17:23] joshi1983 commented on #153
[accesslocator.com](http://accesslocator.com) was updated to let people download your PowerPoint presentation file.

Let me know if you make changes that you want copied over to accesslocator.com's version of the PowerPoint.

[2017-01-01 19:36] joshi1983 commented on #145
I added "Windsor, Ontario, Canada" as placeholder text in the location search on the profile but didn't update the "City" to do the same.

[2017-01-01 19:38] joshi1983 commented on #110
I checked some of @Blandine-AA 's subtasks that look complete from Areeba and my changes to the profile.  @Blandine-AA you can review them at [app.accesslocator.com](http://app.accesslocator.com).

[2017-01-01 20:05] Blandine-AA commented on #145
I think we don't need that for the Home section as the fields are clear. It is the location field that was a bit confusing.

Isn't distance in km a bit to wide? Since it is used for precision near my position. for 100 m,  I will have to enter 0.1. Let's see how it goes with initial user testing.

[2017-01-01 20:16] Blandine-AA commented on #153
I would like to suggest 2 things:

1- The presentation is a very nice presentation of what the Front page is showing. I am not sure we should have people downloading it. But since the information is already publicly available, I suggest to have the button say: "Download the presentation". If we say "View the Presentation", I expect the presentation to open on a new screen (popup or new page). It i

[2017-01-01 20:27] Blandine-AA commented on #110
Please rename "My reviewed Blogs"  to "My Reviews"

[2017-01-01 22:21] stephanosm commented on #153
I've make the corrections and I made it as a video. The problem is that this way you can't click the demo button. Any other ideas? May be remove the button from the video and include it next to this video on the informational website?

[AccessLocator_video.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/680221/AccessLocator_video.zip)

[2017-01-02 00:31] Blandine-AA commented on #30
Thanks Areeba for the latest updates.

Just few quick comment,
1. We should be consistent in the wordings we use. Use "Location" instead of "Place" for example.
2. Use "Rate" only. We don't need to be specific. It it is a park, we are not going to say "Rate Park". Everything is a location. so, we want to stay simple.

[2017-01-02 00:33] stephanosm commented on #153
I removed the button.

[AccessLocator_video.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/680286/AccessLocator_video.zip)

[2017-01-02 00:36] Blandine-AA commented on #153
I just reviewed some of the sketches that Areeba posted on the UX design issue #30 , and I think some of them should be include on the Front page and the video. She did a really good job too with the last ones.

For the Front page,

- [ ]  Replace the current map with this one as discussed in the last meeting, _after she made the few chages requested_ : https://cloud.githubusercontent.com/assets/2

[2017-01-02 03:45] stephanosm commented on #153
I've changed the map image with the new one and I updated the video. No room for any more images. I think the rest is ok to be just on the site. If we put them all then it just becomes a copy of the site.
[AccessLocator_video.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/680355/AccessLocator_video.zip)

[2017-01-02 05:28] areebakamal commented on #30
Yeah I couldn't decide which one to use, Location Offerings or Place Offerings. Location offerings could also mean actual locality advantages. In Google Maps, the place holder for search is called "Place' where you type in the place you want to search. So that's where Place Offerings comes from.
I'll change it to one or the other to be consistent.

[2017-01-02 05:29] areebakamal commented on #30
Here's the updated design for maps:

![criteriapage about building](https://cloud.githubusercontent.com/assets/23005093/21584877/707dda56-d082-11e6-8625-40d5166f24b2.jpg)

[2017-01-02 05:32] areebakamal commented on #30
![criteriapage about building](https://cloud.githubusercontent.com/assets/23005093/21584888/ec6d6b68-d082-11e6-84b1-ce087dc034b9.jpg)

[2017-01-02 05:39] areebakamal commented on #153
The first image in @Blandine-AA's post with the changes in regards to 'Rate' button can be found here:

https://cloud.githubusercontent.com/assets/23005093/21584888/ec6d6b68-d082-11e6-84b1-ce087dc034b9.jpg

[2017-01-02 22:28] joshi1983 commented on #88
Bruce configured sending of email on the server to work.  Thanks Bruce.

I'm closing this issue as it seems complete.

[2017-01-02 22:28] #88 closed

[2017-01-02 22:35] joshi1983 commented on #82
I assigned this to Blandine since it is waiting on her to talk with JMCC about shared email as Areeba commented.

[2017-01-02 22:35] joshi1983 commented on #112
The basic requirement to send email messages from the contact form to us is complete.  This requirement to have an info@accesslocator.com account is blocked by #82.

[2017-01-02 23:50] Blandine-AA commented on #153
I don't agree that adding more screen captures or sketches makes it a copy of the site as they are not all implemented yet. I thought the idea was to showcase the work that we do and/or plan to do.

I still believe that it is important to have more screen captures to balance out the text in the presentation and make it less like the Front page !

[2017-01-02 23:57] Blandine-AA commented on #67
I think we can have 2 rows of images before the partners. I have provided a set of images to use. This can just be tested and see how it works.

Also, just to repeat myself again another time, the way is now with the video, we will need 2 button. One for the slideshow video and the other one for the demo. As there is no access to the demo from the slideshow video!

[2017-01-03 02:05] brucelau-github commented on #77
following this instruction
https://certbot.eff.org/#ubuntuxenial-apache

[2017-01-03 18:34] annejmcc commented on #149
5.An accessible world at your fingertips
12.Personalized access to the world
8.The accessible world personalized

[2017-01-03 22:50] joshi1983 commented on #145
I think kilometers is good enough for now.  Since the 3 tasks are completed and this question of the unit being km or meters being answered when testing is complete, I'll close this issue.  A new issue can be created when/if meters needs to be used instead of km.

[2017-01-03 22:50] #145 closed

[2017-01-03 22:52] joshi1983 commented on #112
I assigned #112 to Blandine because it is blocked by #82 which is also waiting on a task from Blandine.

[2017-01-03 22:58] joshi1983 commented on #77
I assigned this to Bruce since he's investigating to be more sure about if there's a way to get an SSL certificate published for our domain for free.  It seems unlikely so far.

[2017-01-04 12:53] joshi1983 commented on #117
I ended up mixing the old and new background images together for the uncollapsed layout of the home page since I was worried that the blurriness could leave a negative impression on reviewers.  The blurry background image is used at every resolution under 1200 so the sharp edges and fine details don't distract readers of foreground text.

[2017-01-04 15:42] Blandine-AA commented on #67
This is what I had in mind to reorganize the info page with all the extra informations we have:
[AccessLocator Info Page Sketch.pptx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/685107/AccessLocator.Info.Page.Sketch.pptx)

[2017-01-04 15:57] Blandine-AA commented on #144
I think we definitely don't need to manage their contacts. Regarding the age range and language we don't need that either, at least for now.

When the user connects via social media, (s)he shouldn't feel like we are going to copy all their personal information for a usage they don't know.

Also, the request should say **AccessLocator would like...**

[2017-01-04 16:02] Blandine-AA opened #165 "App name hardcoded?"
Is the app name "AccessLocator" defined as a general variable so that it is used everywhere?

When signin in with Google, the autorisation says: **-hhaccessibility would like...,** I don't know where the name **-hhaccessibility** comes from.

Can this fixed so that only the appname variable is called, for consistency?

[2017-01-04 16:06] Blandine-AA commented on #127
This doesn't work anymore ! I can't sign in using my Google password.

[2017-01-04 16:16] Blandine-AA commented on #58
When creating an/my account the password fields are pre-populated. Why? I think they should be left blank, since it is a new account.

[2017-01-04 16:17] joshi1983 commented on #165
The application name is hard coded in the application and information sites.  I think @brucelau-github will be quickest to get the application name(AccessLocator) updated for Google authentication.  Can you update that, @brucelau-github ?

I'm assigning Bruce because I think he can do this faster.

[2017-01-04 16:29] brucelau-github commented on #165
Yeah.  I know how to troubleshoot this problem.

[2017-01-04 16:37] Blandine-AA commented on #110
I was thinking for the My Reviews button, that we should show the number of reviews in brackets like :
"My Reviews (0)"

2 benefits for doing it:
1. The user knows immediately how many locations s-he reviewed
2. For the demo we don't need to add the "Under development" page :).

[2017-01-04 17:02] joshi1983 commented on #58
@Blandine-AA what do you mean by "pre-populated"?  There is no password given by default by our application.  If you're new to the sign up page and seeing the password prepopulated, I strongly suspect it'll be a stored password in your web browser.

It is blank until you enter a password.  Only if something is invalid in the form would the password be set to what you used in a previous click to "S

[2017-01-04 17:11] joshi1983 commented on #110
That seems good to me.

Since multiple reviews can be made by the same user on the same location, the number of reviews isn't the same as number of reviewed locations.  It may be more understandable to the end user to show number of reviewed locations.

[2017-01-04 18:12] brucelau-github commented on #144
![screenshot from 2017-01-04 13-11-12](https://cloud.githubusercontent.com/assets/22227484/21653482/51264b6c-d27f-11e6-9713-d1e7bfeed9f1.png)
add logo and limit the information that our app can access

[2017-01-04 18:14] brucelau-github commented on #144
@joshi1983  I add you into the google api credential owner list so that you can manage the googe api of this app.

[2017-01-04 18:27] brucelau-github commented on #127
Yah. probably, User should be redirected to the map page or the profile page where users can change their profile.

[2017-01-04 18:51] joshi1983 commented on #67
I added the video to the information site in a new page.

The new "Presentation" page looks like this with the video playing immediately:
![image](https://cloud.githubusercontent.com/assets/11838191/21654726/d6faf6f2-d284-11e6-946d-cd18fdb3d6b2.png)

[2017-01-04 18:53] brucelau-github commented on #127
![screenshot from 2017-01-04 13-49-29](https://cloud.githubusercontent.com/assets/22227484/21654768/042e914c-d285-11e6-8fc8-9740ee824bac.
redirect users to profile page and save user's login status.

[2017-01-04 18:57] brucelau-github commented on #165
This problem has been solved.
![screenshot from 2017-01-04 13-11-12](https://cloud.githubusercontent.com/assets/22227484/21654914/99ca5416-d285-11e6-9c5a-44faaba4d69a.png)

[2017-01-04 20:45] joshi1983 commented on #149
This is a shorter one than we currently have but what about "Your way to access"?

I'll add it to the issue description to put it with the list.

[2017-01-04 21:13] Blandine-AA commented on #67
Hum... I thought the video would open in a separate tab. The same for the demo, a new tab should open to launch the app.

I don't think that we need to make the ppt available to the public. It should stay an "internal" document.

[2017-01-04 21:44] joshi1983 commented on #67
ok.  I removed the link to the powerpoint file.  I didn't open the video in a new tab because that could disrupt their navigation within the site.  Keeping it in a page on our site will keep the menu options for Home and Contact visible on the page.  The user could then hit the maximize button on the video to open it up full screen.

[2017-01-04 21:56] Blandine-AA commented on #67
I understand your point... but it doesn't feel right the way it opens now. May be we need some borders or something... It is too "white on white".

Did you look at the sketch?

[2017-01-04 22:07] Blandine-AA commented on #153
Regarding Stephanos comment :

I suggest then that we do not use the same images in the video and on the site then.

[2017-01-04 23:23] Blandine-AA commented on #116
This is Anne's logo proposal:
![image](https://cloud.githubusercontent.com/assets/20052162/21662916/d6a5dafc-d2aa-11e6-8d59-1e58e8937abb.png)

[2017-01-04 23:29] Blandine-AA commented on #165
Thanks Bruce for the quick fix.

My main question was not to hardcode the application name everywhere not just in the Google authorization form. Has this been also fixed or just the Google authorization form?

[2017-01-04 23:39] joshi1983 commented on #165
What was changed is only with the Google's records.  The source code for the project wasn't modified.

Your question about it being hard coded sounds like it asks for an implementation detail that I'm not sure why you'd be concerned about.  The application name is in a central place in the project.  It is represented in the best way I think possible.  It is scattered throughout our github issues a

[2017-01-05 00:03] Blandine-AA commented on #149
Better yet... "Your way to accessibility"

[2017-01-05 00:05] Blandine-AA commented on #149
Another one.. "Accessibility personalized"

[2017-01-05 00:47] joshi1983 commented on #67
I agree on the border so I darkened the box-shadow that I added before.

I also moved the demo link to be more like the PPT you sent.  I'll get more done tomorrow.
![image](https://cloud.githubusercontent.com/assets/11838191/21664746/8428f758-d2b6-11e6-8f41-5515287a2195.png)

[2017-01-05 03:00] joshi1983 commented on #144
@Blandine-AA the changes that Bruce implemented look good to me.  They are deployed on [app.accesslocator.com](http://app.accesslocator.com).  Please close the issue if you agree.

[2017-01-05 03:33] joshi1983 commented on #67
Since @brucelau-github configured the sending of email, we could add a working contact form to the information site.  Is that something we prefer over just showing accesslocator@gmail.com?

[2017-01-05 04:56] stephanosm commented on #67
absolutely!
A form is much better than a gmail account!

[2017-01-06 02:18] Blandine-AA commented on #67
Thanks Josh... but please do not use the ppt sketch as is. I just wanted to show where I thought sections should be placed with the images I had. Now we will need to be careful to make it consistent and appealing to the eye and the user.

[2017-01-06 02:56] joshi1983 commented on #67
Sure, @Blandine-AA.

I added the links to the demo site and video like in your layout.

I'm planning to add a working contact form but haven't started work on that quite yet.  Maybe tomorrow night.

I started adding a 4 picture grid similar like suggested in your ppt but will take better images or edit some of the ones to look more polished on the page.  Here's a screenshot from my work in progres

[2017-01-06 04:56] joshi1983 commented on #67
I stayed up a bit longer than expected working on it and have the grid change published now.

Check it at [accesslocator.com](http://accesslocator.com)

[2017-01-07 04:22] joshi1983 commented on #57
I assigned to Bruce since he used a pretty generic solution for Google authentication that he mentioned should work for facebook too.  He'd probably finish this faster than I could.  The little work I did with hybrid auth probably should be removed if it doesn't help to make this change.

[2017-01-07 15:46] joshi1983 opened #168 "How costly is it to make AccessLocator work as a progressive web application?"
We don't want to invest the effort to make a native Android application for AccessLocator any time soon because they are costly to develop and maintain and they only serve a fraction of our potential users.  A progressive web application could serve the same users but might be much less costly to develop and maintain so a progressive web application might be worth us trying in coming months.  How

[2017-01-09 02:39] Blandine-AA commented on #67
I had a look at the images on the web site. Here are my comments:

1. If we put six  images, they should be on 2 rows. 3 rows,  is too much!
1. We don't need both the Sign In and Sign up image. One should be sufficient! I would go for the Sign Up page!
1. We don't need that much details in the caption. Things can change after we start testing. Here are my suggestions:
            - Home page  imag

[2017-01-09 02:42] Blandine-AA commented on #67
Areeba,

When looking at the link icons for the presentation and demo, they are different. I think it would look better if they had identical design features and just the text will be different.

If you have other suggestions, it is greatly appreciated. I just think that it looks a bit weird as it is now.

[2017-01-09 21:20] brucelau-github commented on #57
There is a issue while we retrieve facebook user's email.  Users may login facebook by phone number rather than an email address. In this condition, we could not create user profile with empty email address. @joshi1983

[2017-01-09 22:02] brucelau-github commented on #57
@areebakamal
I need a log picture with following format for our facebook application:

- You can upload a JPG, GIF, or PNG file.
- The size of the image must be 1024 x 1024 pixels.
- File size limit 5 MB.

[2017-01-09 22:35] brucelau-github commented on #57
@joshi1983 do you have a facebook acount? I need it so that I could add you in to application admistrator group of our project. send me an email.
it is ready to merge. It works with my facebook id since I am the developer and users of this application in facebook. Can you try to test it on your machine with your id? I have ever suffered a security problem before when others log in the application.

[2017-01-09 22:50] joshi1983 commented on #165
I assigned this to Blandine to answer the questions on it or close the issue.

[2017-01-09 23:10] joshi1983 commented on #57
I gave Bruce my facebook information in a private chat conversation.

@brucelau-github for the log picture you're asking Areeba about, where would it go or how would it be used?  The button uses an icon.

[2017-01-09 23:26] brucelau-github commented on #57
I will be like show a logo on the authentication page.

[2017-01-09 23:27] brucelau-github commented on #57
![screenshot from 2017-01-09 18 27 41](https://cloud.githubusercontent.com/assets/22227484/21787818/53f5b0f8-d699-11e6-8c08-7a7a1de948a0.png)
like this one

[2017-01-09 23:34] joshi1983 commented on #57
Can you use this for now?  It is our current logo.  I just cropped and scaled to make it 1024 by 1024:

![image](https://cloud.githubusercontent.com/assets/11838191/21787973/1b792efc-d69a-11e6-992f-007bde64488c.png)

It has some rough edges and bluriness at 1028 by 1028 but

[2017-01-09 23:37] brucelau-github commented on #57
We detected a white background in your image. Icons look best on our site when the background is transparent. Please use a transparent background and try again.

[2017-01-09 23:42] areebakamal commented on #67
I've updated the demo button to match the presentation button.
![demobuttonfordemo](https://cloud.githubusercontent.com/assets/23005093/21788202/4a0820f6-d69b-11e6-8403-92823209f776.jpg)

[2017-01-09 23:43] joshi1983 commented on #57
![transparent_logo_1024](https://cloud.githubusercontent.com/assets/11838191/21788226/6f5835c6-d69b-11e6-8762-99c4d2a9a81a.png)

[2017-01-09 23:46] joshi1983 commented on #67
@areebakamal nice job with the text but the icon has a shadow under it and the presentation link icon doesn't.  Also, the background colour looks darker in that picture than this one:
![image](https://cloud.githubusercontent.com/assets/11838191/21788309/f61f22a4-d69b-11e6-994d-40d34e587119.png)

[2017-01-09 23:57] brucelau-github commented on #57
I have submitted this file as the application logo in our application setting menu.

[2017-01-09 23:59] brucelau-github commented on #57
![screenshot from 2017-01-09 18-58-08](https://cloud.githubusercontent.com/assets/22227484/21788612/ac05aa6a-d69d-11e6-8c39-9a944ec07672.png)
it works

[2017-01-10 00:01] joshi1983 commented on #57
That looks pretty good.

[2017-01-10 00:10] areebakamal commented on #67
![clicktoviewpresentation2](https://cloud.githubusercontent.com/assets/23005093/21788870/2ae7c39e-d69f-11e6-9b52-f53e0f12e188.jpg)
![demobuttonfordemo](https://cloud.githubusercontent.com/assets/23005093/21788871/2aeca95e-d69f-11e6-8495-8d9e1b6f2f4a.jpg)

How about now?

[2017-01-10 00:13] areebakamal commented on #67
![clicktoviewpresentation4](https://cloud.githubusercontent.com/assets/23005093/21788956/b1b71b54-d69f-11e6-8b5c-956206a6887a.jpg)

[2017-01-10 00:17] areebakamal commented on #67
![clicktoviewpresentation5](https://cloud.githubusercontent.com/assets/23005093/21789055/305a2a5a-d6a0-11e6-86a7-ef0dc21f489c.jpg)

[2017-01-10 00:21] areebakamal commented on #67
Background brightened:

![demobuttonnnbackgroundbrightened](https://cloud.githubusercontent.com/assets/23005093/21789138/d1b25242-d6a0-11e6-96bb-ce51267bcb83.jpg)
![demobuttonforpresentationbackgroundbrightened](https://cloud.githubusercontent.com/assets/23005093/21789139/d1b86222-d6a0-11e6-9b86-5d701898cee1.jpg)

[2017-01-10 00:34] areebakamal commented on #67
No drop shadow as suggested by @joshi1983

![Uploading demobuttonforpresentationnoshadow.jpg…]()
![demobuttonnoshadow](https://cloud.githubusercontent.com/assets/23005093/21789393/aeabb836-d6a2-11e6-9d7a-e484667a0566.jpg)

[2017-01-10 01:56] Blandine-AA commented on #165
I'll close this since Josh seems to be ok with the design.

[2017-01-10 01:56] #165 closed

[2017-01-10 15:45] Blandine-AA commented on #149
Tracey's picks:

[2017-01-10 16:02] Blandine-AA commented on #149
To summarize the votes (in brackets):
4. Accessing the world in a personalized way (**4**)
5. An(The) accessible world at your fingertips (**4**)
8. The accessible world personalized(**2**)
11. Your personal guide to the world (**2**)
14. Your personalized access to the world (**2**)
1.Access the world your (own) way (**1**)
9. Guide you to the world (**1**)
12. (Your) Personalized access to the w

[2017-01-10 16:27] annejmcc commented on #149
Tracey likes 14 and 5
Anne likes 5 (with THE not An) and 12/14 (they are the same?)

[2017-01-10 16:32] stephanosm commented on #149
Yes 12 and 14 are the same, thus having 3 votes.
Mine are 12/14 and second option is 5

[2017-01-10 18:38] RumanaHakeem commented on #149
I like the 5th one.

[2017-01-10 19:22] brucelau-github commented on #149
the 4 th and 12

[2017-01-11 04:35] areebakamal commented on #149
14.Your personalized access to the world.
1.Access the world _your_ way
8. The accessible world personalized

[2017-01-11 15:53] Blandine-AA commented on #149
My picks are:
12/14 and 8

[2017-01-11 16:44] joshi1983 commented on #149
My picks from most preferred first are:
Access the world your way
15. Your way to access
16. Your way to accessibility
14.Your personalized access to the world

I commented about it on Dec. 31 but just wanted to update the preferences since we added a few items to the list.

[2017-01-11 20:21] Blandine-AA commented on #82
Got JMCC answer and it is NO for now.

Let's work with the gmail account for now and we will see later to get a separate webmail server or figure out another solution with JMCC or OACRS.

[2017-01-11 20:25] Blandine-AA commented on #149
@joshi1983 I was asking for your 2 picks from the second list after I tallied the initial choices. Please see my comment from a day ago.

[2017-01-11 21:03] joshi1983 commented on #149
I missed that @Blandine-AA.  Here's my 2 picks out of the revised list:

4. Accessing the world in a personalized way
12/14. Your personalized access to the world

[2017-01-12 12:51] Blandine-AA commented on #149
Every body has voted and here are the results:
12/14. Your personalized access to the world (**7**)
5. The accessible world at your fingertips (**4**)
4. Accessing the world in a personalized way (**2**)
8. The accessible world personalized (**2**)

**The clear choice is : "Your personalized access to the world"**

@joshi1983  you can  implement this .

[2017-01-12 19:24] Blandine-AA commented on #110
Got some initial feedback on this section:
![image](https://cloud.githubusercontent.com/assets/20052162/21904737/ad9d1336-d8d2-11e6-81f6-31c11e25048b.png)

**Issues:**
- Check boxes are too small
- Text is too small
- Extra space below the list of criteria
- Can't close list

We will need to rediscuss the design to better reflect the initial proposal.

[2017-01-13 19:03] Blandine-AA commented on #153
@stephanosm, I presented the Info page We-Tech on Wednesday, and I got some feedback. One of them, unspoken, was the presentation video was a bit slow. I don't know if there is anything we can do for some of the animations and transition that take time on the screen.

Now the video is only 3 mins long. Which is not too bad!

Also, now that we have the slogan, can that be updated too?

[2017-01-13 19:06] Blandine-AA commented on #153
@joshi1983, Now that we have the slogan, could you please provide an updated "Logo+App name +Slogan" image to Stephanos for the PPT?
Thanks,

[2017-01-13 19:40] stephanosm commented on #153
@Blandine-AA, some of the slides of the PPT are slow in purpose. Those are the ones with lots of text so the viewer has enough time to read it.
Yesterday, we had a meeting about the Hackathon and the people from WeTech were excited about AccessLocator.

[2017-01-13 20:09] Blandine-AA commented on #105
Demo and Test subdomaines created. This can be closed now!

[2017-01-13 20:09] #105 closed

[2017-01-13 20:13] Blandine-AA opened #173 "Demo : initial version (0.0.1) readiness"
Some work is needed to have a "clean" demo release. I think the time spent will be worthwhile, as it will allow to do 'clean' demos to potential sponsors and early adopters.

- Update the following pages or links that are not completed or will not be completed by the end of the month with "Under Development" popup/message:
     - [x] Sign In with Facebook - Currently doesn't work. If we are not go

[2017-01-14 15:23] joshi1983 commented on #153
As @Blandine-AA reminded me, here's an updated image of the logo with the new slogan.

![image](https://cloud.githubusercontent.com/assets/11838191/21955955/8564c66c-da43-11e6-8967-c8d5cac3a7c5.png)

[2017-01-14 15:45] joshi1983 commented on #67
@Blandine-AA wrote "If we put six images, they should be on 2 rows. 3 rows, is too much!"

To be consistent with the way we stack elements at lower viewport/screen widths, I made it use 2 rows only between the viewport is between 2000 and 3600 pixels wide.  This range looked appropriate.  At over 3600 pixels wide, they'd actually see just 1 row of all 6 images.

[2017-01-14 18:58] Blandine-AA commented on #153
@stephanosm , thanks for the clarification on the slide. I also thought that would be the reason.

I did a quick presentation on Wednesday to Irek from Hackforge. That's why! He is very excited about the project et can't believe how far we got! It is good sign! We may get some help from them after all.

[2017-01-14 19:03] joshi1983 commented on #153
If you mean Irek Kusmierczyk, I think he's more connected with WeTech.

[2017-01-15 00:17] stephanosm commented on #153
Yes, Irek from WeTech

On Sat, Jan 14, 2017 at 2:03 PM, Josh Greig <notifications@github.com>
wrote:

[2017-01-15 14:41] joshi1983 commented on #67
Here is a little snapshot/backup of the information site files for now.  This seemed like a good time to make one since the responsibility of this issue is being handed to a new person today.

I left the presentation video file out of the zip because that one file would make the zip about 4 times larger and more difficult to upload.  This includes some extra graphic files not on accesslocator.com

[2017-01-15 17:56] joshi1983 commented on #110
The saving of profile information should work now.  The only part that won't save is the email address which needs more thought.

We want all email addresses confirmed and updating the email address in the current layout could switch from a confirmed address to an unconfirmed one without any confirmation step to check that the user is happy with that.

[2017-01-15 17:59] joshi1983 commented on #153
I added Areeba to this since she'll be copying any new presentation files to the information website now.

[2017-01-15 23:07] Blandine-AA commented on #153
Yes. I meant Irek from WE-Tech. There is only one Irek K. in windsor :).

[2017-01-16 13:32] Blandine-AA commented on #67
Thanks @areebakamal for taking this over for the final tweaks.

I believe @joshi1983 explained to you what was left to do. In summary:
- [ ] Replace the Sign In image with : https://cloud.githubusercontent.com/assets/20052162/21583712/cf1318a6-d05a-11e6-8668-62ac9deaf37f.PNG - Title : "Universal and Personal Views tabs"
- [ ] Link the HH picture to the following article : http://www.canhealth.com/

[2017-01-16 13:33] Blandine-AA commented on #67
@brucelau-github , could you also add the captcha to this contact form? Thanks!

[2017-01-16 14:37] Blandine-AA opened #177 "Home page : add slogan in quotes below AccessLocator in the blue box"
![image](https://cloud.githubusercontent.com/assets/20052162/21986886/4b4f3556-dbcf-11e6-8baa-1288bf8dc70c.png)

[2017-01-16 17:12] joshi1983 commented on #177
Do you want the "Find accessibility information on locations..." still there in another paragraph under the slogan?

Do you want the current paragraph removed?

Also in the same area, do you think the repetition of "AccessLocator" is good?  I'm leaning toward "yes" but it seems worth asking because "AccessLocator" is both in the top header and just above that paragraph.

[2017-01-16 21:44] joshi1983 commented on #173
@Blandine-AA please list exactly what extra pages should have "Under Development" on them.  This isn't clear when all pages are somewhat under development.

Also, where should the 0.0.1 go?  Should it be documented somewhere for the public to see?  Is that something for the Information Site?

[2017-01-16 22:51] Blandine-AA commented on #173
@joshi1983 ,
I have updated the initial message with the info on where the version number should be andthe list of pages that need to be tagged. Hopefully I have covered all of them. Let me know if you have questions or find other that I missed.

I don't think we need to add extra info on the Info page for now. We can choose to publish or not a release note on the info page when we get to demo ver

[2017-01-16 23:05] joshi1983 commented on #177
I assigned to @Blandine-AA to more quickly get some questions answered before finishing this.

[2017-01-16 23:29] joshi1983 commented on #168
I watched the complete video at https://www.youtube.com/watch?v=cmGr0RszHc8 and it seems like a lot of work still.

The first couple steps would be:
1. Add a JavaScript file responsible for managing the application's cache with probably AppCache and a service worker to intercept HTTP requests for the home page and eventually others
1. Take advantage of the cache to store images that we want regard

[2017-01-16 23:43] joshi1983 commented on #110
@areebakamal , @Blandine-AA asked "why is it a check-mark all the time on the save button?" on #173.  Is it because saving is like saying that you're ok with all the changes?
![image](https://cloud.githubusercontent.com/assets/11838191/22002610/566cb75a-dc1b-11e6-8317-68d36a25bf33.png)

[2017-01-16 23:49] joshi1983 commented on #173
I checked the Profile save because it is working like commented on in #110.  I'll try to keep the discussion of the profile on #110 so this one doesn't get noisy.  Given all the business coming up at the end of the month, I'll probably get this demo made early next week and it won't receive any updates until the next demo happens at least a month later.

[2017-01-17 01:57] stephanosm commented on #110
I kinda like the check mark. It will even be better if it is without the check mark and on-click event it shows an animated check mark (indicating that this has been saved). This animation it could be 2-3 images of the check mark

[2017-01-17 02:01] #149 closed

[2017-01-17 12:42] Blandine-AA commented on #177
@joshi1983

Yes we need to repeat the name and leave the current paragraphe.
Add the slogan in quotes just under the name, in Italic would be nice.
Then leave some space before the current paragraph and the slogan.

[2017-01-17 12:52] Blandine-AA opened #180 "Demo : Problem when signing in with Google"
When trying to sign in with Google from the demo domain demo.accesslocator.com, **I am redirected to the development domain app.accesslocator.com.**
Please fix so that when using the demo domain, we stay on it.

Same thing happens when clicking on the Facebook. But this is going to have a the "Under development" popup anyway.

@joshi1983 , since I don't know if it is related to the domain name or

[2017-01-17 13:32] joshi1983 commented on #177
That answers everything, @Blandine-AA.  Thanks.  I'll probably get that done tonight.

[2017-01-17 13:35] joshi1983 commented on #180
Regarding the facebook comment, Bruce has it almost working properly too so it'll probably get in the demo for end of month rather than the "Under development" message.

[2017-01-17 17:43] brucelau-github commented on #180
It should work now.

[2017-01-17 17:46] brucelau-github commented on #180
for facebook : Your app is currently live and available to the public.

[2017-01-17 23:13] joshi1983 commented on #180
@brucelau-github I changed the APP_URL in .env on Digital Ocean and that fixed the facebook redirecting to app.accesslocator.com.

I'm getting a new problem with Google authentication, though.  Any chance the settings are referring to app.accesslocator.com specifically for authentication?  If so, maybe we can add demo.accesslocator.com or the various other subdomains of accesslocator.com to the ac

[2017-01-17 23:43] joshi1983 commented on #177
@Blandine-AA check the work at [http://app.accesslocator.com](http://app.accesslocator.com).  If it looks good, please close this issue.

[2017-01-18 01:16] joshi1983 commented on #116
Now that we have a logo selected, do you think this issue should stay open, @Blandine-AA ?

[2017-01-18 16:43] Blandine-AA commented on #116
@joshi1983 , we haven't really closed the discussion on the subject. I guess the selected logo is here to stay for a while, at least until we have the resources to get a better one.
So, I will close this issue for now.

[2017-01-18 16:46] Blandine-AA commented on #177
I think it looks nice!

[2017-01-18 16:46] #177 closed

[2017-01-19 14:10] Blandine-AA commented on #180
@brucelau-github @joshi1983

Also, whether using FB or Google to connect from app.accesslocator.com, I am redirected to demo.accesslocator.com. I should stay on app.accesslocator.com

[2017-01-19 17:43] joshi1983 commented on #180
@Blandine-AA yes, I knew of that problem but that's better than always being redirected to app.accesslocator.com, right?  I just thought people seeing the intended behaviour from demo.accesslocator.com was more important because we're encouraging people to visit that site from accesslocator.com.

I can probably fix the problem of always redirecting back to demo.accesslocator.com tonight but @bruce

[2017-01-19 20:13] Blandine-AA commented on #67
@areebakamal ,

Please also add this quote in italics to the info page **between the HH picture and the demo/presentation icons.**
_“The promise of **AccessLocator** is that it can become a **TripAdvisor for families with accessibility challenges**, providing – for example - a more complete picture of a restaurant or hotel's accessibility from the perspective of the people who know what matters”._

[2017-01-20 02:03] joshi1983 commented on #173
@Blandine-AA I finished most of this issue.  There is an independent demo deployment now.

There was no copyright for almost a month.  If we add it back in, who should it be copyrighting to?  JMCC was there before.

[2017-01-20 02:06] joshi1983 commented on #180
I gave up on having this resolved for the January 32 demo release and showed a popup on demo.accesslocator.com instead under the Google link.

app.accesslocator.com has no such message so @brucelau-github can fix it more easily.

[2017-01-20 02:36] Blandine-AA commented on #173
Thanks @joshi1983  for the update.

I didn't say that we need to add the copyright. I mentioned it just to indicate where to pput the version as you asked. Maybe another lace for the versonis more suitable, bt it is the only place that came to mind when answering your questions :)

Regarding the copyright, we will need to think about it and see with JMCC. But thinking about it again, on top of my

[2017-01-20 03:20] brucelau-github commented on #180
I have fixed the error on Google and it might work after a couple of minutes.

[2017-01-20 03:42] brucelau-github commented on #180
@joshi1983  I have tested on our server and it works now. And I change them back to javascript:link. it is ready to use.

[2017-01-20 03:44] brucelau-github commented on #180
about the app or demo link. it depends on APP_URL setting in .env file.

[2017-01-20 17:25] Blandine-AA opened #184 "User Profile : Photo upload tag visible"
After loading my profile photo, the "Upload Your Photo" tag is still visible across my photo. Can this be removed and have maybe and 'edit' link or a camera icon in a corner to allow change of photo?
![image](https://cloud.githubusercontent.com/assets/20052162/22158685/596c6084-df0b-11e6-831b-bb7c01fa119e.png)

[2017-01-20 17:32] Blandine-AA opened #185 "Testing : Round1 testplan"
Write test plan & testcases to coover the following areas:
![image](https://cloud.githubusercontent.com/assets/20052162/22159200/d4722744-df0d-11e6-8b4f-e0526232d5b4.png)
[AccessLocator Testing Round1-testplan.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/724220/AccessLocator.Testing.Round1-testplan.docx)

[2017-01-20 17:33] Blandine-AA opened #186 "Testing: Round1 execution by JMCC users"
- [ ]  Identify and assign testers from JMCC. 5 at the most!
- [ ]  Complete testing by January 31rst, 2017

[2017-01-20 17:36] joshi1983 commented on #184
@Blandine-AA sure.  If a user wants to remove the uploaded photo, do you have a suggestion for how to do that too?

For now, after you upload a photo once, you can replace the image but never go back to having no photo at all.

[2017-01-20 17:43] joshi1983 commented on #185
Are you forgetting the contact page at [demo.accesslocator.com/contact](http://demo.accesslocator.com/contact)?

[2017-01-20 18:16] Blandine-AA commented on #110
@joshi1983 , regarding the photo upload feature...

Why having a message after uploading the picture? I Think it would be better to just have the profile page refreshed and the photo displayed. Unless there was and error processing the upload, then you would show an error message on the same Profile Photo Upload page and ask the user to try again!

If there has been unsaved changes to the page, yo

[2017-01-20 18:51] Blandine-AA commented on #185
@joshi1983,
It wasn't the intent to have users testing  on the demo environment.
Testing will be more frequent than demo. So, it makes sense to me to have a separate testing environment for the short period of time we do the testing.

Can't you just fork a build to the test environment? No extra work will need to be done from the app environment. Except for a code submission freeze of a day or 2.

[2017-01-20 22:35] joshi1983 commented on #110
@Blandine-AA I guess it is a funny case but text saying that the upload succeeded might help a blind user know that it worked.  Even in that case, maybe going back to the profile is clear enough.

Having a test environment independent of the app.accesslocator.com wouldn't be a lot of extra work but maintaining it takes yet another 30 minutes out of an average of 4 hour for me per week.  Keep in mi

[2017-01-21 03:55] Blandine-AA commented on #184
@joshi1983, @areebakamal ,

When I look at Facebook for example, you cannot NOT have a profile picture, but the cover picture is optional. So, it can be removed.

Since, we need to have a profile picture, I believe so, what's the point to allowing a profile without picture? The main question I think is: How important is it to have a profile picture?

[2017-01-21 04:02] Blandine-AA commented on #110
@joshi1983 ,

I definitely understand the time constraint and hopefully we will get more help soon.

Regarding the test environment, I think that once it is cut-off, we don't need to maintain it, since it is meant to be tested as is, unless it is unusable. In that case, we just trash it and cut-off another one from a working app environment.

I don't really see the maintenance work that will be re

[2017-01-21 04:31] stephanosm commented on #184
Here's my comments on the Profile photo:
1. After uploading the image the user should be return to the Profile page. This way he can see that his photo has been uploaded, so no need for a msg that the upload is successful.
2. Profile photo is important. We will need it later on when this app turns to a social app.
3. A good way to handle this is the following. Add an AccessLocator image (e.g. logo

[2017-01-21 14:00] joshi1983 commented on #185
@Blandine-AA you want the same 'Under Development' messages from demo on test, right?

[2017-01-21 14:20] joshi1983 commented on #184
I deployed the requested changes to [app.accesslocator.com](http://app.accesslocator.com).

It looks like the following after uploading the JMCC logo as a profile photo:
![image](https://cloud.githubusercontent.com/assets/11838191/22175011/96280294-dfba-11e6-9339-3a1ddeddd83c.png)

These changes are *not deployed* to [demo.accesslocator.com](http://demo.accesslocator.com) because that deployment h

[2017-01-21 14:26] joshi1983 commented on #127
@Blandine-AA I tested this and demo redirects to demo as desired.  app redirects to app as desired.  It looks done to me.  If you agree that this is ready to close, please close it.

[2017-01-21 14:27] joshi1983 commented on #180
@brucelau-github good stuff.  I tested Bruce's changes too and it is working.  demo redirects to demo.  app redirects to app.  I think this is done and ready to close.  @Blandine-AA if you agree, please close.

[2017-01-21 17:36] joshi1983 commented on #135
I added the Accessibility Rating column, distance, and the table/map links but there's a lot of work left on this issue.

[2017-01-22 06:47] areebakamal commented on #67
The first four are complete now. Please check. @Blandine-AA

[2017-01-22 06:59] areebakamal commented on #67
I've left the 'sign up' screenshot as is as I think it looks more crisp that way and it aligns with the homepage bar at the top.
I can center-align it vertically if you think this looks better:
![image](https://cloud.githubusercontent.com/assets/23005093/22180690/aede65cc-e045-11e6-94b1-ab0d28e94376.png)

[2017-01-22 10:02] areebakamal commented on #67
Quote has been added too and is responsive for various screen sizes. @Blandine-AA

[2017-01-23 00:12] Blandine-AA commented on #184
@joshi1983,
I am confused about this statement...

I thought there were some work to be completed and have a nicer demo version released by January 31rst, as mentioned in #173 ?  When did you cut-off the demo version?

Also, as in most apps the user would expect the Edit button at the bottom right of the picture, as @stephanosm  explained in his message about the expected behavior (point 3). You h

[2017-01-23 00:27] Blandine-AA commented on #67
Thanks @areebakamal

I think the alignment looks nice. I just have a couple of comments on the quote.
1- PhD has to be on the same line as the name
2- I would like to have "TripAdvisor for families with accessibility challenges" in **bold**
3- I think the quote should be a bit closer to the HH picture, to reduce the blank space.

Otherwise all looks pretty ready now. We just need to have the demo

[2017-01-23 00:33] Blandine-AA opened #192 "Open Data : Winter Hackathon Challenge"
As part of the Winter Hackathon organized by Hackforge and the University of Windsor, we are having AccessLocator challenges for the students. The Hackathon Theme is Open Data.

As lead design, @joshi1983 has agreed to work on defining the challenges. This issue is to share what the challenges are.

[2017-01-23 01:17] joshi1983 commented on #184
I can't be updating the demo deployment during hackathon weekend and I don't like doing things last minute so I set it up a few days ago and considered it set for the life of that demo.  There are a few side benefits to this.  Areeba doesn't have to replace screenshots down to January 31 night as features are changed.  If demo represents what we'll have testers use, test plans can be written befor

[2017-01-23 05:01] Blandine-AA commented on #184
@joshi1983 ,

Yes, the Edit has to be below the photo. We'll make the change later, if it requires some sketchup/mockup to fix it. It is not a priority anymore. We will have to focus on finalizing more important sketches to have them implemented.

I understand that you didn't want to do changes during the hackathon week-end. We had discussed this, but I would have preferred being notified of your

[2017-01-23 12:47] joshi1983 commented on #184
I might be beating a dead horse with this but in case it offers any value, here's some more detail on how this misunderstanding happened on my end.  It needed to be done by January 31 and January 20 is before 31 so I didn't really change the deadline but finished earlier than you expected.  In previous discussions you mentioned the earlier a demo is available, the better.  On January 20 on #173, I

[2017-01-23 13:55] Blandine-AA commented on #184
Agree :)

This wasn't clear to me that the demo load was cut-off.
I guess that you will not give me a test load neither.

[2017-01-23 14:29] joshi1983 commented on #184
![consensus](https://cloud.githubusercontent.com/assets/11838191/22207728/3cadca42-e14e-11e6-97e1-e28550c8fbf6.png)

I might have time to point test.accesslocator.com to the same deployment as demo.accesslocator.com this week but can't do much more than that.  That'll give you the Under Development messages that you want and the stability that you want.

[2017-01-23 16:08] Blandine-AA commented on #185
@joshi1983 , for the test environment, no need to have the "under development" specifically added. What ever is in the app at the time of the cut off will be.

For this round, I have changed the test plan to use the demo environment, and sent it to Anne and Tracey. So, let's just move on :)

[2017-01-23 22:47] Blandine-AA commented on #153
@stephanosm, could you please update the ppt and video to include the new logo+slogan image Josh posted 9 days ago?

Then let @areebakamal know so that she can update the link.

[2017-01-23 22:53] Blandine-AA commented on #184
@joshi1983, you already have a lot on your late. So, don't bother with the test environment for now! As I said in another comment, I have already updated the test plan to use the demo environment, and sent it to JMCC.

If you can add the demo version number, that would be nice.

Yes, we still meet Thursday night. Hopefully @stephanosm  will make it.

I definitely agree with your time allocation th

[2017-01-23 23:04] brucelau-github commented on #67
the recaptcha should work now.
![screenshot from 2017-01-23 18 04 44](https://cloud.githubusercontent.com/assets/22227484/22226906/717ca3cc-e196-11e6-9af1-bbf7ed7edc4d.png)

[2017-01-23 23:29] Blandine-AA commented on #67
Thanks @brucelau-github !

Could you implement the same captcha as the one we have for the app with the checkbox? . This one is too complicated. Consistency is good! I send you a separate email.

[2017-01-23 23:51] joshi1983 commented on #67
@brucelau-github get in touch with @areebakamal so she knows what files were changed so she won't replace your work.  She is working on the accesslocator.com files too.

[2017-01-24 02:29] #180 closed

[2017-01-24 02:40] Blandine-AA commented on #173
@joshi1983 , this hasn't been been fixed yet under the demo environment. you needed  to show 'Under development' instead of the list of criteria. http://demo.accesslocator.com/location-report/30/universal/3

Also, having the rating and distance in the demo version wasn't needed. Having the requirement above is more important.

I have updated/unchecked the requirements in the initial issue descript

[2017-01-24 03:25] brucelau-github commented on #67
okay.
![screenshot from 2017-01-23 22-23-28](https://cloud.githubusercontent.com/assets/22227484/22232968/c2e132ae-e1ba-11e6-8f2b-a22ec95cb3b1.png)

[2017-01-25 01:19] joshi1983 commented on #67
I'm not sure who might be working on it but accesslocator.com is looking pretty rough right now.  It looks like the CSS file was deleted.  Are @areebakamal or @brucelau-github working on it?

![image](https://cloud.githubusercontent.com/assets/11838191/22274081/571211d4-e272-11e6-8df7-01240c03d075.png)

[2017-01-25 01:37] joshi1983 commented on #67
The mistake was fixed by dragging js/css up a level.  Maybe someone dragged the directory into a folder while using an FTP client and didn't realize.

[2017-01-25 06:08] areebakamal commented on #67
@Blandine-AA

I've made the changes at: http://accesslocator.com/

Made the quote as text instead of image as it previously was. So it shouldn't look cut and pasted anymore.
In addition, I've also justified all the text on the left side of the webpage.

[2017-01-25 08:35] areebakamal commented on #184
For the profile image, I think it should be a default user icon from font awesome any generic user avatar like
![agent-e202505f](https://cloud.githubusercontent.com/assets/23005093/22281640/14bdfc6a-e2a6-11e6-905d-2d0b9e7ad917.png)

Should display 'upload profile
![upload button](https://cloud.githubusercontent.com/assets/23005093/22282217/084fa570-e2a9-11e6-84d7-2d1edee72c0f.jpg)

When you hover

[2017-01-25 16:44] stephanosm commented on #184
I agree, but remember the 'hover' behavior should be different for mobile
devices.

On Wed, Jan 25, 2017 at 3:35 AM, areebakamal <notifications@github.com>
wrote:

[2017-01-26 11:12] joshi1983 commented on #192
I've been sharing a Powerpoint presentation with @Blandine-AA and @stephanosm through email.

[2017-01-26 16:35] Blandine-AA commented on #21
I have contacted the City of Windsor and we might work out something to get their help with accessibility data collection. More to come...

[2017-01-27 02:53] areebakamal commented on #110
I agree with @stephanosm for the check mark to appear after the user has clicked 'Save Profile'.

[2017-01-27 03:05] areebakamal commented on #110
![image](https://cloud.githubusercontent.com/assets/23005093/22359214/263a96ba-e413-11e6-9fa5-3ce07e8bf3b0.png)

I can make those changes in the current layout if we want to stick to the collapsible list idea.

[2017-01-27 11:38] joshi1983 commented on #110
I'm leaning toward the rediscussion happening before implementing any changes on it.

As you increase the font size, expand the check boxes, add more space, be sure that you don't add a scrollbar or something weird to the Bathrooms question category.  Bathrooms has a lot more questions which take a lot more space than other question categories.

Maybe allowing for inconsistent heights for each sec

[2017-01-27 18:41] Blandine-AA commented on #110
@areebakamal, I think it wouldn't hurt to investigate how to make this section work considering various feedback we have  on this issue.

[2017-01-27 23:14] joshi1983 opened #195 "Research Metro Extracts"
https://mapzen.com/data/metro-extracts/

[2017-01-29 21:55] joshi1983 commented on #192
Here are the Powerpoint slides for the challenge:
[AccessLocator Open Data Challenge.pptx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/737828/AccessLocator.Open.Data.Challenge.pptx)

Here are some more details shared with interested participants:
[OpenStreetMapLocationsDownloader.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/737832/OpenStreetMapLoc

[2017-01-29 21:57] joshi1983 commented on #192
I think "Lead Design" could be misinterpreted as more of a graphic design or UX design position.  "Lead Developer" seems like a more accurate and understandable title for my role on AccessLocator.

[2017-01-29 22:47] joshi1983 commented on #127
I'm closing the issue because I'm pretty confident it is done.

[2017-01-29 22:51] joshi1983 commented on #57
I'm pretty confident facebook authentication is working fine so I'm closing the issue.

[2017-01-29 22:51] #57 closed

[2017-01-29 23:07] joshi1983 commented on #58
@brucelau-github was assigned because he wanted to work on the email verification process.

This will likely involve:
- Adding a field to the user table for email_verification_token.
- Adding a field to the user table for email_verification_time
- Sending email when signing up for a new user account without third party authentication(Not applicable Google or Facebook signups)
- Handling a click to

[2017-01-29 23:08] joshi1983 commented on #192
Since the challenge is over and the challenge has been shared, I'm closing this issue because it seems complete.

[2017-01-29 23:08] #192 closed

[2017-01-29 23:33] joshi1983 commented on #135
Would anyone want to sort in descending order?  I know that would be a popular option in applications like Excel or Access but I wonder if that could be simplified down to only ascending for our application.  Sorting to see most distant locations first or lowest rating first seems funny.  Descending sort by name still seems equally reasonable to ascending, though.

A sorted column should be pretty

[2017-01-30 00:02] stephanosm commented on #135
I believe the more visualization the better it is. I don't think we need
descending. I suggest we have the sorting by closer distance, by rating and
by ascending(all).

On Sun, Jan 29, 2017 at 6:33 PM, Josh Greig <notifications@github.com>
wrote:

[2017-02-01 14:01] Blandine-AA opened #199 "Sign Up : Email validation"
When a user creates an AccessLocator account, we need to validate the email entered before the user can use it to sign in

@joshi1983, please review and assign accordingly

This is related to #58.

[2017-02-01 14:26] Blandine-AA commented on #77
@joshi1983 @brucelau-github

Please provide feedback if this should be included in our next milestone for demo release version 0.0.2

[2017-02-01 14:54] Blandine-AA commented on #26
Investigate Jaccede accessibility criteria list and see if we can improve our list

[2017-02-01 14:56] Blandine-AA commented on #10
We need to investigate the type of data they collect

[2017-02-01 16:55] Blandine-AA commented on #21
A meeting is scheduled Feb. 14 with the various departments of the City of Windsor.

[2017-02-01 17:02] Blandine-AA opened #200 "Rating : make the rating feature work"
See #30  for mockups
We only implement the web app views.
Other related issues: #108, #109

[2017-02-01 18:47] Blandine-AA opened #201 "Open Street Map : Locations retrieval"
As a follow-up to the Winter Hackathon, more work seems to be needed to retrieve the locations geographical information.

Here is Josh's answer to my question if we had some results from the hackathon team:

[2017-02-03 19:25] brucelau-github commented on #199
I have pushed this issue. it may need your suggestion for further amending the code. @joshi1983

[2017-02-04 04:28] joshi1983 commented on #199
I've given feedback on the pull request for @brucelau-github to tweak.

[2017-02-04 21:27] joshi1983 commented on #201
This is a little progress update after this morning's meeting with 2 VIP students and the hackathon team.

@balraj18 has half of the location categories/tags from the home page being populated.  He'll start extracting information from "way" elements soon which will let us collect information on maybe 20 or 30% more locations.

[2017-02-04 21:39] joshi1983 commented on #184
I like Areeba's comments and mockups.  Does this work seem good for someone to work on, @Blandine-AA ?  @areebakamal might you want to take on your suggested changes?

[2017-02-04 21:41] joshi1983 commented on #184
I unassigned myself because I didn't touch the photo upload feature in over a week and it might be good for someone else to pick up as I focus on the data importing and some internal changes needed for the new location rating feature.

[2017-02-06 02:19] joshi1983 opened #204 "Password Recovery: Finish password recovery feature"
The password recovery feature sends an email but doesn't send a password change link.

The following tasks are still needed:
- [x] Add a new field called password_recovery_token to the user table by modifying 2016_10_30_053317_create_initial_database_schema.php.
- [x] Send a link to set a new password.  The link would need a randomized token.
- [x] Create a password change feature so that when a u

[2017-02-06 02:39] joshi1983 opened #205 "Search result page: visualize search radius on Map"
When viewing search results in the Map view, it would be nice to see a representation of the geographical search range over the map.  There is a blue marker on the search location but no representation of the search radius.

Map as it is now:
![image](https://cloud.githubusercontent.com/assets/11838191/22632690/a87c70e8-ebe9-11e6-9c36-c1508682d2d4.png)

Mockup of map with the proposed search range

[2017-02-06 14:56] Blandine-AA commented on #205
I like the idea.

Does this needs to be split in more than one issue or have tasks created to better track the features implemented and the completion of the work?

[2017-02-06 15:29] joshi1983 commented on #205
@Blandine-AA this would probably start with trying to find a similar feature on another website or mentioned on Google.  The next step would be to implement a similar technique in our project.  I guess those are 2 subtasks of #205 but representing them as 2 separate github issues might be more confusing than it is worth. There won't be any code changes in finding a similar solution but there would

[2017-02-07 04:43] joshi1983 commented on #135
I added a subtle vertical arrow pattern behind the sorted column based on feedback from @stephanosm .

This screenshot shows the spreadsheet sorted by distance.
![image](https://cloud.githubusercontent.com/assets/11838191/22678162/0a019028-ecc6-11e6-980a-71d0460d72ae.png)

[2017-02-07 04:48] joshi1983 commented on #201
The CSV file to seed data tool is ready for @balraj18 's OpenStreetMap tool that turns OpenStreetMap XML data into a CSV file.  When @balraj18 's work is done, we'll be ready to bring lots of new Windsor-area locations into our seed data.

When I say "seed data", I mean the data that we have every time we completely recreate our database.  It is basically the data we start a demo with.

[2017-02-07 22:09] Blandine-AA opened #208 "User Profile : Change "Accessibility Interests" to "My Accessibility Requirements""
Feedback from update meeting with JMCC on Feb. 3rd

[2017-02-07 22:21] Blandine-AA opened #209 "Search by category : location search results not properly filtered"
Testing result for TC2 of testplan #185

- [ ] Step1 failed: It doesn't just show bus stations - seems to be a general list
- [ ] Overall : search list needs to be fixed with lists showing items based on wording when searching by keywords

[2017-02-07 22:32] Blandine-AA commented on #173
Version number not implemented, but closing this as we are working on the next milestone for demo version 0.0.2

[2017-02-07 22:32] #173 closed

[2017-02-07 22:37] Blandine-AA opened #210 "Presentation page: update for demo 0.0.2"
At the end of the current milestone, we will need to update the AccessLocator.com landing page with:

- [x]  new demo version 0.0.2
- [x] release note - add new menu?

[2017-02-07 23:11] Blandine-AA opened #212 "User profile: State/Province enhancements"
Feedback from round1 testing #185 - TC8

- [x] Request dropdown box to select State or Province based on Country (Canada and USA)
- [ ] For other countries where state/province is not applicable, may be just grey out the field and enable it only if Canada or USA are selected as country.

@joshi1983, please review this and update with design info if needed before assigning

[2017-02-07 23:59] joshi1983 commented on #209
What was expected and how was the actual result different from that?

If you type "bus station", the results are any location containing "bus" or "station".  Do you expect it to be just "bus" AND "station"?
![image](https://cloud.githubusercontent.com/assets/11838191/22717141/66db143a-ed67-11e6-8790-cfcadf9c0111.png)

The only known issue for searching is #101 (filtering by search location and rad

[2017-02-08 01:36] areebakamal commented on #208
completed. #211

[2017-02-08 03:57] joshi1983 commented on #208
I'm pretty confident this is complete.  It looks like a really simple and clear requirement and it is complete so I'm closing the issue.  You can see the changes on [app.accesslocator.com](http://app.accesslocator.com)

[2017-02-08 04:09] joshi1983 commented on #184
I assigned to @areebakamal because it seemed like she was interested in taking this on.  She'll start by:
1. Making the default profile photo a user icon.
1. After finishing that, she'll work on making the file selection dialog pop up immediately after the user clicks the "Upload Profile Photo" link instead of its current redirect to a dedicated page for uploading a profile photo.

[2017-02-08 04:28] joshi1983 commented on #212
If new volunteers are expected to take aspects of this on, it should be broken down smaller because it may take some time to do.  Mind if I make separate issues?

Here's how I'm thinking to break the work down:
- Create a new region table in the database.
- Find a source of public domain or safe for our use-licence data that associates every "territory", "state", "province", "region" with their co

[2017-02-08 04:39] joshi1983 commented on #115
We essentially decided not to do the scripted video, right?

This was opened almost 2 months ago, we have a powerpoint video and a presentation site but never polished up a script because other things met the same need.  We wanted to introduce people to our project and make a good first impression.  Should this issue stay open still?

[2017-02-08 04:43] joshi1983 commented on #210
I guess we could put release notes as comments under this issue for most changes visible to the end user.

[2017-02-08 12:43] Blandine-AA commented on #210
Sounds like a good idea to document them as we go here, and later update the info page !

[2017-02-08 12:45] stephanosm commented on #212
looks good to me!

On Tue, Feb 7, 2017 at 11:28 PM, Josh Greig <notifications@github.com>
wrote:

[2017-02-08 12:48] stephanosm commented on #115
I think a video is good to have. Something that it is less than 2 min which
we can use on our site explaining the concept but also for promotional
purposes. Right now it is not priority but it depends on the skills of
students we have. I know Areeba can do this but I think she has other
priorities now

On Tue, Feb 7, 2017 at 11:39 PM, Josh Greig <notifications@github.com>
wrote:

[2017-02-08 12:49] Blandine-AA commented on #115
Not required anymore!

[2017-02-08 12:53] Blandine-AA commented on #201
After this, I think we need to expand the data retrieval to at least Canada and the US.

[2017-02-08 14:27] stephanosm commented on #115
that's not what I said!   :-)

On Wed, Feb 8, 2017 at 7:49 AM, Blandine-AA <notifications@github.com>
wrote:

[2017-02-08 16:05] Blandine-AA commented on #115
I guess we replied at the same time. I was replying to Josh's comment. I didn't see your reply!
I re-open just to keep it on the backlog!

[2017-02-08 19:04] Blandine-AA commented on #212
Great! That's exactly the process...
Please open separate issues, reference to this one, as it will make it easier to assign to the students.

[2017-02-08 19:38] joshi1983 commented on #101
This could be optimized better at some point but [app.accesslocator.com](http://app.accesslocator.com) filters out locations beyond the search radius now.  A clear way to see the effect would be to save different radius values in the profile and look at the table view of search results in Education.  If you hit "Save" in the profile with search radius at 2, you won't see any locations with a dista

[2017-02-09 02:03] joshi1983 opened #216 "User Profile: State/Province/Territory "region" Data Table"
As a step toward a region hinting feature in the profile page(#212), we'll need to represent the region information in our database and therefore need a table to do so.  This issue is asking for nothing other than the table to be created.  The data collection was handled in #217 by adding a new region.json file.

Create a new region table in the database. This table will need fields such as id, na

[2017-02-09 02:22] joshi1983 opened #217 "User profile: State/Province Data Collection"
As a step toward a region hinting feature in the profile page(#212), we'll need to collect data on all states/provinces/territories and their associated countries.  At minimum, we want the information for Canada and USA but if you can get it for all countries, that would be better.

Note that this issue isn't asking for you to make the database table(#216) and this issue was split to give another

[2017-02-09 02:35] joshi1983 commented on #212
I created a couple issues for the data collection.  The UI changes I left out temporarily since the UI changes would be more understandable after the data is ready to use.

[2017-02-09 02:39] joshi1983 commented on #205
#101 is done now so all the red markers should fit inside the proposed circle.

[2017-02-10 00:13] joshi1983 commented on #199
The work from @brucelau-github has been merged.  @Blandine-AA you can check on app.accesslocator.com by signing up a new user using the first name, last name...  just don't sign up using facebook or Google.  I'll leave it up to @Blandine-AA to decide if remaining changes are needed.

A minor thing I'd suggest is also a "Your email has already been confirmed." message when clicking an emailed link

[2017-02-10 16:54] Blandine-AA commented on #108
@joshi1983, at the last meeting with JMCC, it was agreed to implement the NA calculation as defined in checkbox 2 of the issue description. For Now NA=Yes and Weight=1. Do not hard code NA value, but implement the equation provided.

I agree with your statement

I will copy it to the  universal/personal view issue #109

[2017-02-14 02:36] joshi1983 opened #221 "Home page: Add Google Map to visualize search address and gather the corresponding longitude/latitude"
The location search features filter down to within a specific radius of a specific location.  The profile allows you to change the search radius but there is no way to change the search location in a way that impact the filtering process.

Google Maps JavaScript apis let you turn free text describing a location into a longitude and latitude that best guesses where you're referring to.  A marker on

[2017-02-15 11:21] joshi1983 commented on #204
I removed the checks on the two subtasks because they're not done yet.

[2017-02-15 22:32] joshi1983 commented on #217
Thanks @kimficara for your pull request.  I merged her pull request and am closing this issue because it looks complete.

[2017-02-15 22:37] joshi1983 commented on #216
Note that @kimficara finished #217 so you can save time by testing with her file.

Assuming you don't have any changes, the following command sequence should get latest:
git checkout master
git pull origin master

[2017-02-16 03:34] joshi1983 commented on #200
This is how I have it so far.  I didn't put the changes up yet because it doesn't work.

![image](https://cloud.githubusercontent.com/assets/11838191/23006238/a00dd9c8-f3ce-11e6-8a16-227cbd037fc7.png)

I based it roughly on:
![image](https://cloud.githubusercontent.com/assets/11838191/23006276/d60568f2-f3ce-11e6-9a20-b24871c3791c.png)

I was also trying to repeat some of the button styles used in

[2017-02-17 02:32] areebakamal commented on #200
When the user is RATING:
'Parking', 'Entrance', 'Public Areas', 'Bathrooms', 'Amenities' will look like the image you posted/ the one pasted below:

![7ratebuildingdecv3](https://cloud.githubusercontent.com/assets/23005093/23050054/fc630094-f48d-11e6-9957-f6386e25b9db.jpg)

The side panel should "float" as you scroll down so user doesn't have to keep scrolling up to change tabs for the longer cate

[2017-02-17 04:45] Blandine-AA commented on #200
- "Place Offering" should be renamed to "Location  Offerings"
- There is a new category that was added to the list: "Elevator"

Once we have the initial list of category and criteria validated, I will post it.

In the design/implementation consider that at one point in time, we might need to add new categories.

[2017-02-17 04:53] Blandine-AA commented on #200
@joshi1983 ,
- When hovering on the "Not Applicable" button, it should popup and info box that says "Location does not require this"
- We might need to add a 4th value for "I Did Not Look at This", even though it will not be used in the calculation. It might be used for other purposes. The feedback from the Accessibility person at the City of Windsor was positive about that column and the new list

[2017-02-17 23:41] e1cerebro commented on #205
What if the red marker is not within the search range specified by the user, it will fall outside the overlay.

[2017-02-18 06:07] joshi1983 commented on #205
@e1cerebro your circle looked very good in our meeting.  It also looked like it should be roughly the size we'd want.  The way some of the red markers were out of the circle seemed like it had to be a bug in something but we had trouble getting a specific location that clearly had the wrong distance result.

The one we looked at was called something like Ecole Catholique E.J but it looked roughly

[2017-02-18 09:17] e1cerebro commented on #205
Ya, you could check "Forest Glade Community Centre". On the app the distance is 2.20km but am getting roughly 17km with google map.
![hjj](https://cloud.githubusercontent.com/assets/22207261/23092065/b17ca692-f588-11e6-91d6-160f4401c6f1.PNG)

[2017-02-18 09:31] e1cerebro commented on #205
So basically I was trying to compare with we have on this tabel
![er](https://cloud.githubusercontent.com/assets/22207261/23092136/f24e567e-f589-11e6-99d6-e6f61cdb1f92.PNG)
with what we have on google map below
![goo](https://cloud.githubusercontent.com/assets/22207261/23092142/2c2c3820-f58a-11e6-9e20-8d15e2ed911c.PNG)

So based on the data on out app, the difference in km between the two location

[2017-02-18 15:21] joshi1983 commented on #205
@e1cerebro nice find.  I merged a fix to that distance calculation bug you uncovered.  Can you commit your current changes for the overlay and then pull latest and rebase?

The commands are documented at:
https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/git-commands

Your work looks very close to ready for a pull request.

[2017-02-18 17:42] joshi1983 commented on #216
I updated the issue description to be clearer now that #217 was completed.

[2017-02-20 00:29] joshi1983 commented on #184
The user icon was added when there is no photo uploaded.  @areebakamal is continuing work to improve how the photo uploading can be started without leaving the profile page.

[2017-02-20 15:03] joshi1983 commented on #205
@e1cerebro 's changes were merged.  It looks good to me on app.accesslocator.com so I'm closing this issue.

Here is a screenshot from app.accesslocator.com:
![image](https://cloud.githubusercontent.com/assets/11838191/23130276/cf9c437c-f753-11e6-9054-a85b62a53074.png)

[2017-02-21 19:47] Blandine-AA opened #226 "Discovery Activity : Accessibility Criteria : Baseer & Zoya"
Find guidelines here : https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/Disability-criteria-discovery-activity-description

Then submit your results here by Friday Feb. 24th for all to have access to it and review

You will need to do all categories.

[2017-02-21 19:49] Blandine-AA opened #227 "Discovery Activity : Accessibility Criteria : Balraj, Navroop, Amolbir, Avi & Sukhamrit"
Find guidelines here : https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/Disability-criteria-discovery-activity-description

Then submit your results here by Friday Feb. 24th for all to have access to it and review

[2017-02-21 19:52] Blandine-AA opened #228 "Discovery Activity : Accessibility Criteria : Chris, Rumana & Areeba"
Find guidelines here : https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/Disability-criteria-discovery-activity-description

Then submit your results here by Friday Feb. 24th for all to have access to it and review

[2017-02-21 20:02] Blandine-AA opened #229 "Discovery Activity : Accessibility Criteria : Kim"
Find guidelines here : https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/Disability-criteria-discovery-activity-description

Then submit your results here by Monday Feb. 27th for all to have access to it and review.

[2017-02-21 20:05] #67 closed

[2017-02-21 20:07] Blandine-AA commented on #153
All items that missed the deadline will be fixed for demo 0.0.2

[2017-02-21 20:07] #153 closed

[2017-02-21 23:31] Blandine-AA commented on #200
My comment above needs to be reconsidered based on the discussion we had Friday Feb. 17th at CAW as a group.

It was discussed that we need to provide extra info and pictures when possible for all criteria. The extra information will be displayed eventually in a popup windows when clicking on the criteria. Design hasn't been finalized. Need to discuss with UX/UI team: @areebakamal, @RumanaHakeem,

[2017-02-21 23:47] Blandine-AA opened #230 "Existing Accessibility Apps Research : Evaluation : Kim"
Feedback from Kim on evaluation of existing accessibility
[Kim - Accessibility Application Comparison.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/791836/Kim.-.Accessibility.Application.Comparison.pdf)
apps

[2017-02-22 04:22] stephanosm commented on #200
We need to find other way than "hovering" as this is not applicable in mobile devices

[2017-02-22 04:25] stephanosm commented on #230
great feedback Kim.
It will also be good to have the one or two things the reviewer liked in the other apps that he/she recommends to have them in our app as well.

[2017-02-22 11:46] e1cerebro commented on #221
1. What would the default location be if the user has not registered on the app?
2. Is jQueryAjax method of API allowed in this context for savinf for saving the latitude, longitude and keywords?

[2017-02-22 15:53] joshi1983 commented on #221
The Windsor City Hall is used like a default.  It is written as a placeholder until anything is typed in.  We'd rather the text be blank than have any default address text, if that's what you mean.  BaseUser has some logic that handles that default so that blank is treated as Windsor city hall.

Yes jQuery would be good for the ajax functionality.  The $.ajax method is what I'd use.  Using the und

[2017-02-23 09:38] joshi1983 commented on #184
I added some review comments to your pull request #231, @areebakamal.

[2017-02-24 02:46] joshi1983 commented on #201
I merged code written by @balraj18, @sidhunavroop and me and added roughly 300 extra locations to the database for http://app.accesslocator.com.

There are a few problems like "University of Windsor" is repeated a few times but it should be good for now.  There were a lot of highways, streets, railways, traffic lights, bus stops, webcams, crosswalks... that were filtered out since I thought we wou

[2017-02-25 02:56] RumanaHakeem commented on #230
[Accessibility App Survey JMCC_16Feb2017.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/800867/Accessibility.App.Survey.JMCC_16Feb2017.docx)
![whatsapp image 2017-02-24 at 18 05 55](https://cloud.githubusercontent.com/assets/22264264/23327549/0ec777c0-fadc-11e6-9a53-36a4217cb588.jpeg)
![whatsapp image 2017-02-24 at 18 05 55 1](https://cloud.githubusercontent.com/assets/22

[2017-02-25 02:58] RumanaHakeem commented on #230
Below is the evaluation document.
[Accessibility App Survey JMCC_16Feb2017.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/800870/Accessibility.App.Survey.JMCC_16Feb2017.docx)

[2017-02-25 03:01] RumanaHakeem commented on #230
The location is Tim Hortons at 2220 Wyandotte St E, Windsor, ON N8Y1E7

[2017-02-25 04:38] areebakamal commented on #228
I reviewed Essex Building.
[Accessibility App Survey JMCC_16Feb2017.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/800931/Accessibility.App.Survey.JMCC_16Feb2017.docx)

•	The building is quite big and is divided into different sections. There’s a physics wing, chemistry wing and then the area where the Computer Science rooms are. When it comes to the following criteria: “

[2017-02-25 04:40] areebakamal commented on #228
Rumana's review is here: https://github.com/hhaccessibility/hhaccessibility.github.io/issues/230

[2017-02-25 15:09] Blandine-AA commented on #228
@areebakamal @RumanaHakeem ,

Issue 230 is not the place to submit the criteria reviews. It is for the existing apps evaluation only. I**f Rumana did a separate review, it should be submitted under this issue**. so, I have remove the comment added in 230.

[2017-02-25 22:49] joshi1983 commented on #221
I mentioned the _token parameter in the issue because you'll have to specify it in your non-GET ajax requests.

[2017-02-25 22:55] RumanaHakeem commented on #228
Hi Bladine,
I got confused between the two issues. posing my review here now.
Thanks.
[Accessibility App Survey JMCC_16Feb2017.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/801586/Accessibility.App.Survey.JMCC_16Feb2017.docx)
![whatsapp image 2017-02-24 at 18 05 55](https://cloud.githubusercontent.com/assets/22264264/23335427/73d3b21c-fb83-11e6-8997-620209456f98.jpeg)
![

[2017-02-25 22:58] RumanaHakeem commented on #228
The location is Tim Hortons at 2220 Wyandotte St E, Windsor, ON N8Y1E7 . From my research I observed that the categories chosen for the criteria evaluation are good enough to evaluate a particular place. However, a few terms were not familiar to me.If the terms can be made simpler, it would be an enhancement.

[2017-02-27 06:16] baseer110 commented on #226
I have attached a Accessibility Survey for Chrysler building which is located at Windsor Downtown.

[Survey_ChryslerDowntown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/802763/Survey_ChryslerDowntown.docx)

[2017-02-27 06:20] baseer110 commented on #226
Accessibility Survey for Devonshire Mall which comes under the category of shopping and entertainment

[Survey_Devonshire.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/802768/Survey_Devonshire.docx)

[2017-02-27 06:23] baseer110 commented on #226
Accessibility Survey for Holiday Inn located at Windsor Downtown which comes under the category of accommodation.

[Survey_HolidayInDowntown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/802771/Survey_HolidayInDowntown.docx)

[2017-02-27 06:25] baseer110 commented on #226
Accessibility survey for Scotia bank located at Windsor Downtown which lies under the category of financial.

[Survey_ScotiaBankDowntown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/802777/Survey_ScotiaBankDowntown.docx)

[2017-02-27 06:30] baseer110 commented on #226
Accessibility survey for Shoppers drug mart located at ouellette & wyandotte cross section which lies under the category of Shopping.
[Survey_ShoppersDrugMart.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/802785/Survey_ShoppersDrugMart.docx)

[2017-02-27 06:33] baseer110 commented on #226
Accessibility survey for Starbucks located at Windsor downtown which comes under the category of restaurant.

[Survey_StarbucksDowntown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/802788/Survey_StarbucksDowntown.docx)

[2017-02-27 06:52] baseer110 commented on #226
I have a question that whenever you visited any hotel like holiday Inn so there is Wifi available for only who checked in there not for guests so In that case what should write for free Wifi ? or we should have another field regarding free wifi for guests ?

[2017-02-27 12:53] Blandine-AA commented on #226
@baseer110, Good question. What do you suggest?

[2017-02-27 13:07] Blandine-AA commented on #228
@RumanaHakeem,
Please specify the criteria that were not clear to you. That's the goal of the exercice :). You also need to specify to what criteria the pictures you posted apply.

[2017-02-27 13:17] Blandine-AA commented on #226
@baseer110,

Thanks for doing the Survey, but remember what @joshi1983  and I said... The goal of the discovery is not to fill the surveys as those data will not be used, but to evaluate the criteria that we use. How easy was it for you to answer to the questions? Are they clear enough? Are you taking any photo to help explaining the criteria that are not clear or that could help understanding the

[2017-02-27 13:43] Blandine-AA commented on #217
Re-opened for testing

[2017-02-27 13:45] Blandine-AA commented on #217
Re-opened for testing

[2017-02-27 13:46] Blandine-AA commented on #217
Re-opened for testing

[2017-02-27 13:48] Blandine-AA commented on #205
Reopened for testing

[2017-02-28 00:01] joshi1983 commented on #217
@Blandine-AA this subtask can't be tested by the same people as you might think because the UI is unaffected by it.  This was a part of a larger feature that hasn't been completed yet and definitely won't be done in time for the March demo release.  #216 and #212 are needed before this is testable by end users.

I suggest keeping this one closed.

[2017-02-28 00:05] joshi1983 commented on #209
I was wanting an answer to my question from 20 days ago but will implement what I think is a little closer to what the user expected by using an AND instead of OR between the keywords.  Hopefully this change moves the discussion forward more than doing no change at all.

[2017-02-28 02:44] areebakamal commented on #116
The svg is zipped as github doesn't support .svg files.
[logoeditedsvg.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/805613/logoeditedsvg.zip)
Here's the png file too.
![latest](https://cloud.githubusercontent.com/assets/23005093/23389412/d7c522d4-fd35-11e6-92dc-d652eedb11f1.png)

[2017-02-28 02:54] stephanosm commented on #209
Is it possible to have both with sorting the AND first? I am thinking the
case where the are synonyms e.g. a user searching with BUS STOP (instead of
Bus Station) meaning the station, so you want to include that in the list
as well. So, the AND results should be listed first and then the OR results.

On Mon, Feb 27, 2017 at 7:05 PM, Josh Greig <notifications@github.com>
wrote:

[2017-02-28 04:20] JaveriyaKhan commented on #226
We have find out some extra questions by researching on the united nations website. We have taken out some questions which might be helpful for our survey.

resource : http://www.un.org/esa/socdev/enable/designm/AD5-01.htm
1) ELEVATORS

a) Insufficient opening time interval

1) PLATFORM LIFTS
1. PROBLEM IDENTIFICATION
Changes in level between indoor and outdoor areas.
Changes in level inside a bui

[2017-02-28 04:43] joshi1983 commented on #209
@stephanosm sorting by match quality would make more sense if we didn't already have such explicit sorting features.  The "table"/spreadsheet view shows sorting by name, accessibility rating, and distance.  If we sorted by what I'd call "match quality" as in most keywords matched first, it would be difficult to keep that consistent with how results by location tag or category.  The same map and ta

[2017-02-28 13:06] #217 closed

[2017-02-28 13:16] Blandine-AA opened #235 "User Profile : Add number of reviews in My Reviews button"
- [x] I was thinking for the **My Reviews** button that we should show the number of reviewed locations in brackets like: **"My Reviews (0)"**.
- [x] When clicking on **My Reviews (2)** button, it should show the list of  locations that the user has reviewed with a link to those locations.

The user knows immediately how many locations s-he reviewed. Since multiple reviews can be made by the same

[2017-02-28 21:12] Blandine-AA commented on #221
Is help still needed on this one or the current assignment is sufficient ?

[2017-02-28 21:18] joshi1983 commented on #221
I think Christian is still working on it.  It probably won't be done in time for the March demo but Christian is working at it and emailing or chatting with me every couple days about it.  I doubt adding an extra person to this will get it done faster.

[2017-02-28 21:45] e1cerebro commented on #221
I will be done with it before the next meeting.

[2017-02-28 21:46] Blandine-AA opened #236 "Home page : Zoom when pointing on categories"
- [ ] After the first round of testing, the user would like to see the category box zooming out when pointing on it, so that it clearly shows what is going to be selected.
- [ ] Also see how the details in the info box can be integrated and made more visible for the user. See #122 !
- [ ] Consider impact on screen readers

![image](https://cloud.githubusercontent.com/assets/20052162/23435894/a1d57

[2017-03-01 01:37] JaveriyaKhan commented on #226
Accessibility survey for Tecumseh Mall, here are the some points to summarize:

[Survey_Tecumseh_mall.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/809485/Survey_Tecumseh_mall.docx)

1) We found that the criteria is mentioned are sufficient  and it covers all the points.
But we want some clarification on the some of the points like:
a) Ceiling track lift available
b) Lar

[2017-03-02 03:06] joshi1983 opened #237 "User Profile: Fix bug with browser cache concealing updates to newly uploaded photos"
On the user profile, upload different images a few times and eventually you'll run into a seemingly random cache management bug where the new image doesn't appear immediately.  When you press CTRL+SHIFT+R, you'll see the new image.

Adjust the image source to be different every time the page loads but that would mean the cached version is never used and is therefore using bandwidth less than optim

[2017-03-02 13:09] joshi1983 opened #238 "Replace logo graphics with scaled versions of our new SVG"
There are some very subtle differences between the current logo graphics and our new SVG that we want to completely eliminate.  This task won't require any programming but some usage of graphic editing software such as Photoshop or GIMP.

This will include the following subtasks:
- [x] Replace the favicon at hhaccessibility.github.io\app\public\favicon.ico with a 16 by 16 ico formatted version on

[2017-03-02 22:13] Blandine-AA commented on #226
@JaveriyaKhan, regarding

But we want some clarification on the some of the points like:
a) Ceiling track lift available
b) Large weight capacity change table in private area
c) Ceiling track lift available in medical office
d) Assisted Listening Devices available -- like what devices can be used

I guess if you want some clarification, it means that the questions are not clear enough. So, what ty

[2017-03-03 04:15] JaveriyaKhan commented on #226
Actually we do not know what is "Ceiling track lift available" is that mean platform lift?
What is the Large weight capacity change table in private area?
What is Ceiling track lift available in medical office?
We do not know about this criteria, we even asked this questions to the person who works in the restaurant, office building.

If you can give a small explanation about this questions so it

[2017-03-03 04:41] JaveriyaKhan commented on #226
Accessibility survey for Edifice Paul Martin Building (Public Service), here are the some points to summarize:
[Survey_Edifice_Paul_Martin_Building.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/815830/Survey_Edifice_Paul_Martin_Building.docx)

The building is quite equipped for the people on wheel chair. Building has automatic doors, ramp. It also have the big bathrooms

[2017-03-03 05:03] JaveriyaKhan commented on #226
Accessibility survey for Starbucks (Restaurant), here are the some points to summarize:

[Survey_Starbucks_Downtown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/815843/Survey_Starbucks_Downtown.docx)

Starbucks is well equipped for the people on the wheelchair but it lacks the facilities for the blind and people with hearing problem.

We noticed that starbucks do not ha

[2017-03-03 05:26] JaveriyaKhan commented on #226
Accessibility survey for Scotia Bank Downtown (Financial ), here are the some points to summarize:
[Survey_Scotia_Bank_Downtown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/815870/Survey_Scotia_Bank_Downtown.docx)

Scotia Bank is not equipped for the partially impaired people and the people with hearing problems. No braille signage present at the exit doors also no faci

[2017-03-03 06:15] JaveriyaKhan commented on #226
Accessibility survey for Holiday Inn Downtown (Accommodation), here are the some points to summarize:
[Survey_Holiday_Inn_Downtown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/815932/Survey_Holiday_Inn_Downtown.docx)

Holiday Inn is well equipped with all the facilities for the people with disabilities. They have automatic entrance gates, hearing aide facility they also

[2017-03-03 13:19] joshi1983 commented on #226
Those images look quite useful.  When the location image gallery feature is working, we could include a lot of these images as seed data so we have some images in the gallery to show people.  We could also use some of these images if we end up creating explanation pages for each of our checklist questions.  Maybe a gallery of images associated with each checklist question could help explain what e

[2017-03-03 23:10] kimficara commented on #229
Here are two different locations where I tested out the survey.  The first location was the CAW building on the University of Windsor campus and the second location was the Willistead Park.

One of the issues that noticed when testing the survey out at the park is that a lot of the sections are N/A.  An example of this would be the Elevator section since the park does not have an elevator.  I thin

[2017-03-04 00:25] joshi1983 opened #240 "Create promotional video for Digifest"
A wiki article was started on the scripts at https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/Promotional-Video-for-Digifest that will be adjusted to describe what we want.

[2017-03-04 01:52] joshi1983 commented on #127
I'm reopening for testing.

[2017-03-04 20:51] joshi1983 commented on #208
I'm reopening for testing.

[2017-03-04 21:18] joshi1983 commented on #236
The following change was deployed to [http://app.accesslocator.com](http://app.accesslocator.com):
![image](https://cloud.githubusercontent.com/assets/11838191/23582315/f3ae725c-00f5-11e7-952d-359f94947c07.png)

The hover background was set to pure black and the font size was increased a little while hovering to make the hover state move noticable.

[2017-03-04 23:15] joshi1983 opened #242 "Home page: show description of hovered location category show at bottom of browser"
Test feedback showed that the location categories on the home page had descriptions that were too small to easily read.  We want to instead add an element at the bottom of the web browser that appears when hovering over a category that describes the category in large font.

Here is how it looks now:
![image](https://cloud.githubusercontent.com/assets/11838191/23582739/c8a9d3e0-00fe-11e7-9842-252d2

[2017-03-05 02:37] joshi1983 commented on #240
@stephanosm do you think you can find a club who may voluntarily develop this video for us?  @areebakamal that was your suggestion in our meeting, right?

[2017-03-05 02:47] joshi1983 commented on #236
The new #242 will address some of the problems from this issue.

[2017-03-05 03:55] stephanosm commented on #240
I will ask next week to see who can help us.

[2017-03-05 18:24] joshi1983 opened #244 "Location Report: make it so you can expand and collapse the location pop up"
Test feedback showed people are annoyed with big portions of the map on the location report being covered by the question category and rating popup.  To address this problem, we want a way to toggle visibility of the popup.

Put an "X" in the popup that will close/hide the popup when clicked.

Make it so that when the marker is clicked and there is no popup, show the popup.

There is also a bug wh

[2017-03-05 18:27] joshi1983 commented on #244
I assigned this to @e1cerebro because he worked on a few other issues related to Google Maps such as #221.  After #221 is complete, this may be a good fit for him.

[2017-03-06 18:06] JaveriyaKhan commented on #226
Accessibility survey for Lambton Tower, University of Windsor (Education), here are the some points to summarize:
[Survey_Lambton_Tower.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/822027/Survey_Lambton_Tower.docx)

Lambton tower is quite equipped for the people on the wheel chair. It lacks the facilities for the partially impaired people and people with the hearing pro

[2017-03-06 18:29] JaveriyaKhan commented on #226
Accessibility survey for Assumption Park (Parks), here are the some points to summarize:
[Survey_Assumption_Park.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/822087/Survey_Assumption_Park.docx)

Assumption park is not properly equipped for people with disabilities.Park has the parking facility for people on wheel chair. Bright signs are available but no facility for par

[2017-03-06 18:45] JaveriyaKhan commented on #226
Accessibility survey for Windsor Bus Terminal (Transportation), here are the some points to summarize:
[Survey_Windsor_Bus_Terminal.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/822128/Survey_Windsor_Bus_Terminal.docx)

Windsor bus terminal is equipped with the basic facilities needed for people with the disabilities. We noticed that this place is having all the faciliti

[2017-03-06 19:09] JaveriyaKhan commented on #226
Accessibility survey for Windsor Art Gallery (Arts & Entertainment), here are the some points to summarize:
[Survey_Windsor_Art_Gallery .docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/822186/Survey_Windsor_Art_Gallery.docx)

This place is having well facilities for the people with the disabilities. It has the map information of building with braille information so that pe

[2017-03-06 19:24] JaveriyaKhan commented on #226
Accessibility survey for Filipino Community Center, 935 Northwood Street (Association & Organization), here are the some points to summarize:
[Survey_Filipino_Community_Center.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/822229/Survey_Filipino_Community_Center.docx)

This place is having basic facilities for the people on wheel chair. It has no facilities for partially

[2017-03-07 02:00] joshi1983 commented on #127
I'm closing again because I think this was done before the last demo release was made.

[2017-03-07 02:00] #127 closed

[2017-03-07 02:04] joshi1983 commented on #24
This is being handled by other issues.  We have the special needs criteria represented in the form of checklist questions that can be checked off on the profile.  The database schema has already been adjusted to represent this and will continue to be improved using other issues.  I'll close this issue now.

[2017-03-07 02:04] #24 closed

[2017-03-07 02:06] joshi1983 commented on #236
This issue is very similar to #122.  It is arguably a duplicate.

[2017-03-07 02:15] joshi1983 commented on #210
This is how I'd briefly describe the changes implemented between demo 0.0.1 and 0.0.2.

#221: Used address to control centre of location search radius and visualized address on home page
#209: Filtered location search results down to a radius around an address
#208: Renamed "Accessibility Interests" to "My Accessibility Requirements" on the user profile
#205: Visualized search location and radius

[2017-03-07 14:55] Blandine-AA commented on #210
Here is what should appear on the Release Note on the web page

NEW FEATURES (version 0.0.2)
1. Category selection more visible
1. Visual search radius around location address
1. Enhanced filtering of location search result
1. Renamed "Accessibility Interests" to "My Accessibility Requirements" on the user profile
1. Emhance profile photo upload functionality
1. Added around 300 new locations from

[2017-03-07 15:20] Blandine-AA commented on #210
@areebakamal,

Could you please update the web page with above release note?
Make a proposal on how and where you want it done.  I was thinking of having a menu or button "NEW FEATURES", or some think like that that catches the user eye.

[2017-03-07 15:24] Blandine-AA commented on #221
@JaveriyaKhan, please test this feature today if pssible. Thanks !

[2017-03-07 15:26] Blandine-AA commented on #184
@baseer110, please test this feature today if  possible. Thanks!

[2017-03-07 15:29] Blandine-AA commented on #201
There is a lot more locations now in the app co;pared to demo 0.0.1

[2017-03-07 15:29] #201 closed

[2017-03-07 15:33] Blandine-AA commented on #135
@baseer110, please test this feature using [demo.accesslocator.com ](demo.accesslocator.com). Thanks!

[2017-03-07 15:34] Blandine-AA commented on #208
Passed

[2017-03-07 15:34] #208 closed

[2017-03-07 15:38] Blandine-AA opened #246 "Demo 0.0.2 Testing: Sign in with Google broken"
Now says that feature is under development. Was working in demo 0.0.1

@joshi1983 , please assign to a student as you see fits and set it to Critical.

[2017-03-07 15:43] Blandine-AA opened #247 "Demo 0.0.2 Testing: problem with release version showing in the middle of the page"
![image](https://cloud.githubusercontent.com/assets/20052162/23664116/aa6e813e-0322-11e7-80e8-9551818a4126.png)

@joshi1983, please assign to a student as you see fits and set it to Critical.

[2017-03-07 15:46] Blandine-AA commented on #236
Makes the trick. Ok for me :) !

[2017-03-07 15:46] #236 closed

[2017-03-07 16:12] Blandine-AA commented on #242
@joshi1983, can this be assigned to @jasjeetsinghsra?

[2017-03-07 16:17] Blandine-AA commented on #238
@joshi1983, since @RumanaHakeem laptop is not setup for programming, can this be assigned to her?

[2017-03-07 16:22] Blandine-AA commented on #244
I think it should be fixed at the same time. It seems more efficient that way.

[2017-03-07 16:26] Blandine-AA commented on #237
@areebakamal , do you want to continue working on this?

[2017-03-07 16:34] Blandine-AA commented on #186
Only received feedback from 1 tester

[2017-03-07 16:34] #186 closed

[2017-03-07 16:48] Blandine-AA opened #248 "Demo 0.0.2 Testing: change "Rating" to "Accessibility Rate (%)""
If we need to show the full table view, the following needs to be updated. Personally I would prefer to wait until the Rating feature is completed, as it doesn't add any value.
- Change "Rating" to  "Accessibility Rate (%)"

![image](https://cloud.githubusercontent.com/assets/20052162/23667079/c2cd494c-032a-11e7-9d12-f4415a9ed965.png)

@joshi1983, if you still want to show this, please assign to a

[2017-03-07 16:55] joshi1983 commented on #242
@Blandine-AA @jasjeetsinghsra requested to work on the same issues as Sukamrit to start with and his laptop still isn't set up so he's not ready to work on anything yet so I doubt he'd be ready for this for another couple weeks at least.

[2017-03-07 17:07] Blandine-AA commented on #242
Ok @joshi1983 ! Please, then assign this to whom you see fits. Thanks !

[2017-03-07 17:17] Blandine-AA opened #249 "Round1 Testing: need a back button"
When in the any view (Table or Map) of the search location, if I select a location, I get to the map with that specific location and its accessibility informations. A "Back" button is needed at this point for me to go back to the exact page I had before.

This is a feedback from the first round of  testing by JMCC

[2017-03-07 17:23] joshi1983 commented on #248
In future, things like this can be reviewed weeks prior to a demo release.  app.accesslocator.com had "Rating" shown for roughly a month and nothing was said about it.  Reviewing app.accesslocator.com earlier or more frequently would improve communication about requirements earlier on and thereby reduce the number of these surprises upon the next release.  app.accesslocator.com exists mainly for t

[2017-03-07 17:27] joshi1983 commented on #247
What browser are you using(Chrome, Firefox, Internet Explorer...)?

Did you thoroughly refresh your browser?  CTRL+SHIFT+R thoroughly refreshes on Chrome.

[2017-03-07 17:36] joshi1983 commented on #246
It was in demo 0.0.1 as it was part of [this January 19 commit](https://github.com/hhaccessibility/hhaccessibility.github.io/commit/af126d0fba848d91355bfb2964bc05d9c999c44a) but I'll remove the Under Development message since we've decided since then that the Google authentication is ready for testing.

I'll work on it Wednesday.

[2017-03-07 17:39] joshi1983 commented on #249
That should be simple enough to do.  By round 1, do you mean this was feedback from the beginning of February?

I might get to this Wednesday but it may take a couple more days because I'll be taking on a few other issues too.

[2017-03-07 20:29] JaveriyaKhan commented on #221
Hello Blandine,
I have checked the functionality and some points to summarize:

1) Default location is the Windsor, when I enter the any location for example University of Windsor, so the map takes me to exact location of University of Windsor. I am bit confused dose it show the latitude/longitude when I click on the bubble. If yes, I did not get the latitude/longitude, however search takes me to

[2017-03-07 20:56] e1cerebro commented on #205
**# These are the steps to test Issue-205:**

1. Navigate to the home page by clicking on the home link at the top of the page.

**HOW TO SEARCH:**
You can either follow step 2 to 4 or just step 5.

 **METHOD ONE:**
2. Enter the search address in the address text field.
3. Enter the search key word in the search keyword text field.
4. Click on the search button.
      OR
**METHOD TWO**
5. Click on

[2017-03-08 02:26] joshi1983 commented on #248
I was lucky to get enough time to do this tonight.  I added the ready-for-testing label since we've done that with other issues recently completed.

[2017-03-08 02:28] joshi1983 commented on #246
@brucelau-github do you know why this might be happening in demo.accesslocator.com?
![image](https://cloud.githubusercontent.com/assets/11838191/23687524/e1010e24-037c-11e7-82e7-955e3aab2bcd.png)

[2017-03-08 02:40] e1cerebro commented on #221
From the issue description, the red marker is not supposed to take the user to any location.

[2017-03-08 02:41] e1cerebro commented on #221
From the issue description, the red marker is not supposed to take the user to any location.

[2017-03-08 02:45] joshi1983 commented on #238
It helps that no coding is required but she won't be able to test her changes.  @RumanaHakeem do you have graphics software for this task?  For submission, you could zip up the 2 images(favicon.ico and logo.png) and attach them to a comment like you did with the presentation site or you could use git and make a pull request that replaces those files.

@RumanaHakeem do you want to take this on?

[2017-03-08 03:05] joshi1983 commented on #249
I guess you'd want the location search to appear left of the location name in the top as if it were a hamburger menu.  If we're unable to get a previous location search URL such as when a user just goes direct to that location from an external website, we could leave the spot empty.

[2017-03-08 03:08] RumanaHakeem commented on #238
Sure, I'll do it.
Thanks.
Rumana.

On 7 Mar 2017 9:45 p.m., "Josh Greig" <notifications@github.com> wrote:

[2017-03-08 04:00] brucelau-github commented on #246
It works now and it seems a wrong operation on managing google api. I generated a new key pair for google+ api, and renewed them on our accesslocator server.

[2017-03-08 04:14] kimficara commented on #209
STEPS TO TEST ISSUE #209:

1.  Navigate to the Access Locator home page.  If you're on a different page you can click the AccessLocator Logo in the top left corner of the page or the home tab in the top right corner.
2.  To search by category, leave the location and keyword field blank and select a category box.
3.  This will bring you to the search results page.
4.  You can select a location to v

[2017-03-08 04:19] kimficara commented on #209
The only issue I had when testing this task is the fact that I cannot enter a location or keyword to filter through the category search results.  Is the search designed to use just the text fields or the category buttons and not both at the same time?

I also tested the "AND" search feature that John implemented and did not find any issues with it.

[2017-03-08 13:07] Blandine-AA commented on #248
@joshi1983 , nothing was said about it as this wasn't a priority until you decide to release it on Monday for the 0.0.2 release. So, this is your call to make this feature available.

I wouldn't have released it until the rating feature is completed.

[2017-03-08 14:45] Blandine-AA commented on #248
The reason why there is a Product Owner is to approve anything that will be released and also validate the release before it is being released.

As a product owner, I didn't validate the release of the demo 0.0.2 load on March 6, as I didn't have the list of all the issues that were to be released and hadn't reviewed their status.  Unfortunately! That's the reason why the release has been postpone

[2017-03-08 16:14] joshi1983 commented on #248
I didn't suggest "Accessibility Rating" as an insult but as an improvement to how this project would be judged by others coming to it.  I didn't intend it to be taken as a personal attack and I'm sorry for coming across like that.

I'd like to get to the bottom of some of this confusion in case it helps the future.  You wrote, "if you still want to show this, please assign to a student as you see

[2017-03-09 00:19] joshi1983 commented on #246
I tested and it works on both demo.accesslocator.com and app.accesslocator.com. I'm closing.

[2017-03-09 00:19] #246 closed

[2017-03-09 03:12] joshi1983 commented on #247
The problem was actually some invalid HTML5 markup in the profile page.  I fixed this which fixed the issue's problem.

I commented that I had trouble reproducing it but only because I thought the problem would affect every page.  The problem happened in Chrome and Safari on Windows and Chrome on an Android tablet but only on the profile page.

I'm closing because I'm confident it is fixed.

[2017-03-09 03:12] #247 closed

[2017-03-09 03:14] joshi1983 commented on #248
I'm closing this because I don't think we internally need to test this.

[2017-03-09 03:14] #248 closed

[2017-03-09 03:22] joshi1983 commented on #242
I'll probably assign this early next week or possibly in this week's meeting.

[2017-03-10 13:55] joshi1983 commented on #77
The 0.0.2 milestone has passed and this was not included.

https://letsencrypt.org/ also seems to act as a free certificate authority according to a reference found at https://css-tricks.com/just-another-https-nudge/#more-251929.  When you get time, @brucelau-github can you look into that?  If you find something you want to test, you could try with app.accesslocator.com.  This doesn't have a solid

[2017-03-10 14:26] Blandine-AA commented on #221
@JaveriyaKhan, regarding:

The user is not supposed to see longitude and latitude. Those are internal information, but the Location red marker should move to the location you entered.

Also, at this point I don't think that there is a feature defined for when you double click on the location marker. It is not supposed to be active. Even though it could be in the future.

[2017-03-10 18:22] JaveriyaKhan commented on #221
Thanks Blandine for the explanation, when we enter the location so bubble moves to the location also bubble is fixed and does not move from there, which was described in the above mentioned testing feature.

[2017-03-11 05:14] joshi1983 commented on #209
I'll summarize how I intended it to be:
- The search location and radius is used in all searches regardless of if it is for keywords or location category.  The search results are always filtered down to a distance range from the search location.  You can adjust the maximum range by saving a new "Search Location" -> "Distance (km)" in your profile and staying signed in.
- There is no mixing of sear

[2017-03-11 14:47] #209 closed

[2017-03-11 20:28] joshi1983 opened #253 "Create list of duplicated locations in AccessLocator"
Some of the locations on AccessLocator are duplicates of each other.  For example, the Centre for Engineering Innovation is duplicated.  Create a list of names for locations that appear to be duplicates.

This was assigned to Navroop in today's weekly meeting and completed there.

[2017-03-11 20:33] joshi1983 commented on #253
Here is the spreadsheet that Navroop sent me.
[Check.xlsx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/836109/Check.xlsx)

[2017-03-11 20:34] #253 closed

[2017-03-11 21:06] joshi1983 commented on #240
@JaveriyaKhan was assigned also to start writing a script for this video.

[2017-03-11 22:19] joshi1983 commented on #238
@RumanaHakeem how's it going?  Any trouble loading, scaling, or attaching the graphics?

[2017-03-11 22:24] joshi1983 commented on #216
The corresponding pull request has been merged and this issue looks complete.  No testing should be needed since this change is invisible through the user interface.

[2017-03-11 22:24] #216 closed

[2017-03-11 22:26] joshi1983 commented on #249
@Blandine-AA can you check the mockup to see if that's good?  This issue would likely be good for some of the students looking for an issue but it won't be good for them unless the requirements are clearer.

[2017-03-11 23:47] RumanaHakeem commented on #238
Hi Josh,
I am done with it. Attaching the zipped folder with the files.
Thanks.
[images.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/836204/images.zip)

[2017-03-12 01:51] joshi1983 opened #254 "User profile: convert region input into datalist"
We have the region data in the AccessLocator database now but we don't have a user-interface on the profile page to make use of it.  Adjust the user profile to use a data list and populate the list with region names matching the selected country.

Here is an interactive demo showing the datalist:
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_datalist

This breaks down to the following

[2017-03-12 02:00] joshi1983 commented on #254
@jasjeetsinghsra and @rickyboparai, are you guys feeling ready to take this on?  It'll involve both JavaScript, ajax, some PHP and tie in with the region table you added recently.

[2017-03-12 02:04] joshi1983 commented on #212
I created #254 for the remaining UI work.  Better than the original suggestion of disabling the field for unsupported countries, it offers a way of letting the users still enter free text.  This gives the user more freedom when our options are too limited but still guides the user to match an existing item when appropriate.

[2017-03-12 03:14] rickyboparai commented on #254
we accept it

[2017-03-12 03:15] joshi1983 commented on #254
Nice.

[2017-03-12 14:01] joshi1983 commented on #249
@sidhunavroop are you ok with taking this on?  The requirements aren't clear enough to begin implementing a new feature but maybe you can continue the conversation about requirements until it is clear enough how we want this to work that you can begin implementing it.

Normally, I'd wait until the requirements are clear enough to implement but gathering and analyzing requirements yourself may lead

[2017-03-12 14:22] joshi1983 commented on #204
I removed Zoya Khan as an assignee because this work is being done on Baseer's laptop and he's completely responsible for the work.  Zoya will need other issues to work on.

[2017-03-12 14:27] joshi1983 commented on #26
@kimficara, I'm ready to help you with this as soon as you are.

In the last Friday meeting, I suggested holding off on this a week or 2 in case another issue might come your way.  That other issue was completed so there's no hold up anymore.

Let me know if you have any questions.

[2017-03-12 15:34] joshi1983 commented on #242
This was assigned during Saturday morning's meeting to Avi.

[2017-03-12 16:49] joshi1983 commented on #199
@brucelau-github do you have time to work on this?

From what Blandine is saying, it sounds like a little change is needed to the SignInController.php and sign in process.  From what I remember, your changes set a email_verification_time that would need to be checked to be null.  This shouldn't affect any third party authentication.

[2017-03-12 17:09] joshi1983 commented on #227
@Blandine-AA Did you get the feedback on this yet from @balraj18 , @sidhunavroop, and @rickyboparai ?

[2017-03-12 17:28] Blandine-AA commented on #249
@joshi1983, I agree with your 2 comments. I'll review your design proposal and get clarification from JMCC. They are the users. Remember, we are providing a tool to people with disabilities and this needs to be user friendly. Even if it means making some existing browsers functionality redundant, but more accessible.

[2017-03-12 18:46] brucelau-github commented on #58
Yeah. I think it is done month ago for this feature.

[2017-03-12 19:28] Blandine-AA commented on #58
@joshi1983 @brucelau-github, email verification was done, but doesn't work properly. I opened an issue on it and asked @brucelau-github if he had time to look into fixing it.

can be disregarded.

[2017-03-12 21:30] brucelau-github commented on #199
yeah. I could fix this issue.

[2017-03-13 15:13] Blandine-AA commented on #227
@joshi1983, no feedback from @balraj18 , @sidhunavroop, and @rickyboparai ?

[2017-03-14 01:17] areebakamal commented on #205
Some of the remarks may not necessarily directly relate to this issue rather stem from it:

1) I feel like there should be a way to insert the radius while you are on the results page after search. I've zoomed out plenty as Chris suggested but I do not see a radius or a way to change it without visiting the Profile page.
2) If the radius can only be changed on the profile page, there should be a s

[2017-03-14 01:32] areebakamal commented on #237
Would something like this work?
![image](https://cloud.githubusercontent.com/assets/23005093/23882022/72693e16-0834-11e7-9f0d-c8c5cc623a7f.png)

[2017-03-14 01:34] areebakamal commented on #237
@Blandine-AA I can try it over the next couple days and will reassign if it's incomplete.

[2017-03-14 01:37] joshi1983 commented on #205
@areebakamal what do you think of having the radius determine the initial zoom level such that the full circle is always immediately visible so no one needs to zoom out for it?

You're correct that the profile page is the only place where you can update the radius for now.  How would you suggest selecting the search radius on the location search results page?  Any suggestion for how the input cont

[2017-03-14 01:56] joshi1983 commented on #237
@areebakamal yes including a time from now could work.  The path could be something like '/profile-photo?' + new Date().getTime().

That simple solution would get this issue mostly done the quickest.  I would recommend implementing something like that to start.

I mentioned some more challenging things too but they might not be worth the effort and complexity they would add.

Would you like to tak