[2017-03-14 02:01] joshi1983 commented on #58
@Blandine-AA, @brucelau-github's changes were merged last night and put on both the demo and app.accesslocator.com.  That should finish the last 2 subtasks for this issue where signing in is blocked until the email address is confirmed.

I had a little difficulty with the emails getting in SPAM/JUNK folders so some people may face that.  That's the only problem I found while testing this latest ch

[2017-03-14 02:06] joshi1983 commented on #199
#58 and #199 should probably be closed at the same time so if one is ready to close, it'll be good to close the other.

[2017-03-14 02:10] areebakamal commented on #205
@joshi1983
"the radius determine the initial zoom level"--  I think this is a good idea. Initial zoom should be dependent on the radius so that the entire circle overlay is visible initially.

I was thinking something like this:
![image](https://cloud.githubusercontent.com/assets/23005093/23882725/eacb4512-0838-11e7-959b-a802f82e79f4.png)
Where it says 50mi, we would put a text box there which dis

[2017-03-14 02:29] joshi1983 commented on #238
I committed and merged Rumana's work and the new logo graphics are on both [demo.accesslocator.com](http://demo.accesslocator.com) and [app.accesslocator.com](http://app.accesslocator.com).

I'm closing this issue now because the issue is complete.

[2017-03-14 02:29] #238 closed

[2017-03-14 02:51] joshi1983 commented on #116
I checked off the high res/SVG subtask in the issue description because @areebakamal provided an SVG version of the logo.

[2017-03-14 02:55] joshi1983 commented on #221
It looks like Zoya has tested #221 and given feedback on this.  @Blandine-AA should #221 be closed now?

[2017-03-14 03:14] joshi1983 opened #260 "Location Search: Add Search Radius selector to "table" view"
@areebakamal found it too restrictive that the profile was the only place to update the search radius while she tested #205.

The new input can go left aligned under the "Location Search Results for ..." heading.

This issue will involve the following steps:
- [x] Add a new form to app\resources\views\pages\location_search\spreadsheet.blade.php.  This new form should have an input element and a sa

[2017-03-14 05:34] rickyboparai commented on #227
[Accessibility App Survey JMCC_16Feb2017 (1).docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/840356/Accessibility.App.Survey.JMCC_16Feb2017.1.docx)

[2017-03-14 13:59] Blandine-AA commented on #227
@balraj18 , @sidhunavroop, and @rickyboparai, This is not what was requested in this tasks. You filled the survey, but there is no indication of the building that was evaluated, neither your reflexions on the proposed criteria list. The goal of the discovery exercice is to improve the criteria list not to do the survey. There are other people who did the survey.

So, I am re-opening this issue.

R

[2017-03-14 22:05] Blandine-AA commented on #210
@areebakamal, from the minutes. To put on the info web page !

[2017-03-15 01:00] areebakamal commented on #210
What I had in mind: adding an additional page with a tab next to 'home' and 'contact'. Like you suggested, we can call it New Features.
On the new page, we would have the latest release note on top, and keep updating as a new entry as we have newer versions in descending chronological order.

[2017-03-15 01:03] areebakamal commented on #210
@Blandine-AA You mean in the caption for the following images, write Available Soon? or under 'New Features' as point 8?
![image](https://cloud.githubusercontent.com/assets/23005093/23929027/8e4321ae-08f9-11e7-9dee-dbf2f26834a1.png)

[2017-03-15 13:24] Blandine-AA commented on #210
@areebakamal, under 'New Features' as point 8.

[2017-03-15 13:29] Blandine-AA commented on #221
@joshi1983, if @JaveriyaKhan feels that the test PASSED or FAILED based on all the feedback provided, then she should follow the process to update the issue accordingly.

Please do not update, @JaveriyaKhan should update it.

[2017-03-15 13:40] Blandine-AA commented on #58
@joshi1983, @brucelau-github, if work is completed then it should be set to "Ready for Testing".

Also, because it was scheduled for 0.0.3, demo release shouldn't have been updated, without validating the change of release. Now either we undo the change to the demo release or we move this issue to 0.0.2 and update the release notes. Hoping that the test PASSES.

[2017-03-15 16:06] joshi1983 commented on #221
Sure thing.

[2017-03-15 16:10] joshi1983 commented on #58
ok, I'll work on what @Blandine-AA said.  I'll do whichever is quickest and updating release notes looks like extra work for Areeba so I'll look into removing the updates from demo if that can be done with less effort.

[2017-03-15 19:15] Blandine-AA commented on #58
@joshi1983, from the RN peerspective, it will be just adding and extra line for @areebakamal, but the feature needs to be tested and it has to be assigned to someone to do it. If after your assessment it is better keeping it in 0.0.2, then assign the testing to @kimficara. She will be faster at completing it by Friday night.

[2017-03-15 19:21] Blandine-AA commented on #58
@brucelau-github, To help speeding up the testing, please provide some high level steps for testing this fix.
I know I have describe the problem in #199.

[2017-03-15 21:30] JaveriyaKhan commented on #221
Sure

Sent from my iPhone

[2017-03-15 23:57] joshi1983 commented on #58
I deployed a change to undo the check for a verified email address when signing in.  I know there's a problem with some emails going to SPAM or junk folders so undoing the change on demo seemed better than getting the other testers to experience that problem.  This will also ease up things on Areeba and the rest of the team who are struggling to complete the testing and presentation site updates f

[2017-03-17 04:19] areebakamal commented on #210
![image](https://cloud.githubusercontent.com/assets/23005093/24028675/49203b16-0aa7-11e7-93a6-c2c68d0ca6d8.png)

Any changes or should I upload?

[2017-03-17 06:22] areebakamal commented on #210
or

![image](https://cloud.githubusercontent.com/assets/23005093/24031356/9a43f904-0ab8-11e7-88b1-b0377b5bc2c5.png)

[2017-03-17 12:05] joshi1983 commented on #210
@areebakamal don't let this stop you from uploading your changes but here is a suggestion.

- I'd suggest sticking to the white background used in the contact and home page for consistency's sake.
- If you want attention brought to the release notes list, you could use a thick border, maybe 2 or 3 pixels, around the list.
- An alternative to a border would be a box-shadow like used in the http://a

[2017-03-17 13:04] areebakamal commented on #210
I used the blue from the second half of the home page.

Okay I will update.
On 17 Mar 2017 08:05, "Josh Greig" <notifications@github.com> wrote:

[2017-03-17 15:37] Blandine-AA commented on #210
@areebakamal ,

Looking at your sketch and @joshi1983 comment, I think it will look nicer if it was done like a ppt slide with some design.
Attached file is what I have in mind.... Of course design can be improved to match @joshi1983 comments above and make it more appealing.
[Release notes.pptx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/851061/Release.notes.pptx)

[2017-03-17 16:41] baseer110 commented on #101
We have checked the search result page feature:

1) we have sign up into the account and setup the search area distance, In our example its 5Km and we searched for Education category, the search result is under the 5Km distance as we can see in the below images.

![image](https://cloud.githubusercontent.com/assets/4041079/24053139/6beef2a6-0b0e-11e7-9e1b-2de98da087da.png)

2) The result is under t

[2017-03-17 17:03] Blandine-AA commented on #227
@joshi1983 , it looks like Amolbir is not on github!

[2017-03-17 17:08] baseer110 commented on #135
Hello Josh, I have checked the functionality on http://demo.accesslocator.com/ for search result. As per the above image for sorted distance, actually when I have searched for Education category the distance are not sorted and as per the comment by Dr.Stephanos the distance should be near by search location but I am didn't see the sorted distance.

![image](https://cloud.githubusercontent.com/asse

[2017-03-17 17:16] joshi1983 commented on #227
@Blandine-AA yes I emailed him asking that on March 12 but haven't seen a reply yet.  I replied and forwarded those emails to you for your information.  I'll bring it up to him in tonight's meeting too.

[2017-03-17 17:44] baseer110 commented on #184
I have checked the feature, I am able to upload the profile picture and when I upload the photo the page gets auto refresh and display the profile with the updated photo.

![image](https://cloud.githubusercontent.com/assets/4041079/24055481/8b29b77a-0b16-11e7-89e1-c3aeb5109563.png)

But I have some points to add here is that,  if I am as a user wants to delete my profile photo so how can I do it c

[2017-03-17 18:09] Blandine-AA commented on #184
@baseer110 , good catch for trying a large size photo. I agree with your proposal to review this at tonight meeting with @joshi1983 .

My suggestion is to limit the photo size and to have a check before loading the photo.  So the user knows ahead of time if his photo meets the size criteria.

[2017-03-17 18:17] baseer110 commented on #226
Accessibility survey for Windsor Regional Hospital (Health care), here are the some points to summarize:

Windsor regional hospital is having all the facilities for the people with the disability. Actually when we approached to the human resource department for the more information for accessibility options available in the hospital. They said us that they will provide the information on the mail

[2017-03-17 18:19] Blandine-AA commented on #254
@rickyboparai , you should pu work on this task on hold until the 2 other initial tasks are completed. They were due in February.

@jasjeetsinghsra , you can continue working on this.

[2017-03-17 18:21] #221 closed

[2017-03-17 18:37] JaveriyaKhan commented on #226
Accessibility survey for Empire Muscle (Sports & Recreation), here are the some points to summarize:
[Survey_Empire_Muscle.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/851462/Survey_Empire_Muscle.docx)

The Empire Muscle Gym has very limited accessibility options available for the people with disabilities. There is no automatic doors available at the entrance door, wash

[2017-03-17 22:32] joshi1983 opened #261 "User Profile : uploading large profile images leads to unclear validation message"
Based on feedback from #184 testing, we want a clearer message to appear when uploading images that are too large to be processed.

![image](https://cloud.githubusercontent.com/assets/11838191/24065396/f7164dd4-0b40-11e7-8304-755b014ad756.png)

[2017-03-18 00:35] gillbalraj commented on #227
Under the elevator category, I seems like these two fields have the same meaning- "Elevator has room for wheelchair to turn" and "No room for wheelchair to turn Enter straight/out straight  "

[2017-03-18 01:44] Blandine-AA commented on #184
@baseer110 , since @joshi1983 has opened a new issue to track the large file upload error, please update this issue and follow the process to close it.

[2017-03-18 01:48] Blandine-AA commented on #261
Set a limit on the photo size and have a check before loading the photo so that the user knows ahead of time if his photo meets the size criteria.

[2017-03-18 01:59] Blandine-AA commented on #135
@baseer110 , sorting is done either per location name or per rating value or per distance.

@joshi1983 , is sorting on the distance implemented or just sorting per location name?

[2017-03-18 02:02] Blandine-AA commented on #229
Re-opening the issue as closing it does not allow review team discussion.

[2017-03-18 02:03] Blandine-AA commented on #226
Re-opening the issue as closing it does not allow review and team discussion.

[2017-03-18 02:13] Blandine-AA commented on #226
@baseer110 , @JaveriyaKhan , this is a  lot of work done for this discovery activity. Great job!

It will be interesting to share your experience with the rest of the team at next meeting. and we will review some of your proposals

I hope you feel like you better grasp of what we are trying to build and the challenges people with disabilities face on a daily basis.

[2017-03-18 06:00] areebakamal commented on #210
![image](https://cloud.githubusercontent.com/assets/23005093/24069376/1dde9ff2-0b7d-11e7-9f75-b863ca4dc18b.png)

I've updated the website at accesslocator.com.

[2017-03-18 09:47] joshi1983 commented on #135
Sorting by any column is implemented.  You just have to click the column title and it'll work.

In the meeting, Areeba and Baseer relayed that Stephanos wanted it sorted by distance by default.  By "default", I mean immediately when you visit the page after searching on the home page.  It is sorted by name by default, though.  @Blandine-AA, do you also want it sorted by distance by default?

[2017-03-18 14:03] stephanosm commented on #135
When I mentioned about sorting by distance by default I had something else in mind. Suppose you search for "restaurant" because you want something around you. That makes sense to be sorted by distance. However, in order for this to work, locations must belong to a type, e.g. Burger King belongs to Restaurant. This has some kind of complexity for assigning locations to types/categories and we might

[2017-03-18 15:01] joshi1983 commented on #135
@stephanosm using the underlining and colour to bring attention to the sorting feature sounds like a good idea.

A few people verified with me that there was a sorting feature last night when I expected it to be obvious from the website.  I overestimated how noticable the feature was so I added the underlining and colour changes you suggested.  You can review the changes at http://app.accesslocato

[2017-03-18 16:08] joshi1983 commented on #26
@kimficara you started writing some Java code to write an HTTP request to jaccede's API in an attempt to get some JSON data that is visible in developer tools when you use the site.  You ran into some problems where the server returned HTML with a French message that roughly translates to "Page not found" or "entity not found".

Let me know when you have Wireshark verifying that your HTTP request

[2017-03-18 19:12] stephanosm commented on #135
Few small problems I noticed.
1. There should be a color on the sorted column title different from the unsorted ones
2. The Underline column titles do not appear on Google Chrome. They work well on IE and Firefox.
3. Also I tried to test it from my Mobile and I see another problem, that the results are not clearly visible. The font color is too light and difficult to read.

[2017-03-18 22:49] Blandine-AA commented on #135
@joshi1983 , there seems to be too many problems on this issue. So, I suggest not to release it for Demo 0.0.2. Or, if we release it, can we draft a workaround for the release notes ? Any other suggestion?

Good catch @stephanosm. Going forward, I think we should ask all testing to be done BOTH on laptop/desktop AND mobile devices. At least cell phone, and tablet if possible!

[2017-03-19 16:09] joshi1983 commented on #135
@Blandine-AA just because someone has ideas for improvement doesn't mean it has "too many problems".  I disagree that it is unreleasable.  What Stephanos is bringing up aren't nasty bugs.  These are just minor improvements from his perspective.  I implemented what I agree are improvements and they are available on app.accesslocator.com but not demo.accesslocator.com because extra effort seems need

[2017-03-19 18:18] stephanosm commented on #135
Working fine on Chrome as well.

[2017-03-20 17:46] stephanosm commented on #240
I am in discussion with the Media department of the school to create the video for Digifest. I am waiting for more information on the dates and possible cost.

[2017-03-20 18:45] Blandine-AA commented on #135
@joshi1983  regarding your comment

This point in my comment was just my perception. Also I asked for suggestions on how to handle this issue for Demo 0.0.2 as I said here:

What is your suggestion then? What is implemented that you agreed on as requirements to put in the release notes?

[2017-03-20 20:22] joshi1983 commented on #135
I'd suggest no change to release notes based on the suggested underlining of columns and colour changes from Stephanos.

It is all very minor and covered under "Added map and table views for location search results" from the presentation site at [accesslocator.com/releasenotes](http://accesslocator.com/releasenotes).

The only minor problem Stephanos was bringing up was that some users may have tr

[2017-03-20 22:45] baseer110 commented on #184
As there is another ticket for this issue therefore closing this ticket

[2017-03-20 22:47] #184 closed

[2017-03-21 11:39] Blandine-AA commented on #135
Closing this issue based on @joshi1983 comment above

[2017-03-21 11:39] #135 closed

[2017-03-21 11:47] joshi1983 opened #265 "Search result page : Optimize colours and fonts for mobile devices"
Stephanos mentioned in feedback for #135 that the location links looked difficult to read on his mobile device.  "I tried to test it from my Mobile and I see another problem, that the results are not clearly visible. The font color is too light and difficult to read."

- [x] Use darker text colour when the results appear on narrow displays or mobile devices.
- [x] Increase font size slightly ideal

[2017-03-21 11:49] joshi1983 commented on #135
I added #265 so we can keep Stephanos' comment on his mobile device testing on our radar for later.

[2017-03-21 11:53] Blandine-AA commented on #205
New issue #260 has been created to track the testing feedback for enhancement. Closing this one as the initial design is working as intended

[2017-03-21 11:53] #205 closed

[2017-03-21 11:53] #210 closed

[2017-03-21 11:54] joshi1983 commented on #253
I cleaned up some seed data for the project based on @sidhunavroop's spreadsheet.  Various duplicate locations were removed.  The changes were deployed to [app.accesslocator.com](http://app.accesslocator.com).  One of the 15 or so duplicates removed includes the Centre for Engineering Innovation.

[2017-03-21 11:59] #101 closed

[2017-03-21 16:45] JaveriyaKhan commented on #230
Feedback on evaluation of existing accessibility apps

[Accessibility_application_comparison.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/858946/Accessibility_application_comparison.pdf)

[2017-03-21 18:10] JaveriyaKhan commented on #230
Feedback on evaluation of existing accessibility

[Accessibility_application_comparison.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/859206/Accessibility_application_comparison.pdf)

[2017-03-22 13:23] Blandine-AA commented on #230
@JaveriyaKhan , looks much better! Thanks.

[2017-03-22 13:40] Blandine-AA commented on #230
Great feedback @JaveriyaKhan . It would be nice like @stephanosm  said to @kimficara , to also provide **one or two things you liked in the other apps and that you would recommend to have in AccessLocator as well.**

[2017-03-22 19:07] kimficara commented on #230
Here is the recommendation portion of my report

[AccessLocator Recommendations.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/862579/AccessLocator.Recommendations.pdf)

[2017-03-22 19:42] Blandine-AA commented on #230
Thanks @kimficara ! I agree with you that the FAQ can be a great addition to the app.

[2017-03-22 19:46] Blandine-AA opened #266 "Add an FAQ to the app"
This issue is to track Kim's recommendation (see file) after her research on existing accessibility apps.
[Kim - AccessLocator.Recommendations.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/862677/Kim.-.AccessLocator.Recommendations.pdf)

[2017-03-24 03:23] rickyboparai commented on #227
![img_2461](https://cloud.githubusercontent.com/assets/25445443/24279346/b32735c8-101f-11e7-842c-e9ac57455c66.JPG)
![img_2462](https://cloud.githubusercontent.com/assets/25445443/24279347/b3275c06-101f-11e7-8fe5-8c080c21e408.JPG)
![img_2465](https://cloud.githubusercontent.com/assets/25445443/24279350/b329498a-101f-11e7-9f84-1c1af947ee93.JPG)
![img_2447](https://cloud.githubusercontent.com/assets/

[2017-03-24 03:35] Blandine-AA commented on #227
Thanks @gillbalraj  for the feedback. You raised interesting points. More explanations on the pictures will be useful too.

[2017-03-24 03:37] Blandine-AA commented on #227
Thanks @rickyboparai for the photos, but more explanations on the pictures will be useful. What criteria are you evaluating here? Is it any problem?

[2017-03-24 03:44] Blandine-AA commented on #244
@e1cerebro , before working on this issue, you should first complete the discovery and research on existing apps tasks.

[2017-03-24 03:47] rickyboparai commented on #227
[aquatic centre_Downtown.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/866831/aquatic.centre_Downtown.docx)

[2017-03-24 03:49] rickyboparai commented on #230
feedback
[Accessibility Application Comparisons.docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/866835/Accessibility.Application.Comparisons.docx)

[2017-03-24 03:51] rickyboparai commented on #227
I was editing everything and now everything is done. Hope you will like it.

[2017-03-24 15:15] Blandine-AA commented on #116
@joshi1983 , @areebakamal , is it any work left to do on this issue? Has the svg file provided been used/implemented?

[2017-03-24 15:17] Blandine-AA commented on #228
@e1cerebro , you haven't provided any feedback on this activity. Is it because you didn't do it or you did it with @areebakamal  and/or @RumanaHakeem ?

[2017-03-24 15:19] Blandine-AA commented on #117
@joshi1983 , @areebakamal , it seems to me that we are pretty happy with the current homepage background. So, we can close this issue. correct?

[2017-03-24 15:33] Blandine-AA commented on #230
Thanks @rickyboparai  for your report. Few things though, your recommendation is missing. Also, please add your name to your report file name.

[2017-03-24 15:40] Blandine-AA commented on #227
Thanks @rickyboparai for the effort to finish this task and provide your feedback. We will discuss your (and all of you) experience doing the activity and finalize the criteria list at tonight's meeting.

[2017-03-24 16:11] joshi1983 commented on #116
As far as I know this issue is ready to close but I wanted to leave that up to @Blandine-AA.

[2017-03-24 16:17] gillbalraj commented on #230
Here are my feedback and reviews for some apps.

[2017-03-24 16:21] joshi1983 commented on #117
I suggest not closing because we're still using a potentially copyrighten material.  It doesn't seem as high priority as several other issues but we'll keep risking a copyright complaint until the home page is replaced.  Replacing with an image made purely with our team's photos or properly licensed graphics was why this issue was created and that still isn't complete.

Part of our current home pa

[2017-03-24 17:54] Blandine-AA opened #267 "Photo upload : need to show when the photo is loading"
When uploading the photo, there is no information showing that the upload is in progress. You wonder if anything is happening except for the browser tab going round and round, but this could also mean that there is an internet problem.

So, we need a message or a temp hour glass or other icon in the photo space to show the user that upload is in progress.

[2017-03-24 18:03] JaveriyaKhan commented on #230
My Recommendations for AccessLocator:

[Javeriya_recommendations_for_accesslocator.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/868773/Javeriya_recommendations_for_accesslocator.pdf)

[2017-03-24 18:23] baseer110 commented on #230
Recommendations for AccessLocator:

[Baseer_recommendations.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/868823/Baseer_recommendations.pdf)

[2017-03-24 19:14] Blandine-AA commented on #230
@gillbalraj , thanks for submitting your feedback. Please append your name to your file name.

[2017-03-24 19:46] gillbalraj commented on #230
Here are my feedback and reviews for some apps.
[issue 230.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/869004/issue.230.pdf)
Done!

[2017-03-24 21:05] Blandine-AA commented on #116
Ok. Closing it then !

[2017-03-24 21:05] #116 closed

[2017-03-24 22:03] joshi1983 opened #268 "Location Report: clicking generic google link doesn't show search results"
When we don't have an associated URL for a location stored, we link to Google search with the location's title as keywords.  We just don't do a perfect job of this.  The user still needs to click a button to see the results.

An example of this problem can be seen at:
http://app.accesslocator.com/location-report/564

Go to https://www.google.ca/?q=Doubletree+Guest+Suites+Fort-Shelby+Hotel+ and it

[2017-03-24 22:16] joshi1983 opened #269 "CSS Validation finds invalid characters in app.css"
CSS validation is finding problems in our generated CSS.  app.css is generated using gulp off of hhaccessibility.github.io\app\resources\assets\sass\app.scss.

Over 3000 lines of it is from the third party bootstrap SASS and this is the part that is generating errors.
[code]

Find out why Bootstrap is translated to invalid CSS and if we can do anything about it.

Use the following validator to fix

[2017-03-25 22:30] joshi1983 commented on #266
I merged a pull request and deployed the new FAQ feature to http://app.accesslocator.com/faq for review.

Here is a screenshot.
![image](https://cloud.githubusercontent.com/assets/11838191/24326636/fbdd6c0a-1188-11e7-8709-a86342ce2819.png)

[2017-03-25 22:39] joshi1983 commented on #266
I removed the "Future release" because I implemented the change for this nearest release, demo 0.0.3.

[2017-03-25 23:04] stephanosm commented on #266
there are a couple of corrections:
"gathers" appears twice
on the same line, should the "back with you" be "back to you"?

On Sat, Mar 25, 2017 at 6:39 PM, Josh Greig <notifications@github.com>
wrote:

[2017-03-26 02:04] joshi1983 commented on #266
@stephanosm thanks for finding those mistakes.  I'll proofread next better next time.

I removed the erronious "gathers" and replaced "back with you" with "with everyone".
![image](https://cloud.githubusercontent.com/assets/11838191/24327733/e5de5c7a-11a6-11e7-8ae2-73b8d8f48216.png)

[2017-03-26 16:23] joshi1983 commented on #237
I merged a pull request similar to what Areeba mentioned.  It implements the simplest solution.  I also removed mention of a more complex solution from the issue's description because that would be too complex to be worth explaining to developers and having to maintain.

[2017-03-26 17:12] joshi1983 commented on #267
I merged and deployed a fix for this.

Here is a screenshot of the upload photo progress indicator.
![image](https://cloud.githubusercontent.com/assets/11838191/24333409/8bd58c42-1225-11e7-8846-6971a90b14a2.png)

The test procedure I suggest for this is:
1. Go to [app.accesslocator.com](http://app.accesslocator.com) and sign in to see the profile.
1. Upload a photo and notice the indication that a

[2017-03-26 17:19] joshi1983 commented on #254
@rickyboparai and @jasjeetsinghsra when do you think you will likely have this done?  Are you confident to have this done before finishing the VIP program, Sukhamrit?

[2017-03-26 17:52] joshi1983 commented on #261
I'll probably get this fixed Monday or Tuesday evening.

[2017-03-26 23:25] joshi1983 opened #275 "Sign Up: email address verification email filtered as SPAM"
When signing up by filling in first name, last name, a password... an email is sent to the specified email address which contains a link which must be clicked before the new account can be used.  The email is getting filtered as SPAM or Trash in gmail and hotmail.

***Steps to reproduce***:
1. Sign up on [app.accesslocator.com/signup](http://app.accesslocator.com/signup) by submitting the form.  D

[2017-03-26 23:26] joshi1983 commented on #275
@brucelau-github do you have time to look at this?  This isn't really urgent but would be nice to fix by April 20 or so because that would let us put the email verification in our next demo release.

[2017-03-26 23:35] stephanosm commented on #275
Also, I recommend to change the message wording by adding "Click on the link below or" before the word "just"   //see below part of the existing message:
_It's easy — just copy and past link below into your browser._

[2017-03-27 01:55] rickyboparai commented on #254
@joshi1983 hi josh jasjeet is having his final exams in first week of april and mine are from second week of april so I will work till first week and he will work afterwards and eventually we will finish this issue by second week of april. Is this fine with you? This is final exams time of everyone. Thanks

[2017-03-27 19:29] joshi1983 commented on #254
Is that a yes?

[2017-03-27 20:44] rickyboparai commented on #254
My vip will finish on 10th april and issue will be finish by 15 th.

Sent from my iPhone

[2017-03-27 21:11] gillbalraj commented on #230
Here are my feedback and reviews for some apps.
[Balraj Gill.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/873817/Balraj.Gill.pdf)

[2017-03-27 21:35] joshi1983 commented on #254
This is broken into 3 subtasks.  Are you going to finish the first subtask by April 10?

This is the task I'm referring to:
Add a new method in hhaccessibility.github.io\app\app\Http\Controllers\ProfileController.php and add a route to it from routes/web.php. This API should use HTTP method 'get' to download the regions data in JSON format. You should query them from the region database table. Thi

[2017-03-27 22:50] joshi1983 opened #276 "Photo upload : add feature to delete uploaded photo"
After a user uploads a photo on the profile, (s)he may want to remove it.

This issue breaks down into the following subtasks:
- [x] Add a method to hhaccessibility.github.io\app\app\Http\Controllers\ProfilePhotoUploadController.php for deleting the corresponding image file.  Add a route to it in hhaccessibility.github.io\app\routes\web.php.
- [x] Make appropriate HTML or JavaScript changes to hit

[2017-03-27 23:23] joshi1983 commented on #242
@avneetdhillon how is the discovery activity and app research going?  Will you be ready to work on this in the next few weeks?  What's keeping you quiet?

[2017-03-27 23:37] avneetdhillon commented on #242
HelloSorry I can't attend last few meetings, but I am working on my issues. As this is my last semester and was little busy with university procedures and few exams. Now I am done with these things and will be working again on my issues. I am totally free after couple of weeks and will be able to devote full time to AccessLocator. I am very close on solving discovery activity. I hope you will unde

[2017-03-28 03:13] joshi1983 commented on #261
The problem turned out to be limits in memory and upload file size in our PHP configurations.  There were no code changes to fix this but some changes were made to php.ini.

These changes intentionally maintain limits because we don't want our web application shut down for everyone because someone uploads some outrageously large image.  This does raise the limits considerably, though.  This should

[2017-03-28 03:36] joshi1983 commented on #200
I'll focus on this for a couple days this week.

I may not get all of this done this week but here's a few points that I still need to do:
- [ ] Get the "Submit" to save the session's rating data to the database so the public can see them in the location report.
- [ ] Update rating cache values appropriately.  Test any code that should be refreshing the cache.
- [ ] Make "Submit" show in the last

[2017-03-28 03:43] joshi1983 commented on #235
This works with the session for now but I should get it working with the database too this week.  It may not be ready for testing until next week when the rating feature is more complete, though.

[2017-03-28 21:35] Blandine-AA commented on #261
@joshi1983 , 20M for a file size seems quite a lot to me. why would some one load a 20 M file as a photo profile? A max limite size of 2M for a profile photo is more than enough. I strongly recommend to keep it!

I can't comment on the memory limit, as I do not understand the impact. I will need some explanation to be able to provide some feedback.

[2017-03-28 21:48] joshi1983 commented on #261
2M is what it was at before and someone gave feedback that the validation message wasn't clear when uploading large images.  The only way to get a clearer message is to increase the limits.

All of the uploaded graphics are scaled down to roughly 10kb to 50kb so we don't maintain close to even 2MB after the download process completes.

The cases this can apply to were if someone takes a selfie wit

[2017-03-28 22:19] joshi1983 commented on #276
@areebakamal where do you suggest putting the delete option?  Didn't you want an X link or button somewhere?

[2017-03-28 22:22] joshi1983 commented on #266
Since we have an FAQ feature, can we remove the "Our Vision"?  It seems like if we ever have something to call our vision, it can fit nicely as a question answer instead of needing a full page.  It also makes the application look needlessly incomplete to have "Under Development" under a menu item when we have and continue to have no plan for what to write in there.

[2017-03-29 01:06] stephanosm commented on #266
agree

[2017-03-29 01:20] joshi1983 commented on #266
I removed the "our vision" menu item now.

[2017-03-29 01:52] Blandine-AA commented on #261
@joshi1983 , I understand the requirement. What I am saying is that if the photo size is greater than a certain size, we should tell the user that it is too big for what it is needed. This can be seen on many successful apps. We should not just increase the limit size to accommodate all files' sizes.

If a typical iPhone photo is between 2 and 3.5 MB, then let's put the limit to 3.5MB.

[2017-03-29 12:14] joshi1983 commented on #275
@Blandine-AA regarding the "help wanted" label, this issue isn't suitable to most of the student volunteers because it requires some knowledge of DNS, MX records, SMTP, and how email filters work which most students probably lack experience with.  Access to the digital ocean hosting account would also be needed which only @brucelau-github and I are trusted with for now.

We can keep the "help want

[2017-04-01 23:10] joshi1983 commented on #261
@Blandine-AA I removed the Ready for testing label because there's a couple more things I want to do on this.  Based on your feedback I lowered the limit to 5MB.  You asked for 3.5MB and I'll do that if I figure out how to change the "failed to upload" message to something better like "image is too large".

[2017-04-03 20:08] amoldhillon commented on #230
[Recommendations for AccessLocator -Amolbir Singh-.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/891228/Recommendations.for.AccessLocator.-Amolbir.Singh-.pdf)

[2017-04-04 05:25] amoldhillon commented on #230
[Accessibility Comparisons of Applications (Amolbir Singh).docx](https://github.com/hhaccessibility/hhaccessibility.github.io/files/892108/Accessibility.Comparisons.of.Applications.Amolbir.Singh.docx)

[2017-04-04 18:27] joshi1983 commented on #266
@kimficara was this what you expected?  Do you have any edit requests for the question list or the answers?  Any tweaks to how it should look?

[2017-04-04 23:18] areebakamal commented on #276
Maybe something like this:

![6e64a4f961e27a821feb8071da9fe0a4_female-user-icon-clip-art-clipart-user-icon_300-300 copy](https://cloud.githubusercontent.com/assets/23005093/24683156/69b8e134-196b-11e7-86b8-a13a50e24bc0.jpg)
![6e64a4f961e27a821feb8071da9fe0a4_female-user-icon-clip-art-clipart-user-icon_300-300](https://cloud.githubusercontent.com/assets/23005093/24683157/69bfffaa-196b-11e7-8f48-59e

[2017-04-04 23:30] areebakamal commented on #117
Does anyone know of a nice building with a big ramp?

[2017-04-05 03:05] Blandine-AA commented on #117
@areebakamal , how big? Try the Toldo building at the university. It has quite a long ramp

[2017-04-05 03:09] Blandine-AA commented on #276
@areebakamal , are you working on this? If yes, please assign it yourself and change the label to "Working on it".

[2017-04-05 03:17] joshi1983 commented on #276
@areebakamal you don't want the "Change Photo" text anymore?

What do you think of having a "Change Photo" at the bottom and add a "Remove Photo |X|" at the top?

[2017-04-05 03:25] amoldhillon commented on #230
@Blandine-AA  Please check my Recommendations and evaluations mam.

[2017-04-05 03:31] sidhunavroop commented on #230
i think the recommendations suggested by @amoldhillon are very useful as a person would always prefer to read a review before going to that particular place

[2017-04-05 03:36] joshi1983 commented on #254
@jasjeetsinghsra do you have questions about this?  I basically did the first subtask on my laptop in the last meeting to show @rickyboparai how to do it.  The only way this becomes really difficult to do is if you don't ask questions.  I can answer anything.

[2017-04-05 03:40] joshi1983 commented on #268
@gillbalraj did you get anywhere with finding a link to google that shows the search results?

[2017-04-05 03:45] jasjeetsinghsra commented on #254
Hi  Josh

My last exam ends on 12. i have exams on 7th 10th and 12th. I will be in
touch with sukhamrit and let you know if I have any doubts on 12th evening.

Regards
Jasjeet
On Tue, Apr 4, 2017 at 11:36 PM, Josh Greig <notifications@github.com>
wrote:

[2017-04-05 11:48] Blandine-AA commented on #230
Thanks @amoldhillon for submitting your report and the recommendations

[2017-04-05 11:50] Blandine-AA commented on #254
Good luck @jasjeetsinghsra with your exams. I consider that you are off the project from the 4th to the 12th

[2017-04-06 10:50] e1cerebro commented on #228
I did it with Areeba, but she uploaded the report with her GitHub account.

[2017-04-06 11:49] Blandine-AA commented on #228
@e1cerebro , when asked Areeba, she didn't mention that you did it together. On the contrary!
So, It is not a matter of uploading the report with someones github account. when it is a team project, it has to be a team report and Areeba's report wasn't a team report. Thus, there was no evidence for us that you did the activity with her or somebody else.

Do you have any feedback to provide from you

[2017-04-06 21:42] kimficara commented on #266
The FAQ is exactly what I expected!  The questions so far are all great, I think we could definitely add a lot more and eventually group them into different sections.

WheelMap has a great FAQ list, I noticed our questions were taken from their first list section.  I went through the rest of their list and filtered out the questions that are not applicable to AccessLocator.  Here is the list of qu

[2017-04-06 22:00] areebakamal commented on #276
@joshi1983 yeah that sounds good!

[2017-04-06 23:48] areebakamal commented on #117
Ok, I will try to take a good picture. I looked on Maps street view to check for ramps. Found a few but none are as nice as that building ramp that I used. Will post a couple pictures here for new choices for background.
If anyone has any other ideas for the homepage background besides a large building with a large ramp, feel free to comment here!

[2017-04-07 00:09] areebakamal commented on #133
I sat down to design this page but I feel like there is a lot to discuss. What I had in mind for this page is to give options where the user has options for the accessibility criteria. Let says as a user, I want to find a hotel in City X that is accessible with a check for Elevator and Bathroom.

If we give the option of overall percentage, it might not be as personalized. If a certain building is

[2017-04-07 00:26] areebakamal commented on #122
I think this can be closed as it's in development phase now in #242?

[2017-04-07 00:40] joshi1983 commented on #122
I agree with @areebakamal so I'm closing it.

[2017-04-07 00:40] #122 closed

[2017-04-07 01:25] joshi1983 commented on #276
Like @Blandine-AA asked, did you want to take this on or do you feel busy with exams or some other AccessLocator work to focus on this yet, @areebakamal ?

[2017-04-07 01:47] areebakamal commented on #276
I will work on the other 2 issues (background photo & search page UX) and
also have exams starting on the 10th till the19th. You can assign this one
to someone else.
On 6 Apr 2017 21:25, "Josh Greig" <notifications@github.com> wrote:

[2017-04-07 03:14] kimficara commented on #266
PASS

(I will not close the issue in case anyone else would like to add more questions for the future)

[2017-04-07 04:14] Blandine-AA commented on #133
Good question @areebakamal . We can discuss this at the meeting tonight.

[2017-04-10 12:18] Blandine-AA commented on #110
Update the profile, the rating and the advance search features to use the finalized accessibility criteria list of April 3rd, 2017.
[AccessLocator_Accessibility criteria checklist_Final_03April2017.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/909987/AccessLocator.-.accessibility.criteria.checklist-.Final.03April2017.pdf)

[2017-04-10 13:32] joshi1983 commented on #276
@amoldhillon can you work on this?  As usual, let me know if you have questions.  You can email me, comment here, wherever you prefer.

[2017-04-10 23:02] amoldhillon commented on #276
Thank you Josh. I will do my best in this and if i have any problem i will
mail you.

On Mon, Apr 10, 2017 at 9:32 AM, Josh Greig <notifications@github.com>
wrote:

[2017-04-12 02:46] joshi1983 commented on #266
The requested questions and answers have been added, @kimficara.  Do they still look good?  Thanks for the review.  That pushes the work forward quite nicely.

[2017-04-12 09:59] joshi1983 opened #289 "Location search: add keywords to location tag search filtering"
On the home page, if someone were to type a keyword like "comfort" and hit "Accommodation", it was only filtering the "Accommodation" part of the intended search.  We want the keywords to also be used to filter results.

In the end the following scenario should test that this feature is working:
1. Go to the home page at [app.accesslocator.com](http://app.accesslocator.com)
1. Type 'Windsor, Ontar

[2017-04-12 10:15] joshi1983 opened #290 "Home page: fix misspelling of 'Accomodation' to be 'Accommodation'"

[2017-04-12 10:30] joshi1983 commented on #290
The test procedure for this is very simple.
1. Go to the home page at [app.accesslocator.com](http://app.accesslocator.com)
1. Check the spelling of the Accommodation link to see that the 'm' was added.  You could also double check that it is the correct spelling.

[2017-04-12 11:37] joshi1983 commented on #110
@Blandine-AA that criteria list update happened roughly a week ago and can be seen at [app.accesslocator.com](http://app.accesslocator.com)

[2017-04-12 12:08] joshi1983 commented on #268
This is progressing quite slowly so I looked into it more.

Adding the /search does what we're after.
http://www.google.com/search?q=Google+tutorial+create+link

This was mentioned at:
http://stackoverflow.com/questions/36205013/is-it-possible-to-link-directly-to-google-search-results-using-href

This concludes the subtask 1.  @gillbalraj let me know when you're ready to implement the change so yo

[2017-04-12 13:59] kimficara commented on #266
looks great!

[2017-04-12 14:09] kimficara commented on #289
Has this feature been implemented yet @joshi1983?  I tried testing it out and it didn't seem to be working

[2017-04-12 14:48] joshi1983 commented on #289
Yes, it has been implemented and ready for testing.  It is funny to call something this trivial a feature but yeah the spelling was fixed as far as I can see on app.accesslocator.com.

[2017-04-12 21:10] kimficara commented on #289
@joshi1983 It doesn't seem to be working for me, it's doing what it used to do and displays all locations from that category regardless of what my search word it..

[2017-04-13 10:21] joshi1983 commented on #289
Can you thoroughly refresh the page or empty your web browser cache?  In Windows, I use CTRL+SHIFT+R to thoroughly refresh.  If everything is refreshed properly, the link should include the keywords.  I made the following screenshot with Chrome and it shows the link's URL when I hover over a link:

![image](https://cloud.githubusercontent.com/assets/11838191/25000984/5eed4022-2011-11e7-9970-320007

[2017-04-13 16:29] kimficara commented on #289
It worked after I cleared my cache, thanks for the advice!

I tested many different combinations of searches and they all worked for me.

PASS

[2017-04-13 16:29] #289 closed

[2017-04-13 16:30] kimficara commented on #289
closing this issue since it passed its testing

[2017-04-13 16:39] kimficara commented on #290
"Accommodation" is fixed and I looked through the whole website to check for any other typos and I think we're all clear, well done @joshi1983!

[2017-04-13 16:39] #290 closed

[2017-04-13 16:40] kimficara commented on #290
Closing the issue since it passed its testing.

[2017-04-13 16:58] kimficara commented on #237
@joshi1983 , when I created an account and signed in for the first time the profile picture was automatically set as Dr. Stephanos.  I changed the picture 5 times and went to different pages and signed out and back in between and there were no issues there, just when I originally created my profile.

[2017-04-13 17:04] kimficara commented on #267
The indicator works in Chrome but not Safari.  In Safari, the old picture remains on the screen until the new one is loading.

[2017-04-13 17:20] joshi1983 commented on #237
Yeah that is a funny side effect of me not clearing out old image files when recreating the database when deploying changes.  I'll update the way I deploy so that users will have no profile photos when they create new accounts.  For now, they could get a previous user profile from an old version when a new user reuses an old user id.

[2017-04-13 17:23] joshi1983 commented on #267
Great find, @kimficara, thanks.  I'll try to reproduce that problem in Safari on Windows and go from there.

[2017-04-14 02:03] joshi1983 commented on #275
@brucelau-github are you getting anymore time to work on this lately?

[2017-04-14 03:52] areebakamal commented on #260
![whatsapp image 2017-04-13 at 11 29 35 pm](https://cloud.githubusercontent.com/assets/23005093/25032391/c9289686-20a1-11e7-806a-3e8b63adce20.jpeg)
![whatsapp image 2017-04-13 at 11 29 36 pm](https://cloud.githubusercontent.com/assets/23005093/25032392/caa35e60-20a1-11e7-9e90-11e186fa5d1f.jpeg)

Search Page:
At the top we have radio buttons for advance and basic search. Basic search will reflect t

[2017-04-14 03:53] areebakamal commented on #260
I guess there should also be Radius or Distance on the Search page and that will be reflected as a button on the search results page too. Will post high fidelity mockups later.

[2017-04-14 04:10] areebakamal commented on #260
Also, I was testing with screen readers. I tested the profile page and search results page with two screen readers. NV Access and ChromeVox extension. With NVA, it reads if you move your mouse over it. In ChromeVox, there is an option for using the mouse cursor as focus for reading. But I didn't see that in NVA.
Basically NVA works really well if you hover you mouse over text, it reads the text on

[2017-04-14 04:29] areebakamal commented on #260
Ok commented on the wrong issue I had open.

[2017-04-14 04:30] areebakamal commented on #133
![whatsapp image 2017-04-13 at 11 29 35 pm](https://cloud.githubusercontent.com/assets/23005093/25032391/c9289686-20a1-11e7-806a-3e8b63adce20.jpeg)
![whatsapp image 2017-04-13 at 11 29 36 pm](https://cloud.githubusercontent.com/assets/23005093/25032392/caa35e60-20a1-11e7-9e90-11e186fa5d1f.jpeg)

Search Page:
At the top we have radio buttons for advance and basic search. Basic search will reflect t

[2017-04-14 04:30] areebakamal commented on #133
I guess there should also be Radius or Distance on the Search page and that will be reflected as a button on the search results page too. Will post high fidelity mockups later.

[2017-04-14 04:31] areebakamal commented on #133
Also, I was testing with screen readers. I tested the profile page and search results page with two screen readers. NV Access and ChromeVox extension. With NVA, it reads if you move your mouse over it. In ChromeVox, there is an option for using the mouse cursor as focus for reading. But I didn't see that in NVA.
Basically NVA works really well if you hover you mouse over text, it reads the text on

[2017-04-14 06:26] joshi1983 commented on #266
I'm closing because Kim and I are both happy with calling this issue complete.  This issue is linked to the demo 0.0.3 milestone which should help when we write release notes.

[2017-04-14 06:26] #266 closed

[2017-04-14 06:38] joshi1983 commented on #265
@stephanosm I darkened the text colour and increased the font size by 5% for narrow screens.  Is the table view still difficult to read on your device?

I tested with:
- a Samsung CE0168 tablet using Android and a Chrome browser
- a BLU Advance 4.0 L Android phone with a Chrome browser

[2017-04-14 07:12] joshi1983 commented on #267
@kimficara can you check again?

I found a a problem in Safari on Windows where the file chooser wasn't showing up at all.  I was able to fix that.

Did things get darker in the photo rectangle while it was uploading in Safari?  Even if the animated circles don't show, the darkening indicates something is happening which helps.  I had a problem where the circle animation wasn't showing in an old v

[2017-04-14 13:17] kimficara commented on #267
In safari the picture now gets darker and the circles are displayed however the animation is not working.  It looks much better with those two effects and even though the animation isn't working, the uploads I have been testing have been so quick that you wouldn't even get a chance to see the animation in action.

I tested it in Chrome again to make sure everything was working there and there were

[2017-04-14 13:22] kimficara commented on #237
I created a new account and the default picture was properly set this time.  I also uploaded about 10 different pictures and had no issues there either.

[2017-04-14 14:19] stephanosm commented on #265
The text size is good, but the the color needs to be darkened more. The results remain unclear.

[2017-04-14 15:24] joshi1983 commented on #265
@stephanosm can you make a screenshot from your mobile device to show how it looks for you?

This is what the screen looks like to me:
![image](https://cloud.githubusercontent.com/assets/11838191/25047467/dd5eec78-2104-11e7-80ff-9bd09b2040cd.png)

[2017-04-14 15:42] joshi1983 commented on #237
I created a couple scripts on the host called clear-db-files which should be run every time the database is recreated.  As long as I remember to run them appropriately and maintain them, this won't happen again.

I'm closing because both the cache issue and the deployment mistakes should be fixed now.

[2017-04-14 15:42] #237 closed

[2017-04-14 15:55] stephanosm commented on #265
Mine here.
![screenshot_2017-04-14-11-45-32](https://cloud.githubusercontent.com/assets/22602396/25048200/24dcdc3c-2109-11e7-85c4-e183ebca4265.png)

[2017-04-14 15:57] stephanosm commented on #265
It looks very clear on a PC but the actual on the mobile is not clear that much. I noticed yours is more bold

[2017-04-14 16:15] joshi1983 commented on #265
That screenshot is pretty helpful.  It looks like the font isn't loaded properly on your device.  Even the menu items and AccessLocator are far too thin on your phone.

Is that a Samsung Android phone?  What type and version of phone is it?  That information should help me reproduce the problem.

[2017-04-14 16:28] joshi1983 commented on #268
@gillbalraj will you get this done by April 20?  I'd like it to be working on app.accesslocator.com before the Digifest event in case people there use app.accesslocator.com and find this bug.  If you can't, let me know and I can take over.

[2017-04-14 16:47] joshi1983 commented on #244
I removed the following from the issue description because this bug has been fixed by the commits just before this comment:
"There is also a bug where the popup isn't vertically positioned to line up with the marker when the browser height is really tall or really short.  We'll want to fix that bug at some point too but fixing it as part of this issue is optional."

[2017-04-14 16:55] stephanosm commented on #265
LG model G4

[2017-04-16 12:55] joshi1983 opened #297 "Home page: increase height, add zoom buttons, and remove streetview"
During a meeting around 3pm on Friday, April 16, 2017, Meagan and Blandine mentioned that it would be an improvement to add zoom buttons to the home page's map and increase its size slightly.

These changes would include:
- [x] Increase map height
- [x] Add zoom buttons
- [x] Remove streetview options from maps on location search, location report
![image](https://cloud.githubusercontent.com/assets

[2017-04-17 13:22] joshi1983 commented on #268
@gillbalraj if you don't get this done by Friday, April 21, I'd like to take over and do the last subtask on Saturday or Sunday so that it is ready for the Digifest event.

[2017-04-17 13:28] joshi1983 commented on #242
How are the discovery and app comparison tasks going, Avi?  It has been 3 weeks since we last spoke.

If this isn't be done by Friday, April 21, I'd like to take it over so it is done before the Digifest event and can be part of our demo 0.0.3 release.  Other issues can be assigned later if you become confident that you'll have the time to promptly finish them but I want to keep our current issues

[2017-04-19 11:38] joshi1983 opened #299 "Menu: Indicate active menu items"
Many websites mark navigation menu items differently when you visit the corresponding pages.  We want the same feature in AccessLocator.

Here are a couple examples of the indicator in action.  It includes a soft border and black text.
![image](https://cloud.githubusercontent.com/assets/11838191/25178242/0280185c-24d3-11e7-8f28-ef26075664d8.png)

![image](https://cloud.githubusercontent.com/assets

[2017-04-19 12:26] joshi1983 commented on #265
Blandine's tablet had a similar problem with the fonts.

I removed usage of a Google font called "Didact Gothic" and it should be using Arial now.

@stephanosm can you try again at [app.accesslocator.com](http://app.accesslocator.com) ?  Thoroughly refresh if you can in case the browser cache prevents you from seeing the updates.

[2017-04-19 12:27] joshi1983 commented on #299
@kimficara are you available to test this?

[2017-04-19 12:28] joshi1983 commented on #297
@kimficara can you test this too?

[2017-04-19 21:57] kimficara commented on #299
Looks great!

PASS

[2017-04-19 21:57] #299 closed

[2017-04-19 22:12] kimficara commented on #297
The increased height makes a big difference (in a good way).  All three changes look great and I didn't find any issues while testing them out.

PASS

[2017-04-19 22:13] kimficara commented on #297
@joshi1983 I wasn't sure if I should close this issue since it has the enhancement tag.

[2017-04-19 22:36] stephanosm commented on #265
I refresh but I still can't see any difference

[2017-04-20 11:35] joshi1983 commented on #254
This is April 20 and I told Sukhamrit in a Good Friday meeting that I'd take over this issue if it wasn't done by today so I unassigned Jasjeet and Sukhamrit and assigned myself.

[2017-04-20 11:44] joshi1983 commented on #254
Most of this is complete now except implementing a workaround for Safari.  I added a subtask for that.

[2017-04-20 11:53] joshi1983 commented on #265
Did you thoroughly refresh?  In Chrome on Windows, there's a CTRL+SHIFT+R for a thorough refresh which clears cache.  There's a different CTRL+R which does a reload without clearing cache.

To verify that the cache of the css file was cleared, please go to http://app.accesslocator.com/css/app.css and check that the @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600); line is r

[2017-04-20 11:54] joshi1983 commented on #297
Closing the issue seems fine to me.  I'll ask Blandine later if she wants to manage the demo 0.0.3 release.

[2017-04-20 22:04] stephanosm commented on #265
It has already been refreshed.

![screenshot_2017-04-20-18-01-18](https://cloud.githubusercontent.com/assets/22602396/25254473/bdc1a218-25f3-11e7-9738-ba0491a76d59.png)

[2017-04-21 08:13] areebakamal commented on #117
![background2 copxxxxy](https://cloud.githubusercontent.com/assets/23005093/25268922/918c81fe-2648-11e7-8246-2d41019ab959.jpg)

[2017-04-21 11:44] joshi1983 commented on #117
That looks pretty really good, @areebakamal.

Can you share all the source graphics on here in maybe a zip file?  If you have them before they were edited, that would be even better.  It looks like the colours for the main image have been edited a little.

Is the marker and wheelchair graphics also yours or do you know what the copyright policies are on them?

[2017-04-21 14:37] #297 closed

[2017-04-21 15:12] Blandine-AA commented on #297
@joshi1983 , Why wouldn't I want to manage release 0.0.3? As I mentioned in a previous meeting, 0.0.3 will be postponed to a later date. I'll look into this next week.

[2017-04-21 16:52] joshi1983 commented on #265
I wasn't able to reproduce it on my devices but one of my coworkers could and it is fixed on his phone for now.  It looks like I mistakenly set the font to be the opposite of bold... super thin.

@stephanosm can you try now?

[2017-04-21 18:12] stephanosm commented on #265
Looks good now !

[2017-04-21 20:02] #265 closed

[2017-04-21 20:22] areebakamal commented on #117
Yeah I changed a lot of the colors to make it more blue toned like the current one, added some grass as it looked scarce in the original pic.

The blue marker is pretty universal. Even if I remake it by tracing, it would look the same. I could modify the shape so it's not an exact copy.
The wheel chair pic is not mine, it's taken from: http://www.rehabmagazine.ca/featured-sidebar/the-other-seat/
N

[2017-04-21 20:37] Blandine-AA commented on #117
@areebakamal , I don't think that there will be a problem with the wheelchair. First it is very settle as view, second it looks like any wheelchair within the millions that exist. So, not point of making too much fuzz about it. Looks great !

[2017-04-21 22:16] joshi1983 commented on #265
I closed because it is fair to consider this passed by Stephanos' testing.

[2017-04-21 22:21] joshi1983 commented on #268
I finished the last task on this and the linking feature is now available at [app.accesslocator.com](http://app.accesslocator.com).

For anyone testing this, here is a procedure I suggest:
1. Go to a location that has no preconfigured website address such as [Dieppe Gardens](http://app.accesslocator.com/location-report/347).
1. Click the Google link to search for that location on Google.
1. Notice

[2017-04-21 22:24] joshi1983 commented on #276
@amoldhillon how's this coming?  I didn't see any messages from you and your last week of the VIP extension is next week.

Are you coming to the meeting tomorrow?

[2017-04-21 22:31] stephanosm commented on #268
passed!

On Fri, Apr 21, 2017 at 6:21 PM, Josh Greig <notifications@github.com>
wrote:

[2017-04-21 22:32] #268 closed

[2017-04-21 22:36] joshi1983 commented on #268
Thanks for testing @stephanosm

[2017-04-22 01:14] brucelau-github commented on #275
Yeah. I would fix this problem quickly.

[2017-04-22 01:50] amoldhillon commented on #276
@joshi1983 hello Josh. I am not sure if I am coming tomorrow or not. But I am working on this issue right now. Just getting familiar with PHP and HTML. It is taking much more time than I expected. But I'll definitely come up with the solution by this Monday or Tuesday. If I encounter any problem in this I'll drop you  mail. Thank you.

[2017-04-22 14:26] joshi1983 commented on #276
Thanks for replying to the question.

There isn't enough time to get really confident with PHP and HTML so you'll have to approach this differently.

Here are some small steps that should get you started.

Here is the HTML that you'll need to modify:
``
			<div class="photo-display" onclick="selectImageFile()">
				<div class="uploaded-photo">
				</div>
				<div class="progress-element"></div>

[2017-04-22 15:05] joshi1983 commented on #242
I discussed this with @gillbalraj and he's taking it over for now.  If he can't finish by Tuesday, I'll take it over to make it available at digifest in case anyone wants to comment on it.

[2017-04-24 03:06] amoldhillon commented on #276
After adding the 'x' button using html, how can I proceed further? I think it is with amending java script file? Which part of it?
Thanks

[2017-04-24 12:01] joshi1983 commented on #276
Make a pull request with just the x button added and no functionality behind it.  I'll review and give feedback on that.  Do that before working on the JavaScript.

Various steps using git are documented at:
https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/git-commands

Specifically for you, this sequence of instructions and commands will get you to push up your work:
Open a termi

[2017-04-25 03:11] amoldhillon commented on #276
I just finished this. How to start with first subtask?

[2017-04-25 11:38] joshi1983 commented on #276
Yeah start making that controller.  Thanks for the pull request.  I'll review it tonight.  I'll test it and might merge with tweaks.

[2017-04-25 14:10] Blandine-AA commented on #267
PASS. I will open a new issue to follow-up with the Safari functionality.

[2017-04-25 14:10] #267 closed

[2017-04-25 14:11] joshi1983 commented on #267
That new issue sounds good, @Blandine-AA.

[2017-04-25 14:15] Blandine-AA opened #312 "Photo upload : check functionality on Safari"
While testing #267 , it was found that the animation to show the photo upload wasn't working. this issue is to track that.

[2017-04-25 14:35] Blandine-AA commented on #204
unassigning @baseer110 as he obviously doesn't work on the project anymore, since we haven't heard from him for months now.

[2017-04-25 14:36] Blandine-AA commented on #240
From @stephanosm last update, there will not be any video created for Digifest. Closing this issue!

[2017-04-25 14:36] #240 closed

[2017-04-25 14:41] Blandine-AA commented on #133
@areebakamal great work for the design proposal and the research on screen readers.

[2017-04-25 14:51] Blandine-AA opened #313 "Presentation page: update for demo 0.0.3"
Update the AccessLocator.com presentation page

- [x] Deploy demo version 0.0.3 - @joshi1983
- [x] Update release version - @joshi1983
- [x] Add release note to New Features page - @areebakamal

 List of closed issues in [release 0.0.3](https://github.com/hhaccessibility/hhaccessibility.github.io/milestone/11)

[2017-04-25 14:57] joshi1983 commented on #313
I should have the 2 subtasks complete late tonight.  I can probably give my suggestion for release notes text around then too.

If anyone wants to take over what to write for release notes, the issues closed under the demo 0.0.3 are pretty much the changes to note.

[2017-04-25 15:08] Blandine-AA commented on #313
Release notes (0.0.3) - @areebakamal
Added an FAQ menu
Improved Category selection UX design
Added State/Province/Territory selection in user profile
Enhanced photo upload functionality - Show animation when photo is uploading
Added functionality to use search point and distance to filter all search results

@joshi1983 , please check above list if you are happy with it. I didn't put all the issues

[2017-04-25 15:18] joshi1983 commented on #242
I won't have time to take this over tonight.  I'll be helping Balraj tonight set up his laptop and releasing demo 0.0.3 instead.

[2017-04-25 15:26] joshi1983 commented on #313
1. good.
1. sounds good if you mean #289.
1. I'd word it more like "Added typeahead for State/Province/Territory in user profile".  The region input was there before.  The only difference was popping up options that match the selected country.
1. good.
1. The point and radius was supported in demo 0.0.2.  You could say "Added zoom buttons to search location selector".  Another point could be "Fixe

[2017-04-25 19:20] Blandine-AA commented on #313
Final release notes (0.0.3)
1. Added an FAQ menu
2. Improved Category selection UX design
3. Added type ahead functionality for State/Province/Territory in user profile
4. Enhanced photo upload functionality - Show animation when photo is uploading
5. Added zoom buttons to search location selector
6. Fixed bugs with map zoom for location search and location report

@areebakamal, thanks for updatin

[2017-04-25 22:48] joshi1983 commented on #313
0.0.3 is on [demo.accesslocator.com](http://demo.accesslocator.com) now.  @Blandine-AA was there some testing you wanted to do?

[2017-04-26 11:52] joshi1983 commented on #276
@amoldhillon the pull request was merged with tweaks to make it look more like the "Change Photo" text at the bottom.  Your work was linked to the @rickyboparai user.  I'm happy you're working together but I also want the pull requests linked to the assigned user so when you push up, try to use the amoldhillon credentials.  If you didn't type in email and password, did you share ssh key files with

[2017-04-26 12:02] Blandine-AA commented on #276
Graphic chart/feel should remain consistent for change and remove photo actions

[2017-04-26 12:13] Blandine-AA opened #315 "User Profile : Dropdown box arrows inconsistency"
In the home section, the dropdown box styles are not the same.
- [x] The arrows are different. They should be aligned and of the same size.
- [x] Also check that the font size is the same for the field names.
![image](https://cloud.githubusercontent.com/assets/20052162/25433809/be7aafac-2a57-11e7-8220-244e5b0296fd.png)

[2017-04-26 12:23] Blandine-AA opened #316 "Rating: round up overall accessibility value"
In the table view of search results page, show the rounded value to "integer" of the accessibility rating. This should also apply where ever we display the overall rating value
![image](https://cloud.githubusercontent.com/assets/20052162/25433993/923575d4-2a58-11e7-965d-5bd48b46848d.png)

[2017-04-26 12:40] Blandine-AA opened #317 "User Profile : Add "Unselect all" action"
In the Accessibility Requirements section, user can select all criteria at once, but cannot unselect them all.
It would be more user-friendly to allow the user to unselect all the selected criteria with 1 click. The "Select all" will toggle to "Unselect all" after clicking on it. Next click on "Unselect all" will unselect ALL the criteria.
Now, clicking again on select all simply remove the checkm

[2017-04-26 12:57] joshi1983 commented on #317
I suggest having a "Select All" button and a separate "Clear All" button to separate the user's intent to change all checkboxes at once from reporting whether all, none, or some of the checkboxes are selected.

I think some users may be confused if a checkbox for "Select All" becomes checked and then says "Unselect all" which may be misread as meaning something like "all unselected" and make it ha

[2017-04-26 13:09] Blandine-AA opened #318 "User Profile : Save button functionality not clear"
The check mark on the save button is misleading. It looks like the changes are saved when they are not.
When changes are saved the check mark shows or the save button is disabled/greyed out.
When changes are made to the profile,the save button become visible/enabled or  the checkmark should not appear, letting the user know that the changes need to be saved.
![image](https://cloud.githubuserconten

[2017-04-26 13:12] Blandine-AA commented on #313
Quick test of demo 0.0.3 and it is ok as is.

[2017-04-26 13:13] Blandine-AA commented on #313
@joshi1983 : It looks like Areeba has uninstalled her local AL server setup and won't bee able to make the changes on the AL présentation page. Since she is travelling this morning, can you take over and update the New Features page with the 0.0.3 release notes?

[2017-04-26 13:26] joshi1983 commented on #313
@Blandine-AA yes but it might take me until Thursday night to do since I'm having Internet trouble at home.

[2017-04-26 13:26] joshi1983 commented on #315
The easiest fix for this seems to be hiding the data list arrow completely.  This may help anyone working on removing the arrow: http://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome

Note that the two elements have a different meaning which is probably why web browsers show the arrows differently.  It visually conveys that the country selector requires one of its op

[2017-04-26 15:16] Blandine-AA commented on #315
This can be fixed en release 0.0.4 as scheduled

[2017-04-26 15:27] amoldhillon commented on #276
I made a controller but need helps in routing. Can you help me with the syntax in the ()?
Route::get();
Route::post();

[2017-04-26 16:07] amoldhillon commented on #276
And in "a" tag href, i will put something like "ProfilePhotoUploadController.php" or concerned class or function?

[2017-04-26 16:17] joshi1983 commented on #276
Use get because that'll work well with the 'a' tag.

You could write something like this:
Route::get('profile-photo-delete', 'ProfilePhotoUploadController@delete');

The href for your 'a' element would need to match the route you specify.  If you wrote the above line in web.php, href="/profile-photo-delete" is what you'd put in the profile.blade.php file.

Did you get latest changes yet?  I change

[2017-04-26 17:05] joshi1983 commented on #313
I'll try to fix this responsiveness problem on the presentation site too:
![image](https://cloud.githubusercontent.com/assets/11838191/25446875/f44b37ea-2a80-11e7-9312-7fd1a0a06819.png)

[2017-04-27 12:08] joshi1983 commented on #276
@amoldhillon had trouble making the pull request but he emailed the files he updated and I made the pull request on his behalf.

This should be ready for testing now.  @areebakamal are you up for it when you come back from Digifest?  Aside from your testing, I'm also curious if you'd want the labels to look more similar to your mockups.

[2017-04-27 12:14] joshi1983 commented on #318
- I'm leaning more toward disabling than removing the button completely.  I have a feeling the screenreaders could handle the disable/enabling change better than removing and adding.
- The disabled state can be represented with a gray colour.
- It seems like the checkmark should be removed at all times to simplify how people interpret the button.

[2017-04-27 12:29] joshi1983 commented on #316
This is ready for testing on [app.accesslocator.com](http://app.accesslocator.com).  Did you want to check, @Blandine-AA ?  The only places I could think of that show the overall rating were the table view in your screenshot and the report on an individual location.  The report on an individual location was rounded to the nearest decimal point before but now rounded to nearest integer.

[2017-04-27 22:40] Blandine-AA commented on #316
@joshi1983 Looks good to me.
When implementing the rating feature, we will have to remember this.
No need to move this fix to 0.0.3. Leave it for 0.0.4 release !

[2017-04-27 22:40] #316 closed

[2017-04-27 22:44] Blandine-AA commented on #318
I didn't suggest removing the button. I suggested removing the check mark.

I would recommend the enable/disable(grey-out) behavior as most people are used to that, and that will probably work best for screen readers.

[2017-04-28 00:29] joshi1983 commented on #313
Presentation site now has the new release notes.

![image](https://cloud.githubusercontent.com/assets/11838191/25509579/0215cdd8-2b88-11e7-8d59-f1edd595bc94.png)

The responsiveness problem mentioned was fixed to look like:
![image](https://cloud.githubusercontent.com/assets/11838191/25509602/2aab4246-2b88-11e7-8669-f2778673d450.png)

[2017-04-28 00:57] joshi1983 commented on #318
I removed the checkbox because that was really quick and easy.  The remaining work seems good for a student volunteer.

Here is how I suggest breaking this down for a student volunteer:
- [ ] Create a new JavaScript file called something like public/js/profile_save_button.js and include the file by modifying in app/resources/views/pages/profile/profile.blade.php.
- [ ] Whenever any of the inputs c

[2017-04-28 01:02] joshi1983 commented on #317
I like the removal of the checkbox.  What should the text be if there is 4 questions checked and 4 questions unchecked?

[2017-04-28 15:13] Blandine-AA commented on #317
Good question.. Anytime there is a partial check, the text should be the default behavior "Select all".

The other option would be to unselect all automatically without changing the text whenever the user clicks on the select all to remove the check mark. But I don't think that it is really user friendly. another option to think about !

[2017-04-28 15:17] Blandine-AA commented on #313
Good @joshi1983 , but we need to be consistent with the release notes titles. Keep the same title format as for 0.0.2.

For the photo, I think the border is too thick. Need to have somebody else view on this before making any change. @areebakamal and @meaganvpark could provide some feedback.

[2017-04-28 15:22] joshi1983 commented on #313
I'll update when we're more confident in how to change it.

To help discussion about this, here are a couple reasons for the 2 main differences I see in the titles:
- The reason for the underlining difference is to clarify that one is a link and the other is not.
- The reason for the "New" being removed from the 0.0.2 is just because it isn't very new anymore.  We could remove the word "New" from

[2017-04-28 21:30] Blandine-AA commented on #313
I understand and it is good to have a direct link on the demo app for the latest release. But then shouldn't that be a blue underline as the standard way of showing links?

We could remove "New" altogether if it is confusing, but it is not because a feature is not new anymore in the new release that we need to change the history of the app. Those features are still new in 0.0.2.

Thinking some mor

[2017-04-28 23:17] joshi1983 commented on #313
"Version x.y.z updates" sounds good to me too.  If that makes you confident, I'll do it.

Regarding the underlining, I found this information from a user-experience website, https://www.nngroup.com/articles/guidelines-for-visualizing-links/:
- To maximize the perceived affordance of clickability, color and underline the link text. Users shouldn’t have to guess or scrub the page to find out where t

[2017-04-29 22:03] joshi1983 commented on #200
I linked the popup on an individual location's report to the new reporting/rating feature but there are still some things you probably want.  Things I'm aware of include:
- [ ] Make the rating count on the location report popup over the map correct.  It is always 0 for now.
- [ ] Show the percentages in a format more attractive and graphical than simple percentage text.  Exactly how to do this sti

[2017-04-29 22:08] joshi1983 opened #325 "Location Report: improved layout needed for mobile devices and small screen size"
The popup over the location report's map doesn't look good on narrow screen resolutions below 600 pixels wide.  Maybe we can put the popup content above or below the map on screens smaller than 600 pixels wide.

Here is how it looks at roughly 390 pixels wide:
![image](https://cloud.githubusercontent.com/assets/11838191/25559384/b086b2ea-2d06-11e7-9c50-fec36cf6bdf0.png)

@areebakamal what do you t

[2017-04-29 22:09] joshi1983 commented on #325
I assigned to @areebakamal just to help get her attention.  I didn't mean that she should implement the solution just yet.

[2017-04-29 22:30] joshi1983 commented on #212
@Blandine-AA the first subtask is complete but do you still want the second part that hasn't been completed yet?

"For other countries where state/province is not applicable, may be just grey out the field and enable it only if Canada or USA are selected as country." ?

[2017-04-29 22:34] joshi1983 commented on #244
Work on this issue may affect work on #325 in that the toggle would work only when there is sufficient screen width for the pop up to look good on the map.

[2017-04-29 22:39] joshi1983 opened #326 "User profile: implement workaround for datalist in Safari browsers"
Some work on #254 depends on the browser supporting the datalist HTML tag.  We still want browsers such as Safari to give users a similar experience so a workaround is needed.

For one possible work around, see: http://stackoverflow.com/questions/27494084/html5-datalist-tag-is-not-populating-in-safari

[2017-04-29 22:42] joshi1983 commented on #254
I created a separate issue for the Safari workaround.  I suggest testing this using any browser other than Safari.
To test, do the following:
1. Sign in and open the profile.
1. Pick Canada and type "On" in the State/Province input and notice that only the Canadian provinces and territories show.
1. Pick United States and type something and notice only US states show.

[2017-05-01 22:54] joshi1983 opened #329 "Create data importer for yelp"
yelp.com has a lot of locations and for each location, there are items like 'wheelchair accessible' and 'wifi' which correspond with questions from our criteria checklist.

Create a tool using Python that can download location information for a given area and convert that information into CSV format.  The more columns of information the better but we'll be very interested in having a minimum of lo

[2017-05-03 14:50] Blandine-AA commented on #212
@joshi1983 why shouldn't the second task not implemented?
Do we plan to support searches for "unsupported countries" using that field? If yes, then they should become supported. Right? Otherwise, they don't need the field and it should be disabled/greyed out.

[2017-05-03 15:02] joshi1983 commented on #212
I didn't have a big reason to think the second subtask wasn't needed anymore.  I was just asking since it was 3 or 4 months since the issue was created and wanted to confirm that the second subtask was still important for someone to work on.  Lots was done for the issue since then and just wanted to make sure the requirement didn't change before someone invests time implementing it.

[2017-05-03 15:07] Blandine-AA commented on #212
I think it is still needed.

[2017-05-04 00:16] joshi1983 commented on #235
This is ready for testing.
The suggested procedure is to:
1. Rate a location.  Don't bother making the answers accurate.  Just give random ones.
1. Notice that the number goes up by 1.
1. Rate another location.
1. Notice that the number of reviews on the profile goes up again.
1. Rate a rated location again.  Notice that the number doesn't go up this time because it was already rated.  Do you agre

[2017-05-04 00:23] joshi1983 commented on #108
It has been a while since looking at this.

This is pretty obvious but just wanted to expand anyway:
NA = Not Applicable

I guess we also want a "didn't look at this" button too, right?  Since this would need to be saved, it would need a special meaning too.  For calculating the overall rating, the latest value being "didn't look at this" would count as not answered at all, right?  In other words,

[2017-05-04 00:27] joshi1983 commented on #212
The country list is huge at around 140 countries and most users will be picking from US or Canada for the next few months at least.  Are you ok with just hiding every country except US and Canada for now instead of disabling the region input?

[2017-05-04 00:29] joshi1983 commented on #275
@brucelau-github is working on this.  He has this fixed for gmail accounts but ran into some problems with yahoo and hotmail email SPAM filters.  He's still working on this when he can.

[2017-05-04 02:11] stephanosm commented on #108
I just tested the "Windsor Public Library - Central Branch" and probably we don't need it. If you simply ignore it then it means i didn't look at this. Obviously, if you have a button is better in order to avoid any possible confusion but I worry we may not have enough space to add another button.

[2017-05-04 02:16] stephanosm commented on #108
Also, I evaluated only few criteria of the  "Windsor Public Library - Central Branch" just to check the rating algorithm. The calculation should take into consideration only the criteria that have been evaluated. Currently, it takes them into consideration. For example, if you rate as accessible 1 criteria out of 10 of one area (e.g. Parking) it will give you 10% accessible which in reality it sho

[2017-05-04 02:31] stephanosm commented on #212
I think it is ok just hiding the countries for now.

[2017-05-04 11:42] joshi1983 commented on #108
@stephanosm if you average only the rated questions when some haven't been rated, you may think that rating nothing should lead to 0/0 since that would be total of most recent ratings / total questions rated.

I think we can tackle this problem a better way.  I think we can tackle this problem better by filling in the blanks with averages from similar rated locations.  I don't mean automatically s

[2017-05-04 11:48] joshi1983 commented on #212
Based on @stephanosm and my opinion that hiding the countries that don't have region data was good, that's been done.

That change is deployed to:
[app.accesslocator.com](http://app.accesslocator.com)

[2017-05-09 00:41] brucelau-github commented on #275
Received: from PU1APC01HT224.eop-APC01.prod.protection.outlook.com
 (2a01:111:e400:5bcf::50) by KL1PR01MB0727.apcprd01.prod.exchangelabs.com with
 HTTPS via KL1PR02CA0040.APCPRD02.PROD.OUTLOOK.COM; Tue, 9 May 2017 00:34:25
 +0000
Received: from PU1APC01FT043.eop-APC01.prod.protection.outlook.com
 (10.152.252.53) by PU1APC01HT224.eop-APC01.prod.protection.outlook.com
 (10.152.253.226) with Microsof

[2017-05-09 00:42] brucelau-github commented on #275
It seems our server has been past the test in email verification

[2017-05-12 02:07] brucelau-github commented on #275
It ready to merge now.

[2017-05-12 12:19] joshi1983 opened #339 "Use SVG in logo in modern browsers that support SVG images"
When zooming in lots or using a high pixel resolution device like the iPhone 6, 7, or 8, the logo looks a little blurry or pixelated.  It would look perfectly sharp if we used SVG instead of our small PNG image in these cases.  The vast majority of browsers used by our visitors will support SVG but it seems worth using PNG as a fallback for the minority of visitors on really old browsers.

The blu

[2017-05-12 13:04] stephanosm commented on #339
You may also want  to correct the favicon. It is different in the 3 sites: 1) demo, 2) AL 3} app

![capture1](https://cloud.githubusercontent.com/assets/22602396/25999146/fd7c0272-36f1-11e7-8a27-2b46b688eadf.JPG)

[2017-05-12 13:38] joshi1983 commented on #339
@stephanosm what URL is each tab on?  The white one is from http://accesslocator.com, right?

I prefer a consistently transparent background over the white background.  It looks like that inconsistency is what you're pointing out.

It may be good to try something like this to use SVG for the favicon.  I took the idea from https://diessi.ca/blog/a-guide-to-favicons-and-touch-icons/ if you need more

[2017-05-12 14:23] stephanosm commented on #339
Yes the White one is from  http://accesslocator.com
The number 1 above is from demo and 2 from app. I prefer the transparent too.

[2017-05-13 00:14] brucelau-github commented on #317
I will work on this issue

[2017-05-13 12:08] joshi1983 commented on #317
@brucelau-github I left a comment on https://github.com/hhaccessibility/hhaccessibility.github.io/pull/341.

The Ready for testing is mainly for after it has been merged and deployed so I removed that label since it is under code review right now.

[2017-05-13 16:40] joshi1983 commented on #313
As mentioned in notes from https://github.com/hhaccessibility/hhaccessibility.github.io/wiki/Development-Meeting-Notes-Friday,-May-12,-2017:

What do you think of this, @Blandine-AA?

[2017-05-13 17:18] joshi1983 commented on #117
This work from @areebakamal was merged and made available on [app.accesslocator.com](http://app.accesslocator.com).  There was a little problem with the marker getting overlapped by the left side but this was adjusted by moving the intro element on the left up slightly.

[2017-05-13 19:09] stephanosm commented on #313
I think it is better to have both. I am not sure how though. Either on home page or as a separate page under history/about. It is a good way to show the progress. Also, in the future we may have more events to add.

[2017-05-13 19:57] brucelau-github commented on #317
Okay

[2017-05-14 01:25] Blandine-AA commented on #313
I suggest to add a "News" tab were we will have a blurb with a link to the related event and article a bout AccessLocator

[2017-05-14 02:19] stephanosm commented on #313
We may also use Bootstrap (or something similar) to redesign the page with some modern theme add whatever is needed

[2017-05-14 14:02] Blandine-AA commented on #313
I forgot to answer the question from the meeting minutes.

Neither of the picture reflects the current state of the team, but the HH picture represents the genesis of the project and better conveys the group of people involved in the project . so, it should remains the main picture for now.

Regarding the redesign of the presentation page, I think it is not a priority for now and we don't have  re

[2017-05-14 18:43] joshi1983 commented on #339
@areebakamal can you update the favicon on the presentation to match the one from public/favicon.ico?  This would be in relation to what @stephanosm said above.

This issue is ready for testing now.

Here are a few things I did to test it and you could do similar.
- Zoom in lots on the logo in [app.accesslocator.com](http://app.accesslocator.com) and seeing that it looks good.
- Applied the zoom l

[2017-05-14 21:24] stephanosm commented on #313
no feedback about the homepage for not being modern. I just think it is perhaps time to redesign the page especially with some ready-made theme that takes less than a day to do so. A student can do this work.

[2017-05-14 21:41] joshi1983 commented on #313
If we decided to redesign the presentation site, mockups for a redesign optimized for the various screen widths from desktop, tablet, and mobile phones would be the first steps.  For now, we have a presentation site carefully optimized for various screen widths and it would be a step backwards to lose those optimizations.

I don't see the need for a redesign either.  It isn't like we have visitors

[2017-05-15 05:37] areebakamal commented on #339
I've updated the favicon on the presentation site.

[2017-05-15 06:03] areebakamal commented on #276
Yeah I think it's a good idea. The colors though should be shades of gray..light gray background with dark gray text. The background should extend to match the width of the photo and the entire button can be clickable. Kind of like this:
![image](https://cloud.githubusercontent.com/assets/23005093/26044228/1427e5ce-3911-11e7-8568-3478e8b099d5.png)

The remove functionality works fine on the deskto

[2017-05-15 11:47] joshi1983 commented on #339
Thanks @areebakamal.  I tested and see the favicon on the presentation site has the transparent background now.  A note to anyone else reviewing that change is that the favicon cache generally stays with the browser and doesn't clear easily.

If we can't find a problem with it, we may want to do this SVG trick to the logo on the presentation site too.

The SVG I used is here:
https://github.com/hh

[2017-05-16 12:17] Blandine-AA commented on #313
I agree with @joshi1983 comments. There is no need to redesign the web page now!  If we start having crazy traffic on it, we might consider. Even them, it will be weighted against the app priorities. So,  I would rather put resources, even student ones, on the main app.

[2017-05-16 12:25] joshi1983 commented on #317
This issue can be tested by the following steps:
1. Sign in to view the profile.
1. Click the new "Select All" button.  See that all checkboxes under the same category gets checked and the caption change to "Unselect All".
1. Click the "Unselect All" button.  See that all the checkboxes get unchecked and the button caption returns to "Select All".
1. Click "Select All" and uncheck one of the check

[2017-05-16 17:41] joshi1983 commented on #260
@brucelau-github as per our gmail chat, read the issue description more carefully.  There is no need to create an API for downloading locations in this issue.

If you were thinking of some fancy single page application-like technique where JavaScript fills the page's location list, that would go against the reason we're not making a single page application.  The more JavaScript manipulation of the

[2017-05-17 02:33] brucelau-github commented on #260
Okay. I just need to refresh the whole page other than part of the spreadsheet page. am I right?

[2017-05-17 09:44] joshi1983 commented on #260
Yes, reload the entire page.  Something like location.reload(); should work.

[2017-05-19 04:19] joshi1983 commented on #260
This is ready for testing on http://app.accesslocator.com

[2017-05-19 11:46] joshi1983 commented on #242
I tested not using a mouse and the hover text didn't show when giving focus to the location tag links by tabbing through the screen.  I'll probably get this change done tonight.

This is almost ready for testing.  I just wanted to do another couple little things before putting the "Ready for testing" label back on.

Here are some ideas for testing:
- Test on your mobile device(s) to see that the h

[2017-05-21 11:44] joshi1983 commented on #318
@Blandine-AA did you want a new reset button added to the form to reset all inputs back to how they were before the user started changing them?

[2017-05-21 19:46] joshi1983 commented on #276
The light gray background was added as Areeba suggested.

It now looks like this:
![image](https://cloud.githubusercontent.com/assets/11838191/26286849/8ccacd4a-3e3c-11e7-9fd8-68ee08fc6301.png)

The text is grayish but with a little extra blue.

[2017-05-21 19:49] joshi1983 commented on #276
@areebakamal you commented on the orientation of the images.

Can you attach a photo that gets rotated like you're saying?  I'd like to reproduce the problem.

[2017-05-22 02:16] Blandine-AA commented on #318
@joshi1983 , "Reset" is misleading as it makes think that it is resetting to a certain default state. I would prefer "Cancel", as it clearly means that you are cancelling changes you just made. Then, because there is a save button,  you don't really need to cancel what you did if you change your mind. You just don't save it !

So, I really don't quite see the use case for the "Reset" button.

[2017-05-22 12:39] joshi1983 commented on #318
I agree.  I'll ask the reset button be left out.

[2017-05-22 16:45] Blandine-AA opened #348 "Presentation page : New Feature - Open demo in new window"
From the "New Feature" tab, when clicking on the latest release, demo should launch in a new window.

[2017-05-22 16:50] joshi1983 commented on #348
@areebakamal you're maintaining the presentation site, right?  This should just need an extra target="_empty" on the "a" tag.

[2017-05-22 16:50] Blandine-AA commented on #313
PASS
Opened #348 to track the launch of the demo from the "New Feature" tab, in a new window.

[2017-05-22 16:50] #313 closed

[2017-05-22 17:16] joshi1983 commented on #318
This is ready for testing.  The work from Bruce was merged and deployed to [app.accesslocator.com](http://app.accesslocator.com).

You can test in the following way:
1. Sign in.  Check that the "Save Profile" button is initially disabled.
1. Change one of the inputs and click away.  See that the "Save Profile" button is enabled again.
1.  Change the input back to what it was.  See that the "Save P

[2017-05-22 18:59] Blandine-AA opened #349 "User Profile : Profile not saved when launching My Reviewed location page"
While updating my profile, if I click on "My Reviewed Locations" button, It opens a new page. which is good, but then my changes in progress on the profile are not saved. when I click on Profile, the changes are gone !

To avoid this, if changes have been made to the profile and haven't been saved, the user should be reminded that he made changes to the profile and asked if he wants to save the ch

[2017-05-22 21:37] brucelau-github commented on #349
@joshi1983 Do you have any suggestion for this issue?

[2017-05-22 22:03] joshi1983 commented on #349
Maybe the solution for this could be a profile_save_prompt.js file that makes a few attempts to interrupt the user before leaving the profile without saving such as:
- Add a function to profile_save_button.js that can be reused in profile_save_prompt.js that to check if a change was made.  This would be similar to the $("#profileForm").serialize() === DefaultFormValue check you do to decide if the

[2017-05-24 01:40] joshi1983 commented on #242
This is ready for testing.  The testing instructions are given in the previous comment.

[2017-05-24 02:52] joshi1983 commented on #348
This can be tested at http://accesslocator.com/releasenotes.

[2017-05-24 03:17] joshi1983 commented on #204
@brucelau-github you have a few other issues assigned to you too but wanted to bring this to your attention too.  It might be good for you since you worked on the email verification.

[2017-05-24 03:22] joshi1983 commented on #26
I unassigned @kimficara because she has been busy with her new job and not on this project the last few weeks.  Her last work on this was experimenting with making a Java application to interact directly with jaccede's API followed by some attempts to get Selenium working in Java for an application that would crawl jaccede.  Due to a lot of problems with jar dependency compatibilities, it seemed l

[2017-05-24 10:33] joshi1983 commented on #275
I removed the "Working on it" label because @brucelau-github was working on other issues lately.  This email SPAM problem still isn't perfect but it probably never will be.  A few improvements were made from Bruce's work.

Bruce, can you summarize the status on this?  Which email services sent AccessLocator emails to SPAM or Trash as apposed to the Inbox?  Leaving a status here would help yourself

[2017-05-24 10:41] joshi1983 commented on #47
These API's have been implemented as part of work on #200.  There is also nothing worth testing in isolation here because this issue is asking for API's that aren't visible to the end user.  When a tester reviews #200, it'll be testing API's from #47.

[2017-05-24 10:41] #47 closed

[2017-05-24 10:44] joshi1983 commented on #31
@Blandine-AA the checklist was finalized already right?  I'm confident enough that I'm closing this issue.

[2017-05-24 10:44] #31 closed

[2017-05-24 11:49] Blandine-AA commented on #348
PASS

[2017-05-24 11:49] #348 closed

[2017-05-25 02:22] brucelau-github commented on #349
It seems we could not customize the popup message on windows before unolad event.

[2017-05-25 03:28] joshi1983 commented on #349
I merged @brucelau-github's work on this.  It looks good from what I can see.  It is using a standard browser feature to prompt the user when closing the browser, reloading, or navigating to another page.

[2017-05-25 20:11] brucelau-github commented on #204
Okay, I will figure this out

[2017-05-26 01:54] joshi1983 opened #355 "Investigate Ability App"
The Ability App was featured on The Ellen Show:
https://www.youtube.com/watch?v=7hYGJbUySZc

The website on it is at:
http://www.abilityapp.org

It seems like Ability App is in a design and fund gathering phase and it is well promoted by a bright young person.  It looks like

[2017-05-26 03:17] stephanosm commented on #355
great job! It seems there are a lot of new apps out there and more to come soon.

[2017-05-26 12:19] joshi1983 commented on #355
@areebakamal showed this to me so the discovery is to her credit.

[2017-05-27 00:37] intherightdirection commented on #260
When updating the search radius, the number input allows you to select numbers less than 0. Although no action is generated from a negative distance, it still shouldn't allow you to select less than 0.1

[2017-05-27 20:47] joshi1983 opened #357 "Create location data importer tools for Google Places/Maps"
Create an importer tool that generates CSV files.  This would be very similar to other importer tool tasks.
The Python code for this should be added to a directory like importers/google-places.

A good starting point seems to be looking at Google Place's HTTP API documentation is at:
https://developers.google.com/places/web-service/

[2017-05-28 03:43] brucelau-github commented on #260
how to react to this issue? pop up a message or giving some  error on page. @joshi1983
any idea?

[2017-05-28 03:58] intherightdirection commented on #260
I am assuming you are using <input=”number”>, use min=”0.1” in html

Sent from Mail for Windows 10

From: Bruce Liu
Sent: Saturday, May 27, 2017 11:43 PM
To: hhaccessibility/hhaccessibility.github.io
Cc: intherightdirection; Comment
Subject: Re: [hhaccessibility/hhaccessibility.github.io] Location Search: AddSearch Radius selector to "table" view (#260)

how to react to this issue? pop up a messag

[2017-05-28 20:53] joshi1983 commented on #249
@gillbalraj was unassigned because he's in Alberta and won't be working on AccessLocator for a few weeks likely.

[2017-05-28 21:02] joshi1983 commented on #260
A little change from @brucelau-github was deployed.

You can try again at:
http://app.accesslocator.com/location-search?location_tag_id=2

It looks like invalid inputs are marked with red and that seems fine to me.  What do you think of that Jared?
![image](https://cloud.githubusercontent.com/assets/11838191/26532148/520ccc2c-43c7-11e7-82f8-d132629e1dce.png)

[2017-05-28 21:04] joshi1983 commented on #260
I assigned to Jared since he started testing this.

[2017-05-28 21:13] intherightdirection commented on #260
It is no different. The point is it requires an action or event to recognize bad input when you should be limiting the type of input anyways. The bad data is not going to go any further, I know but the point I was trying to make was you should not be allowed to even select a negative number. If you are fine with it, alright. The change was kind of unnecessary work because it didn’t really change a

[2017-05-28 21:53] joshi1983 commented on #260
If someone tried to type -2, what do you want to have happen differently?  Should it immediately be replaced with blank?

If someone hits the down arrow, you want the down arrow to stop lowering the value below 0.1.  Is that right?

[2017-05-28 21:54] intherightdirection commented on #260
Correct.

Sent from Mail for Windows 10

From: Josh Greig
Sent: Sunday, May 28, 2017 5:53 PM
To: hhaccessibility/hhaccessibility.github.io
Cc: intherightdirection; Mention
Subject: Re: [hhaccessibility/hhaccessibility.github.io] Location Search: AddSearch Radius selector to "table" view (#260)

If someone tried to type -2, what do you want to have happen differently? Should it immediately be repla

[2017-05-28 22:08] joshi1983 commented on #260
This change was just implemented: If someone hits the down arrow, the down arrow will stop lowering the value below 0.1 and available at app.accesslocator.com.

If someone tried to type -2, what do you want to have happen differently? Should it immediately be replaced with blank?  Does this matter?

[2017-05-28 22:11] intherightdirection commented on #260
Doesn’t matter. Someone is unlikely to type a -number, but it will not trigger any further action, if error checking checks for that, Bruce made it more obvious with the red.

Sent from Mail for Windows 10

From: Josh Greig
Sent: Sunday, May 28, 2017 6:08 PM
To: hhaccessibility/hhaccessibility.github.io
Cc: intherightdirection; Mention
Subject: Re: [hhaccessibility/hhaccessibility.github.io] Locat

[2017-05-28 22:21] joshi1983 commented on #260
Are you satisfied with the feature now?  Would you consider it passing or failing now?

[2017-05-28 22:22] intherightdirection commented on #260
Pass.

Sent from Mail for Windows 10

From: Josh Greig
Sent: Sunday, May 28, 2017 6:21 PM
To: hhaccessibility/hhaccessibility.github.io
Cc: intherightdirection; Mention
Subject: Re: [hhaccessibility/hhaccessibility.github.io] Location Search: AddSearch Radius selector to "table" view (#260)

Are you satisfied with the feature now? Would you consider it passing or failing now?
—
You are receiving t

[2017-05-28 22:23] joshi1983 commented on #260
I'm closing as this issue has passed testing.

[2017-05-28 22:23] #260 closed

[2017-05-28 22:38] joshi1983 commented on #339
As mentioned in an earlier comment, this is ready for testing.

Here are a few things I did to test it and you could do similar.
- Zoom in lots on the logo in [app.accesslocator.com](http://app.accesslocator.com) and seeing that it looks good.
- Applied the zoom lots step in various browsers and devices including:
    - Internet Explorer 11, Firefox 53.0.2 32-bit, Chrome 58.0.3029.110 (64-bit) on

[2017-05-28 23:04] joshi1983 commented on #204
How would you instruct a tester to test this?  Do you have suggestions?  I've been putting these instructions together so far but maybe you can for this one.

[2017-05-30 18:20] Blandine-AA opened #360 "Location Search view : problem with Radius field"
Why is it a Radius field in this page? What design discussion happened to have this and how was it decided? I don't remember having validated this... but I might have forgotten.
This needs to be discussed.

![image](https://cloud.githubusercontent.com/assets/20052162/26598281/d6641c7e-4542-11e7-8c0b-de39df7b565a.png)

[2017-05-30 18:49] Blandine-AA commented on #200
@joshi1983 , Great work for the Rating feature. It's good to have all the criteria showing. The Ratings Edit and View look great!

But there are few issues with the implementation.
- You forgot to update the rating values (columns) from the final criteria list document and implemented as per the old mockups. The finalized checklist and rating values are available on the Wiki : https://github.com/h

[2017-05-30 18:58] Blandine-AA commented on #244
Un-assigning Chris since we haven't heard from him for a long time.
@joshi1983 , this will need to be the next priority. Can this be done for the 0.0.4 release?

[2017-05-30 20:03] stephanosm commented on #360
any recommendations for this Blandine?

[2017-05-30 21:40] Blandine-AA commented on #360
None yet as I need to first understand the intent for the implementation.

[2017-05-30 21:55] joshi1983 commented on #360
Did you see issue #260?  That radius input is the implementation of #260.

You referenced #260 from #205 on March 21.  Do you remember us discussing the need for having a search radius selection on the location search map?  Comments from March in #205 cover some of that discussion. The table view is basically just a screen-reader-friendly alternative to the map of location search results so if a r

[2017-05-30 22:43] Blandine-AA commented on #360
Thanks @joshi1983 for the summary to remind me of all the discussions around this.

So, here are my comments:
1. I was first surprised by the design, mostly because what was initially proposed was a progress bar not a field to enter value. Why has this changed? Implementation restriction? Screen reader compatibility? The look?

2. The radius field adjustment is only available from the table tab. I

[2017-05-30 22:55] joshi1983 commented on #360
It was made as a text input because of screen-reader compatibility, yes.  The text input makes it easier for screen readers to read the radius value and help the user type or use arrow buttons to change the value.

Yes, it would be different for the map.  The map is where the progress bar was mentioned.  Given that the map doesn't need to accommodate screen readers, it could be written in a much m

[2017-06-01 13:25] joshi1983 commented on #77
Along with letsencrypt.org, I was told by someone attending last night's Hackforge event on encryption that you could use https://certbot.eff.org/ and a couple commands to get it working.

[2017-06-01 18:06] Blandine-AA commented on #77
Moving to release 0.0.4 to better track the issue.

[2017-06-02 04:53] balraj18 commented on #339
I tested the logo on Microsoft edge, internet explorer 9 & 11, chrome and iPhone 5& 7 it looks good on all of them.

[2017-06-02 11:38] joshi1983 commented on #339
I'm closing because it is safe to say that @balraj18 tested and concluded this as a pass.

[2017-06-02 11:38] #339 closed

[2017-06-02 20:46] balraj18 commented on #235
Working great! For me, it is a fair concept. I rated 3 locations and got the expected results.
![image](https://cloud.githubusercontent.com/assets/25542570/26744203/f1aa6494-47b2-11e7-8713-31b8e45e948b.png)

[2017-06-02 21:38] joshi1983 commented on #235
@balraj18 did you check the count on the Profile?

![image](https://cloud.githubusercontent.com/assets/11838191/26745727/ffb07766-47b9-11e7-9ced-62a60ea2a57e.png)

The calculated percentages from your screenshot are more related to #200.

[2017-06-02 21:52] stephanosm commented on #235
The counter works fine. I have few other concerns though.
First, I am not sure why Adie Knox shows the address next to the name
![image](https://cloud.githubusercontent.com/assets/22602396/26746137/01b0357c-47bc-11e7-9432-98b1ac35f2e3.png)

Also, how do I see my Reviewed Locations? Is there any link that it can bring me here or I can only see my reviews after I rate a location? How about the idea

[2017-06-02 22:24] balraj18 commented on #235
yes it went up to 2 and stayed the same when I rated the same location again.

[2017-06-02 22:24] joshi1983 commented on #235
@stephanosm that looks like 2 questions.

1. **Why show the address?**  The address is added when it is defined to distinguish locations that share the same name.  In your screenshot, it shows a few locations like the Casino Windsor which don't have an address yet.
1. **How do you see reviewed locations?**  What you circled is a link.  All those location names can be clicked and will bring you to

[2017-06-02 22:33] joshi1983 commented on #235
I'm closing this because @balraj18 found that the number was calculated correctly.

@stephanosm is there some improvements you think would make sense for another issue or issues?  I could break the location name from address into multiple columns like a spreadsheet.  I could also sort by location name alphabetically.  Do these sound good?  If the links weren't obvious, should the links be underlin

[2017-06-02 22:33] #235 closed

[2017-06-03 13:08] joshi1983 commented on #235
@stephanosm I added a couple improvements that I was considering.  Now the reviewed location list looks like:
![image](https://cloud.githubusercontent.com/assets/11838191/26753791/37c6f9a4-483c-11e7-878d-475ea7277c17.png)

[2017-06-03 23:41] brucelau-github commented on #27
exported data

[2017-06-04 01:29] Blandine-AA commented on #27
This data set doesn't have any accessibility data/rating. It is only good to add more locations, but do we have more information or better information than what we get from Open Street Map?

[2017-06-04 01:50] joshi1983 commented on #27
@Blandine-AA good question because that's basically the purpose of this issue.  There is more detailed information that would help us generate ratings on each location.

There is a bunch of accessibility information available if you go to:
http://www.ableroad.com/detail.php?newID=emack-and-bolios-ice-cream-cambridge&revID=0314b9&s=&s1=&off=0

Here's a screenshot showing what I mean:
![image](https

[2017-06-04 02:14] stephanosm commented on #235
@joshi1983 It is much better now. Also, I haven't realised that the "My Reviews(4)" button is an actual button. I recommend to make the button look more like a button or just a link.

[2017-06-05 12:38] Blandine-AA commented on #27
@joshi1983 I am aware of the availability of those informations. My question was about the file provided that didn't have accessibility information in, and you answered it by asking @brucelau-github to parse those information as part of the importer.

The key now will be to analyse those data and see how we map it with our own criteria and values. I think one of the intern candidate has worked wit

[2017-06-05 12:55] Blandine-AA commented on #204
@brucelau-github, 0.0.4 due date is next Monday. Please provide testing instructions ASAP so that testing can be completed on time.

[2017-06-05 14:21] #226 closed

[2017-06-05 14:21] #227 closed

[2017-06-05 14:21] #228 closed

[2017-06-05 14:21] #229 closed

[2017-06-05 14:35] Blandine-AA opened #363 "Presentation page: New Feature tab update for demo 0.0.4"
Update the "New Feature" tab on [AccessLocator.com](www.accesslocator.com) presentation page

 To be completed for Monday night, June 12
- [x] Deploy demo version 0.0.4 - @joshi1983
- [x]  Update release version - @joshi1983
- [ ]  Add release note to New Features page - @areebakamal / @joshi1983

List of closed issues in [release 0.0.4](https://github.com/hhaccessibility/hhaccessibility.github.io

[2017-06-05 14:50] brucelau-github commented on #204
How to test it:

This feature help AL users to recovery their password, assuming our users forget their password.

1, app.accesslocator.com/signin, filling email address, click forgot password
2, a email will send to your email inbox
3, open the email recovery link in your email inbox
4, fill your new password in the new page.
5, you can login with you new password.
Finish test.

[2017-06-05 15:12] stephanosm commented on #204
When I hit the Send Password Recovery Email button I get an error:

![image](https://cloud.githubusercontent.com/assets/22602396/26789893/c7cb30b6-49df-11e7-9348-fa3e4d83843b.png)

[2017-06-05 16:18] joshi1983 commented on #204
@stephanosm that was my mistake.  I forgot to recreate the database so Bruce's schema change was applied to the database for app.accesslocator.com.

I recreated the database so it should be working.

[2017-06-05 16:44] brucelau-github commented on #204
Yeah. There is a update on database schema. @joshi1983 may use a separated database.

[2017-06-05 18:32] sidhunavroop commented on #242
the background looks good with 70% opacity.
But what I feel is that rather displaying what is under that category at the end of the page it should be displayed with that particular category when we bring the cursor on that particular category.

[2017-06-05 18:59] sidhunavroop commented on #318
i cleared my last name and replaced it with what is earlier was and the save button was disabled. so this is working perfectly fine

[2017-06-05 21:38] Blandine-AA commented on #318
@sidhunavroop , @gillbalraj,

If an issue has passed testing. You need remove the "Ready for Testing" label and add the word "PASS" in the comment and then close the issue.

In case the issue fails testing, you need to remove the "Ready for Testing" label and add the "Failed Testing" label and reassign to the developer.

Please update your testing assignments accordingly. BTW, emails were sent few

[2017-06-06 03:14] balraj18 commented on #212
I tested this issue and it is working exactly how it supposed to be.
![image](https://cloud.githubusercontent.com/assets/25542570/26812211/64314026-4a44-11e7-83dc-e2b7b519765f.png)
how ever I found a little bug which is shown in second screen shot:-
![image](https://cloud.githubusercontent.com/assets/25542570/26812248/a075bfc6-4a44-11e7-8931-9580f37340ae.png)

the dropdown gets hide under the brow

[2017-06-06 04:39] joshi1983 commented on #204
@stephanosm yes you'd have to sign up again on app.accesslocator.com because your user account would have been removed when I completely recreated the database(drop all, create all, insert seed data).

[2017-06-06 10:23] joshi1983 commented on #200
@Blandine-AA you mentioned a few things that need deeper discussion/review/design which probably can't be done for a few weeks since that's how long Areeba could be busy.  Is this the only change that doesn't need her help?
- Add a "Didn't look at this" button on the ratings area.

Also, what do you suggest as an extra way to navigate to the rating feature?  We want a close button on the popup.  S

[2017-06-06 10:43] joshi1983 commented on #363
@areebakamal let me know if you want to take on the presentation page changes.  Remember that you'll have to download the updated files as of the SVG logo and the release notes updates from a few weeks ago.

@Blandine-AA I plan to handle the demo release between Friday and Sunday night instead of doing this ASAP so a last few things such as #200 can be closer to ready for release.

[2017-06-06 13:11] Blandine-AA commented on #317
PASS

[2017-06-06 13:11] #317 closed

[2017-06-06 13:15] Blandine-AA commented on #117
Looks good. PASS!

[2017-06-06 13:15] #117 closed

[2017-06-06 14:10] Blandine-AA commented on #200
@joshi1983 , yes. Those will be the 3 changes not impacted by UX flow design.

Using "Not Required" should be good enough.

As per the grey boxes on the criteria list, i agree with you that some are incorrect, as we didn't complete the discussion. I would suggest that for now, you implement those as it looks right to you as explained in your comment above and we will adjust when doing "user/live t

[2017-06-06 14:20] Blandine-AA commented on #242
@sidhunavroop , you suggestion was the original design but the size of the text was too small, making it difficult to read. That's why the design was changed this way, not only it is more readable, also it doesn't clutteres the screen. I believe it s also more screen-reader friendly. Correct @joshi1983 ?

[2017-06-06 15:27] stephanosm commented on #204
It works fine but may I suggest a couple of changes @joshi1983 :
1. Correcting the email below to: Final step...
Confirm your email address to complete your Accesslocator account. It's easy — just click on the link below or simply copy and paste it into your browser.
![image](https://user-images.githubusercontent.com/22602396/26836971-3a434424-4aaa-11e7-935c-e1cdaf11c0ad.png)

2. After the Passwor

[2017-06-06 16:17] joshi1983 commented on #204
@brucelau-github how busy are you getting?  It is tempting to ask you to do the changes mentioned by Stephanos but I sense that you could be too busy with MAC internship applications, the #27 pull request.

[2017-06-07 11:08] Blandine-AA commented on #204
@joshi1983, @stephanosm, I suggest opening a separate issue to fix this in 0.0.5

[2017-06-07 11:36] joshi1983 commented on #200
I added the button and some data but still have to disable the "Didn't Look" button tonight.  I should be able to fix the spelling errors mentioned in the password recovery issue tonight too.

[2017-06-07 15:42] brucelau-github commented on #27
yes, I would add those data into our importers.
It seems that there little locations that has ableroad reviews in Windsor region.
![screenshot at 2017-06-07 11-40-19](https://user-images.githubusercontent.com/22227484/26887571-55eec672-4b76-11e7-9df6-a6b4d82afde5.png)

[2017-06-07 18:06] joshi1983 commented on #200
The "Not Required" buttons are now working and look like this:
![image](https://user-images.githubusercontent.com/11838191/26893358-0f2f32ea-4b89-11e7-93e2-d35adc5f15b5.png)

[2017-06-07 18:51] Blandine-AA commented on #27
@brucelau-github , if you look closely on your screenshot, you will see that only the Yelp section has the review. The Able Road part says "Not reviewed yet!". But good point, if we can called the extra data in WindsoEssex-Detroit areas, it will help for our testings/demos

[2017-06-07 18:52] Blandine-AA commented on #200
Tracey and Anne will be happy to see this !

[2017-06-07 18:57] Blandine-AA commented on #200
@joshi1983, I'll PASS the test, but we I will open a new issue to track the Rating UX flow.

[2017-06-07 18:57] #200 closed

[2017-06-07 19:00] Blandine-AA opened #367 "Rating Feature: Improve the Rating UX Flow"
The rating feature has been implemented in #200 , but we need to better integrate it in the rest of the application and improve the user experience flow.

[2017-06-08 04:13] intherightdirection commented on #254
This portion when beginning to type made the correct options available in drop down as far as Canada and US go. Upon testing, I ran into another issue which I believe to be on ISSUE 212 so I will mark this as Next Meeting Review for now, and I will attempt to add comment on ISSUE 212.

[2017-06-08 04:26] intherightdirection commented on #212
On testing for issue 254 as it is related to this issue and crosses over. I had tested multiple browsers, at different resolutions, computers, and full screen.
In Firefox, Edge and IE this appears to work as expected, however I found issue in Chrome and Opera for United States drop down to select state. In both of these browsers, with a long list of states going off page, it does not allow you any

[2017-06-08 10:35] joshi1983 commented on #204
The emailed message was replaced as @stephanosm suggested in point 1 but I didn't do the link and message from 2 yet.

[2017-06-08 10:37] joshi1983 opened #369 "Password Recovery Redirect User to Sign In"
@stephanosm suggested in #204 the following improvement to the password recovery process:

![image](https://user-images.githubusercontent.com/22602396/26837106-9537e7cc-4aaa-11e7-945f-422efde51901.png)

This issue was created to document and track work on that.

[2017-06-08 10:38] joshi1983 commented on #204
I opened #369 as @Blandine-AA suggested for the point 2.

[2017-06-08 14:15] Blandine-AA commented on #212
@joshi1983, I am not sure who implemented this (you or @brucelau-github). So, I am assigning to you for review at next meeting along with #254, and let me know if we move it to release 0.0.5 or if it can be fixed and tested for 0.0.4.

[2017-06-08 14:18] Blandine-AA commented on #276
@kimficara , will you have time to test this by Saturday? If yes, please assign it to you and remove @areebakamal. Thanks!

[2017-06-08 14:20] Blandine-AA commented on #318
@sidhunavroop why did you add the P1 label?

[2017-06-08 14:20] joshi1983 commented on #212
I wasn't able to reproduce with Internet Explorer and I can't install Edge in Windows 8.1.  I wanted to test with Edge since that's what Balraj's screenshot is from.  I'll decide 0.0.4 or 0.0.5 Friday evening in the development meeting since it might be reproducable on one of the volunteer's laptops.

[2017-06-08 14:30] Blandine-AA commented on #204
@stephanosm, can this issue be closed now?

[2017-06-08 15:03] sidhunavroop commented on #318
I had to put pass label. But I could not find it. So I thought may be P1 means pass.

Sent from my iPhone

[2017-06-08 15:42] Blandine-AA commented on #318
@sidhunavroop, there is no pass label. Read again what I wrote in my comment.

P1, P2... are priority labels to set the time to fix issues.

[2017-06-08 15:43] Blandine-AA commented on #204
PASS

[2017-06-08 15:48] Blandine-AA commented on #349
@intherightdirection, could you please take over this testing? if yes, then assign it to you and remove Navroop. Thanks!

[2017-06-08 15:51] Blandine-AA commented on #242
@stephanosm, I tested this on my laptop and it works fine. I don't have a smartphone to test on it. Could you please test it on your cellphone? Thanks!

[2017-06-08 16:05] stephanosm commented on #242
I am not sure how you hover with a phone   :-)
If I keep the button pressed I get the option to open in new window, etc. The hover text appears at the bottom but not very clearly. It stays reasonable time and then goes away.

[2017-06-08 18:18] Blandine-AA commented on #242
@stephanosm , I use the tabulation with the tablet to move from field to field

[2017-06-08 18:37] Blandine-AA commented on #199
@joshi1983 , it this fix merged? @brucelau-github  said that it was completed. If so, please set it to "Ready for Testing" and assign to @kimficara

[2017-06-08 18:48] Blandine-AA commented on #318
PASS

[2017-06-08 18:48] #318 closed

[2017-06-08 19:04] areebakamal commented on #276
@Blandine-AA I can test it now.

[2017-06-08 19:06] Blandine-AA commented on #276
@areebakamal, Ok Then! I'll assign another issue to @kimficara !

[2017-06-08 19:13] areebakamal commented on #276
@joshi1983 The 'Remove' and 'Change Photo' buttons work great. I still cannot upload a photo that is taken in portrait mode. The dimensions of the portrait view sample image used for testing (didn't work):
![image](https://user-images.githubusercontent.com/23005093/26946278-ba4ea3bc-4c5c-11e7-8751-2ade65555f12.png)
The dimension for the landscape view photo used (worked):
![image](https://user-ima

[2017-06-08 19:19] areebakamal commented on #276
PASS for photo deletion.

[2017-06-08 19:41] joshi1983 commented on #276
@areebakamal can you attach the photo file to a comment here?

That would help me either reproduce the problem or discover that you're comparing with a much more sophisticated upload feature that analyses the photo's contents to guess the intended orientation.

[2017-06-08 21:02] stephanosm commented on #242
I think it's not too bad....we should pass it.

[2017-06-08 23:13] joshi1983 commented on #199
This is merged yes.  It is ready for testing.  I'll update labels and assignee now.

[2017-06-08 23:17] joshi1983 commented on #254
@Blandine-AA I won't have time to finish this and the other issues by Saturday morning when I will need to switch to demo release time.

Let me know how or if we want this feature turned off due to the Failed Testing label you added for the demo 0.0.4 release.

[2017-06-09 01:54] intherightdirection commented on #349
We get a "Do not leave page trying" pop up to browse to another link and on browser or tab close. We also get a choice to not reload if we refresh page. This is only if information is not saved, otherwise it lets you go on your way. PASS

[2017-06-09 01:54] #349 closed

[2017-06-09 02:03] Blandine-AA commented on #254
@joshi1983 , I suggest to discuss this with Jared at tomorrow's meeting. Since the problem he found is already covered by issue #212 , we wouldn't need 2 issues to track it. I put "Failed Testing" because Jared has set it for discussion on the next meeting.

Once you agree on what to do with both issues, you can update this issue accordingly.

You have my suggestions already.

[2017-06-09 02:04] #242 closed

[2017-06-09 03:54] kimficara commented on #199
PASS for e-mail validation.

[2017-06-09 06:39] areebakamal commented on #276
![img_3835](https://user-images.githubusercontent.com/23005093/26963690-f01448d0-4cbb-11e7-85c2-78264781b7b7.JPG)
![screenshotx](https://user-images.githubusercontent.com/23005093/26963873-d00e2ece-4cbc-11e7-9649-3e39a028b12f.jpg)

[2017-06-09 09:52] joshi1983 commented on #276
I uploaded using Chrome and it came to the expected orientation.  Are you able to upload the files that you shared here in another browser and see it upload to the wrong orientation?

Here's some screenshots of what I see after uploading.
![image](https://user-images.githubusercontent.com/11838191/26970422-5b3d7b48-4cd7-11e7-9cb7-a66e0e1ffc2d.png)

![image](https://user-images.githubusercontent.co

[2017-06-09 09:53] joshi1983 commented on #276
Blandine, Areeba said the photo deletion passed here so I'm tempted to make a new issue for this orientation stuff and close #276.

[2017-06-09 11:29] #199 closed

[2017-06-09 11:48] joshi1983 opened #371 "Location Search: Radius input elements need to be more responsive"
The radius input elements wrap the "Update" button to a new line when the viewport width is under 769 pixels as shown here:
![image](https://user-images.githubusercontent.com/11838191/26973881-9f3e5bd2-4ce6-11e7-8eb7-5044d025f1da.png)

It would look better like this:
![image](https://user-images.githubusercontent.com/11838191/26974088-c4968b88-4ce7-11e7-87a1-c47492db59be.png)

This will involve ad

[2017-06-10 00:47] joshi1983 opened #372 "Some uploaded photos use incorrect orientation"
Some photos taken by Areeba are uploading with the wrong orientation(90 degrees rotated).

This was initially discussed in #276.

This was marked as priority 1, P1, because it is associated with work released in demo 0.0.4.  We want to polish released work before moving onto new features.

[2017-06-10 13:17] Blandine-AA commented on #360
@joshi1983 I see that you have improvved the radius field design on the table view. Can we split this into 2 issues, since the Map view will be implemented later and you have the table view done already?

[2017-06-10 15:08] joshi1983 opened #373 "Location Search: add search radius selector to map view"
A search radius input was added to the table view with #260.  Another radius input feature must be added to the map view.

This could be done a few ways.
1. One suggestion from @areebakamal in a comment on #205 was a horizontal control that would let the user drag a selected value through a range.
2. Another way would be to turn the map into a radius selection mode where mouse movements would draw

[2017-06-10 15:16] Blandine-AA commented on #360
Closing this as the radius field on the Map view will be implemented in #373 .

[2017-06-10 15:16] #360 closed

[2017-06-10 15:18] joshi1983 commented on #360
@Blandine-AA yeah I was just going to say that and then saw you closing here.  hehe  That was fast.

[2017-06-10 15:21] Blandine-AA commented on #276
Pass for original intended functionality.

[2017-06-10 15:21] #276 closed

[2017-06-10 18:41] joshi1983 commented on #363
Are these good release notes?  Demo 0.0.3 was April 27.  This is all the change I can think of since then.

- Made location rating feature work
- Made My Reviews button on profile work
- Made question category navigation from location report work
- Made password recovery work
- Replaced home page background image
- Prevented users from losing unsaved data on profile
- Clarified Select All / Unsele

[2017-06-10 18:46] Blandine-AA commented on #363
@joshi1983 Are they based on the release 0.0.4 issues list?

[2017-06-10 18:54] joshi1983 commented on #363
I based that on a memory refreshed by reviewing issues closed since April 27.

I didn't strictly stick to a 1 point per issue.

[2017-06-10 18:58] joshi1983 commented on #212
Jared tried this in Edge on Windows 10 and wasn't able to reproduce the problem that Balraj ran into with the options getting overlapped by the city field.

I'm closing since this is very difficult to reproduce.  I'll make a new issue after getting more information from Balraj so his result isn't simply lost.

[2017-06-10 18:58] #212 closed

[2017-06-10 19:02] joshi1983 commented on #254
I'm closing this as #212 was closed.  Reasons for closing are in #212.

[2017-06-10 19:02] #254 closed

[2017-06-10 19:26] Blandine-AA commented on #363
The most important is to list the main and visible changes for the end user..
Here is the reviewed and updated list.
**The following functionality are added in this release:**
- Location Rating Feature
- **My Reviews** button on the Profile page
- Password recovery - Allow users to recover their password if they forgot it!
- Updated home page background image
- Improved Profile saving behaviour
-

[2017-06-10 19:30] Blandine-AA commented on #363
@areebakamal , above is the finalized release notes. Please go ahead and update the presentation web page.

[2017-06-10 20:10] joshi1983 opened #375 "User Profile: Edge browser sometimes overlaps province/state suggestions with city"
@balraj18 ran into a bug that has been difficult to reproduce.  @balraj18 commented on it with #212.

Here is a copy of what Balraj ran into:
![image](https://user-images.githubusercontent.com/11838191/27005956-46957af8-4df7-11e7-867e-d7cecc463baf.png)

This was marked as P1 because it is a bug and because it is associated with a feature that has been released.

[2017-06-10 21:29] areebakamal commented on #363
I've updated the site with the release notes.

[2017-06-10 22:02] Blandine-AA commented on #363
@areebakamal , while testing it I noticed that there is one feature missing that the use will notice clearly. Please add it.
- Enhanced view of category description to show at the bottom of the  page when hovering or tabulating on a specific category.

[2017-06-10 22:04] Blandine-AA commented on #375
**P1** means that it needs to be fixed within 1 week once it has been assigned

[2017-06-10 22:08] areebakamal commented on #363
Added it.

[2017-06-10 22:12] Blandine-AA commented on #363
@joshi1983 , @areebakamal , link to demo on RN for 0.0.3 will need to be removed at one point as for  0.0.2 title. Correct? or are we keeping the previous demo versions available from now on?

We had that discussion few time already @joshi1983, what do you suggest?

My recommendation would be to keep the previous demo release available internally (for example create a **demo-0.0.3.accesslocator.co

[2017-06-10 22:34] joshi1983 commented on #375
ok, I was forgetting that and thought it meant "priority 1".

Do you think we should stick to that definition?  I wonder if considering P1 as top priority would work better for this project since it is elusive where that week started and will end without additional commenting and difficult to trust that it'll really be done by the required deadline.  If it meant top priority or high priority, it m

[2017-06-11 00:12] Blandine-AA commented on #375
yes P1 means Priority 1 and  all P1 will need to be fixed within 1 week after assignment. This is just so that it is easy to remember the due date. Otherwise, we might get to the end of the release and have a P1 issue still on someone's plate!

When I was working for Nortel, we had to fix all P1 within 24 h.

[2017-06-11 00:29] joshi1983 commented on #363
@areebakamal told me she'll remove the link from 0.0.3 in a minute.

I have some branches for demo-0.0.2 and demo-0.0.3 that can be used to deploy those if we ever wanted to but maintaining those deployments wouldn't be beneficial enough to be worth the computing resources and complexity.  It would be barely worth any value while taking up as much memory as the demo and app deployments.  It would

[2017-06-11 01:42] Blandine-AA commented on #363
That's what I meant! I didn't say to keep them on the presentation web page.

There is no need to keep more than 1 previous release, But if it is no work to keep them around, that's fine!

[2017-06-11 04:11] joshi1983 commented on #363
0.0.4 was deployed with the footer text saying 0.0.4 and the release date as Monday.  I checked those subtasks off because they are complete.

@areebakamal just a reminder to remove the link for 0.0.3.
![image](https://user-images.githubusercontent.com/11838191/27008231-51b43d3c-4e3a-11e7-92b6-cc80c5e3c9c0.png)

[2017-06-12 20:53] Blandine-AA commented on #363
accesslocator.com release notes web page looks good to me. So, I will close this issue.

[2017-06-12 20:53] #363 closed

[2017-06-12 20:59] Blandine-AA opened #376 "Presentation page: change New Feature tab to "Release Notes""
Looking at the release notes web page, it occurred to me that we should rename the "New Feature" tab to "Release Notes". It will be more appealing.

[2017-06-12 21:33] Blandine-AA commented on #185
Closing this issue as there is nothing left to do on it.

[2017-06-12 21:33] #185 closed

[2017-06-12 21:44] Blandine-AA opened #377 "Presentation page: Release notes demo 0.0.5"
Update AccessLocator.com presentation page with RN. [List of closed issues in 0.0.5](https://github.com/hhaccessibility/hhaccessibility.github.io/issues?q=is%3Aissue+milestone%3A%22Demo+Release+%3A+version+0.0.5%22+is%3Aclosed)

To be completed for Monday night, July 31
- [ ] Deploy demo version 0.0.5 - @joshi1983
- [ ] Update release version - @joshi1983
- [ ] Add release notes to web page - @are

[2017-06-12 21:48] joshi1983 commented on #376
@areebakamal did you want to do this?

You mean the menu item, right?
![image](https://user-images.githubusercontent.com/11838191/27056704-3f3b4c00-4f97-11e7-8a05-5833bf62083a.png)

Would you want all the titles within the Features page also renamed?
![image](https://user-images.githubusercontent.com/11838191/27056721-55347c66-4f97-11e7-9654-3959e04e96ab.png)

[2017-06-12 21:58] Blandine-AA commented on #329
This seems related to #27, as AbleRoad uses and displays Yelp data location

[2017-06-12 23:59] Blandine-AA opened #378 "Sign Out : add a tool tip description when the user hovers on the sign out icon"
Feedback from Kim:

The tool tip to say "**Sign out**".

[2017-06-13 00:04] Blandine-AA opened #379 "Location Search Result: Table/Map tabs colour is confusing for the one not selected"
Feedback from Kim:

I agree with Kim that it is not that obvious if the unselected tab is disabled or not, as grey usually means disable not unselected.

[2017-06-13 00:45] joshi1983 commented on #378
By "tool tip", @kimficara are you asking for something like this?
![image](https://user-images.githubusercontent.com/11838191/27061187-1145eb3e-4fb0-11e7-87ea-34b5cfcb8735.png)

[2017-06-13 00:52] stephanosm commented on #379
I agree. The colours should be swapped.

[2017-06-13 02:46] kimficara commented on #378
that's perfect!  just something for the user to confirm that they are signing out.

[2017-06-13 10:35] joshi1983 commented on #378
That's simple enough.

It is ready for testing on app.accesslocator.com.
Testing instructions: Sign in and hover over the sign out icon to see the new tool tip.

[2017-06-13 12:37] Blandine-AA commented on #378
PASS

[2017-06-13 12:37] #378 closed

[2017-06-14 12:17] Blandine-AA commented on #376
@areebakamal, just the first one, the tab title. Paragraphe titles can remain the same.

[2017-06-17 15:15] Blandine-AA commented on #376
PASS testing

[2017-06-17 15:15] #376 closed

[2017-06-26 16:03] joshi1983 commented on #329
@yepterence when you get past basics like how to download invidual pages using Python, make an importer for yelp.com.

Blandine mentioned that yelp shares some data with ableroad but that won't affect how these 2 importers work.  Both tools will need to operate quite independent of each other so it seems good to separate the responsibilities to different people.  Bruce will also be very busy with

[2017-06-26 16:08] yepterence commented on #329
Got it. I'll keep you posted on my progress.

On Mon, Jun 26, 2017, 12:03 PM Josh Greig <notifications@github.com> wrote:

[2017-06-26 21:01] Blandine-AA commented on #329
Because the two apps are intertwined, I agree that both their data are important. Nevertheless, for our use, the info gathered on a specific location from both streams will be "combined" into one.

[2017-07-01 20:21] joshi1983 opened #381 "Create location importer for uwindsor website"
Terence found some location information available on the University of Windsor's website and wanted to learn how to make an importer tool for it.

The page showing the locations is at:
http://web2.uwindsor.ca/pac/campusmap/index.php

After some inspection using Chrome's developer tools, the following XML document was being downloaded which should have most of the information needed for an importer

[2017-07-06 13:16] Blandine-AA commented on #381
- [ ] I suggest to also collect the 2 accessibility information/fields Entrance and washroom
- [ ] Also map the **Handi Transit Stop** as a location. Note: This is similar tto a bus stop and will go in the transportation category.

[2017-07-06 13:20] joshi1983 commented on #381
The bus station is in our data but not bus stops right now.  That can be adjusted, though.

Do you want all bus stops added and rate-able like any other location?  I guess they'd all be named "bus stop" and have blank addresses.

[2017-07-06 13:28] yepterence commented on #381
I managed to collect the information regarding the building and their
location (lat/lng tuples), as well as the accessible locations (lat/lng
tuples) for the buildings, their washrooms and the text which gave
information on how to access the buildings.

I stored the information in a dictionary and I am currently trying to
figure out how to tabulate the information I had collected.

On Thu, Jul 6,

[2017-07-06 13:37] joshi1983 commented on #381
Great work, Terence.

I suggest using Python's csv package to write the output.
An example using the csv package is in importers/toiletfinder.com/generate_csv.py.

You could write the file like any other plain text file by separating values with commas and separating each location with a line break("\n") but there are some special cases handled better by the csv package.  These special cases inclu

[2017-07-06 13:59] Blandine-AA opened #382 "sign up: email validation doesn't work properly"
Email validation was implemented through #199.

After sign up, the screen indicates that a verification email was sent. **The user is still able to sign in and access the site as usual even without verifying**. This should not be allowed!

The email has to be verified first before the user can sign in.

[2017-07-06 14:03] Blandine-AA opened #383 "Sign in: Remember Me checkbox"
**Remember Me** checkbox should remain checked when a user has selected **Remember Me** the previous time that they signed in.

[2017-07-06 14:06] Blandine-AA opened #384 "Sign in: Time out error"
Timeout causes internal 500 error

[2017-07-06 14:14] joshi1983 commented on #383
I'm sure this is broader than just remembering to keep the checkbox checked.  You want it to really work.

You want the credentials remembered too, right?

[2017-07-06 14:17] Blandine-AA opened #385 "Mobile: Contact form display issue"
Mobile (LG G4) - Contact Form - The Send Message button is cut off (only about half of the button is visible).
Make it auto-resizeable so that it is not truncated regardless of the screen size.

[2017-07-06 14:25] joshi1983 commented on #385
Did Meagan make a screenshot of this?

Here is a screenshot from Chrome when a narrow width is used on the contact form.
![image](https://user-images.githubusercontent.com/11838191/27915805-47a68138-6235-11e7-803d-0ac018a32470.png)

Does she mean that it is cut off the bottom of that particular browser?

[2017-07-06 14:29] Blandine-AA commented on #385
Is this on a mobile phone?
She didn't send a screen shot, but you can ask her?

[2017-07-06 14:33] joshi1983 commented on #385
My screenshot was from my laptop.

Yeah, I referenced Meagan's github account in the comment so she'll probably be emailed about it.

[2017-07-07 20:38] Blandine-AA opened #386 "Rating Feature: Allow a user to add a location"
After the update meeting today with JMCC, it was mentioned to allow a user to enter a location that is not yet in AL.

To avoid duplicates and wrong/phony entries, I suggest to use the user GPS location to identify the location he wants to add. IF the location name can be retrieved based on GPS coordinates, then have the user validate it before adding it.

Also, having the GPS coordinates of the l

[2017-07-07 23:17] joshi1983 commented on #386
The previous plan was to import everything and not let any user add a new location but letting people add their own locations sounds fine to me.  For ratings information, we planned how to drawn out inaccurate information and we'll need a plan for how to minimize bad information on user-created locations.

The longitude and latitude is definitely needed but we'd need a UI for selecting it since th

[2017-07-11 15:52] Blandine-AA commented on #386
@josh, during the meeting @stephanosm mentioned a google tracking tool that can be useful to use. If he can add more details about it here that can be helpful to workout the design plan.

[2017-07-12 13:33] joshi1983 commented on #381
Terence's work on the uwindsor importer is merged.  It included a name, latitude, longitude, URL, and description for each campus location.

Locations such as emergency phones were filtered out because I thought we wouldn't want them listed as accessibility ratable locations.

[2017-07-12 13:39] joshi1983 commented on #381
We should look into this data source a little more before closing.

Blandine suggested the following in a previous comment:
- [ ] I suggest to also collect the 2 accessibility information/fields Entrance and washroom
- [ ] Also map the **Handi Transit Stop** as a location. Note: This is similar to a bus stop and will go in the transportation category.

The following fields should also be generated

[2017-07-23 13:28] joshi1983 commented on #386
I added a field to the location table to store which user created the location because that seems useful regardless of anything we learn from further discussion on this.  I didn't mark this "working on it" because I did this little step quickly and I'm not actively working on it now.

The following work still needs to be done:
- Some more discussion of requirements.  A few specific questions inclu

[2017-07-23 20:01] Blandine-AA commented on #386
@joshi1983, what user name do you have for AL loaded locations? I remember that for other apps imported data we thought about using something like "AccessNow_User". We should probably define/finalize the naming convention/format for that.

[2017-07-23 23:52] joshi1983 commented on #386
We have NULL as in no associated user for the current locations.  Every location has an associated data source but it is only the initial ratings that are made by dummy user accounts.

[2017-07-25 00:02] gillbalraj commented on #369
The password recovery page has been updated.
It can be tested by clicking the **forget-password** button and then following the e-mail link to set the new password.

[2017-07-25 13:42] Blandine-AA commented on #204
Re-opening as this is not working properly. During the password recovery process, we need to check if the user id exist in the database. If it doesn't, then we don't send an email or we let the user know upfront that that email doesn't exist.

The user could have made a typo in the email address or used the wrong email address. It happens to me very often.

[2017-07-25 23:12] joshi1983 commented on #369
@stephanosm can you test this?  I heard you might be returning from a vacation in a week.

[2017-07-25 23:20] joshi1983 commented on #369
@stephanosm does this look good after setting a new password?

![image](https://user-images.githubusercontent.com/11838191/28597870-47c656b4-716e-11e7-801c-ec9b626fa383.png)

[2017-07-26 02:15] Blandine-AA commented on #369
Stephanos is returning the 17th, not in a week:)

Dr. Blandine Fongue Lesage, PhD
AccessLocator Project Manager & Product Owner
Software Development Product Manager, Consultant
Scrum & Agile Practitioner, SFC, SMAC, SPOAC

On Jul 25, 2017 7:12 PM, "Josh Greig" <notifications@github.com> wrote:

[2017-07-26 04:46] joshi1983 commented on #381
The seed data was updated to include all locations from the University of Windsor campus map importer.
This didn't include the accessibility information Blandine mentioned even though that would be helpful.

This did include 2 handi transit stops, though.  I don't know if maintaining all bus stops is worth it but the handi transit stops are only 2 and closely tied to accessibility.

I have yet to

[2017-07-26 11:40] stephanosm commented on #369
I signed in and then changed my password. The behavior is still the same:
![image](https://user-images.githubusercontent.com/22602396/28619308-bd53317e-71d5-11e7-8a40-56c3785a608d.png)

[2017-07-26 12:25] joshi1983 commented on #369
@stephanosm you're right.  The password recovery was the only update when it should have included the password changed too.

The test instructions should include going through the password recovery process too.

[2017-08-01 17:41] joshi1983 commented on #369
@stephanosm I just noticed that if you change the password, you're not signed out.  You originally said that being redirected to the sign in page would be less clicks but isn't there fewer clicks now that you remain signed in?

This seems like a slightly different matter but do you think it is a bug that you stay signed in after changing the password?

[2017-08-01 20:46] Blandine-AA commented on #369
@joshi1983, what do you mean you stay signed in? Is it that you got automatically signed in using the new password, or you are still signed in with the old password?

Normally, **after you validate your new password, you should be automatically signed in**. This is better! No need to go back to the sign in page.

[2017-08-02 09:56] joshi1983 commented on #369
@Blandine-AA still signed in with the old password.

How would Signing out and signing back in automatically be different to the visitor from not signing out at all?  Do you just want to go to the user profile?

[2017-08-02 13:06] Blandine-AA commented on #369
@joshi1983 normally when you ask for a password recovery you are not signed in. So, when the password recovery process is completed, the user should be signed in by AL. No need to go through the profile.

If you are already signed in, and changed your password through the "Change Password" feature in the profile, you should still be signed in with your old password, but the next time you sign in,

[2017-08-02 15:12] joshi1983 commented on #369
@Blandine-AA that's how it works now then and this issue may be ready to close.  This is on app.accesslocator.com if you wanted to test.

When Stephanos said "I signed in and then changed my password. The behavior is still the same:", he signed in and changed his password instead of recovering a forgotten password.  That lead me to think that the change password feature also needed some changes bu

[2017-08-02 16:22] stephanosm commented on #369
@joshi1983 and @Blandine-AA I was referring when you are sign in  and you go to your profile, choose change password you get this. I believe it should take you either back to your Profile or the Home page with the message Password Changed!
![image](https://user-images.githubusercontent.com/22602396/28883675-3fee8b68-777d-11e7-948c-2c69a0a5c594.png)

[2017-08-08 16:33] Blandine-AA commented on #369
Sounds right. But since you requested the password change from the profile, I think the message should be on the profile page.

[2017-10-03 10:13] joshi1983 opened #392 "Create importer tool for Tim Hortons"
Tim Hortons has a lot of locations and for each location, there are items like 'wifi' which correspond with questions from our criteria checklist.

Create a tool using Python that can download location information for a given area and convert that information into CSV format. The more columns of information the better but we'll be very interested in having a minimum of longitude, latitude, name, a

[2017-10-03 10:25] joshi1983 commented on #392
Shaumik Baki responded to one of my kijiji ads and may work on this.  Shaumik, comment here when you're ready to start the work.

[2017-10-03 12:34] ShaumikB commented on #392
I'll begin learning for this. I'll let you know if I run into any roadblocks.

[2017-10-03 12:49] joshi1983 commented on #392
Great, Shaumik.

[2017-10-04 16:29] joshi1983 commented on #329
There are still some fields that could be extracted for yelp but I think enough of this tool is working to consider this issue complete.

[2017-10-04 16:29] #329 closed

[2017-10-13 15:06] Blandine-AA commented on #244
Requirements for this issue has changed a little bit. See attached document.
[Location report web page changes.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1383009/Location.report.web.page.changes.pdf)

[2017-10-16 16:52] yepterence commented on #392
Josh, let me know where you'd like me to help out.

[2017-10-16 16:58] yepterence opened #394 "Create importer tool for McDonald's"
https://www.mcdonalds.com/ca/en-ca/restaurant-locator.html

[2017-10-16 17:03] joshi1983 commented on #392
Shaumik, how is this going?  Hit any roadblocks while trying to make the Tim Hortons import tool?

Terence was tempted to take this issue but I encouraged him to make a tool for McDonalds instead.

[2017-10-16 18:34] Blandine-AA commented on #244
Assigned to @princeseth to do the mockup based on the design description in the document attached in previous comment

[2017-10-17 18:23] Blandine-AA commented on #325
For mobile devices, we should stack the information above the map

[2017-10-19 15:10] joshi1983 commented on #244
It would be nice to have a mockup showing each of the following:
- mockup 1: how the location report page would look with the marker before it gets expanded.
- mockup 2: how the location report page would look after the marker is clicked
- mockup 3: how the location report page would look when user is not logged in and "Universal" is opened

[2017-10-21 18:53] yashankit17 opened #395 "Rating window is not showing completely on iPhone"
![990530cc-58de-49d6-8e80-4ee5efb31bd2](https://user-images.githubusercontent.com/32559887/31854962-030e029c-b66f-11e7-81e2-adc5ba3ff421.jpg)

Rating window is loading as in the picture initially and user have to slide the page or zoom out the page to see the complete window.

[2017-10-22 17:18] Blandine-AA commented on #244
@princeseth, @joshi1983 comments above are just to help you with the deliverables from the requirement/description document that I attached in this thread.

Regarding the mobile/small screen issue, this was already reported in #325.

[2017-10-23 16:33] Blandine-AA commented on #395
@yashankit17, this is a duplicate of #325.

[2017-10-23 16:40] joshi1983 commented on #395
@yashankit17 since it is a duplicate, please copy that image and your comments to #325 and close #395.

[2017-10-23 19:07] #395 closed

[2017-10-23 19:10] yashankit17 commented on #325
Rating window is loading as in the picture initially and user have to slide the page or zoom out the page to see the complete window.

![](https://user-images.githubusercontent.com/32559887/31854962-030e029c-b66f-11e7-81e2-adc5ba3ff421.jpg)

[2017-10-26 13:54] joshi1983 commented on #357
@stephanosm emailed us about Google Local Guides.  Is Google Local Guides a different data source?  Does Google Places include the accessibility information from Google Local Guides?

Here's the video that Stephanos referenced:
https://www.youtube.com/watch?v=LYX5Hqucb3g&list=PLxzP3AVsi8HP-gqj--L2S8N_MWI5ySwJ7&t=115s&index=7

If Google Local Guides is confirmed to be a different data source, we sh

[2017-10-26 18:16] Blandine-AA commented on #357
Looking at google places API, it doesn't include accessibility informations. Looks like Google local guide informations are built into Google maps. Here is the article that talks about it:[ Google Maps now shows if a location is wheelchair accessible](https://www.theverge.com/2016/12/15/13968054/google-maps-twenty-percent-wheelchair-accessible)

[2017-11-01 16:39] princeseth commented on #244
@Blandine-AA @joshi1983 I have created three different mockups for **marker before it gets expanded**, **marker is clicked** and **not logged in and "Personal"**. Please see attached document
[Locatio_Mockup_0.4.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1434874/Locatio_Mockup_0.4.pdf)

[2017-11-01 18:58] Blandine-AA commented on #244
@princeseth, thanks for the effort on making the mockups.

Mockup number 2 is still not correct. The overall information section is not reflecting the design.
This is a side by side comparison
![image](https://user-images.githubusercontent.com/20052162/32290777-75954ff0-bf11-11e7-94c1-258a3948c8dd.png)
![image](https://user-images.githubusercontent.com/20052162/32291074-6272c640-bf12-11e7-9bca-52c

[2017-11-02 18:19] princeseth commented on #244
@joshi1983 @Blandine-AA
Please, have a look at below mockup 2 and share your feedback. Thanks.!
![mockup_2updated](https://user-images.githubusercontent.com/25910292/32343056-bae4d194-bfd8-11e7-91ac-f28ea1f4632b.png)

[2017-11-02 18:40] Blandine-AA commented on #244
@princeseth, It looks much better. Just note that the pie chart has to be the same type for the overall section and the categories' buttons.

[2017-11-02 22:52] joshi1983 commented on #244
The mock ups look pretty good to me.  I like that the "x" is consistently in the top right corner.  I guess "Close" will be an alternative option in the lower centre that also can be clicked to close the popups.  I'll keep quiet as the discussion continues.

[2017-11-03 14:21] Blandine-AA commented on #244
@joshi1983 , @princeseth, implementation can start on this one as I the other comments are more clarifications.
Please ensure that functionalities specifications are implemented as per the design document I provided.

[2017-11-03 14:45] joshi1983 commented on #244
That sounds good.

Prince finished a little git-related task(making a pull request) quite well except that he used the github interface for it.

Prince, make a pull request as soon as possible with any trivial code change that you make locally using git commands.  Ideally, your implementation is documented with clear git commits so it is better to get the practice with git done before implementati

[2017-11-03 23:06] joshi1983 opened #397 "Home Page: Click on Map Should Set Current Location"
From some of Yashankit's testing, he found the map on the home page intuitively unresponsive for when he clicks on it.  He expected the current location to move where he clicked.

We could make this work by introducing a special format for location text that indicates longitude and latitude coordinates.  This would mean that if someone clicks on the map, the "Location" field gets immediately fille

[2017-11-04 13:31] joshi1983 opened #398 "Testing: create report on test results with screenreader"
Blind, visually impaired, and users with disabilities that make it difficult to read use screen reader software.

A free screen reader is available at: https://www.nvaccess.org/download/

The main question we want to know is: How difficult is it to use the application as a user who depends on a screen reader?

Specific use cases to focus the report around will include:
- Finding locations and lear

[2017-11-04 14:48] Blandine-AA commented on #398
To be tested on laptop or desktop AND mobile device

[2017-11-06 05:47] yashankit17 commented on #398
Hi Blandine

Please find the attached report on several issues i found while using the
app with NVDA screen reader.

Thank You

On Sat, Nov 4, 2017 at 10:49 AM, Blandine-AA <notifications@github.com>
wrote:

[2017-11-06 11:23] joshi1983 commented on #398
@yashankit17 I couldn't find the attached file in your comment.  Did you forget to attach?  I was emailed a report on mobile optimization problems, though.

[2017-11-06 14:12] joshi1983 commented on #325
Here is another screenshot from Yashankit's iphone:
![image](https://user-images.githubusercontent.com/11838191/32445061-9aaad282-c2d2-11e7-9c08-180b442bbd9e.png)

[2017-11-06 14:15] Blandine-AA opened #399 "Testing : Feedback using AL on iPhone"
Yashankit tested AL on iPhone and found the following issues (see attachment).
[iPhone Issues.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1446515/iPhone.Issues.pdf)
The issues listed can be tracked separately to facilitate concurrent resolution. See #325
Check out this for reference on responsive web design:
https://www.smashingmagazine.com/2011/01/guidelines-for-respon

[2017-11-06 18:51] Blandine-AA commented on #325
Check out this for reference:
https://www.smashingmagazine.com/2011/01/guidelines-for-responsive-web-design/

[2017-11-07 23:33] joshi1983 commented on #31
Is the question categories sorted by chronological order of how you'd experience them? I can see people parking, then entering, then seeing open public areas, then maybe using an elevator...

Is this why JMCC and @Blandine-AA listed them in that order?

[2017-11-08 18:13] joshi1983 commented on #398
@yashankit17 you emailed me a report on iphone testing.  That report is good for #399 but not for #398.

When you have a report for screen reader testing, you can add it by editing the comment and dragging the file into it.

[2017-11-10 19:36] joshi1983 opened #400 "Location Search: order changes"
Sorting by rating should sort the highest rating to the top.

Default sorting should be by accessibility rating.  When accessibility ratings are equal, sort by distance.  When both are equal, sort alphabetically by name.

The following features shouldn't change:
- sort by name should continue being in ascending order as in starting with 'A' at top.
- sort by distance should continue being in ascen

[2017-11-12 14:24] joshi1983 commented on #397
When a location description can be calculated very close to the clicked location, use that description instead of the (latitude, longitude) format.  In cases where the description can't be found very close to the location, use the (latitude, longitude) format described above.

[2017-11-12 15:09] joshi1983 commented on #398
This comment is some feedback on @yashankit17's report.  I'll comment on most of the report points in the order from the report here:
- Regarding the home page's address field, we tested in the November 10 meeting that there is a subtle reading of "address" when we tab to the address field.  It is tricky to hear but likely something a blind user would frequently look for.
- Regarding the user prof

[2017-11-13 18:42] yashankit17 commented on #398
- Save Profile button is working fine if the user has made some changes to profile.
- There are several locations mainly high schools and elementary schools where names are given in abbreviated form like : F.W. Begley High School

[2017-11-13 19:43] Blandine-AA opened #401 "Testing: Demo version info blocks the last line of the screen"
Testing on iPhone... When we make a search and there are lot of results then we can’t access the last result as it remains hidden beside the footer showing the version information.

This is not related to the app itself but to how the version info is added to the demo app.
![image](https://user-images.githubusercontent.com/20052162/32745479-e05d490a-c880-11e7-8ba6-e3664b408d80.png)

[2017-11-13 19:44] Blandine-AA commented on #399
The first issue reported in the document only shows on the demo version as is not related to the app itself. Opened issue #401 to track it

[2017-11-13 19:51] Blandine-AA commented on #325
This issue will be used to track the responsive design work so that layout is properly adjusted for small size screens, whether it is on laptop or mobile devices.

- [ ] Create mockups as discussed during the Nov 10th meeting ( @princeseth )
- [ ] Review and validate mockups (@Blandine-AA)
- [ ] implement the mockups ( assign based on team availability)

[2017-11-13 21:10] Blandine-AA commented on #385
When we have verified that the Responsive design guidelines are applied, maybe this problem will go away.
Some screen shots made while testing the layout. Regardless if we are using the demo or development versions
1. Resizing horizontally, the CAPTCHA section does not resize properly.
![image](https://user-images.githubusercontent.com/20052162/32749107-48707ca0-c88c-11e7-83b0-e6fd22e69610.png)
1.

[2017-11-13 23:46] joshi1983 commented on #385
The following may be useful for anyone working on this:
https://stackoverflow.com/questions/27691411/change-new-google-recaptcha-width
https://github.com/google/recaptcha/issues/61
https://geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha/

Ideally, this could be fixed with a setting officially documented and supported by recaptcha.  Unfortunately, it looks from my quick reading like so

[2017-11-14 04:49] joshi1983 commented on #385
I merged some improvements to reduce the size of the recaptcha feature on the contact page when smaller screens are used.

These changes are deployed on app.accesslocator.com and ready for testing.

[2017-11-14 15:11] Blandine-AA commented on #385
Doesn't work. Captcha is still truncated and does not resize

[2017-11-14 15:13] joshi1983 commented on #385
You're using app.accesslocator.com and not demo, right?
Also, can you give a screenshot of the failure?  Obviously I tested and haven't experienced the same problem so more information would help us resolve it or learn if mistakes were made in the test procedure.

[2017-11-14 18:34] Blandine-AA commented on #385
@joshi1983 ,

Yes I used app.... and refreshed it many times. Tested on Chrome, same problems as before.
This is the slimest view I could get on my laptop.
![image](https://user-images.githubusercontent.com/20052162/32797590-4fa338c8-c940-11e7-9c33-459993337748.png)

[2017-11-14 19:10] Blandine-AA opened #403 "Testing Rating: wrong timestamp (time) for comment"
submitted a rating with comment at nov 14, 2017 at 2 pm through the Profile. Then checked the report and the timestamp (time portion of it) in the comment is wrong: 2017-11-14 19:05:53
![image](https://user-images.githubusercontent.com/20052162/32799342-6ff0eb20-c945-11e7-9362-3269347242a4.png)

[2017-11-14 19:19] Blandine-AA opened #404 "Testing: Location info missing in some cases"
While displaying a selected location some are missing the address or the address is incomplete. Why?
![image](https://user-images.githubusercontent.com/20052162/32799758-9cc69b26-c946-11e7-951b-645aee8a4477.png)
![image](https://user-images.githubusercontent.com/20052162/32799802-b52efdf2-c946-11e7-8cf2-9f16e9287847.png)
![image](https://user-images.githubusercontent.com/20052162/32845704-6da3210e

[2017-11-14 19:29] joshi1983 commented on #385
Thanks for the screenshot.  I'll test with Safari, an Android tablet, and an Android phone after work.

The keyboard shortcut to thoroughly refresh is CTRL+SHIFT+R.  In Chrome, you can also open an "Incognito Window" to rule out a caching problem.
![image](https://user-images.githubusercontent.com/11838191/32800334-01eec45a-c948-11e7-8a0a-39cdadef865e.png)

I'll test with the other devices and get

[2017-11-14 19:39] joshi1983 commented on #404
The quick answer is that address isn't in all of our imported location data.  It is understood that we'd want to maximize the number of locations with addresses but there will be some rare exceptions like islands, monuments...  this doesn't explain "Basil Court" missing the address, though.  I think that may have been a location I added without adding its address.

I could make a spreadsheet with

[2017-11-14 19:54] Blandine-AA opened #405 "Rating Criteria: Disabled answers should be greyed out and made less visible"
For the Not Required box that are disabled, the text also needs to be greyed out.
In the example below, for the Lit parking lotcriteria only the YES or NO values should be available. As there is light or not, you cannot say I didn't look :)
![image](https://user-images.githubusercontent.com/20052162/32801332-c2ee7590-c94a-11e7-82b2-837ddd57666f.png)

Tasks for this issue:
- [x] disable the "I Didn

[2017-11-14 20:20] joshi1983 commented on #403
That's probably from an unexpected time zone.  Did you want to use Windsor, Ontario's time zone for now?

I guess later on, we might want to report in whatever the time zone associated with the location of interest but that's probably more complicated than we'd want to deal with right now.

[2017-11-14 22:21] joshi1983 commented on #405
A blind user would have a hard time verifying if the parking lot is lit or not so he might still want to click "Didn't Look".

[2017-11-15 01:00] Blandine-AA commented on #385
@joshi1983 , after a force refresh (Ctrl+Shift+R), it looks much better for the CAPTCHA, but the second issue with the Send button right on the bottom is still there.
![image](https://user-images.githubusercontent.com/20052162/32813095-6d25a562-c976-11e7-89f6-5175192c7bb5.png)

[2017-11-15 01:26] Blandine-AA opened #406 "Small Screen Layout: issue with the sign in page when clicking on Profile menu"
1- start is image 1 for the home page. This is the slimmest window possible on my laptop
2- image 2, I click on the profile menu. The layout is not adjusted to the window.
3- image 3, I resized the window and this is the slimmest window possible for the sign in page, even with a shorter username (Blandine for example)
4- layout is properly asjusted when clicking on the FAQ and Contact menus.
![ima

[2017-11-15 03:57] joshi1983 commented on #405
I brightened up the text colour for the disabled buttons.  They look like this now:
![image](https://user-images.githubusercontent.com/11838191/32818048-00776194-c98f-11e7-83cb-ac0a29d06353.png)

This can be reviewed on app.accesslocator.com.

I'm still waiting for confirmation about if we care about letting blind users click "Didn't Look".

[2017-11-15 15:29] Blandine-AA commented on #405
good point for blind users... If you can make it specific for blind users, then ok.

[2017-11-15 15:58] Blandine-AA commented on #404
Can this work be done by a student? Is @yashankit17 available to work on this?
I also added a screen shot where the address is incomplete.

[2017-11-15 16:04] Blandine-AA opened #408 "Rating page: change Report button by View"
I find the word "Report" confusing and not intuitive.  "View" will better direct the user to what to do.
![image](https://user-images.githubusercontent.com/20052162/32846190-958326a0-c9f4-11e7-9d86-ded0929b9a10.png)

[2017-11-15 16:26] Blandine-AA opened #409 "Location Rating: Accessibility criteria layout on mobile devices or small size screens"
See issue #30 for the initial mockups.
Adjustments:
1. remove the +Rate and create and hyperlink on the accessibility criteria
![image](https://cloud.githubusercontent.com/assets/23005093/20239848/77b01b8a-a8d8-11e6-803a-dc48a5822d29.png)
1. When the user clicks on the accessibility criteria, open the rating options below the criteria to allow the user to rate. Of course "Didn't Notice" is now "Di

[2017-11-15 16:38] Blandine-AA opened #410 "Location Rating : New layout of the page for mobile devices and small screen size"
This is to track the work to for the new layout of the Location rating page.
Provide a mock-up proposal for the overall page as discussed at the Nov 10, 2017 meeting.
See issue #409 for the changes required to the accessibility criteria/questions layout.

[2017-11-15 16:57] Blandine-AA opened #411 "Location rating: add the upload images feature"
For each location, users should be able to upload images.
A new "Upload Image"/"Image Gallery" section is added.
When in rating mode "Rate", the section shows "Upload Image".
When in "View" mode, the section shows "Image Gallery".

Page displayed when clicking on the "Upload Image" button. Upload options available:
1- from disk (saved image)
2- take a picture directly with mobile device
![image](h

[2017-11-15 17:28] joshi1983 commented on #409
I don't really like those mockups.  Are they from Areeba from several months ago?

Here's a few specific questions and comments I have about them:
- They look completely different from how the application looks on the desktop and that's pretty different from what was discussed in November 10's meeting.  This isn't only bad for consistency's sake.
 It'll also be more work to implement the change.
-

[2017-11-15 19:29] Blandine-AA commented on #409
@joshi1983,
Thanks for your feedback and taking the time to provide some mockups to explain your ideas.

Regarding your questions...

 It'll also be more work to implement the change.

First I don't appreciate the tone of this comment... Second, I opened this issues to track the discussion about the new mockups and I used the existing mockups to show @princeseth the layout that we needed for the c

[2017-11-15 19:51] joshi1983 commented on #409
Where is this: "the adjustment that I mentioned to guide for the creation of the new mockups."?  Is that a wiki or an email that I overlooked?

We talked in the October 10 meeting about a mid-November demo release and this is November 15 now.  I jumped on this a bit to get more things ready for release but I guess that's rushing things.

[2017-11-15 20:01] Blandine-AA commented on #409
@joshi1983 , see the description of this issue... second line says "Adjustments", and I provided 2 adjustments.

Yes, you are rushing things out, as this work was assigned to prince, but if you want to take it over and do the mockups, because you want more things ready for the release, you are welcome to do so.

[2017-11-15 20:37] joshi1983 commented on #409
I read all of this issue's comments before commenting and that didn't answer the questions that I asked and left me with the impression that you were more happy with the 2016 mock ups than what was agreed in last Friday's meeting.

Anyway, I won't take this from Prince and will find some other issues to work on.  I want to stay involved with the design decisions because we can make better decision

[2017-11-16 03:38] joshi1983 commented on #408
This can be tested by visiting a page like: http://app.accesslocator.com/location-reporting/466/2 and seeing that the button says "View" instead of "Report".

[2017-11-16 03:42] Blandine-AA commented on #409
@joshi1983,  If I was more happy with the old design, I would just have said so, but I specifically mentioned the adjustments that were needed and had a task list to provide new mockups. Also, we had a discussion at the last meeting on the new design and for specific work to be done and assignments of who would do what.

I completely agree with discussion group, but it doesn't have to happen in a

[2017-11-16 03:51] joshi1983 commented on #404
@Blandine-AA we have 8852 total locations of which 5849 have blank addresses.  That's too many locations to manually update.  If he can make a practice pull request like Prince has made, that would be a step toward taking on coding issues.  That could include him improving the import tools that collect more addresses.

@yashankit17 what are you up to now?  Are you ready to learn how to do a few th

[2017-11-16 18:34] joshi1983 commented on #406
In image 1, the home page looks pretty good, right?

I implemented some improvements to the Sign In layout at http://app.accesslocator.com/signin for very narrow viewports but I wouldn't call it ready for testing yet.

[2017-11-16 18:37] joshi1983 commented on #405
@Blandine-AA I could make it specific to the status of the screen reader checkbox on the user profile:
![image](https://user-images.githubusercontent.com/11838191/32908960-3c08f3c2-cad3-11e7-988f-98daf0666db2.png)

Does that sound good?

[2017-11-16 18:38] yashankit17 commented on #404
Sure josh
I’ll try to get to know about using the github now.
I have made the pull request already.

[2017-11-16 18:45] joshi1983 commented on #404
@yashankit17 I don't see your pull request.  This is where your pull request should appear:
![image](https://user-images.githubusercontent.com/11838191/32909180-e65ccb78-cad3-11e7-88d9-76a470fa24d0.png)

The pull request should be on the hhaccessibility project but I checked your fork in case it was mistakenly created there.  I don't see any extra branches or pull requests there either:
![image](h

[2017-11-18 00:32] joshi1983 commented on #406
The sign in page should look similar to this when viewed with the viewport width from this issue's original screenshots.
![image](https://user-images.githubusercontent.com/11838191/32974667-f65280cc-cbcd-11e7-8d6d-c81105cbe869.png)

This is ready for testing at http://app.accesslocator.com/signin.  Remember to thoroughly refresh the browser with something like CTRL+SHIFT+R to see the changes.

[2017-11-18 00:37] joshi1983 commented on #385
A little space was added below the "Send Message" button so it looks better when you have to scroll to see the button.  It looks similar to this on a narrow width and height now:
![image](https://user-images.githubusercontent.com/11838191/32974744-a05e1478-cbce-11e7-9562-41c8afeaad38.png)

[2017-11-18 01:48] joshi1983 commented on #404
@yashankit17 made the practice pull requests so he's ready to take on some code changes.  He never used Python and the import tools would be a little unfamiliar to him so I thought I'd be better to take this issue on.  I assigned #397 to him instead because that would involve mostly JavaScript which he's much stronger with and expose him to the web application.  Increasing his familiarity with the

[2017-11-18 15:26] joshi1983 commented on #405
The 'Didn't Look' is disabled for users who don't use screen readers on specifically the 'Lit parking lot' question.

Here's how it can look when a blind user indicates that he didn't check for the lit parking lot:
![image](https://user-images.githubusercontent.com/11838191/32981960-57d686be-cc4a-11e7-9d3c-9bceda4a138d.png)

Here's how it looks for any user without the 'Screen Reader' box in the p

[2017-11-18 15:46] joshi1983 commented on #401
I'm planning to test carefully for this bug when releasing 0.0.5 but not fix it for the deployment of 0.0.4.

Fixing this in demo 0.0.4 months after it was released would be effort better spent on 0.0.5 since the next release should happen soon and hardly anyone is looking at demo.accesslocator.com right now.  I'll circle back to this if I run out of more important issues.

[2017-11-18 15:54] joshi1983 commented on #404
I plan to do the following work toward this issue:
- [ ] Merge extra location details into existing locations upon releases.  This will include writing a new tool that compares the current database with seed data.  This tool will at minimum add addresses and phone numbers if they are blank.
- [ ] Update the CSV to JSON conversion tool to merge data such as address and phone number into matched exi

[2017-11-18 19:10] Blandine-AA commented on #401
No need to change 0.0.4

[2017-11-18 21:12] joshi1983 commented on #403
The fix for this is deployed on app.accesslocator.com.

The testing steps I recommend are:
1. Sign in and pick a location to rate.
1. Add a comment saying what time it is.
1. Click 'Submit'.
1. Go back to that location and view your comment under 'View'.  See that it is the correct time.

[2017-11-18 21:15] joshi1983 commented on #403
I found a bug that I introduced in this work.  I'll troubleshoot it now before marking this ready for testing again.

[2017-11-19 01:32] joshi1983 commented on #400
This would be a change in PHP.  I think it'll be in LocationSearchController.php.

[2017-11-19 04:44] joshi1983 commented on #403
The bug from previous comment seems to be fixed now.

Here is a screenshot from when I followed my own recommended test steps:
![image](https://user-images.githubusercontent.com/11838191/32987451-436a9164-ccba-11e7-905b-1823003080c1.png)

The testing steps I recommend are:
1. Sign in and pick a location to rate.
1. Add a comment saying what time it is.
1. Click 'Submit'.
1. Go back to that locatio

[2017-11-19 04:55] joshi1983 commented on #383
Here are a couple links that may be helpful for implementing this:
- https://stackoverflow.com/questions/7214458/remember-me-cookie-best-practice
- https://stackoverflow.com/questions/244882/what-is-the-best-way-to-implement-remember-me-for-a-website

Whoever implements this will need to be careful not to turn this into a security hole.

[2017-11-19 05:31] joshi1983 commented on #371
The location search has become much more responsive.  Here are a few screenshots from a few different viewport widths to show how it looks in Chrome on my laptop:
![image](https://user-images.githubusercontent.com/11838191/32987682-a7de5710-ccc0-11e7-8a06-333da542400a.png)

![image](https://user-images.githubusercontent.com/11838191/32987687-c322f800-ccc0-11e7-99d1-60039650da1b.png)

These changes

[2017-11-19 20:27] joshi1983 commented on #404
The address for Basil court and roughly 20 other locations were manually updated to test that the merge tool I made works and reduce this issue's problem just a bit.

These new addresses were added to app.accesslocator.com's database without deleting any data.
http://app.accesslocator.com/location-report/447

[2017-11-21 04:10] Blandine-AA commented on #403
@joshi1983 , regarding

I think it should be the time of the computer used to make the comment. Which normally should be the users current location time zone. No need to make it more complicated than necessary. We could reverse-engineer what is done on other web sites if needed. But I guess it is what you've already implemented. Correct?

[2017-11-21 11:35] joshi1983 commented on #403
For now, app.accesslocator.com is using Windsor's time zone regardless of the browser's time zone.

I like the idea of using the browser's time zone, though, so I'll make that happen.

[2017-11-22 03:29] joshi1983 commented on #400
Balraj seems almost complete with this.  I think he just needs to make a pull request.

[2017-11-22 23:15] joshi1983 commented on #397
@yashankit17 can you add some testing instructions to a comment here? Just give some steps to guide a user through how to see the changes you've made.  I suggest at least using the 2 cases but please elaborate into 3 or 4 small steps.

[2017-11-23 19:01] yashankit17 commented on #397
-> User can click on the map to select the current location in the address input field.
-> Clicked location will be mapped to a nearest address if there is any valid address within 100 m.
-> If the clicked location doesn't map to any valid address then coordinates are shown in address input field.
-> And the clicked location is preserved even when the user reloads page or come back to home from an

[2017-11-24 11:11] joshi1983 commented on #244
The ordering of question categories is complete for this and reviewable at a place like http://app.accesslocator.com/location-report/387.  That affected the location report, rating, and user profile.

[2017-11-24 11:25] joshi1983 commented on #372
This may be useful: https://gist.github.com/msurguy/5414812

[2017-11-24 11:31] joshi1983 commented on #244
@princeseth please give a list of the remaining work on this issue and indicate which items you have working from the items not working.  I know you mentioned struggling with some CSS changes but do the JavaScript changes work and do they take steps toward looking more like the mockups?

We can use the list to scope out a new pull request on this issue that you can do fairly independently.

[2017-11-24 23:25] joshi1983 commented on #400
@balraj18 can you give some testing instructions?  Elaborate on how you'd see the changes by clicking different columns and seeing navigating from the home page to see the default sorted column.

[2017-11-24 23:32] joshi1983 commented on #397
@balraj18 can you test this?

[2017-11-25 14:52] joshi1983 commented on #403
I used the browser's time zone to display the comment submission times.

- I also sorted comments so the newest are at the top.  I vaguely remember this being requested in a meeting a while ago but we might have forgotten to make an issue for it.
- To mitigate the problem where if daylight savings time happened recently, the new time zone offset would be used even for dates earlier than the time c

[2017-11-25 15:51] joshi1983 commented on #357
It looks like there are some Python packages to help interact with Google's API's.  Some are mentioned at:
- https://pypi.python.org/pypi/python-google-places
- https://stackoverflow.com/questions/39124510/python-google-places-api-want-to-get-all-restaurants-at-a-specific-postion

[2017-11-25 18:03] joshi1983 opened #430 "Location View: use icons for location categories when screen is too narrow for full names"
During the November 10 meeting and in Yashankit's iphone testing report from #399, we noticed that location category names took too much space.  When insufficient space is available for the full names of each associated location category, we want to replace that text with icons.

When the icons show, we want the hover text to be the full name for each tag to give screen readers text to read and an

[2017-11-25 18:04] gillbalraj commented on #400
Testing instructions are as follow:

- Sign-In to your AccessLocator account and **rate** few location in a category say either  Shopping,    Restaurant or Healthcare etc.

- GO to that category and hit the tag **Name, Rating(%) and Distance** one by one.
-  Observe the change in behavior of rows & columns as per instructed in details given above
![capture](https://user-images.githubusercontent.co

[2017-11-25 18:31] joshi1983 commented on #430
I added the icons and this is ready for testing now.

Here is an example of how the icons look:
![image](https://user-images.githubusercontent.com/11838191/33233488-91313734-d1e4-11e7-9c48-528cef321ca1.png)

For checking these changes, I suggest:
1. Go to a location's report that has a lot of categories such as [Devonshire Mall](http://app.accesslocator.com/location-report/30).
1. Resize the width

[2017-11-25 18:38] gillbalraj commented on #397
Everything is working smooth as per described by @yashankit17. However, I observed another strange behavior of the **pin-point**. It stops moving after certain clicks(however the location in the address input field still changes).
It is shown in the screen-shot
![capture 1](https://user-images.githubusercontent.com/26493273/33233566-edd511e4-d1e5-11e7-8477-0916ddba9183.JPG)

[2017-11-25 18:49] joshi1983 commented on #397
@balraj18 I'm having some trouble reproducing the problem you mentioned.  Here's a video of what I see when using the click to move map feature from this issue:

I had to zip the file to include it in a comment on github:
[bandicam 2017-11-25 13-46-00-136.zip](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1503307/bandicam.2017-11-25.13-46-00-136.zip)

[2017-11-25 18:52] joshi1983 commented on #405
I checked off the "disable the "I Didn't Look" answer for the "Lit parking lot" criteria" task because it is complete according to some of the later comments about limiting it to users who don't use a screenreader.

[2017-11-25 19:40] balraj18 commented on #397
okay,
check this out. it dsnt happen very often though.

On Sat, Nov 25, 2017 at 1:49 PM, Josh Greig <notifications@github.com>
wrote:

[2017-11-26 03:24] joshi1983 commented on #249
The back button was added.

![image](https://user-images.githubusercontent.com/11838191/33236853-af75b32e-d22e-11e7-8b95-1e7d1198e695.png)

This can be tested by:
1. Go to http://app.accesslocator.com
1. Click a location category or type in a keyword to search for a location
1. Click to see the location's overview
1. Click the new search button left of the location's name to go back to the locatio

[2017-11-26 23:49] joshi1983 commented on #357
I started working on this to help with #404.  I'm hoping that Google Places has enough address information to practically solve #404.

[2017-11-27 02:02] princeseth commented on #244
@joshi1983 I have achieved the functionality as per mockups, but struggling with some of the CSS changes.
As of now, the remaining task is to fix CSS for blue box only.

[2017-11-27 11:20] joshi1983 commented on #244
@princeseth I asked for a list but that comment doesn't give one.  I want it to be very specific because I'll have to look for specific things when reviewing and know what items are remaining out of your pull request that may be completed in another pull request potentially by someone else.  I doubt you'll add the "x" button with CSS so there is at least one non-CSS item remaining.  You got the x

[2017-11-27 17:31] princeseth commented on #244
@joshi1983
Below image is similar to the mockups
![image](https://user-images.githubusercontent.com/25910292/33279582-0bd3551a-d36d-11e7-9f46-8d0667f056cc.png)

On clicking "x" button a map will expand and blue box will get close
![image](https://user-images.githubusercontent.com/25910292/33279830-ff504ba8-d36d-11e7-85a1-ec990634e09c.png)

On clicking the marker the blue box will appear again and

[2017-11-27 17:50] princeseth commented on #244
@joshi1983
 I`m struggling with the CSS of the blue box content marked in below image, when the name of the place exceeds from a single line.
![image](https://user-images.githubusercontent.com/25910292/33280796-47002b3c-d371-11e7-9f59-a2dbe01880ff.png)

[2017-11-27 18:04] joshi1983 commented on #244
I wanted to get a comprehensive list of items like mentioned below.  This is related to ability to break down problems into smaller sub-problems mentioned in a recent VIP pre-evaluation meeting.

Make a pull request with the following in it and we'll work through any challenges it may create first:
-[ ] Remove the arrow in the popup box for when rating percentages show
-[ ] Remove the arrow in Per

[2017-11-27 18:26] princeseth commented on #244
I agree with you regarding popup overlapping the map, but the initial requirement was to open this info window beside the map, not on the top of the map. Blandine mentioned this in the document she provided to me.

In addition to the above list
- [ ] comments (#) in the **title box** is a dynamic which will open a window with all the comments for a particular location

[2017-11-27 18:49] joshi1983 commented on #244
Can you point out the requirement in Blandine's document that says not to overlap the map apposed to just overlapping the right side of it?

It seems unclear to me from the PDF and the blue from the map is showing through which is a weak suggestion that it is fine to overlap the map:
![image](https://user-images.githubusercontent.com/11838191/33283391-9fe15926-d379-11e7-8a95-39af38686ab9.png)

[2017-11-27 19:00] princeseth commented on #244
The third point in the document, she mentioned that info box on the side of the map "not" top.
![image](https://user-images.githubusercontent.com/25910292/33283736-bf4e5a56-d37a-11e7-9b8d-89a4a2f094cd.png)

You are correct, it is unclear from picture about overlapping the map which creates confusion. But, in the description, it is written not to overlap the map.

[2017-11-27 19:16] joshi1983 commented on #244
@Blandine-AA I suggest we overlap the right side of the map so the ugly gap below the popup box can be filled with the map's zoom + and - features and part of the map.  Is that ok?

[2017-11-28 00:38] princeseth commented on #409
Followings are the mockup for mobile devices or small screens.
1. When user click/hover on the horizontal bars, accessibility criteria menu will expand (with categories name arranged alphabetically)
![mobile2](https://user-images.githubusercontent.com/25910292/33296308-d61252be-d3a8-11e7-93ce-6b1e00e22243.png)

2. When user select particular accessibility criteria (say Amenities), each question un

[2017-11-28 01:35] Blandine-AA commented on #409
Great work @princeseth !
A couple of comments:
1- the Submit button is missing. I think it should be added to the left side of the Rate button
2- Josh mentioned that hyperlinks don't work well with screen reader. So remove it and we will just have to show the answer options right away for each accessibility criteria. It will take more space, but it is fine as the user can scroll down a far as he w

[2017-11-28 01:54] Blandine-AA commented on #244
I was thinking that the zoom feature would be on the side of the map as it is now. Also, there shouldn't be any gap as the Accessibility info Window will have the same height as the map. Have a look at this [Google map](https://www.google.ca/maps/place/Polytech+Lyon/@45.7780135,4.8488028,14z/data=!4m5!3m4!1s0x0:0xa34cbe87f6c6b03b!8m2!3d45.7793018!4d4.8683623) where the location info box is on the

[2017-11-28 02:01] Blandine-AA commented on #244
I had a look at @princeseth screen captures above:
1- There shouldn't be a white space below the Criteria categories. See my comment above.
2- the Close button is missing

[2017-11-28 11:15] joshi1983 commented on #244
Matching the height of the map in all cases without leaving an empty gap anywhere might be tricky.  Google Maps uses all the space on the side:
![image](https://user-images.githubusercontent.com/11838191/33316767-236ae85a-d403-11e7-8e62-d0373fc6c2ee.png)

Our popup box content is a lot smaller than that.

Which of the following looks best?

Overlapping right side of map:
![image](https://user-imag

[2017-11-28 14:45] Blandine-AA commented on #244
Hi @joshi1983 , @princeseth
Thanks for all the screenshots and feedback.
1- I need and "Close" button at the bottom of the window in addition to the 'X'. The 'X' is not enough, plus it is barely visible.
2- I think we need to re-arrange the layout of the overall box info as it is too crowded. Looking at the google map example, we could do something similar with the location photo.
3- Looking at th

[2017-11-28 14:55] joshi1983 commented on #244
@Blandine-AA yes, I agree on every point there.

We could go lighter by changing the background to a near white with dark text.  This would likely be good to get mocked up or screen shot a few colour schemes.

Maybe we should stop having the "X" button at all and just have a clearer "Close" button centered under the categories.  That would save some space near the top for long location names.

[2017-11-29 19:06] joshi1983 opened #435 "Research accomable.com"
Learn about https://www.accomable.com and how we might be able to use its data in AccessLocator.
- How many locations do they have?
- What accessibility information do they maintain on each location?

It may be useful to add a new import tool for it using Python and copying some of their accessibility information.  It looks like the data source would be limited to locations in the Accommodation ca

[2017-11-30 02:42] yashankit17 commented on #408
I tested this modification on several devices and using different window widths on the laptop browser.
its working completely fine on all links.

[2017-11-30 02:56] Blandine-AA commented on #408
@yashankit17 , great work.

Now you should remove the "Ready for Testing" label and close it with the word "PASS" in the comment

[2017-11-30 03:20] yashankit17 commented on #430
[TESTING REPORT.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1516415/TESTING.REPORT.pdf)
Please see the attached report of testing these modifications.

[2017-11-30 03:23] yashankit17 commented on #408
i don't have access to edit labels and to close the issues.

[2017-11-30 11:44] joshi1983 commented on #430
I couldn't reproduce the Universal/Personal wrap problem in Chrome on my laptop but I'll try that on an Android phone and see what might be doing that.

[2017-11-30 11:46] joshi1983 commented on #408
I'll close the issue since @yashankit17 seems to have lower permissions.  I guess "read" access as a contributor means a few permissions on the issues are reduced.

[2017-11-30 11:46] #408 closed

[2017-11-30 21:34] Blandine-AA commented on #430
@yashankit17 , great work with the testing.

@joshi1983, beside the refreshing suggestion  for the Universal and Personal buttons overlap, the other issue is the overlap of the accessibility info window on the map. My initial suggestion is to have the info window below the map. I am curious to see what google map looks like on a smartphone for a location.

[2017-11-30 21:51] joshi1983 commented on #430
@Blandine-AA we'll definitely need to stack the question categories above or below the map on narrow viewports.  I'm a little more in favour of having the question categories above the map because that'll make it quicker to see.  The user may need to scroll to see all the content on really narrow screens and the map may be better to cut off than the accessibility ratings.

#325 might be a better p

[2017-12-01 01:53] yashankit17 commented on #430
@joshi1983  yeah issue related to icons was resolved when i refresh the window using CTRL+SHIFT+R
and that universal and personal button overlapping problem is only on iphones.

[2017-12-01 02:17] yashankit17 commented on #405
i have tested this and seems to be working absolutely fine in all scenarios.

[2017-12-01 02:28] yashankit17 commented on #406
Home page and sign in page looks good on all devices as well as on the narrowest view-port on all browsers.

[2017-12-01 02:39] yashankit17 commented on #397
@gillbalraj i watched the video you provided to show the issue but i didn't found where you are getting that issue i can see that it takes little pause to move the marker to clicked location but eventually marker was moving in all cases.
if you can tell which address you are talking about in that video than i can pay attention to that specifically.

[2017-12-01 02:45] gillbalraj commented on #397
@yashankit17 @joshi1983 pay attention to the pin-points and address field between 30 to 45 seconds.

[2017-12-01 02:50] yashankit17 commented on #397
@gillbalraj But the video on this link is only of 26 seconds

[2017-12-01 03:11] joshi1983 commented on #405
I'm closing because Yashankit said this passed.

[2017-12-01 03:11] #405 closed

[2017-12-01 03:12] joshi1983 commented on #406
I'm closing because @yashankit17 said this was passing.

[2017-12-01 03:12] #406 closed

[2017-12-01 06:07] joshi1983 commented on #357
I merged a couple Google Places tools and some more location data with addresses, phone numbers, and external web addresses for Windsor.  They are deployed at app.accesslocator.com.

Since this is an internal tool for developers, I'm not sure how I'd suggest testing it.  It isn't part of the website but rather a tool that is run using Python.  This is only useful by developers.

[2017-12-01 06:12] joshi1983 commented on #404
A bunch more address, phone number, and external web address information was merged into locations in Windsor.  This data is deployed at http://app.accesslocator.com.

I plan to still adjust scripts to:
- [ ] Add new locations that are in location.json but not in the database.
- [ ] Delete locations that are in the database but not in location.json and assuming that no user_answers are associated

[2017-12-01 06:15] joshi1983 commented on #357
I'm closing this and skipping the usual testing step because I can't think of a useful way to have this internal tool tested.  #404 is benefiting from this work and I'll give some form of testing steps with that.

[2017-12-01 06:15] #357 closed

[2017-12-01 16:12] Blandine-AA commented on #430
Then we will need to track the issue for iphones only.

[2017-12-02 21:53] joshi1983 opened #437 "Research access.earth"
Learn about http://access.earth and how we might be able to use its data in AccessLocator.
- How many locations do they have?
- What accessibility information do they maintain on each location?

It may be useful to add a new import tool for it using Python and copying some of their accessibility information.

It looks like the data source the following criteria is maintained by them which should a

[2017-12-05 01:30] princeseth commented on #403
The Date-timestamp for comment displays actual time submission time both on desktop and mobile device.

[2017-12-05 02:00] princeseth commented on #400
This is working as expected:

1. By clicking on tag **Name** the result gets sorted alphabetically.
2. On clicking tag **Rating** the location with the highest rating comes at the top, and rest of location sorted based on least distance.
3. On clicking tag **Distance** the location result gets sorted from least to maximum distance.

"Default sorting should be by accessibility rating. When accessib

[2017-12-05 04:31] joshi1983 commented on #403
I'm closing according to Prince's feedback.

[2017-12-05 04:31] #403 closed

[2017-12-06 01:59] joshi1983 commented on #400
Thanks, Prince.  I'll close this as he found everything in the scope of this issue working.

[2017-12-06 01:59] #400 closed

[2017-12-06 15:03] Blandine-AA commented on #249
Will be reviewed by JMCC and tested by users.
Closing this for now as this **new functionality** has been implemented.

[2017-12-06 15:03] #249 closed

[2017-12-07 20:21] yashankit17 commented on #385
I tested it using different view-ports and different devices. Both the reCAPTCHA and 'Send Message' elements are now perfectly aligned according to the page width.

[2017-12-07 21:02] joshi1983 commented on #385
I'll close because Yashankit's testing didn't find any trouble.

[2017-12-07 21:02] #385 closed

[2017-12-09 20:15] yashankit17 commented on #371
I have tested this and its working absolutely fine on all view-ports.

[2017-12-09 20:15] joshi1983 opened #444 "Location Search: bind ENTER key to "Update" radius button"
Yashankit suggested to let the ENTER key be another way to update the location search radius on the spreadsheet view.  This seemed like an improvement to me too.

This would involve some JavaScript changes in public/js/location_search_table.js.

[2017-12-09 20:18] joshi1983 commented on #371
I'm closing this as Yashankit found no problem with it.  I made a new issue #444 for a suggested improvement he had, though.

[2017-12-09 20:18] #371 closed

[2017-12-09 20:38] joshi1983 commented on #17
planat.com is no longer available because it was taken down by its owners.

I suggest the scope for this issue shift to getting the same information a different way by connecting with someone from rickhansen.com.
https://www.rickhansen.com/Our-Work/Partners

[2017-12-10 05:14] joshi1983 commented on #269
This may be helpful for the problem:
https://stackoverflow.com/questions/32496807/error-invalid-utf-8-when-compiling-sass-with-import/32496978

[2017-12-10 21:17] joshi1983 commented on #444
This is ready for testing.  The suggested test instructions are:
1. Go to home at http://app.accesslocator.com/
1. Click a location category/tag button like 'Restaurant'.
1. In the location search, thoroughly refresh the browser to clear cache.  This might be something like CTRL+SHIFT+R
1. Adjust the radius to something like 0.5 and with the cursor still in the radius input hit ENTER key instead o

[2017-12-13 13:42] princeseth commented on #444
I have verified this functionality, it is working as expected. The page gets reload and fetches new result with the ENTER key.

[2017-12-13 13:52] joshi1983 commented on #444
Thanks Prince.  I'll close as Prince found that this is working.

[2017-12-13 13:52] #444 closed

[2017-12-13 18:52] yashankit17 commented on #399
Testing report on Iphone after implementing recent modifications.

[New_Testing_Report.pdf](https://github.com/hhaccessibility/hhaccessibility.github.io/files/1556623/New_Testing_Report.pdf)

[2017-12-14 01:19] joshi1983 commented on #430
@yashankit17 can you test this again on your iphone to see if "Universal" and "Personal" overlap each other still?  I'm not sure how you would thoroughly refresh but try to clear the browser cache if possible.

I deployed some changes that might have fixed it.  I wasn't able to reproduce the problem exactly but there it may have come from the iphone rendering some text for the Universal and Person

[2017-12-14 01:32] joshi1983 opened #451 "Profile: Province doesn't save"
@yashankit17 discovered a bug where the province doesn't save in the user profile.  This needs to be fixed.

[2017-12-14 17:59] joshi1983 commented on #451
Yashankit discovered this problem while using an iphone but it was reproducable in Chrome on a laptop so this should be testable for any device.

Here are some testing instructions:
1. Sign in.
1. Update State/Province to something different like Quebec.
1. Click out of it to make the "Save" button active at the bottom of the page.
1. Click the "Save" button.
1. Notice that the new Province or Sta

[2017-12-14 18:25] princeseth commented on #451
I have tested this functionality by adding and updating the province field. It is working as expected.